<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">

		<h1>Edit Your Information</h1>

		<%= render 'accountform' %>

		<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
	</div>
	
	</div>
