
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">MyMOH</span>
			<br />
			My Trips</h1>
			
			<% unless @trips.empty? %>
				<ul>
				<% @trips.each do |trip|%>
					<li><%=trip.Name%></li>
				<% end %>
				</ul>
			<% end %>
			
		</div>

		<div id="contentRight300">
			<%= render '/layouts/takeActionNav' %>
		</div>

			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
