<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<h1>My MOH</h1>
		<%= render 'layouts/mymohNav'%>
		<h2><span class="eyebrow">Mission of Hope</span>
		<br />
		My Mission Trips</h2>
		
		<% unless @trips.empty? %>
		<!--This person has mission trips to display -->
		<div class="tanWrapper">
			<div class="missionTripList">
				
					<% @trips.each do |trip|%>
				
						<h4><a href="/mymoh/mytrips/<%= trip.Id%>"><%= trip.Name%></a></h4>
				
					<% end %>
				</ul>
			</div>
		</div>
		<% else %>
		<!-- Person not involved with any trips -->
		<h4>We couldn't find any mission trips you're involved in</h4>
		<% end %>

		<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
	</div>
