
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">MyMOH</span>
			<br />
			My Trips</h1>
			
			<% unless @trips.empty? %>
				<!--This person has mission trips to display -->
				<ul>
				<% @trips.each do |trip|%>
					<li><a href="/mymoh/mytrips/<%=trip.Id%>"><%=trip.Name%></a></li>
				<% end %>
				</ul>
			<% else %>
				<!-- Person not involved with any trips -->
				<h4>We couldn't find any mission trips you're involved in</h4>
			<% end %>
			
		</div>

		<div id="contentRight300">
			<%= render '/layouts/takeActionNav' %>
		</div>

			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
