<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<h1>My MOH</h1>
		<%= render 'layouts/mymohNav'%>
		<h2><span class="eyebrow">Mission of Hope</span>
		<br />
		My Mission Trips</h2>
		<p>
			View mission trips you've taken and mission trips coming up!
		</p>

		<% unless @trips.empty? %>
		<!--This person has mission trips to display -->
		<div class="missionTripList">
		<ul>
			<% @trips.each do |trip|%>
			<li>
				<a href="/mymoh/mytrips/<%= trip.Id%>"><%= trip.Name%></a>
			</li>
			<% end %>
		</ul>
		</div>
		<% else %>
		<!-- Person not involved with any trips -->
		<h4>We couldn't find any mission trips you're involved in</h4>
		<% end %>

		<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
	</div>
