
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">MyMOH</span>
			<br />
			Trip</h1>
			<% if @trip.Start_Date__c > Date.today %>	
				<!-- This Trip hasn't started yet-->
				<p>Link to personal fundraising portal</p>
				<p>Reminder to let trip leader know if you sponsor a child</p>
			<% else %>
				<!-- This Trip started already-->
				Started already
		    <% end %>
			
		</div>

		<div id="contentRight300">
			<%= render '/layouts/takeActionNav' %>
		</div>

			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
