<div id="bgHero">
	<div id="sponHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<h1><span class="giantText">500</span></h1>
			<h1 style="position:absolute; top:-400px; left:260px;"><span class="largeText5_5">more children need sponsors</span></h1>
			<div id="sponsorPageIcons">
				<ul>
					<li><img src="/assets/nutritionIcon.png" />
					</li>
					<li><img src="/assets/educationIcon.png" />
					</li>
					<li><img src="/assets/hopeIcon.png" />
					</li>
				</ul>
			</div>
			<h1 style="position: absolute; top:-220px;"><span class="largeText2">$35</span></h1>
				<h1 style="position: absolute; top:-200px; left:130px"><span class="largeText5_5">/Month makes it happen for one</span></h1>
			<!-- <div class="buttonSquareOrange" style="position:absolute; top:-150px; left:100px; width:280px"><a href="">Pre-Sponsor a Child Today</a></div> -->
			<div class="buttonSquareOrange" style="position:absolute; top:-150px; left:420px; width:320px"><a href="/learn_sponsor">Learn About Child Sponsorship</a></div>

		</div>

		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti</span>
			<br />
			Child Sponsorship</h1>
			<h4>Pre-Sponsor a Student Today!</h4>
			<p>
				Pre-Sponsor a Student Today!
				Help us open our doors to 500 more children who would like to attend the School of Hope this year!  You can change the life of one of these children, who are currently not in school, by committing to a pre-sponsorship now so they can attend school in the fall.
				
			</p>
			<h4>Your $35/month gift provides a student with:</h4>
			<div id="sponIconsList">
				<ul>
					<li>
						<img src="/assets/educationNoRibbion.png" />
					<br />
							A Christ-Centered
							<br>
							Education
					</li>
					<li>
						<img src="/assets/nutritionNoRibbion.png" />
						<br />
							A Nutritious<br />Meal Each Day
						
					</li>
					<li>
						<img src="/assets/hopeNoRibbon.png" />
						<br />Hope<br />for a Future
					</li>
				</ul>
			<div class="clearfix"></div>
			</div>
			<div class="buttonSquareOrange clearfix" style="width:300px;"><a href="/learn_sponsor">Learn About Child Sponsorship</a></div>
			<div class="contentDiv" style="padding-top:30px;"></div>
			<div class="contentForm">
				<h4>Early Registration for Fall Sponsorship</h4>
				<p>Some text about early registration for fall sponsorships.</p>
			</div>
		</div>

		<div id="contentRight300" style="padding-top: 38px;">
			<div class="rightBox">
				<h2>Success Story</h2>
				<img />
				<h3>First Last</h3>
				<p>Increase current care being provided for 63 orphans to 150 orphans.<br /><a href="">Pre-sponsor a child today &raquo;</a></p>
			</div>
			<div class="rightBox">
				<h2>Sponsorship FAQs</h2>
				<img src="/assets/iconQuestions.png" class="alignLeft" />
				<p>
					Have questions? Learn all there is to know about sponsoring a child with Mission of Hope.<br /><a href="">Get answers &raquo;</a>
				</p>
			</div>
			<div class="rightBox">
				<h2>Gift Shop</h2>
				<img src="/assets/iconShop.png" class="alignRight" style="margin-top:-20px;" />
				<p>
					Buy a gift for the child you are sponsoring!<br /><a href="">Shop now &raquo;</a>
				</p>
			</div>
			<div class="rightBox">
				<h2>Write Your Child</h2>
				<img src="/assets/iconWrite.png" class="alignLeft" />
				<p>
					Everyone loves to receive mail! Your sponsored child will love to hear from you!<br /><a href="">Send a letter &raquo;</a>
				</p>
			</div>


		</div>

		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
	</div>
