<div id="bgHero">
	<div id="sponHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<div id="heroContentSpon">
				<h1><span class="largeText500">500</span><span class="largeText6">More children need sponsors</span></h1>
				<div id="sponsorPageIcons">
					<ul>
						<li><img src="/assets/nutritionIcon.png" />
						</li>
						<li><img src="/assets/educationIcon.png" />
						</li>
						<li><img src="/assets/hopeIcon.png" />
						</li>
					</ul>
				</div>
				<div id="secondTextHero">
					<h1><span class="largeText500">$35</span><span class="largeText6">/Month makes it happen for one</span><a href="#"><img src="/assets/presponsorButton.png" id="twoButtonPush" /></a><a href="#"><img src="/assets/learnSponsorButton.png" /></a></h1>
				</div>
			</div>
		</div>

		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti</span>
			<br />
			Child Sponsorship</h1>
			<h4>Pre-Sponsor a Student Today!</h4>
			<p>
				Pre-Sponsor a Student Today!
				Help us open our doors to 500 more children who would like to attend the School of Hope this year!  You can change the life of one of these children, who are currently not in school, by committing to a pre-sponsorship now so they can attend school in the fall.
				<br />
				<br />
				Your $35/month gift provides a student with:
			</p>
			<div id="sponIconsList">
				<ul>
					<li>
						<img src="/assets/educationNoRibbion.png" />
						<p>
							A Christ-Centered
							<br>
							Education
						</p>
					</li>
					<li>
						<img src="/assets/nutritionNoRibbion.png" />
						<p>
							A nutritious meal each day
						</p>
					</li>
					<li>
						<img src="/assets/hopeNoRibbon.png" />
						<!-- <p>Hope for a future</p> -->
					</li>
				</ul>
			</div>
		</div>

	<div id="contentRight300">
		<div class="rightBoxGreen">
			<h2>Our plans for the future</h2>
			<p>
				Increase current care being provided for 63 orphans to 150 orphans.
			</p>
		</div>

		<div class="rightBoxGreen">
			<h2>Funds Needed</h2>
			<p>
				$150,00 to expand the House of Hope.
			</p>
		</div>
		<div class="rightBoxGreen">
			<h2>What you can do</h2>
			<p>
				Donate to the Village of Hope.  Help us expand our village to be able to provide for 150 orphans by 2015.
			</p>
			<a href="#"><img src="/assets/donateToday.png" /></a>
		</div>
		
	</div>	

		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
				<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
</div>
