<% content_for(:head) do %>
	<%= javascript_include_tag :validate_sponsorship %>
<% end %>
<div id="bgHero">
	<div id="sponHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<h1><span class="giantText">2500</span></h1>
			<h1 style="position:absolute; top:-400px; left:260px;"><span style="font-size:1.8em;" class="largeText5_5">more children need sponsors today</span></h1>
			<div id="sponsorPageIcons" style="top: -340px;	left: 280px;">
				<ul>
					<li><img src="/assets/nutritionIcon.png" />
					</li>
					<li><img src="/assets/educationIcon.png" />
					</li>
					<li><img src="/assets/hopeIcon.png" />
					</li>
				</ul>
			</div>
			<h1 style="position: absolute; top:-220px;"><span class="largeText2" style="font-size:6em;">$35</span></h1>
				<h1 style="position: absolute; top:-200px; left:100px; font-size:1.5em;"><span class="largeText5_5">/Month makes it happen for one</span></h1>
			<div class="buttonSquareOrange" style="position:absolute; top:-120px; left:180px; width:300px"><a href="/sponsorship/say_yes">Read a Note from our President &raquo;</a></div>
			<div class="buttonSquareOrange" style="position:absolute; top:-120px; left:520px; width:320px"><a href="/learn_sponsor">Learn More About Sponsorships &raquo;</a></div>

		</div>

		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti</span>
			<br />
			Child Sponsorship</h1>
			<a name="sponsorForm">&nbsp;</a>
			<h4>Say Yes! Sponsor a Student Today!</h4>
			<p>Help us provide a Christ-centered education to more children at the School of Hope! You can change the life of one of these children!
				 <a href="/sponsorship/say_yes"><strong>Click Here for a Note from Our President, Brad Johnson.</strong></a></p>
			<h4>Your $35/month gift provides a student with:</h4>
			<div id="sponIconsList">
				<ul>
					<li>
						<img src="/assets/educationNoRibbion.png" />
					<br />
							A Christ-Centered
							<br>
							Education
					</li>
					<li>
						<img src="/assets/nutritionNoRibbion.png" />
						<br />
							A Nutritious<br />Meal Each Day
						
					</li>
					<li>
						<img src="/assets/hopeNoRibbon.png" />
						<br />Hope<br />for a Future
					</li>
				</ul>
			<div class="clearfix"></div>
			</div>
			<div class="buttonSquareOrange clearfix" style="width:300px;"><a href="/learn_sponsor">Learn More About Sponsorships &raquo;</a></div>
			<div class="contentDiv" style="padding-top:30px;"></div>
			<div class="contentForm">
			
			<% if @isvalid == false %>
			<div class="forms" style="margin-top: 20px;" id="form">
				<h4>Sign up for Sponsorship!</h4>
				<p>All fields required.</p>
				<form>
					<p style="padding-top:30px;">Thank you for wanting to help change the life of one student through sponsorship. Fill out the short form below to submit your commitment to a sponsorship. Upon submission our child sponsorship team will be in touch with you! 
						</p>
						<p style="padding-bottom: 0; margin-bottom: -12px; font-weight: bold;">My preference for a student is:</p>
					<div class="field checkbox"><input type="checkbox" name="prefgirl" style="width:12px;">Girl</div>
					<div class="field checkbox"><input type="checkbox" name="prefboy" style="width:12px;">Boy</div>
					<div class="field checkbox"><input type="checkbox" name="prefkinder" style="width:12px;">Kindergarden</div>
					<div class="field checkbox"><input type="checkbox" name="prefgrade" style="width:12px;">Grade School</div>
					<div class="field checkbox"><input type="checkbox" name="prefhigh" style="width:12px;">High School</div>
					<div class="field" style="clear:both;">Name: <input id="txtname" type="text" name="fname"><br></div>
					<div class="field">Phone number: <input id="txtphone" type="text" name="phonenumber"><br></div>
					<div class="field">Email: <input id="txtemail" type="text" name="email"></div>
					<div class="field">Address: <input id="txtaddress" type="text" name="address"></div>
					<div class="field city">City:<br /> <input id="txtcity" type="text" name="city"><br></div>
					<div class="field state">State:<br /> <input id="txtstate" type="text" name="state"><br></div>
					<div class="field zip">Zip:<br /> <input id="txtzip" type="text" name="zip"><br></div>
					 <div class="actions"><input type="submit" value="Submit Request" onclick="return validate();"></div>
				</form>
			</div>
			<%else%>
				<script>window.location = window.location.href + "#form";</script>
				<div class="forms" style="margin-top: 20px; padding-bottom:20px; text-transform: none;" id="form"><h2 style="text-transform: none; text-align: center;">Thank you for wanting to help change the life of one student through sponsorship. Our sponsorship team will be in touch with you to complete the sponsorship process!</h2></div>
			<%end%>
			
			
			</div>
		</div>

		<div id="contentRight300" style="padding-top: 38px;">
			<%= render"/layouts/childSponsorNav"%>
		</div>
		<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
	</div>
