<% content_for(:head) do %>
	<%= javascript_include_tag :validate_sponsorship %>
<% end %>
<div id="bgHero">
	<div id="sponHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<h1 style="padding-top:100px;"><span style="font-size:6em; top:200px;" class="giantText">Say Yes!</span><br />
				<span style="font-size: 1em; margin-left:-60px; line-height:3em;"><span class="largeText5_5">Read the note below from our president, Brad Johnson.</span></h1>

		</div>

		<div id="contentLeft560">
			<h1 style="padding-top:20px;">
			Say Yes!</h1>
			<a name="sponsorForm">&nbsp;</a>
			
			<p>As parents around the world are sending their children back to school, buying new pencils and lunchboxes and backpacks, there are thousands of families in Haiti that are praying for their children to be able to go to school, but cannot afford the $35/month it takes to provide a Christ-centered education and a nutritious daily meal for them.</p>

<p>This year, God has brought 2500 new children to the Schools of Hope who desperately want to go to school and become a part of transforming their nation, but have no way of making that happen on their own. At Mission of Hope, we believe God called us to say “YES!” to these children, even though we knew it would take a God-sized miracle to find sponsors for all of them by the time school starts in September. Will you help us change a child’s life TODAY?</p>

<p>TODAY we need your help! We need YOU so that we can say yes to 2500 new students! If you have never sponsored a child, this is the time to be a part of what God is doing to change a nation, one child at a time. If each of us would say “YES!” to just one child, every one of these families who has said they want life change for their son or daughter would be able to see that happen this year. Please join me in saying “YES!” today!</p>
<p>	<em>Brad Johnson, President<br />Mission of Hope, Haiti</em></p>		
			<div class="buttonSquareOrange clearfix" style="width:300px;"><a href="/learn_sponsor">Learn More About Sponsorships &raquo;</a></div>
			<div class="contentDiv" style="padding-top:30px;"></div>
			<div class="contentForm" style="display: none;">
			
			<% if @isvalid == false %>
			<div class="forms" style="margin-top: 20px;" id="form">
				<h4>Sign up for Sponsorship!</h4>
				<p>All fields required.</p>
				<form>
					<p style="padding-top:30px;">Thank you for wanting to help change the life of one student through sponsorship. Fill out the short form below to submit your commitment to a sponsorship. Upon submission our child sponsorship team will be in touch with you! 
						</p>
						<p style="padding-bottom: 0; margin-bottom: -12px; font-weight: bold;">My preference for a student is:</p>
					<div class="field checkbox"><input type="checkbox" name="prefgirl" style="width:12px;">Girl</div>
					<div class="field checkbox"><input type="checkbox" name="prefboy" style="width:12px;">Boy</div>
					<div class="field checkbox"><input type="checkbox" name="prefkinder" style="width:12px;">Kindergarden</div>
					<div class="field checkbox"><input type="checkbox" name="prefgrade" style="width:12px;">Grade School</div>
					<div class="field checkbox"><input type="checkbox" name="prefhigh" style="width:12px;">High School</div>
					<div class="field" style="clear:both;">Name: <input id="txtname" type="text" name="fname"><br></div>
					<div class="field">Phone number: <input id="txtphone" type="text" name="phonenumber"><br></div>
					<div class="field">Email: <input id="txtemail" type="text" name="email"></div>
					<div class="field">Address: <input id="txtaddress" type="text" name="address"></div>
					<div class="field city">City:<br /> <input id="txtcity" type="text" name="city"><br></div>
					<div class="field state">State:<br /> <input id="txtstate" type="text" name="state"><br></div>
					<div class="field zip">Zip:<br /> <input id="txtzip" type="text" name="zip"><br></div>
					 <div class="actions"><input type="submit" value="Submit Request" onclick="return validate();"></div>
				</form>
			</div>
			<%else%>
				<script>window.location = window.location.href + "#form";</script>
				<div class="forms" style="margin-top: 20px; padding-bottom:20px; text-transform: none;" id="form"><h2 style="text-transform: none; text-align: center;">Thank you for wanting to help change the life of one student through sponsorship. Our sponsorship team will be in touch with you to complete the sponsorship process!</h2></div>
			<%end%>
			
			
			</div>
		</div>

		<div id="contentRight300" style="padding-top: 38px;">
			<%= render"/layouts/childSponsorNav"%>
		</div>
		<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
	</div>
