<div id="wrapper">
	<%=render 'layouts/navBar'%>
<div id="content" style="padding-top: 50px;">
<h1>Create New Content</h1>
<div id="cms">
<%= render 'form' %>

<div class="smallLink">&laquo; <%= link_to 'Back', contents_path %></div>
</div>
</div>
</div>
