<html>
	<head>
		<title>Welcome to Mission of Hope, Haiti / My MOH</title>
	</head>
	<body>
		<p>Dear <%=@user.first%>,</p>
		<p>Thank you for creating or updating your My MOH account.</p> 
		
		<p>Your username is: <%=@user.email%></p>
		 
		<p><strong>Below are some of the things you can do with your new account:</strong></p>
		<ul>
			<li>Manage Your Account Information: <a href="http://mohhaiti.org/users/<%=@user.id%>/edit">Change your address, email, password and personal information.</a></li>
			<li>Manage Your Giving: <a href="http://mohhaiti.org/mymoh/giving">Give a gift, see your gift history and see your monthly statements.</a></li>
			<li>See Your Child Sponsorships: <a href="http://mohhaiti.org/mymoh/sponsorships">See details for any children you sponsor, write to them online or give them a gift!</a></li>
			<li>Stay connected by checking out MOH <a href="http://mohhaiti.org/blog">blog posts</a> and <a href="http://mohhaiti.org/updates">updates</a> directly from Haiti.</li>
		</ul>
		<p>We hope you enjoy My MOH as you <a href="mohhaiti.org">stay connected to what is going on at Mission of Hope</a>. Thank you for your partnership to bring life transformation to every man, woman, and child in Haiti!</p> 
		<p>&nbsp;</p>
		<p>Sincerely,</p>
		<p>The Mission of Hope, Haiti Team</p>
	</body>
</html>
