<html>
<head>
<title>Welcome to Mission of Hope, Haiti / My MOH</title>
</head>

<body>
<table style="border:10px solid #1a3232; background:#e4d4ba;" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.mohhaiti.org"><img src="http://www.mohhaiti.org/images/email-header.png" alt="Mission of Hope, Haiti" width="600" height="174" border="0" /></a></td>
      </tr>
      <tr>
        <td><table width="95%" border="0" align="center" cellpadding="10" cellspacing="0">
          <tr>
            <td valign="top"><p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#1a3232; line-height:18px;"><strong>Thank you for creating or updating your My MOH account.</strong></p> 
		
		<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#1a3232; line-height:18px;">Your username is: <%=@user.email%></p>
		 
		<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#1a3232; line-height:18px;">Below are some of the things you can do with your new account:</p>
		<ul style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#1a3232; line-height:18px;">
			<li><strong>Manage Your Account Information: 
			</strong><a href="http://mohhaiti.org/users/<%=@user.id%>/edit" style="color:#07996e;">Change your address, email, password and personal information.</a></li>
			<li><strong>Manage Your Giving:</strong> <a href="http://mohhaiti.org/mymoh/giving" style="color:#07996e;">Give a gift, see your gift history and see your monthly statements.</a></li>
			<li><strong>See Your Child Sponsorships: </strong><a href="http://mohhaiti.org/mymoh/sponsorships" style="color:#07996e;">			  See details for any children you sponsor, write to them online or give them a gift!</a></li>
			<li><strong>Stay connected</strong> by checking out MOH <a href="http://mohhaiti.org/blog"style="color:#07996e;">blog posts</a> and <a href="http://mohhaiti.org/updates" style="color:#07996e;">updates</a> directly from Haiti.</li>
		</ul>
		<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#1a3232; line-height:18px;">We hope you enjoy My MOH as you <a href="mohhaiti.org" style="color:#07996e;">stay connected to what is going on at Mission of Hope</a>. Thank you for your partnership to bring life transformation to every man, woman, and child in Haiti!		</p>
		<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#1a3232; line-height:18px;">Sincerely,</p>
		<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#1a3232; line-height:18px;"><em>The Mission of Hope, Haiti Team</em></p>
		<p style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#1a3232; line-height:18px;">&nbsp;</p></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td bgcolor="#1A3232"><table width="100%" border="0" cellspacing="0" cellpadding="10">
          <tr>
            <td><p style="font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:12px; font-weight:bold; text-align:center; color:#07996e;">
            <a style="color:#07996e;" href="http://mohhaiti.org/what-we-do&utm_medium=email&utm_content=easter%2Bteams&utm_campaign=university%2Bsponsorships">What We Do</a>&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;
            <a style="color:#07996e;" href="http://mohhaiti.org/about_us&utm_medium=email&utm_content=easter%2Bteams&utm_campaign=university%2Bsponsorships">About Us</a>&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;
            <a href="http://mohhaiti.org/stay-connected&utm_medium=email&utm_content=easter%2Bteams&utm_campaign=university%2Bsponsorships" style="color:#07996e;">Stay Connected</a>&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;
            <a style="color:#07996e;" href="https://secure3.convio.net/mohh/site/Donation2;jsessionid=5872C7FB061CCF417D464F6A9B821061.app334a?df_id=1600&amp;1600.donation=form1">Donate</a>
            </p></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="10">
          <tr>
            <td><p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:center; color:#1a3232;">As an organization following Jesus Christ, Mission of Hope exists to<br />
              bring life transformation
              to every man, woman, and child in Haiti. <br />
              We desire to serve the nation of Haiti, and see lives changed.</p></td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="80"><img src="http://www.mohhaiti.org/images/email-ECFA_Accredited_RGB_Small.png" width="39" height="39" alt="EDFA Accredited" /></td>
                <td><p style="color:#07996e; font-family:Arial, Helvetica, sans-serif; text-align:center; font-size:12px; text-transform:uppercase;"><strong>Mission of Hope, Haiti<br />
P.O. Box 171500
Austin, TX 78717</strong></p></td>
                <td width="80"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="right"><a href="http://www.facebook.com/mohhaiti&utm_medium=email&utm_content=easter%2Bteams&utm_campaign=university%2Bsponsorships"><img src="http://www.mohhaiti.org/images/email-icon-facebook.png" alt="Facebook" width="16" height="16" border="0" /></a></td>
                    <td align="right"><a href="http://twitter.com/mohhaiti&utm_medium=email&utm_content=easter%2Bteams&utm_campaign=university%2Bsponsorships"><img src="http://www.mohhaiti.org/images/email-icon-twitter.png" alt="Twitter" width="16" height="16" border="0" /></a></td>
                    <td align="right"><a href="http://vimeo.com/mohhaiti&utm_medium=email&utm_content=easter%2Bteams&utm_campaign=university%2Bsponsorships"><img src="http://www.mohhaiti.org/images/email-icon-vimeo.png" alt="Vimeo" width="16" height="16" border="0" /></a></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>