<div id="bgHero">
	<div id="threeCordsHero"><!--x--></div>
	
</div>
<div id="wrapper">
	<%=render 'layouts/navBar'%>
<div id="content">
	<div id="heroContent">
		<h1 style="padding-top:30px;">
			<span class="largeText1">A cord of<br />three strands<br /></span> <span class="largeText2_5">is not quickly broken.</span><br />
			</h1>
			<div class="buttonSquareOrange" style="position:absolute; top:-200px; left:100px; width:280px"><a href="">Become Our Partner Today!</a></div>
		
	</div>
	<h1><span class="eyebrow">Mission of Hope</span><br />Church Advancement Defined</h1>
<p>Church advancement is the Church of North America partnering with Mission of Hope, Haiti to serve the Church in Haiti. Singularly, or along with other churches. Your church will have the opportunity to partner with an individual village to focus your efforts of Church Advancement. Through this progress, the goal is to see the church in Haiti strengthened, villages changed, the Gospel proclaimed and lives transformed. Church advancment focuses specifically on four areas: Ministry, Education, Haiti 1, Health Care.</p>
	<p style="text-align:center;"><img style="padding:20px 0;" src="/assets/advanceInfographic.png" /></p>
		<div class="buttonSquareOrange" style="margin:20px auto; width:280px"><a href="">Become Our Partner Today!</a></div>
		<img src="/assets/contentDiv.png" />
	<div id="contentLeft560">
	
	
	</div>
	<div id="contentRight300">
		<div class="contentRightWrapper">
			<h3><span class="eyebrow">Learn More About</span><br />Our Reach</h3>
			<p>Lorem ipsum</p>
				
		</div>
		<div class="contentDiv"></div>
		<div class="contentRightWrapper">	
			<h3><span class="eyebrow">Learn More About</span><br />Vision Trips</h3>
			<p>Are you a church leader interested in partnering with Mission of Hope? The best way to learn more about what we are doing is to visit us in Haiti.<br /><a href="">Take a Vision Trip &raquo;</p>
		</div>
	</div>
		<div class="clearfix"><!--x--></div>

</div>
	<div class="clearfix" style="height:40px;"><!--x--></div>