<html>
	<head><title>Choose Your Project</title></head>
	<body>
		<h1>Choose Your Project Contact</h1>
		<p>Name: <%=@name%></p>
		<p>Email: <%=@fromaddress%></p>
		<p>Trip Dates: <%=@tripdates%></p>
		<p>Team Name: <%=@teamname%></p>
		<p>Team Leader: <%=@teamleader%></p>
		<p>Plant A Tree: <%=@tree%></p>
		<p>Solar Lighting: <%@solar%></p>
		<p>Water Filters: <%@water%></p>
		<p>Pair of Goats: <%@goat%></p>
		<p>Kids Club: <%@kid%></p>
		<p>House Restoration: <%@house%></p>
		<p>Roof Repair: <%@roof%></p>
		<p>Build Latrines: <%@latrine%></p>
		<p>Build A Home: <%@build%></p>
	</body>
</html>
