<html>
	<head><title>Choose Your Project</title></head>
	<body>
		<h1>Choose Your Project Contact</h1>
		<p>Name: <%=@data[:fname]%> <%=@data[:lname]%></p>
		<p>Email: <%=@fromaddress%></p>
		<p>Trip Dates: <%=@data[:tdates]%> - <%=@data[:tdates2]%></p>
		<p>Team Name: <%=@data[:tname]%></p>
		<p>Team Leader: <%=@data[:tleader]%></p>
		<p>Plant A Tree: <%=@data[:opttree]%></p>
        <p>Solar Lightening: <%=@data[:optsolar]%></p>
        <p>Water Filters: <%=@data[:optwaterf]%></p>
        <p>Pair Of Goats: <%=@data[:optgoats]%></p>
        <p>Kids Club: <%=@data[:optkidsc]%></p>
        <p>Housing Restoration: <%=@data[:opthr]%></p>
        <p>Roof Repair: <%=@data[:optroofr]%></p>
        <p>Build Latrines: <%=@data[:optlatrine]%></p>
        <p>Build A Home: <%=@data[:optbuildhome]%></p>
	</body>
</html>


<%=@data%>