<html>
	<head><title>Take a Mission Trip Contact</title></head>
	<body>
		<h1>Take a Mission Trip Contact</h1>
		<p>Name: <%=@fname%></p>
		<p>Phone: <%=@phone%></p>
		<p>Email: <%=@fromaddress%></p>
		<p>Message: <%=@comments%></p>
	</body>
</html>

