<html>
	<head><title>Vision Trip Interest Message</title></head>
	<body>
		<h1>Vision Trip Interest</h1>
		<p>Name: <%=@frizzle%></p>
		<p>Phone: <%=@txtphonenumber%></p>
		<p>Email: <%=@txtemail%></p>
		<p>Message: <%=@txtmessage%></p>
	</body>
</html>

