<html>
	<head><title>Write My Child</title></head>
	<body>

		<p>Hello <%=@fname%>, </p>
		<p>A letter for your sponsored child <%=@childname%>, #<%=@childnumber%> has been received by our staff in Haiti. Your letter will be translated shortly. The student will see your letter in both English and Creole. We are delivering letters to each of our 17 schools once per month. Once the letter is delivered to your child, the child will write you a "Thank You" card, which will then be translated into English by our Sponsorship Staff in Haiti.</p>

<p>We will send that "Thank You" card back to you as soon as possible.Thank you for your patience as you wait to hear back from your sponsor child.</p>

<p>Thank you for taking time to invest in a student's life and to bring life transformation to every man, woman and child in Haiti! YOU are appreciated.</p>

<p>The Student Sponsorship Team</p>
<p>Mission of Hope Haiti</p>

	</body>
</html>

