<html>
	<head><title>Write My Child</title></head>
	<body>

		<p>Hello <%=@fname%>, </p>
		<p>A letter for your sponsored child <%=@childname%>, #<%=@childnumber%> has been received by our staff in Haiti. The student will see your letter in English and it is being translated into Creole as well. Once the letter has been delivered to your child we will send a "Thank You" card back to you. </p>

		<p>Thank you for your patience as you wait to hear back from your sponsor child. </p>

		<p>Thank you for taking time to invest in a student's life and to bring life transformation to every man, woman and child in Haiti! YOU are appreciated.</p>
	</body>
</html>

