<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<h1>My MOH</h1>
		<%= render 'layouts/mymohNav'%>
		<h2><span class="eyebrow">Mission of Hope</span>
		<br />
		Edit Your Information</h2>

<%= render 'form' %>

<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
	</div>
	
	</div>
