<div id="wrapper">
	<%=render 'layouts/navBar'%>
<div id="content" style="padding-top: 50px;">
	
<h1>Create a My MOH account</h1>

<p>
	We are excited to announce that we have recently transitioned to a new online donor support system that will allow you to manage your giving in new and easy way! If you created an account online with us before 6/10/13, your login information is no longer valid and you will need to create a new account using the form below. Once you have created a new online account, you will be able to access your giving history, give a gift, manage account information and more. If you have any questions about this, please contact our stateside office at 512-256-0835 or email <a href="info@mohhaiti.org">info@mohhaiti.org</a>. 
</p>

<%= render 'form' %>

<!--<%= link_to 'Back', users_path %>-->

</div></div>
