<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<h1>Reset Password</h1>
	
		<% if @message %>
			<%=@message%>
		<% else %>
		Email: 	
		<form method="POST">
			<input type="text" name="email" />
		</form>
		<% end %>
   </div><!-- end content -->
</div><!-- end wrapper -->
