<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<h1 style="margin-bottom:35px;">Reset Password</h1>
	
		<% if @message %>
			<%=@message%>
		<% else %>
			<p>Please enter the email associated with your account</p>
			<form method="POST">
				<div class="field">
					<label for="email">Email</label>
					<input type="text" name="email" />
				</div>
				<br/>
				<div class="actions">
					<input type="submit" style="border:none;margin-top:15px;"/>
				</div>
			</form>
		<% end %>
   </div><!-- end content -->
</div><!-- end wrapper -->
