<div>
<div><h1>Ministry of Hope Haiti Rebuild Project</h1>
<p>Welcome to the rebuild of the Ministry of Hope Haiti website.</p></div>



<div>

 <h1 id="title">MousePosition Control</h1>
    <div id="tags">
        coordinate
    </div>
    <p id="shortdesc">
      Use the MousePosition Control to display the coordinates of the cursor
      inside or outside the map div.
    </p>  
    <div id="map" class="smallmap"></div>
    <div id="coords"></div>
    <p>Moving your mouse to the upper left corner of this map should return
    'x=0,y=0' -- in the past, it didn't in IE. If it returns 2,2, consider it a
    bug, and report it.</p> 
    
    
</div>

 </div>