<div id="bgHero">
	<div id="heroImg"></div>
</div>
<div id="wrapper">
<div id="navBar">
	<div id="logo"><img src="/assets/logo.png"></div>
	<div id="utilityNav">
		<ul>
			<li><a href="">About Us</a> // </li>
			<li><a href="">Contact Us</a></li>
			<li class="buttonRounded"><a href="">Donate Today</a></li>
			<li class="myMOH"><a href="">myMOH</a></li>
		</ul>
	</div>
	<div id="mainNav"></div>
</div>

<div id="superContent"></div>

<div id="content"></div>

<div id="footer"></div>


</div>

<h1>Ministry of Hope Haiti Redesign Project</h1>

<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>