<div id="bgHero">
	<div id="heroAboutHaiti">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti </span><br />About Haiti</h1>
			<h2>Haiti Now</h2>
<p>Haiti is in desperate need of economic improvement. The lack of market activity has led to tremendous unemployment, food scarcity and poor education.</p>
	<ul class="takeATripList" style="margin-left:0px;">
		<li>Haiti is ranked 149th out of 177 on the 2009 United Nations Human Development Index.</li>
		<li>Port-au-Prince is ranked 213th out of 221 on the 2010 Mercer world cities livability index.</li>
		<li>The World Food Program reports that food supply covers only 55% of the population.</li>
		<li>Haiti ranks among the worst three countries in the world in daily caloric intake per person.</li>
		<li>42% of children less than five years of age suffer from stunting of growth.</li>
		<li>Literacy rates in Haiti for the general population were 45% in 2010.</li>
		<li>Unemployment is now 90% in Haiti and 80% of Haiti’s people live in abject poverty.</li>
		<li>There are over 400,000 children without parents in Haiti.</li>
		<li>There are still over 17,000 children in Mission of Hope’s surrounding area that will never go to school, due jointly to lack of money and lack of schools.</li>
		<li>1 out of 5 children will die before the age of five.</li>
	</ul>
<h2>Facts About Haiti</h2>
<h4>GEOGRAPHY</h4>
<p>Haiti occupies the western third of the Caribbean island of Hispaniola, sharing a border with the Dominican Republic. It sits about 700 miles off the coast of Miami and occupies an area just slightly smaller than the state of Maryland.
</p>

<h4>CAPITAL</h4>
<p>Port-au-Prince</p>

<h4>CLIMATE</h4>
<p>Being a tropical climate, Haiti is hot and humid during most months of the year. Some areas of the country, however, can be almost desert-like and dry where the mountains cut off the trade winds.</p>

<h4>TERRAIN AND ENVIRONMENTAL ISSUES</h4>
<p>Most of Haiti is rugged and mountainous. Mass deforestation and poor environmental controls have left large areas of the country bare and contributed to large-scale loss of topsoil. Much of the remaining forested land is being cleared and used as fuel.
</p>

<h4>NATURAL HAZARDS</h4>
<p>Haiti lies in the middle of the hurricane belt and subject to severe storms from June to October. In 2010, Haiti experienced a magnitude 7 earthquake.</p>

<h4>DEMOGRAPHICS</h4>
<p>Haiti has a very large young population, in part because of a high birthrate and shorter life expectancies – 37% of Haitians are younger than 14, 59% are between 15 and 64 years old, and just 3% are 65 and older.
</p>

<h4>POPULATION</h4>
Over 9 million people live in Haiti.</p>

<h4>ECONOMY</h4>
<p>Haiti is the poorest country in the Western Hemisphere. More than two-thirds of the population is unemployed. Its main exports are apparel, oils, cocoa, mangoes and coffee.</p>

<h4>LANGUAGES</h4>
<p>Haitian Creole, French</p>

<h4>RELIGION</h4>
<p>Roughly 80 percent of Haitians are Roman Catholic, while fewer than one in five claims to be Protestant. Roughly 95 percent of Haitians – regardless of religious affiliation – hold at least some Voodoo beliefs or superstitions.
</p>

<h4>HISTORY</h4>
<p>The native Taino Amerindians inhabited the island of Hispaniola when it was discovered by Columbus in 1492. Within 25 years the Taino Amerindians had been virtually annihilated by Spanish settlers. In the early 17th century, the French established a presence on Hispaniola. Haiti became a bustling French colony, based on forestry and sugar-related industries, Haiti became one of the wealthiest colonies in the Caribbean but only through the heavy importation of African slaves and considerable environmental degradation. African slaves were imported by the thousands to work on sugar, tobacco and coffee plantations. A long and violent slave uprising finally led to Haitian independence in 1804. Haiti became the first black republic to declare independence. However, the country could not revive its profitable plantation economy. Haiti has been plagued by political violence for most of its history. Haiti endured a series of occupations by U.S. Marines and, beginning in the 1950s, a period of rule by brutal dictators François “Papa Doc” Duvalier and “Baby Doc,” his son. During that period, an estimated 30,000 Haitians were killed for being opponents of the Duvalier regime. The country returned to a few brief months of democratic rule under President Jean-Bertrand Aristide, who was temporarily overthrown in a coup that eventually led to intervention by the United Nations, which continues today. Haitians currently live with a tentative restored government and a demobilized military. In 2008 Haiti was hit by four tropical storms back-to-back, which severely damaged the transportation infrastructure and agricultural sector. Then on January 12th, 2010 a massive magnitude 7.0 earthquake struck Haiti with an epicenter about 15 km southwest of the capital, Port-au-Prince. The earthquake is assessed as the worst in this region over the last 200 years; massive international assistance is required to help the country recover.
</p>

		</div>

		<div id="contentRight300" style="padding-top: 30px;">
			<%= render 'layouts/aboutNav'%>
		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
