<div id="bgHero">
	<div id="heroCAProjects">
		<!--x-->
	</div>

</div>
 <div id="wrapper">
 <%=render 'layouts/navBar'%>
 
<div id="content">
	<div id="heroContent">
		<h1>
			<span style="font-size:2em;">Mission of Hope, Haiti</span><br>
			
				<span style="font-size:3em;">Sample Village</span><br>
				<span style="font-size:5em; display: block; padding-bottom: 10px;">Projects</span>
			
		<br>
			<span style="float:left; text-align:center; margin-right:15px;">
				<img src="<%=asset_path 'caprojects-inset-water.jpg'%>" alt="Water Filters">
			</span>
			<span style="float:left; text-align:center; margin-right:15px;">
				<img src="<%=asset_path 'caprojects-inset-latrines.jpg'%>" alt="Latrines">
			</span>
			<span style="float:left; text-align:center; margin-right:15px;">
				<img src="/assets/caprojects-inset-solar.jpg" alt="Solar Lighting">
			</span>
			<span style="float:left; text-align:center; margin-right:15px;">
				<img src="/assets/caprojects-inset-homes.jpg" alt="Build Homes">
			</span>
			<span style="float:left; text-align:center; margin-right:15px;">
				<img src="/assets/caprojects-inset-trash.jpg" alt="Trash Pickup">
			</span>
			<span style="float:left; text-align:center; margin-right:15px;">
				<img src="/assets/caprojects-inset-bucket.jpg" alt="Kids Club">
			</span>
			<span style="float:left; text-align:center; margin-right:0px;">
				<img src="/assets/caprojects-inset-tree.jpg" alt="Plant Trees">
			</span>
		</h1>
		
				
	</div>
	
	<div id="gridWrapperProjects">
		<h1><span class="eyebrow">Mission of Hope, Haiti Village Projects </span><br />Examples & Costs</h1>
		<p>&nbsp;</p>
	
			<div class="grid2x2Left">
				<div class="gridImage projectsMed"><img src="/assets/icon-projects-water-filters.png" alt="Water Filters" /></div>
				<div class="gridText" style="padding-top:40px;">
					<h2>Family-sized Water Filters</h2>
					<h3>Cost: $75</h3>
				</div>
			</div>
			<div class="grid2x2Right">
				<div class="gridImage projectsMed"><img src="/assets/icon-projects-latrines.png" alt="Latrines" /></div>
				<div class="gridText" style="padding-top:40px;">
					<h2>Build Latrines</h2>
					<h3>Cost: $1,500 / Latrine</h3>
				</div>
			</div>
			<div class="clearfix"></div>		
			<div class="grid2x2Left">
				<div class="gridImage projectsMed"><img src="/assets/icon-projects-solar-lighting.png" alt="Solar Lighting" /></div>
				<div class="gridText" style="padding-top:40px;">
					<h2>Family-Size Solar Lighting</h2>
					<h3>Cost: $60</h3>
				</div>
			</div>
			<div class="grid2x2Right">
				<div class="gridImage projectsMed"><img src="/assets/icon-projects-housing-restoration.png" alt="Housing Restoration" /></div>
				<div class="gridText" style="padding-top:40px;">
					<h2>Housing Restoration</h2>
					<h3>Cost: $240 / Home</h3>
				</div>
			</div>
			<div class="clearfix"></div>	
			<div class="grid2x2Left">
				<div class="gridImage projectsMed"><img src="/assets/icon-projects-roof-repair.png" alt="Roof Repair" /></div>
				<div class="gridText" style="padding-top:40px;">
					<h2>Roof Repair</h2>
					<h3>Cost: $450 / Average House</h3>
				</div>
			</div>
			<div class="grid2x2Right">
				<div class="gridImage projectsMed"><img src="/assets/icon-projects-build-house.png" alt="Build a Home" /></div>
				<div class="gridText" style="padding-top:40px;">
					<h2>Build a Home</h2>
					<h3>Cost: $6,600 / Home</h3>
				</div>
			</div>
			<div class="clearfix"></div>	
			<!--div class="grid2x2Right">
				<div class="gridImage projectsMed"><img src="/assets/icon-projects-trash.png" alt="Trash Pickup" /></div>
				<div class="gridText" style="padding-top:40px;">
					<h2>Trash Pickup</h2>
					<h3>Cost: $50 / Day</h3>
				</div>
			</div>
			<div class="clearfix"></div-->	
			<div class="grid2x2Left">
				<div class="gridImage projectsMed"><img src="/assets/icon-projects-tree.png" alt="Plant a Tree" /></div>
				<div class="gridText" style="padding-top:40px;">
					<h2>Plant a Tree</h2>
					<h3>Cost: $140 / 20 Trees or $7 / Tree</h3>
				</div>
			</div>
			<div class="grid2x2Right">
				<div class="gridImage projectsMed"><img src="/assets/icon-projects-goat.png" alt="Trash Pickup" /></div>
				<div class="gridText" style="padding-top:40px;">
					<h2>Pair of Goats</h2>
					<h3>Cost: $125 / Pair</h3>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="grid2x2Left">
				<div class="gridImage projectsMed"><img src="/assets/icon-projects-kids-club.png" alt="Kids Club" /></div>
				<div class="gridText" style="padding-top:40px;">
					<h2>Kids Club</h2>
					<h3>Cost: $220 / Club</h3>
				</div>
			</div>
			<div class="grid2x2Right">
				<div class="gridImage projectsMed"><a href="/farm_to_table_project_summary.pdf"><img src="/assets/icon-projects-farm-to-table.png" alt="Farm To Table" /></a></div>
				<div class="gridText" style="padding-top:40px;">
					<h2>Farm To Table</h2>
					<h3>COST: $2,500 / 1-5 people or $4,000 / 6-10 people<br><br>
						Or $6,000 / 11-15 people or $8,000 / 16-20 people</h3><br>
					<h3><a href="/farm_to_table_project_summary.pdf">Click Here For More Information</a></h3>
				</div>
			</div>
			<div class="clearfix"></div>
</div>
<br />
<div class="clearfix"></div>

</div>
