<% content_for(:head) do %>
	<%= javascript_include_tag :validate_volunteer %>
<% end %>
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top: 50px;">
		<%unless @isvalid.nil?%>
			<div style="padding-bottom:20px;"><h3>Thank you for your interest in MOH. We'll be in touch shortly! </h3></div>
		<%end%>
		<div id="contentcyp">
			<h1 style="font-size: 2em;"><span class="eyebrow">Mission of Hope Haiti</span>
			<br />
			Request information about Short-term Medical Mission Trips</h1>
			<p>
			If you would like to learn more about how you or a group can serve on a short-term medical mission trip with Mission of Hope, Haiti, please fill out and submit the form below. Once we have received your request, our Medical Mission Trips Coordinator will be in touch with you.
			</p>
			<div class="forms">
				<% if @isvalid.nil?%>
				<form method="post">
					<input type="text" name="formname" value="" style="display:none;"/>
					<div class="field">* First Name: <input id="txtname" type="text" name="fname"><br></div>
					<div class="field">* Last Name: <input id="txtlname" type="text" name="lname"><br></div>
					<div class="field">* Email: <input id="txtemail" type="text" name="email"></div>
					<div class="field">* Trip Dates: <input id="txtdates" type="date" name="tdates"></div>
					<div class="field">* Email: <input id="txtemail" type="text" name="email"></div>
					<!-- <div class="field">Medical Professional License: 
						<select name="license">
							<option value="MD">MD</option>
							<option value="DO">DO</option>
							<option value="PA">PA</option>
							<option value="NP">NP</option>
							<option value="RN">RN</option>
							<option value="LPN">LPN</option>
							<option value="LVN">LVN</option>
							<option value="EMT">EMT</option>
							<option value="Paramedic">Paramedic</option>
							<option value="CAN">CAN</option>
							<option value="RPh">RPh</option>
							<option value="PharmD">PharmD</option>
							<option value="Optometrist">Optometrist</option>
							<option value="Dentist">Dentist</option>
							<option value="PT">PT</option>
							<option value="OT">OT</option>
							<option value="Chiropractor">Chiropractor</option>
							<option value="Non-medical Support Staff">Non-medical Support Staff</option>
							<option value="Student">Student</option>
						</select>
					</div>-->
					
					<div class="field" style="clear: both; display:none;">Comments: <textarea id="txtmessage" type="textarea" name="letter"></textarea></div>
					 <div class="actions"><input type="submit" value="Submit My Request" onclick="return validate();"></div>
				<p>&nbsp;</p>
				</form>		
				<%end%>
				
			</div>
		</div><!-- End Content Left -->

		
			<div class="clearfix">
				<!--x-->
			</div>
		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			
			</div>
