</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:40px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of home</span>
			<br />
			Church partner</h1>
	<p>Church advancement has three levels of involvement, making it easier than ever for churches to partner with us.</p> 
<div class="churchPartnerContent">
<h2>Advocate level</h2> 

<h4>Involvement</h4>

<ul>
<li>Memorandum of Understanding with MOH</li>
<li>Child Sponsorship</li>
<li>Partner of Hope (POH)</li>
<li>Mission Trips</li>
</ul>

<h4>Return on kingdom investment</h4>

<ul>
<li>Provide mobilization</li>
<li>Facilitate Child Sponsorship & POH</li>
<li>Provide media & material about MOH</li>
<li>Receive updates on progress</li>
</ul>

<h2>Ambassador Level</h2>

<h4>Involvement</h4>

<ul>
<li>Memorandum of Understanding (MOU) with MOH</li>
<li>Child Sponsorship & Partner of Hope</li>
<li>$5000 annual ministry investment</li>
<li>Minimum of 1 village project</li>
</ul>

<h4>Return on kingdom investment</h4>

<ul>
<li>Village specific mission trips</li>
<li>Facilitate Child Sponsorships & POH</li>
<li>Village specific updates</li>
<li>Access to online village updates</li>
</ul>

<h2>Anchor level</h2>

<h4>Involvement</h4>

<ul>
<li>Memorandum of Understanding (MOU) with MOH</li>
<li>Child Sponsorship & Partner of Hope</li>
<li>$25000 annual ministry investment</li>
<li>Actively looking to recreate yourself</li>
</ul>

<h4>Return on kingdom investment</h4>

<ul>
<li>Village specific mission trips with flexibility</li>
<li>Media & material of specific village progress</li>
<li>Direct line of communication with Haiti Church Advancement team</li>	
<li>Voice in planning process for village projects & programs (see MOU).</li>
<li>Access to Anchor Level updates</li>
</ul>

<p>Request more information about becoming a partner {click to form below}</p>


Form submits to churchpartnerships@mohhaiti.org with the following fields:
<h3>For Davids ref:</h3>

<h4>About You</h4>
-	Your Name<br>
-	Your Number<br>
-	Email<br>
-	Address, City, ST, Zip<br>
<h4>About Your Church</h4>
-	Church Name<br>
-	Church, Address City, ST, Zip<br>
-	Pastor’s Name<br>
-	Pastor’s Phone<br>
-	Church Website<br>
<h4>Your Partnership With Mission of Hope</h4>
-	Partnership Interests (Checkboxes)<br>
o	Advocate<br>
o	Ambassador<br>
o	Anchor<br>
-	Additional Comments<br>
-	Submit button that reads: Submit Request<br> 
</p>
</div>
		</div>

		<div id="contentRight300">
			<h2>Resolutions</h2>
			<div class="rightBoxGreen">
			<h2>Relational Proclamation</h2>
			<p>
				Intentionally modeling Christ’s love through relationships.
			</p>
			</div>
			<div class="rightBoxGreen">
			<h2>Evangelistic Saturation</h2>
			<p>
				Repeatedly sharing the Gospel message in targeted geographies.
			</p>
			</div>
			<div class="rightBoxGreen">
			<h2>Indigenous Mobilization</h2>
			<p>
				Strategically developing national leaders to carry the vision to the nation.
			</p>
			</div>
			<div class="rightBoxGreen">
			<h2>Excellent Implementation</h2>
			<p>
				Continuously pursuing God’s physical, mental, social and spiritual destiny for every man, woman and child.
			</p>
			</div>
			<div class="relativeWrapper">
				<div class="rightBoxGreen">
				<h2>What you can do</h2>
				<p>
					Responsibly utilizing all resources and talents to their fullest potential for God’s glory.
				</p>
				</div>
			</div>
		</div>
		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
