</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top:0px;">
		<% unless @isvalid.nil?%>
			<div class="forms" id="form" style="margin-top: 20px; padding-bottom: 20px;"><h3>Thanks for submitting your request. We will be in touch with you soon!</h3></div>
		<%end%>
		<div id="contentLeft560">
			<h1><span class="eyebrow">Become a North American</span>
			<br />
			Church partner</h1>
			<p>
				Church advancement has three levels of involvement, making it easier than ever for churches to partner with us.
			</p>
			<div class="churchPartnerContent">
				<h2>Anchor level</h2>
				<h4>Involvement</h4>
				<ul>
					<li>
						Memorandum of Understanding (MOU) with MOH
					</li>
					<li>
						Child Sponsorship & Partner of Hope
					</li>
					<li>
						$25000 annual ministry investment
					</li>
					<li>
						Actively looking to recreate yourself
					</li>
				</ul>
				<h4>Return on kingdom investment</h4>
				<ul>
					<li>
						Village specific mission trips with flexibility
					</li>
					<li>
						Media & material of specific village progress
					</li>
					<li>
						Direct line of communication with Haiti Church Advancement team
					</li>
					<li>
						Voice in planning process for village projects & programs (see MOU).
					</li>
					<li>
						Access to Anchor Level updates
					</li>
				</ul>
				<img src="/assets/contentDiv-560.png">
				<h2>Ambassador Level</h2>
				<h4>Involvement</h4>
				<ul>
					<li>
						Memorandum of Understanding (MOU) with MOH
					</li>
					<li>
						Child Sponsorship & Partner of Hope
					</li>
					<li>
						$5000 annual ministry investment
					</li>
					<li>
						Minimum of 1 village project
					</li>
				</ul>
				<h4>Return on kingdom investment</h4>
				<ul>
					<li>
						Village specific mission trips
					</li>
					<li>
						Facilitate Child Sponsorships & POH
					</li>
					<li>
						Village specific updates
					</li>
					<li>
						Access to online village updates
					</li>
				</ul>
				<img src="/assets/contentDiv-560.png">
				<h2>Advocate Level</h2>
				<h4>Involvement</h4>
				<ul>
					<li>
						Memorandum of Understanding with MOH
					</li>
					<li>
						Child Sponsorship
					</li>
					<li>
						Partner of Hope (POH)
					</li>
					<li>
						Mission Trips
					</li>
				</ul>
				<h4>Return on kingdom investment</h4>
				<ul>
					<li>
						Provide mobilization
					</li>
					<li>
						Facilitate Child Sponsorship & POH
					</li>
					<li>
						Provide media & material about MOH
					</li>
					<li>
						Receive updates on progress
					</li>
				</ul>
				<img src="/assets/contentDiv-560.png">
				<% if @isvalid.nil? %>
				<div class="forms" id="divform" name="divform" style="margin-top: 10px;">
					<h3>Request more information about becoming a partner:</h3>
					<p>*All Fields Required</p>
					<form>
						<div class="field">
							Name:
							<input type="text" name="txtname">
							<br>
						</div>
						<div class="field">
							Phone number:
							<input type="text" name="txtphonenumber">
							<br>
						</div>
						<div class="field">
							Email:
							<input type="text" name="txtemail">
						</div>
						<div class="field">
							Address:
							<input type="text" name="txtaddress">
						</div>
						<div class="field city">
							City:
							<br />
							<input type="text" name="txtcity">
							<br>
						</div>
						<div class="field state">
							State:
							<br />
							<input type="text" name="txtstate">
							<br>
						</div>
						<div class="field zip">
							Zip:
							<br />
							<input type="text" name="txtzip">
							<br>
						</div>
						<h3 style="clear: both;">About your Church</h3>
						<div class="field">
							Church name:
							<input type="text" name="txtchurchname">
							<br>
						</div>
						<div class="field">
							Church Address:
							<input type="text" name="txtchurchaddress">
							<br>
						</div>
						<div class="field city">
							City:
							<br />
							<input type="text" name="txtchurchcity">
							<br>
						</div>
						<div class="field state">
							State:
							<br />
							<input type="text" name="txtchurchstate">
							<br>
						</div>
						<div class="field zip">
							Zip:
							<br />
							<input type="text" name="txtchurchzip">
							<br>
						</div>
						<div class="field" style="clear:both;">
							Pastor’s Name:
							<input type="text" name="txtpastorname">
							<br>
						</div>
						<div class="field">
							Pastor’s Phone:
							<input type="text" name="txtpastorphone">
							<br>
						</div>
						<div class="field">
							Missions Contact Name:
							<input type="text" name="txtmissionname">
							<br>
						</div>
						<div class="field">
							Missions Contact Phone Number:
							<input type="text" name="txtmissionphone">
							<br>
						</div>
						<div class="field">
							Church Website:
							<input type="text" name="txtchurchwebsite">
							<br>
						</div>
						<h4>Your Partnership Interests With Mission of Hope</h4>
						<div class="field checkbox">
							<input type="checkbox" name="chkadvocate" style="width:12px;">
							Advocate
						</div>
						<div class="field checkbox">
							<input type="checkbox" name="chkambassador" style="width:12px;">
							Ambassador
						</div>
						<div class="field checkbox">
							<input type="checkbox" name="chkanchor" style="width:12px;">
							Anchor
						</div>
						<h3 style="clear:both;">Additional Comments</h3>
						<div class="field">
							<textarea type="textarea" name="txtcomments"></textarea>
						</div>
						<div class="actions">
							<input type="submit" value="Submit Request">
						</div>
					</form>
				</div>
				<%end%>
			</div>
		</div>
		<div id="contentRight300">
			<%= render 'layouts/churchNav'%> 
			<div class="rightBoxGreen">
				<h2>Resolutions</h2>
				<h3 class="tan">Relational Proclamation</h3>
				<p>
					Intentionally modeling Christ’s love through relationships.
				</p>
				
				<h3 class="tan">Evangelistic Saturation</h3>
				<p>
					Repeatedly sharing the Gospel message in targeted geographies.
				</p>
				<h3 class="tan">Indigenous Mobilization</h3>
				<p>
					Strategically developing national leaders to carry the vision to the nation.
				</p>
				<h3 class="tan">Holistic Transformation:</h3>
				<p>
					Continuously pursuing God’s physical, mental, social and spiritual destiny for every man, woman and child.
				</p>
				<h3 class="tan">Excellent Implementation</h3>
				<p>
					Continuously pursuing God’s physical, mental, social and spiritual destiny for every man, woman and child.
				</p>
			</div>
		</div>
		<div class="clearfix" style="height: 40px;"></div>
	</div>
	<div class="clearfix" style="height:40px;">
		<!--x-->
	</div>
</div>
