<% content_for(:head) do %>
	<%= javascript_include_tag :validate_churchpartner %>
<% end %>
</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top:50px;">
		<% unless @isvalid.nil?%>
			<div class="forms" id="form" style="margin-top: 20px; padding-bottom: 20px;"><h3>Thanks for submitting your request. We will be in touch with you soon!</h3></div>
		<%end%>
		<div id="contentLeft560">
			<h1><span class="eyebrow">Become a North American</span>
			<br />
			Church Advancement Partner</h1>
			<p>
				Church Advancement Partners are a vital part of seeing the Church of Haiti become all that God has called it to be.  Partners can be churches, businesses or organizations that are willing to invest in a community and the churches within that community. Along with the financial investment, the Church Advancement Partners work hand-in-hand with the local pastors and Mission of Hope’s Village Champions in other ways, including short-term trips, child sponsorship, and village projects. Along with the partners, we pray we will continue to see God transform Haiti through His local church. If you would like more information and to speak with one of our Church Development Representatives, please email Drew Garrison at <a href="mailto:drew@mohhaiti.org">drew@mohhaiti.org</a>.
			</p>
			<!--div class="churchPartnerContent">
				<h2>Partner Level</h2>
				<h4>Involvement</h4>
				<ul>
					<li>$1000 - $24,999</li>
					<li>Choice of focus village</li>
					<li>Communication and updates from the CA team</li>
					<li>Opportunities to sponsor students from focus village </li>
					<li>Opportunity to fund village-specific projects</li>
					<li>Quarterly update calls with the CA team</li>
					<li>Short term trips will have focused activity, ministry, and work projects in your focus village.*</li>
				</ul>
				
				<img src="/assets/contentDiv-560.png">
				
				<h2>Anchor Level</h2>
				<h4>Involvement</h4>
				<ul>
					<li>$25,000 or more</li>
					<li>Choice of focus village</li>
					<li>Communication and updates from the CA team</li>
					<li>Opportunities to sponsor students from focus village </li>
					<li>Opportunity to fund village-specific projects</li>
					<li>Monthly update calls with the CA team</li>
					<li>Short term trips will have focused activity, ministry, and work projects in your focus village.**</li>
					<li>Consulted on the direction of the Village Transformation Plan</li>
				</ul>
				
				<img src="/assets/contentDiv-560.png">
				<p>*As a Partner, we will make our best effort to have your time spent in your focus village, but will be unable to promise due to possible logistical complications.</p>
				<p>**As an Anchor partner, we will have you in your focus village a minimum of three days. Due to the nature of working in Haiti, there may be unforeseen circumstances that would prevent this as well. </p>
				<img src="/assets/contentDiv-560.png">
				
				<% if @isvalid.nil? %>
				<div class="forms" id="divform" name="divform" style="margin-top: 10px;">
					<h3>Request more information about becoming a partner:</h3>
					<p>*All Fields Required</p>
					<form>
						<div class="field">
							Name:
							<input id="txtname" type="text" name="txtname">
							<br>
						</div>
						<div class="field">
							Phone number:
							<input id="txtphone" type="text" name="txtphonenumber">
							<br>
						</div>
						<div class="field">
							Email:
							<input id="txtemail" type="text" name="txtemail">
						</div>
						<div class="field">
							Address:
							<input id="txtaddress" type="text" name="txtaddress">
						</div>
						<div class="field city">
							City:
							<br />
							<input id="txtcity" type="text" name="txtcity">
							<br>
						</div>
						<div class="field state">
							State:
							<br />
							<input id="txtstate" type="text" name="txtstate">
							<br>
						</div>
						<div class="field zip">
							Zip:
							<br />
							<input id="txtzip" type="text" name="txtzip">
							<br>
						</div>
						<h3 style="clear: both;">About your Church</h3>
						<div class="field">
							Church name:
							<input id="txtchurchname" type="text" name="txtchurchname">
							<br>
						</div>
						<div class="field">
							Church Address:
							<input id="txtchurchaddress" type="text" name="txtchurchaddress">
							<br>
						</div>
						<div class="field city">
							City:
							<br />
							<input id="txtchurchcity" type="text" name="txtchurchcity">
							<br>
						</div>
						<div class="field state">
							State:
							<br />
							<input id="txtchurchstate" type="text" name="txtchurchstate">
							<br>
						</div>
						<div class="field zip">
							Zip:
							<br />
							<input id="txtchurchzip" type="text" name="txtchurchzip">
							<br>
						</div>
						<div class="field" style="clear:both;">
							Pastor’s Name:
							<input id="txtpastorname" type="text" name="txtpastorname">
							<br>
						</div>
						<div class="field">
							Pastor’s Phone:
							<input id="txtpastorphone" type="text" name="txtpastorphone">
							<br>
						</div>
						<div class="field">
							Missions Contact Name:
							<input id="txtmissionname" type="text" name="txtmissionname">
							<br>
						</div>
						<div class="field">
							Missions Contact Phone Number:
							<input id="txtmissionphone" type="text" name="txtmissionphone">
							<br>
						</div>
						<div class="field">
							Church Website:
							<input id="txtchurchwebsite" type="text" name="txtchurchwebsite">
							<br>
						</div>
						<h4>Your Partnership Interests With Mission of Hope</h4>
						<div class="field checkbox">
							<input type="checkbox" name="chkadvocate" style="width:12px;">
							Advocate
						</div>
						<div class="field checkbox">
							<input type="checkbox" name="chkambassador" style="width:12px;">
							Ambassador
						</div>
						<div class="field checkbox">
							<input type="checkbox" name="chkanchor" style="width:12px;">
							Anchor
						</div>
						<h3 style="clear:both;">Additional Comments</h3>
						<div class="field">
							<textarea id="txtmessage" type="textarea" name="txtcomments"></textarea>
						</div>
						<div class="actions">
							<input type="submit" value="Submit Request" onclick="return validate();">
						</div>
					</form>
				</div>
				<%end%>
			</div-->
		</div>
		<div id="contentRight300">
			<%= render 'layouts/churchNav'%> 

			<div class="rightBoxGreen">
				<h2>Resolutions</h2>
				<h3 class="tan">Relational Proclamation</h3>
				<p>
					Intentionally modeling Christ’s love through relationships.
				</p>
				
				<h3 class="tan">Evangelistic Saturation</h3>
				<p>
					Repeatedly sharing the Gospel message in targeted geographies.
				</p>
				<h3 class="tan">Indigenous Mobilization</h3>
				<p>
					Strategically developing national leaders to carry the vision to the nation.
				</p>
				<h3 class="tan">Holistic Transformation:</h3>
				<p>
					Continuously pursuing God’s physical, mental, social and spiritual destiny for every man, woman and child.
				</p>
				<h3 class="tan">Excellent Implementation</h3>
				<p>
					Responsibly utilizing all resources and talents to their fullest potential for God's glory.
				</p>
			</div>
			<div class="contentRightWrapper">	
				<h3><span class="eyebrow">Learn More About</span><br />Vision Trips</h3>
				<img class="featuredImage" src="/assets/inset-vision-trip.jpg" alt="Take a Vision Trip with Mission of Hope Haiti" />
				<p>Are you considering becoming a partner? The best way to see how you can help is to visit Haiti on a short vision trip.<br />
				<div class="buttonSquareOrange" style="width: 182px; margin-top: 5px;"><a href="/vision_trip">Take a Vision Trip &raquo;</a></div>
			</div>
		</div>
		<div class="clearfix" style="height: 40px;"></div>
	</div>
	<div class="clearfix" style="height:40px;">
		<!--x-->
	</div>
</div>
