<div id="bgHero">
	<div id="heroClinic">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<div id="heroContentEducation">
				<h1 style="top:-225px;"><span style="font-size: 2em;">The Clinic of Hope provides primary care treatment to over 70 Haitians a day.</span></h1>
			</div>
			<div class="buttonSquareOrange" style="position:absolute; top:-100px; left:454px; width:290px"><a href="">Help bring health care to Haiti &raquo;</a></div>
		</div>
	<div id="contentLeft560">
		<h1><span class="eyebrow">Mission of Hope Haiti </span><br />Clinic of Hope</h1>
		<h3>Clinic of Hope</h3>
<p>Common illnesses that are treated at the clinic are malnutrition, malaria, anemia, gastritis, and high blood pressure to list a few. There are many that have injuries and open sores that if not treated could cost them their lives. Daily the Clinic of Hope staff members are saving lives that would have been lost without their help.
</p>

<h3>Hospital of Hope Expansion (in progress)</h3>
<p>The Hospital of Hope will be the main center for urgent care, emergency care, OB/GYN, and surgery. As we expand into the hospital, the clinic will broaden its services with a video & sound systems circulating community health messages led by Haitian nurses and doctors. These modules will accompany in person demonstrations and health messages provided by community health nurses on site. This education currently reaches about 1,000-2,000 patients each month.
</p>

<p>Once the hospital construction is completed, patients that come to the hospital or clinic will be offered the opportunity to take part in our expanded community health education program. The education program will consist of 6-8 modules of community health taught by Haitian community health nurses over 6 -8 weeks. The main health decision maker of the family will be encouraged to attend. As an incentive for patients to enter the program, they will be offered a “Hope Card”. This hope card will allow the patient and immediate family members to have access to the clinic & hospital for decreased fees. The Hope Card will also allow us to track family data and plot indices in our respective communities of care.
</p>
<img src="/assets/contentDiv-560.png" />
<%=render '/layouts/pup'%>
	</div><!-- End Content Left -->
		<div id="contentRight300" style="margin-top: 30px;">
			<%= render '/layouts/healthCareNav'%>
			<div class="rightBoxGreen">
			<h2>By 2015</h2>
			<p>
				<strong>Clinic of Hope: </strong>We will be opening two new clinics on the Bercy Campus and at Lascahobas to be able to meet the clinical needs of 7,200 people in those communities.
				<br />
				<p>
				<strong>Hospital of Hope: </strong>Have a fully operating Hospital to treat emergencies & provide surgeries. 1 new hospital at the Main Campus to treat emergencies & surgeries. 
			</p>
			</div>
			<div class="rightBoxGreen">
			<h2>Funds Needed</h2>
			<p>
				$480,000 for Hospital of Hope Operation Costs
			</p>
			<div class="buttonSquareOrange" style="position:absolute; bottom:-15px; right:12px; width:74px; font-size:12px;"><a href="https://www.denarionline.com/DonorServices/TEMPLATEPAGE.ASPX?COMP_REF=_MOHHAITI%20&CONTENT=GOSOLG&DS_GO_REF=F6DB76D974&master=master:mohr&theme=mohr">Donate &raquo;</a></div>
			</div>
		
		</div> <!-- End Content 360 -->	
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
