<div id="bgHero">
	<div id="healthCareHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<div id="heroContentEducation">
				<h1 style="top:-255px;"><span class="healthCareTop">96% of haitians lack</span>
				<br>
				<span class="healthCareBottom">basic health coverage</span></h1>
				<br>
			</div>
			<div class="buttonSquareOrange" style="position:absolute; top:-100px; left:454px; width:290px"><a href="">Help bring health care to Haiti &raquo;</a></div>
		</div>
	<div id="contentLeft560">
		<h1><span class="eyebrow">Mission of Hope Haiti </span><br />Clinic of Hope</h1>
		<h3>Clinic of Hope</h3>
<p>Common illnesses that are treated at the clinic are malnutrition, malaria, anemia, gastritis, and high blood pressure to list a few. There are many that have injuries and open sores that if not treated could cost them their lives. Daily the Clinic of Hope staff members are saving lives that would have been lost without their help.
</p>

<h3>Hospital of Hope</h3>
<p>The Hospital of Hope will be the main center of the community health program. Currently, the clinic is equipped with a video and sound system, and community health messages are being played in the waiting room. In person demonstrations and health messages are also given by community health nurses. This education currently reaches about 1,000-2,000 patients each month.
</p>

<p>Once the hospital construction is completed, patients that come to the hospital/clinic will be offered the opportunity to take part in the community health education program. The education program will consist of 6-8 modules of community health taught by Haitian community health nurses over 6 -8 weeks. The main health decision maker of the family will be encouraged to attend. As an incentive for patients to enter the program, they will be offered a “Hope Card”. This hope card will allow the patient and immediate family members to have access to the clinic/hospital for decreased fees. The Hope Card will also allow us to track the families that have been educated on their health.
</p>
<h1>Need updates to pull in</h1>
	</div><!-- End Content Left -->
		<div id="contentRight300" style="margin-top: 30px;">
			<div class="rightBoxGreen">
			<h2>Learn More About<br />Mission of Hope Haiti</h2>
			<ul class="aboutUsNav">
				<li><a href="/health_care">Health Care &raquo;</a></li>
				<li><a href="/clinic">Clinic of Hope &raquo;</a></li>
				<li><a href="/clinic">Hospital of Hope &raquo;</a></li>
				<li><a href="/community_health">Community Health Initiative &raquo;</a></li>
				<li><a href="/prosthetics">Prosthetics of Hope &raquo;</a></li>
			</ul>
			</div>
			<div class="rightBoxGreen">
			<h2>By 2015</h2>
			<p>
				<strong>Clinic of Hope: </strong>We will be opening two new clinics on the Bercy Campus and at Lascahobas to be able to meet the clinical needs of 7,200 people in those communities.
				<br />
				<p>
				<strong>Hospital of Hope: </strong>Have a fully operating Hospital to treat emergencies & provide surgeries. 1 new hospital at the Main Campus to treat emergencies & surgeries. 
			</p>
			</div>
			<div class="rightBoxGreen">
			<h2>Funds Needed</h2>
			<p>
				$480,000 for Hospital of Hope Operation Costs
			</p>
			<div class="buttonSquareOrange" style="position:absolute; bottom:-15px; right:12px; width:74px; font-size:12px;"><a href="https://www.denarionline.com/DonorServices/TemplatePage.Aspx?COMP_REF=_MOHHAITI%20&CONTENT=HOME&master=master:mohr&theme=mohr">Donate &raquo;</a></div>
			</div>
			<div class="contentRightWrapper">
			<h3><span class="eyebrow">Health Care</span><br />Photos</h3>
						<div id="divImgThumbs">
				<div id="gallery" class="ad-gallery">
					<div class="ad-image-wrapper">
						<div class="ad-image shadow"></div>
					</div><!--wrapper-->
					<div class="ad-controls"></div><!--controls-->
					<div class="ad-nav">
						<div class="ad-back"></div>
						<div class="ad-thumbs">
							&nbsp;
							<ul class="ad-thumb-list">
								<!--<p><img alt="Pastor-phil-sinks-the-boat" src="http://s3.amazonaws.com/MOH/assets/13/medium/Pastor-Phil-Sinks-the-boat.jpg?1344195200" /></p>-->
								<li >
									<a href="http://s3.amazonaws.com/MOH/assets/13/medium/Pastor-Phil-Sinks-the-boat.jpg?1344195200"><img src="http://s3.amazonaws.com/MOH/assets/13/thumb/Pastor-Phil-Sinks-the-boat.jpg?1344195200" alt="" title="" longdesc="" class="image0" style="width:65px;" /></a>
								</li>
							</ul>
						</div>
						<div class="ad-forward"></div>
					</div><!--adnav-->
				</div><!--gallery-->
		</div><!--thumbs-->
		</div>
		</div> <!-- End Content 360 -->	
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
