<div id="bgHero">
	<div id="heroCommunityHealth">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content">
		<div id="heroContent">
			<div id="heroContentEducation">
				<h1 style="top:-225px;"><span style="font-size: 2em;">Our Community Health Intiative education program works to help prevent the spread of sickness and disease.</span></h1>
				<br>
			</div>
			<div class="buttonSquareOrange" style="position:absolute; top:-100px; left:454px; width:290px"><a href="">Help bring health care to Haiti &raquo;</a></div>
		</div>
	<div id="contentLeft560">
		<h1><span class="eyebrow">Mission of Hope Haiti </span><br />Community Health</h1>
<p>The community health program at Mission of Hope aims to educate Haitians about their health as a means to prevent illness. The program is being implemented through the Mission of Hope hospital, as well as through schools and local communities.
</p>

<h3>Schools</h3>
<p>Community health education materials will be created and presented in age appropriate teachings in the Mwen Kapab school curriculum. This has a longstanding impact, as the children in our schools are the future of this country. The immediate impact upon completion of the curriculum will be for the children at the Mission of Hope school (School of Hope) and approximately 40 other partnering schools (totaling 22,400 students). The long term impact will be immense as the curriculum continues to be taught every year and as it continues to disseminate to more and more schools in Haiti.
</p>

<p>Curriculum development will take time so in the short term as curriculum is being developed, Haitian community health nurses are teaching in the schools on a periodic basis on a host of different topics. Teachers, parents and students are taught on a variety of topics on an occasional basis.
</p>
<h3>Community</h3>
<p>Through mobile clinics, Hope Centers, and local churches, the community health program aims to go beyond Mission of Hope’s campus and reach Haitians in multiple communities.</p>
<p>The goal of the community health program is to educate Haitian communities about healthcare. Many community health sessions focus on proper hygiene methods, to help prevent the spread of sickness and disease. Doctors and nurses also teach simple home treatments for minor health issues, as well as educate the community on which symptoms require advanced medical attention.</p>
<h3>Mobile Clinics</h3>
<p>For areas that have less access to medical care and health information, mobile medical clinics are used to provide primary medical services and education. North American medical teams, accompanied by Haitian community health nurses, assist in providing medical care for these mobile clinics. While the patients wait for medical consultation, the community health nurses provide health education.

<h3>Hope Centers</h3>
<p>Hope Centers are community health posts that are located in villages surrounding Mission of Hope. Current villages include the communities of Source Matlas, St Gerard, Simonette, Titanyen and Minotrie. Community health agents, selected from the church at Mission of Hope, work out of these centers, and provide education to the people in their communities.
</p>
<p>Many people that are in Haiti are unable to travel to the Clinic of Hope due to distance, sickness, and/or finances. With our mobile teams we are taking the clinic to them, by leading teams into the mountains and remote areas.
</p>
<h3>Churches</h3>
<p>To further health education, Haitian community health nurses teach at local churches in the communities. The Church of Hope receives periodic health teachings, hosts community health seminars and is recipients of special health initiatives. Local churches also receive our community health nurses for special seminars.
</p>
<img src="/assets/contentDiv-560.png" />
<%=render '/layouts/pup'%>
	</div><!-- End Content Left -->
		<div id="contentRight300" style="margin-top: 30px;">
			<div class="rightBoxGreen">
			<h2>Learn More About<br />Mission of Hope Haiti</h2>
			<ul class="aboutUsNav">
				<li><a href="/health_care">Health Care &raquo;</a></li>
				<li><a href="/clinic">Clinic of Hope &raquo;</a></li>
				<li><a href="/clinic">Hospital of Hope &raquo;</a></li>
				<li><a href="/community_health">Community Health Initiative &raquo;</a></li>
				<li><a href="/prosthetics">Prosthetics of Hope &raquo;</a></li>
			</ul>
			</div>
			<div class="rightBoxGreen">
			<h2>By 2015</h2>
			<p>
				Providing prosthetic care to 240 people.
			</p>
			</div>
			<div class="rightBoxGreen">
			<h2>Funds Needed</h2>
			<p>
				$100,000 to provide prosthetic care to 240 more people.
			</p>
			<div class="buttonSquareOrange" style="position:absolute; bottom:-15px; right:12px; width:74px; font-size:12px;"><a href="https://www.denarionline.com/DonorServices/TemplatePage.Aspx?COMP_REF=_MOHHAITI%20&CONTENT=HOME&master=master:mohr&theme=mohr">Donate &raquo;</a></div>
			</div>
			<div class="contentRightWrapper">
			<h3><span class="eyebrow">Health Care</span><br />Photos</h3>
						<div id="divImgThumbs">
				<div id="gallery" class="ad-gallery">
					<div class="ad-image-wrapper">
						<div class="ad-image shadow"></div>
					</div><!--wrapper-->
					<div class="ad-controls"></div><!--controls-->
					<div class="ad-nav">
						<div class="ad-back"></div>
						<div class="ad-thumbs">
							&nbsp;
							<ul class="ad-thumb-list">
								<!--<p><img alt="Pastor-phil-sinks-the-boat" src="http://s3.amazonaws.com/MOH/assets/13/medium/Pastor-Phil-Sinks-the-boat.jpg?1344195200" /></p>-->
								<li >
									<a href="http://s3.amazonaws.com/MOH/assets/13/medium/Pastor-Phil-Sinks-the-boat.jpg?1344195200"><img src="http://s3.amazonaws.com/MOH/assets/13/thumb/Pastor-Phil-Sinks-the-boat.jpg?1344195200" alt="" title="" longdesc="" class="image0" style="width:65px;" /></a>
								</li>
							</ul>
						</div>
						<div class="ad-forward"></div>
					</div><!--adnav-->
				</div><!--gallery-->
		</div><!--thumbs-->
		</div>
		</div> <!-- End Content 360 -->	
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
