<div id="bgHero">
	<div id="healthCareHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content">
		<div id="heroContent">
			<div id="heroContentEducation">
				<h1 style="top:-255px;"><span class="healthCareTop">96% of haitians lack</span>
				<br>
				<span class="healthCareBottom">basic health coverage</span></h1>
				<br>
			</div>
			<div class="buttonSquareOrange" style="position:absolute; top:-100px; left:454px; width:290px"><a href="">Help bring health care to Haiti &raquo;</a></div>
		</div>
	<div id="contentLeft560">
		<h1><span class="eyebrow">Mission of Hope Haiti </span><br />Community Health</h1>
		<h3>Clinic of Hope</h3>
<p>Common illnesses that are treated at the clinic are malnutrition, malaria, anemia, gastritis, and high blood pressure to list a few. There are many that have injuries and open sores that if not treated could cost them their lives. Daily the Clinic of Hope staff members are saving lives that would have been lost without their help.
</p>

<h3>Hospital of Hope.</h3>
<p>The Hospital of Hope will be the main center of the community health program. Currently, the clinic is equipped with a video and sound system, and community health messages are being played in the waiting room. In person demonstrations and health messages are also given by community health nurses. This education currently reaches about 1,000-2,000 patients each month.
</p>

<p>Once the hospital construction is completed, patients that come to the hospital/clinic will be offered the opportunity to take part in the community health education program. The education program will consist of 6-8 modules of community health taught by Haitian community health nurses over 6 -8 weeks. The main health decision maker of the family will be encouraged to attend. As an incentive for patients to enter the program, they will be offered a “Hope Card”. This hope card will allow the patient and immediate family members to have access to the clinic/hospital for decreased fees. The Hope Card will also allow us to track the families that have been educated on their health.
</p>
<h1>Need updates to pull in</h1>
	</div><!-- End Content Left -->
		<div id="contentRight300" style="margin-top: 30px;">
			<div class="rightBoxGreen">
			<h2>Learn More About<br />Mission of Hope Haiti</h2>
			<ul class="aboutUsNav">
				<li><a href="/health_care">Health Care &raquo;</a></li>
				<li><a href="/clinic">Clinic &raquo;</a></li>
				<li><a href="/community_health">Community Health &raquo;</a></li>
				<li><a href="/prosthetics">Prosthetics &raquo;</a></li>
			</ul>
			</div>
		</div> <!-- End Content 360 -->	
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
