<div id="bgHero">
	<div id="blank">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content">
		<div id="heroContent">
			<div id="heroContentOrphan">
				<h1><span class="orpahanTop">Impacted</span>
				<br />
				<span class="orphanLarge">Communities</span>
				<br>
				<span class="orphanChildrenText">Here</span>
				<br>
				<span class="orphanParentsText">Like..</span>
				<br>
				<span class="orphanHaitiText"></span></h1>
				
			</div>
		</div>
		<div id="contentLeft560">
			<h1><span class="eyebrow">Villages Impacted by Church Advancement</h1>
				<% @villages.each do |village|%>
					<p>Village: <%=village.communityname%></p>
					<p>Population: <%=village.population%>
				<% end %>
		
		</div>

		<div id="contentRight300">
			<div class="rightBoxGreen">
			<h2>Our plans for the future</h2>
			<p>
				Increase current care being provided for 63 orphans to 150 orphans.
			</p>
			</div>
			<div class="rightBoxGreen">
			<h2>Funds Needed</h2>
			<p>
				$150,00 to expand the House of Hope.
			</p>
			</div>
			<div class="relativeWrapper">
				<div class="rightBoxGreen">
				<h2>What you can do</h2>
				<p>
					Donate to the Village of Hope.  Help us expand our village to be able to provide for 150 orphans by 2015.
				</p>
				</div>
			<div class="buttonSquareOrange" style="position:absolute; bottom:-15px; right:20px; width:150px"><a href="">Donate Today &raquo;</a></div>

			</div>
		</div>
		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
