
<div id="wrapper">
<%= render 'layouts/navBar'%>
<div style="padding:50px 0px 0px 10px;">
<h1 style="font-size:1.5em;">Admin Console</h1>
<div>Click a link to add, edit or delete items.
	<div style="line-height:18px;width:250px;padding-top:10px;">
		<h2 style="width:250px;border-bottom:solid 2px #58534A;padding-bottom:3px;">EXPERIENCES</h2>
	<p style="padding-top:3px;"><a href="/experiences/new/">Add an Experience</a>
	<p><a href="/experiences/">All Experiences</a></p>
	</div>
	<div style="line-height:18px;width:250px;padding-top:10px;">
		<h2 style="width:250px;border-bottom:solid 2px #58534A;padding-bottom:3px;">POSTS</h2>
	<p style="padding-top:3px;"><a href="/posts/new/">Add a Post</a>
	<p><a href="/posts/">All Posts</a></p>
	</div>
	<div style="line-height:18px;width:250px;padding-top:10px;">
		<h2 style="width:250px;border-bottom:solid 2px #58534A;padding-bottom:3px;">NEWS</h2>
	<p style="padding-top:3px;"><a href="/news/new/">Add News</a>
	<p><a href="/news/">All News</a></p>
	</div>
	<div style="line-height:18px;width:250px;padding-top:10px;">
		<h2 style="width:250px;border-bottom:solid 2px #58534A;padding-bottom:3px;">PROJECTS</h2>
	<p style="padding-top:3px;"><a href="/projects/new/">Add a Project</a>
	<p><a href="/projects/">All Projects</a></p>
	</div>
	<div style="line-height:18px;width:250px;padding-top:10px;">
		<h2 style="width:250px;border-bottom:solid 2px #58534A;padding-bottom:3px;">UPDATES</h2>
	<p style="padding-top:3px;"><a href="/updates/new/">Add an Update</a>
	<p><a href="/updates/">All Updates</a></p>
	</div>
	<div style="line-height:18px;width:250px;padding-top:10px;">
		<h2 style="width:250px;border-bottom:solid 2px #58534A;padding-bottom:3px;">USERS</h2>
	<p style="padding-top:3px;"><a href="/users/new/">Add a User</a>
	<p><a href="/users/">All Users</a></p>
	</div>
	<div style="line-height:18px;width:250px;padding-top:10px;">
		<h2 style="width:250px;border-bottom:solid 2px #58534A;padding-bottom:3px;">VILLAGES</h2>
	<p style="padding-top:3px;"><a href="/communities/new/">Add a Village</a>
	<p><a href="/communities/">All Villages</a></p>
	</div>
	<div style="line-height:18px;width:250px;padding-top:10px;">
		<h2 style="width:250px;border-bottom:solid 2px #58534A;padding-bottom:3px;">CATEGORIES</h2>
	<p style="padding-top:3px;"><a href="/categories/new/">Add a Category</a>
	<p><a href="/categories/">All Categories</a></p>
	</div>
</div>
</div>

	<div class="clearfix" style="height:40px;"><!--x--></div>

<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
-->