<% content_for(:head) do %>
	<%= javascript_include_tag :validate_volunteer %>
<% end %>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top: 50px;">
		<div id="heroContent">
			<div id="heroContentOrphan">
				
			</div>
		</div>
		<%unless @isvalid.nil?%>
			<div style="padding-bottom:20px;"><h3>Thank you! Your message has been sent. We will be in touch with you shortly. </h3></div>
		<%end%>
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope</span><br />Contact Us</h1>
<p>If you would like to contact us by mail, phone, or fax, please use the information below to get in touch with us.</p> 
		
		<div class="alignLeft" style="margin-right:160px;">
		<h3>U.S. Office Headquarters</h3>
		<p >1907 Cypress Creek Rd<br />
STE 106<br />
		Cedar Park, TX 78613<br /><br />
		<strong>Phone:</strong> 239-791-8125 <br />
		<!--<strong>Fax:</strong> 239.791.8133<br />-->
		<strong>Email:</strong> info@mohhaiti.org</p>
</div>
<div class="alignLeft">
		<h3>Haiti Office</h3>
		<p>777 Route Nationale #1<br />
		Titanyen, Haiti<br /><br />
		<strong>Phone:</strong> 011-509-3702-2989
		</p>
		</div>
		<div class="clear">&nbsp;</div>
		<img src="/assets/contentDiv-560.png" />
		<div class="forms">
			<h2>Email Us</h2>
			<% if @isvalid.nil?%>
		<strong>*All fields required</strong>
				<form>
					<div class="field">Your Name: 			<input type="text" id="txtname" name="name"><br></div>
					<div class="field">Your Email: 			<input type="text" id="txtemail" name="email"></div>
					<div class="field">Your Phone number: 	<input type="text" id="txtphone" name="phonenumber"><br></div>
					<div class="field">Topic: 
						<select name="topics">
							<option value="website">Website</option>
							<option value="churchpartner">Church Partnerships</option>
							<option value="childsponsor">Child Sponsorships</option>
							<option value="missiontrip">Mission Trips</option>
							<option value="partnership">Partnerships</option>
							<option value="marketing">Marketing</option>
							<option value="account">Your MOH Account</option>
							<option value="other">Other</option>
						</select>
					</div>
					<div class="field">Question or Comment: <textarea type="textarea" id="txtmessage" name="letter"></textarea></div>
					 <div class="actions"><input type="submit" value="Submit" onclick="return validate();"></div>
				</form>	
			<%end%>
			</div>
		</div>

		<div id="contentRight300">
			<%= render 'layouts/aboutNav'%>
		</div>
		
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
