<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top: 50px;">
		<div id="heroContent">
			<div id="heroContentOrphan">
				
			</div>
		</div>
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope</span><br />Contact Us</h1>
<p>If you would like to contact us by mail, phone, or fax, please use the information below to get in touch with us.</p> 
		<p>
		<h3>U.S. OFFICE</h3>
		P. O. Box 60004<br />
		Fort Myers, FL 33906<br />
		Phone: 239.791.8125<br />
		Fax: 239.791.8133<br />
		Email: info@mohhaiti.org
</p>
<p>
		<h3>HAITI OFFICE</h3>
		777 Route Nationale #1<br />
		Titanyen, Haiti<br />
		Phone: (509) 2.513.4909<br />
		</p>
		
		<h2>Contact form</h2>
		<div class="forms">
				<form>
					<div class="field">Name: <input type="text" name="name"><br></div>
					<div class="field">Email: <input type="text" name="email"></div>
					<div class="field">Phone number: <input type="text" name="phonenumber"><br></div>
					<div class="field">Topic: 
						<select name="topics">
							<option value="website">Website</option>
							<option value="churchpartner">Church Partnerships</option>
							<option value="childsponsor">Child Sponsorships</option>
							<option value="missiontrip">Mission Trips</option>
							<option value="partnership">Partnerships</option>
							<option value="marketing">Marketing</option>
							<option value="account">Your MOH Account</option>
							<option value="other">Other</option>
						</select>
					</div>
					<div class="field">Your letter: <textarea type="textarea" name="letter"></textarea></div>
					 <div class="actions"><input type="submit" value="Submit"></div>
				</form>		
			</div>
		</div>

		<div id="contentRight300">
			<div class="rightBoxGreen">
			<h2>Learn More About<br />Mission of Hope Haiti</h2>
			<ul class="aboutUsNav">
				<li><a href="/about_us">Our Story &amp; Beliefs &raquo;</a></li>
				<li><a href="/meet_our_staff">Meet Our Staff &raquo;</a></li>
				<li><a href="/vision_mission_resolution">Vision | Mission | Resolution &raquo;</a></li>
				<li><a href="/intern">Intern with MOH &raquo;</a></li>
				<li><a href="/financial_info">Financial Information &raquo;</a></li>
				<li><a href="/press">Press &raquo;</a></li>
				<li><a href="/join_our_team">Join Our Team &raquo;</a></li>
				<li><a href="/about_haiti">About Haiti &raquo;</a></li>
				<li><a href="/faq">FAQs &raquo;</a></li>
				<li><a href="/contact_us">Contact Us &raquo;</a></li>
			</ul>
			</div>
		</div>
		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
