<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti</span>
			<br />
			Giving Status</h1>
		
			<p>Online giving is temporarily unavailable. We're making enhancements to our system to provide better, more personalized service to you. If you would like to make a gift please call our offices at 512-256-0835 or email <a href="mailto:info@mohhaiti.org">info@mohhaiti.org</a> for assistance!</p>
			
		</div>

		<div id="contentRight300">
			<div class="rightBoxGreen">
			<h2>In the Meantime</h2>
			<ul class="aboutUsNav">
				<li><a href="/blog">Read Our Blog &raquo;</a></li>
				<li><a href="/projects">See Our Projects &raquo;</a></li>
				<li><a href="/volunteer">Volunteer &raquo;</a></li>
				<li><a href="/share_photos">Share Your Photos &raquo;</a></li>
				<li><a href="/events">Events &raquo;</a></li>
				<li><a href="/downloads">Downloads &raquo;</a></li>
			</ul>
			</div>
		</div>
		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
