<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti</span>
			<br />
			Downloads</h1>
		
			
			
		</div>

		<div id="contentRight300">
			<div class="rightBoxGreen">
			<h2>How You Can Take Action</h2>
			<ul class="aboutUsNav">
				<li><a href="https://www.denarionline.com/DonorServices/TEMPLATEPAGE.ASPX?COMP_REF=_MOHHAITI&CONTENT=LOGIN">Make a Donation &raquo;</a></li>
				<li><a href="https://www.denarionline.com/DonorServices/TEMPLATEPAGE.ASPX?COMP_REF=_MOHHAITI&CONTENT=LOGIN">Become a Partner of Hope &raquo;</a></li>
				<li><a href="/volunteer">Volunteer &raquo;</a></li>
				<li><a href="/share_photos">Share Your Photos &raquo;</a></li>
				<li><a href="/events">Events &raquo;</a></li>
				<li><a href="/downloads">Downloads &raquo;</a></li>
			</ul>
			</div>
		</div>
		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
