<div id="bgHero">
	<div id="educationHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<div id="heroContentEducation">
				<h1 style="color:white;"><span class="topEducation">40% of haitian children</span>
				<br /><br />
				<span class="middleEducation">Will never</span>
				<br>
				<span class="bottomEducation">Go to school</span></h1>
				<br>
			</div>
			<div class="buttonSquareOrange" style="position:absolute; top:-56px; left:135px; width:280px"><a href="">Donate to the school of hope &raquo;</a></div>
			<!-- <div class="educationORButton" style="position:absolute; top:-49px; left:453px;">OR</div>
			<div class="buttonSquareOrange" style="position:absolute; top:-56px; left:498px; width:220px"><a href="">Sponsor a child &raquo;</a></div> -->
		</div>
		<h1 class="subEducation"><span class="">Work with us to change this</span></h1>
<div id="contentLeft560">
			<h1><span class="eyebrow">The Need for</span>
			<br />
			Education in Haiti</h1>
		<!-- 	There was code here that broke the entire page for posts and updates -->
			<p>
				<img src="/assets/educationInfographic.png" />
			</p>
			<p>
				For every 100 children in Haiti, 40 will never go to school. Of the 60 children who do, 42 will complete primary school, 20 will attend secondary school programs, and only 5 students will go on to graduate from high school. We’re working to change that! Quality education is vital in our effort to improve the economic structure of Haiti.
			</p>
			<h2>What We’re doing now</h2>
			<p>
				The School of Hope has approximately 3,000 students enrolled per school year in Kindergarten through High School.  Mission of Hope has emerged in the top 5% of schools in the country, witnessing a 100% passing rate on the government exams for the academic year 2010 – 2011.
			</p>
			<div id="statsWrapper">
				<div class="statsBoxWide"><span class="statsNumber" style="font-size:1.7em;">3,000+ students</span><br />educated daily</div>
				<div class="statsBoxWide last"><span class="statsNumber">3 locations</span><br />for educating children</div>
				<div class="clear"><!--x--></div>
				<div class="statsBoxWide"><span class="statsNumber">100%</span><br />passing rate on government exams</div>
				<div class="statsBoxWide last"><span class="statsNumber">30,600,000</span><br />meals served in the past 2 years</div>
			<div class="clearfix"><!--x--></div>
			</div>
			<h2>Our Vision for 2015</h2>
			<h4>School of Hope</h4>
			<p>
				Our goal is to continue expanding opportunities to the 40% of children who lack the opportunity to receive an education. MOH will also work to train and empower local teachers within the Network of Hope with materials, updated curriculum and teaching seminars promoting best practices. Ultimately we hope to reach a network of over 100 schools and 20,000 students by 2015.
<br><a href="/school_of_hope"> Learn more about School of Hope &raquo;</a>
			</p>
			<h4>Mwen Kapab</h4>
<p>We are working to write a Christ-centered curriculum with American and Haitian educators that can be used in every school throughout Haiti. This curriculum, known as “Mwen Kapab” or “I can” in English.
<br><a href="/mwen_kapab">Learn more about Mwen Kapab &raquo;</a></p>
<img src="/assets/contentDiv.png" alt="" height="4px" width="568px" style="margin-bottom: 20px; margin-top: 40px;" >
				
<%= render '/layouts/pup'%>
	

			
		</div>

		<div id="contentRight300">
			<div class="rightBoxGreen">
			<h2>Our plans for the future</h2>
			<p>
				<strong>School of Hope:</strong> Ultimately reaching a network of over 100 schools and 20,000 students by 2015.<br><br>
				<strong>Mwen Kapab:</strong> Provide 100,000 students with our Mwen Kapab Christ-centered curriculum. 
			</p>
			</div>
			<div class="rightBoxGreen">
			<h2>Funds Needed</h2>
			<p>
				$8,743,000 to welcome new children into our school and provide 100,000 students with Mwen Kapab curriculum. 
			</p>
			</div>
			<div class="relativeWrapper">
				<div class="rightBoxGreen">
				<h2>What you can do</h2>
				<p>
				Donate to the School of Hope. Your donation will help us open our doors to more children.  
				</p>
				</div>
				<div class="buttonSquareOrange" style="position:absolute; bottom:-15px; right:125px; width:144px; font-size:12px;"><a href="/child-sponsorship">Sponsor A Student &raquo;</a></div>
			<div class="buttonSquareOrange" style="position:absolute; bottom:-15px; right:12px; width:74px; font-size:12px;"><a href="https://www.denarionline.com/DonorServices/TemplatePage.Aspx?COMP_REF=_MOHHAITI%20&CONTENT=HOME&master=master:mohr&theme=mohr">Donate &raquo;</a></div>

			</div>
		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
