<div id="bgHero">
	<div id="heroFinancials">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			 
				<h1 style="top:-380px; width:650px; font-size:3em;">All resources and talents will be used to their fullest potential for God's glory.</h1>
			
		</div>
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti </span>
			<br />
			Financial Information</h1>
			<p>
				The Vision of MOH is clear: "As an organization following Jesus Christ, Mission of Hope exists to bring life transformation to every man, woman, and child in Haiti.
				We desire to serve the nation of Haiti, and see lives changed." As we seek to fulfill our Vision in every endeavor we undertake, we have as one of our Core Resolutions
				"Excellent Implementation," meaning that all resources and talents will be used responsibly to their fullest potential for God's glory, maximizing and distributing
				them to where they are most needed. This idea of good stewardship means that over 90% of all gifts that came into Mission of Hope in 2012 went directly to Haiti,
				to bring about that life transformation for every man, woman, and child. All of our programs are carefully and consistently monitored to ensure maximum impact for
				the people of Haiti. We are thankful for every person who entrusts their resources to Mission of Hope to steward best to advance God's Kingdom in Haiti.
			</p>
			<h2>2010 Audit</h2>
			<h3>2010 Program Expenses<br >Excluding Gifts-in-Kind Expenses</h3>
			<img src="/assets/pie-chart-financials-programs-2010.png">
				<div class="chart">
					<span class="chartLabelHeader">Programs</span>
					<span class="chartLabel">Education</span>
					<span class="chartData">$1,070,522</span>
					
					<span class="chartLabel">Food Distribution</span>
					<span class="chartData">$618,900 </span>
					
					<span class="chartLabel">Mission Trips</span>
					<span class="chartData">$569,689</span>
					
					<span class="chartLabel">Health Care</span>
					<span class="chartData">$481,875 </span>
					
					<span class="chartLabel">Orphan Care</span>
					<span class="chartData">$197,369 </span>
					
					<span class="chartLabel">Church</span>
					<span class="chartData">$140,891 </span>
					
					<span class="chartLabel">Gifts-in-Kind</span>
					<span class="chartData">$18,084,084 </span>
					
					<span class="chartLabelHeader">General and Administrative</span>
					<span class="chartData">$473,291 </span>
					
					<span class="chartLabelHeader">Fundraising</span>
					<span class="chartData">$230,515</span>
					
					<span class="chartLabelHeader" style="color:#0f483b"><strong>Total Expenses</strong></span>
					<span class="chartData" style="color:#0f483b"><strong>$21,867,136 </strong></span>
				</div>
			<div class="clearfix"></div>
			<div class="contentDiv" style="padding:30px 0;"></div>
			<h3 style="padding-top:60px;">2010 Functional Expenses</h3>
			<img src="/assets/pie-chart-financials-expenses-2010.png">
				<div class="chart">
					<span class="chartLabelHeader">Functional Expenses</span>
					<span class="chartLabel">Program</span>
					<span class="chartData">$21,163,330 </span>
					
					<span class="chartLabel">Administrative</span>
					<span class="chartData">$473,291</span>
					
					<span class="chartLabel">Fundraising</span>
					<span class="chartData">$230,515</span>	
				</div>	
		</div>

		<div id="contentRight300">
			<%= render 'layouts/aboutNav'%>
		</div>

		<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
	</div>
