<div id="bgHero">
	<div id="heroFinancials">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			 
				<h1 style="top:-380px; width:650px; font-size:2.5em;"><span style="font-size:1.75em;">Our Financials:</span><br />
					Read on to learn how MOH is using the funds we receive to transform lives</h1>
			
		</div>
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope, Haiti </span>
			<br />
			Financial Information</h1>
			<p>
				The Vision of MOH is clear: <em>"As an organization following Jesus Christ, Mission of Hope exists to bring life transformation to every man, woman, and child in Haiti.
				We desire to serve the nation of Haiti, and see lives changed."</em> As we seek to fulfill our Vision in every endeavor we undertake, we have as one of our Core Resolutions
				"Excellent Implementation," meaning that all resources and talents will be used responsibly to their fullest potential for God's glory, maximizing and distributing
				them to where they are most needed. This idea of good stewardship means that over 90% of all gifts that came into Mission of Hope in 2012 went directly to Haiti,
				to bring about that life transformation for every man, woman, and child. All of our programs are carefully and consistently monitored to ensure maximum impact for
				the people of Haiti. We are thankful for every person who entrusts their resources to Mission of Hope to steward best to advance God's Kingdom in Haiti.
			</p>
			<h2>Financial Statement</h2>
 
<p>All charitable donations are tax deductible, in full or part. Mission Trip payments are NOT tax deductible as a charitable donation, because we offer refunds to team members that are 
	not able to make the trip. The Board of Mission of Hope has implemented the policy that all donations for a specific project will be used specifically for that project, 
	with a maximum of 10% being used for administrative and fundraising expenses. When there are excess funds designated for a specific project, those funds will be allocated to a 
	similar project that continues to further the Vision of Mission of Hope.</p>
			<h2>Coming Soon - 2012 Audit</h2>
					</div>

		<div id="contentRight300">
			<%= render 'layouts/aboutNav'%>
		</div>

		<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
	</div>
