<div id="wrapper">
	<%= render 'layouts/navBar'%>
<div id="content" style="padding-top: 50px;">
<div id="contentLeft560">
	<h1><span class="eyebrow">Mission of Hope</span>
			<br />
			Gift store</h1>

<p>Thanks for your desire to bless your sponsored student with a gift from our store. If you purchase a gift today for your sponsored student, the gift will be delivered this fall when the students return for the 2012-2013 School Year.
</p>

Below is a selection of gifts* that we encourage sponsors to select from. These gifts are actually purchased in Haiti by our staff, and are then given to the students.
</p>

Please follow these steps to make a gift purchase:
</p>
<ul>
	<li>Click on the "Give Gift" button.</li>
	<li>Fill out the donation form with the appropriate donation amount to cover the cost of the desired gifts.</li>
	<li>In the "Notes" section of the donation form, please be sure to state the specific gifts you are purchasing, and include the name and sponsorship number of your sponsored student.</li>
</ul>

</div>
<div id="contentRight300">
	<div class="rightBoxGreen">
			<h2>Learn More About<br />Child Sponsorship</h2>
			<ul class="aboutUsNav">
				<li><a href="/learn_sponsor">Learn about child sponsorship &raquo;</a></li>
				<li><a href="/sponsor_faq">Sponsorship FAQs &raquo;</a></li>
				<li><a href="/gift_store">Gift Store &raquo;</a></li>
				<li><a href="/write_to_child">Write your child &raquo;</a></li>
				</ul>
			</div>
			</div>
			<div class="clearfix">
				<!--x-->

			</div>
	<div class="clearfix" style="height:40px;"><!--x--></div>
	</div>