<div id="wrapper">
	<%= render 'layouts/navBar'%>
<div id="content" style="padding-top: 50px;">
<div id="contentLeft560">
	<h1><span class="eyebrow">Mission of Hope</span>
			<br />
			Gift store</h1>

<h1>Sooo... -Robert</h1>

</div>
<div id="contentRight300">
			<h2>Learn More About<br />Child Sponsorship</h2>
			<ul style="margin-top: -13px;">
				<li><a href="/learn_sponsor">Learn about child sponsorship &raquo;</a></li>
				<li><a href="/sponsor_faq">Sponsorship FAQs &raquo;</a></li>
				<li><a href="/gift_store">Gift Store &raquo;</a></li>
				<li><a href="/write_to_child">Write your child &raquo;</a></li>
			</div>
			<div class="clearfix">
				<!--x-->

			</div>
	<div class="clearfix" style="height:40px;"><!--x--></div>
	</div>