<div id="wrapper">
	<%= render 'layouts/navBar'%>
<div id="content" style="padding-top: 50px;">
<div id="contentLeft560">
	<h1><span class="eyebrow">Student Sponsorship</span>
			<br />
			Gift Store</h1>

<p>Thanks for your desire to bless your sponsored student with a gift from our store. If you purchase a gift today for your sponsored student, the gift will be delivered this fall when the students return for the 2012-2013 School Year.
</p>

<p>Below is a selection of gifts* that we encourage sponsors to select from. These gifts are actually purchased in Haiti by our staff, and are then given to the students.
</p>

<h4>Please follow these steps to make a gift purchase:
</h4>
<ul>
	<li>Click on the "Give Gift" button.</li>
	<li>Fill out the donation form with the appropriate donation amount to cover the cost of the desired gifts.</li>
	<li>In the "Notes" section of the donation form, please be sure to state the specific gifts you are purchasing, and include the name and sponsorship number of your sponsored student.</li>
</ul>
<div class="buttonSquareOrange" style="width:100px"><a href="https://www.denarionline.com/DonorServices/TEMPLATEPAGE.ASPX?COMP_REF=_MOHHAITI%20&CONTENT=GOSOLG&DS_GO_REF=E8E27E239D">Give a gift &raquo;</a></div>
<div class="giftWrapper">
			<div class="gift">
					<img src="/assets/store/Puzzle.jpg" alt="Puzzle" /></a>
					<h4><a href="">Puzzle: $15 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/Puzzle.jpg" alt="Puzzle" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/Colored_pencils.jpg" alt="Colored Pencils" /></a>
					<h4><a href="">Colored Pencils: $10 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/Colored_pencils.jpg" alt="Puzzle" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/Modeling_dough.jpg" alt="Modeling Dough" /></a>
					<h4><a href="">Modeling Dough: $15 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/Modeling_dough.jpg" alt="Modeling Dough" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/Sand_toys.jpg" alt="Sand Toys" /></a>
					<h4><a href="">Sand Toys: $5 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/Sand_toys.jpg" alt="Sand Toys" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/Toy_cars.jpg" alt="Toy Cars" /></a>
					<h4><a href="">Toy Cars: $10 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/Toy_cars.jpg" alt="Toy Cars" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/Soccer_ball.jpg" alt="Soccer Ball" /></a>
					<h4><a href="">Soccer Ball: $16 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/Soccer_ball.jpg" alt="Soccer Ball" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/Teddy_bear.jpg" alt="Teddy Bear" /></a>
					<h4><a href="">Teddy Bear: $18 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/Teddy_bear.jpg" alt="Teddy Bear" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/Girls_purse.jpg" alt="Child's Purse" /></a>
					<h4><a href="">Child's Purse: $7 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/Girls_purse.jpg" alt="Child's Purse" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/Hair.jpg" alt="Hair Accessories" /></a>
					<h4><a href="">Hair Accessories: $5 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/Hair.jpg" alt="Hair Accessories" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/Girls_doll.jpg" alt="Girl's Doll" /></a>
					<h4><a href="">Girl's Doll: $15 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/Girls_doll.jpg" alt="Girl's Doll" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/alarm_clock.jpg" alt="Alarm Clock" /></a>
					<h4><a href="">Alarm Clock: $7 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/alarm_clock.jpg" alt="Alarm Clock" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/basketball.jpg" alt="Basketball" /></a>
					<h4><a href="">Basketball: $13 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/basketball.jpg" alt="Basketball" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/Photo_Album.jpg" alt="Photo Album" /></a>
					<h4><a href="">Photo Album: $15 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/Photo_Album.jpg" alt="Photo Album" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/Photo_Frame.jpg" alt="Photo Frame" /></a>
					<h4><a href="">Photo Frame: $7 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/Photo_Frame.jpg" alt="Photo Frame" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/backpack.jpg" alt="Large Backpack" /></a>
					<h4><a href="">Large Backpack: $22 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/backpack.jpg" alt="Large Backpack" />
						<p>Image by Flickr user slgckgc, used under a Creative Commons license.</p>

					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/small_backpack.jpg" alt="Small Backpack" /></a>
					<h4><a href="">Small Backpack: $15 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/small_backpack.jpg" alt="Small Backpack" />
						<p>Image by Flickr user neural squirrel, used under a Creative Commons license.</p>
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/lunchbox.jpg" alt="Lunch Box" /></a>
					<h4><a href="">Lunch Box: $6 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/lunchbox.jpg" alt="Lunch Box" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/notebook.jpg" alt="Notebook" /></a>
					<h4><a href="">Notebook: $5 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/notebook.jpg" alt="Notebook" />
						<p>Image by Flickr user koalazymonkey, used under a Creative Commons license.</p>
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/geometric_tools.jpg" alt="Geometric Tools" /></a>
					<h4><a href="">Geometric Tools: $4 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/geometric_tools.jpg" alt="Geometric Tools" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/calculator.jpg" alt="Calculator" /></a>
					<h4><a href="">Calculator: $16 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/calculator.jpg" alt="Calculator" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/writing_slate.jpg" alt="Writing Slate" /></a>
					<h4><a href="">Writing Slate: $9 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/writing_slate.jpg" alt="Writing Slate" />
						<p>Image by Flickr user pranav, used under a Creative Commons license.</p>
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/markers.jpg" alt="Markers" /></a>
					<h4><a href="">Markers: $3 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/markers.jpg" alt="Markers" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/highlighters.jpg" alt="Highlighters" /></a>
					<h4><a href="">Highlighters: $3 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/highlighters.jpg" alt="Highlighters" />
						<p>Image by Flickr user a.drian, used under a Creative Commons license.</p>
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/file_folders.jpg" alt="File Folders" /></a>
					<h4><a href="">File Folders: $19 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/file_folders.jpg" alt="File Folders" />
						<p>Image by Flickr user quinn.anya, used under a Creative Commons license.</p>
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/books-1.jpg" alt="Children's Book" /></a>
					<h4><a href="">Children's Book: $13 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/books-1.jpg" alt="Children's Book" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/Puzzle.jpg" alt="Stickers" /></a>
					<h4><a href="">Stickers: $5 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/Puzzle.jpg" alt="Stickers" />
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/water_bottle.jpg" alt="Puzzle" /></a>
					<h4><a href="">Water Bottle: $11 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/water_bottle.jpg" alt="Puzzle" />
						<p>Image by Flickr stevendepolo, used under a Creative Commons license.</p>
					</div>
					</h4>

				</div>
				
				<div class="gift">
					<img src="/assets/store/watch.jpg" alt="Watch" /></a>
					<h4><a href="">Watch: $19 </a>
					<div class="giftLarge">
						<img src="/assets/store/large/watch.jpg" alt="Watch" />
					</div>
					</h4>

				</div>
				
				

</div>
</div>
<div id="contentRight300">
<%= render"/layouts/childSponsorNav"%>
			</div>
			<div class="clearfix">
				<!--x-->

			</div>
	<div class="clearfix" style="height:40px;"><!--x--></div>
	</div>