<div id="bgHero">
	<div id="healthCareHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content">
		<div id="heroContent">
			<div id="heroContentEducation">
				<h1 style="top:-255px;"><span class="healthCareTop">96% of haitians lack</span>
				<br>
				<span class="healthCareBottom">basic health coverage</span></h1>
				<br>
			</div>
			<div class="buttonSquareOrange" style="position:absolute; top:-100px; left:454px; width:290px"><a href="http://mohh.convio.net/site/Donation2?df_id=1600&1600.donation=form1">Help bring health care to Haiti &raquo;</a></div>
		</div>
		<div class="singleCol">
			<h1><span class="eyebrow">The Need for</span>
			<br />
			<span style="font-size: 40px">Health Care in Haiti</span></h1>

			<p>
				<img src="/assets/healthcareInfographic.png" alt="Health Care in Haiti Infographic" />
			</p>
			<h2>What We're Doing Now</h2>
			<p>
				The Clinic of Hope currently consists of a fully operational outpatient clinic, mobile clinic, prosthetics lab, and a community health program, and is amidst an expansion into a hospital focused on emergency care and maternal health. Our desire is to minister through patient education and the relief of suffering to as many patients as possible. Our mission is to fight the health risks Haitians face by serving through local churches and schools with on-going mobile clinics and community health initiatives, as we leverage these services to expand our Gospel impact in these communities.
			</p>
			<div id="statsWrapper">
				<div class="statsBox"><span class="statsNumber" style="font-size:1.5em;">44,000 patients </span><br />seen at Clinic of Hope and 
mobile clinics</div>
				<div class="statsBox"><span class="statsNumber" style="font-size:1.77em;">10,000 Haitians</span><br /><span style="font-size:12px;">educated through community
health programs</span></div>
				<div class="statsBox"><span class="statsNumber">6,860 People</span><br />given vaccinations</div>
				<div class="statsBox last"><span class="statsNumber" style="font-size:1.77em;">17,000 Haitian</span><br />urgent care<br />patients treated</div>
			<div class="clearfix"><!--x--></div>
			</div>
		</div>
	<div id="contentLeft560">
	<h2>What We are Doing to Improve Health Care in Haiti</h2>
		<h3>Community Health Initiative (CHI)</h3>
<p><strong>What We’re Doing Now:</strong><br />The goal of the community health program is to expand patient education and enable communities to live healthier, fuller lives.
</p>
<p><strong>By 2015:</strong><br />
Our plan is to reach out to over 500,000 Haitians through the Network of Hope and HaitiOne by training community health partners, increase sanitation standards, and continuing monthly mobile medical clinics.
</p>

<p><strong>The Need:</strong><br /> $375,000 for the Community Health Initiative: training 500,000 Haitian community health partners, building latrines, mobile clinics.
</p>
<p><a href="/community_health">Learn more &raquo;</a></p>

<h3>Clinic of Hope</h3>
<p><strong>What We're Doing Now:</strong><br /> At the Clinic of Hope on our Main Campus, we typically treat between 70-100 people each day. Daily, our medical team of Haitian doctors, pharmacists, lab techs, and nurses are there to serve the people of Haiti with urgent needs. We are also able to provide quality medical and dental care to many unreached communities through our mobile clinics. The clinic is equipped with a pharmacy, lab, dentist facility, urgent care center, and a procedure room.
</p>
<!-- <p><strong>By 2015 {stats}:</strong><br />2 new clinics in the Lascahobas & Bercy to meet needs of 7,200 Haitians
</p> -->
<p><a href="/clinic">Learn more &raquo;</a></p>

<h3>Hospital of Hope Expansion</h3>
<p><strong>What We're Doing Now:</strong><br />We are currently in the processes of building the Hospital of Hope which will expand our capacity to treat emergencies, provide operations, and meet female health needs. This expansion will include the opening of two operating suites, an eye clinic, labor and delivery rooms, and an emergency care facility.
</p>
<p><strong>By 2015:</strong><br /> Have a fully operating Hospital to treat emergencies & provide surgeries. 1 new hospital at the Main Campus to treat emergencies & surgeries. 
</p>
<p><strong>The Need:</strong><br /> $480,000 for Hospital of Hope Operation Costs.
</p>
<p><a href="http://mohh.convio.net/site/Donation2?df_id=1600&1600.donation=form1">Donate to the hospital expansion &raquo;</a></p>

<h3>Prosthetics of Hope</h3>
<p><strong>What We're Doing Now:</strong><br /> From its inception just after the earthquake, Prosthetics of Hope has been making limbs and giving Hope to those that are in need. Another 240 individuals will need the healing hands of a prosthetis, and MOH is committed to maintaining care for the 150+ served prosthetic patients and many more amputees in need.
</p>
<p><strong>By 2015:</strong><br /> Providing prosthetic care to 240 people.
</p>
<p><strong>The Need:</strong><br /> $100,000 to provide prosthetic care to 240 more people.
</p>
<p><a href="/prosthetics">Learn more &raquo;</a></p>
<img src="/assets/contentDiv-560.png" />

<%=render '/layouts/pup'%>
	</div><!-- End Content Left -->
		<div id="contentRight300" style="margin-top: 30px;">
				<%= render '/layouts/healthCareNav'%>
			<div class="rightBoxGreen">
			<h2>By 2015</h2>
			<p>
				Our plan is to reach out to over 500,000 Haitians through the Network of Hope and HaitiOne by training community health partners, increase sanitation standards, and continuing monthly mobile medical clinics.
			</p>
			</div>
			<div class="rightBoxGreen">
			<h2>Funds Needed</h2>
			<p>
				$375,000 for the Community Health Initiative: training 500,000 Haitian community health partners, building latrines, mobile clinics.
			</p>
			<div class="buttonSquareOrange" style="position:absolute; bottom:-15px; right:12px; width:74px; font-size:12px;"><a href="http://mohh.convio.net/site/Donation2?df_id=1600&1600.donation=form1">Donate &raquo;</a></div>
			</div>
		</div> <!-- End Content 360 -->
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
