<div id="bgHero">
	<div id="healthCareHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content">
		<div id="heroContent">
			<div id="heroContentEducation">
				<h1 style="top:-255px;"><span class="healthCareTop">96% of haitians lack</span>
				<br>
				<span class="healthCareBottom">basic health coverage</span></h1>
				<br>
			</div>
			<div class="buttonSquareOrange" style="position:absolute; top:-100px; left:454px; width:290px"><a href="">Help bring health care to Haiti &raquo;</a></div>
		</div>
		<div class="singleCol">
			<h1><span class="eyebrow">The Need for</span>
			<br />
			<span style="font-size: 40px">Health Care in Haiti</span></h1>
		<!-- 	There was code here that broke the entire page for posts and updates -->
		<!-- What was it? -->
			<p>
				<img src="/assets/healthcareInfographic.png" alt="Health Care in Haiti Infographic" />
			</p>
			<h2>What We’re doing now</h2>
			<p>
				The Clinic of Hope currently consists of a fully operational outpatient clinic, mobile clinic, prosthetics lab, and a community health program. Our desire is to minister through medicine to as many people as we can. Our vision is to fight the health risks Haitians face through local churches and schools with on-going mobile clinics and community health initiatives. 
			</p>
			<div id="statsWrapper">
				<div class="statsBox"><span class="statsNumber" style="font-size:1.77em;">44,000 patients </span><br />seen at Clinic of Hope and 
mobile clinics</div>
				<div class="statsBox"><span class="statsNumber" style="font-size:1.77em;">10,000 Haitians</span><br />educated through community
health programs</div>
				<div class="statsBox"><span class="statsNumber">6,860 People</span><br />given vaccinations</div>
				<div class="statsBox last"><span class="statsNumber" style="font-size:1.77em;">17,000 Haitian</span><br />emergency patients treated</div>
				<div class="clearfix"><!--x--></div>
				<div class="statsBox"><span class="statsNumber" style="font-size:1.77em;">44,000 patients </span><br />seen at Clinic of Hope and 
mobile clinics</div>
				<div class="statsBox"><span class="statsNumber" style="font-size:1.77em;">10,000 Haitians</span><br />educated through community
health programs</div>
				<div class="statsBox"><span class="statsNumber">6,860 People</span><br />given vaccinations</div>
				<div class="statsBox last"><span class="statsNumber" style="font-size:1.77em;">17,000 Haitians</span><br />emergency patients treated</div>
			<div class="clearfix"><!--x--></div>
			</div>
		</div>
	<div id="contentLeft560">
	<h1><span class="eyebrow">Community Health Initiative (CHI)</span>
			<br />
		<span style="font-size: 40px">What We’re Doing Now</span></h1>
<p>The goal of the community health program is to educate Haitian communities about healthcare. Many community health sessions focus on proper hygiene methods, to help prevent the spread of sickness and disease. Doctors and nurses also teach simple home treatments for minor health issues, as well as educate the community on which symptoms require advanced medical attention.
</p>
<%=render '/layouts/pup'%>
	</div><!-- End Content Left -->
		<div id="contentRight300">
			<div class="rightBoxGreen">
			<h2>By 2015</h2>
			<p>
				Our plan is to reach out to over 500,000 Haitians through the Network of Hope and HaitiOne by training community health partners, increase sanitation standards, and continuing monthly mobile medical clinics.
			</p>
			</div>
			<div class="rightBoxGreen">
			<h2>Funds Needed</h2>
			<p>
				$375,000 for the Community Health Initiative: training 500,000 Haitian community health partners, building latrines, mobile clinics.
			</p>
			</div>
			<div class="contentRightWrapper">
			<h3><span class="eyebrow">Learn More About</span><br />Our Reach</h3>
						<div id="divImgThumbs">
				<div id="gallery" class="ad-gallery">
					<div class="ad-image-wrapper">
						<div class="ad-image shadow"></div>
					</div><!--wrapper-->
					<div class="ad-controls"></div><!--controls-->
					<div class="ad-nav">
						<div class="ad-back"></div>
						<div class="ad-thumbs">
							&nbsp;
							<ul class="ad-thumb-list">
								<!--<p><img alt="Pastor-phil-sinks-the-boat" src="http://s3.amazonaws.com/MOH/assets/13/medium/Pastor-Phil-Sinks-the-boat.jpg?1344195200" /></p>-->
								<li >
									<a href="http://s3.amazonaws.com/MOH/assets/13/medium/Pastor-Phil-Sinks-the-boat.jpg?1344195200"><img src="http://s3.amazonaws.com/MOH/assets/13/thumb/Pastor-Phil-Sinks-the-boat.jpg?1344195200" alt="" title="" longdesc="" class="image0" style="width:65px;" /></a>
								</li>
							</ul>
						</div>
						<div class="ad-forward"></div>
					</div><!--adnav-->
				</div><!--gallery-->
		</div><!--thumbs-->
		</div><!--contentRightWrapper-->
		</div> <!-- End Content 360 -->
		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
