<div id="bgHero">
	<div id="internHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti </span><br />Intern</h1>
<p>For those who have a heart for Haiti and are looking to serve Mission of Hope for an extended period of time, internships are a great way to get involved.</p>

<p>Each year, Mission of Hope offers multiple internship opportunities to qualified individuals who have a heart to see life transformation in Haiti. Our current internship program consists of 3 sessions (Spring, Summer, Fall), each lasting 3-4 months. While in Haiti, interns help the operations on the ground run more smoothly, ultimately helping Mission of Hope continue its vision of bringing life transformation to every man, woman, and child in Haiti. Our main internship tracks are facilitating Group Trips, Construction, and Medical. However, individuals with specific skillsets outside of these areas are also encouraged to apply.  We typically accept 12 interns in the summer, 7 interns in the spring, and 5 interns in the fall.
</p> 

<p>Below are the approximate time frames for the next upcoming sessions.</p> 

***** ADD DATES

<p style="font-size:11px;">* Note: Our summer session program offers a leadership development component.</p>

<p>The cost of interning is $1,100 a month plus airfare, which can consist of raised support. There is also a $25 application fee to be considered for an internship.</p>
<p>If you are interested in becoming an intern at Mission of Hope, please download the application below and send a completed copy to internships@mohhaiti.org.</p>

<h2>We need the form for download</h2>
	
		</div>

		<div id="contentRight300" style="padding-top:40px;">
			<div class="rightBoxGreen">
			<h2>Learn More About<br />Mission of Hope Haiti</h2>
			<ul class="aboutUsNav">
				<li><a href="/about_us">Our Story &amp; Beliefs &raquo;</a></li>
				<li><a href="/meet_our_staff">Meet Our Staff &raquo;</a></li>
				<li><a href="/vision_mission_resolution">Vision | Mission | Resolution &raquo;</a></li>
				<li><a href="/intern">Intern with MOH &raquo;</a></li>
				<li><a href="/financial_info">Financial Information &raquo;</a></li>
				<li><a href="/press">Press &raquo;</a></li>
				<li><a href="/join_our_team">Join Our Team &raquo;</a></li>
				<li><a href="/about_haiti">About Haiti &raquo;</a></li>
				<li><a href="/faq">FAQs &raquo;</a></li>
				<li><a href="/contact_us">Contact Us &raquo;</a></li>
			</ul>
			</div>
		</div>
		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
