
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top: 50px;" >
		<div id="divTY">
			<h3>Thank you for submitting you MOH Intern Application. Please follow the link below to submit your application fee.</h3>
		</div>
	</div>
</div>
