
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top: 50px;" >
		<div id="divTY">
			<h1>Thank you!</h1>
			<h2 style="text-transform:none;">We've received your application. Here's what you need to do next:</h2>
			<p><strong>1.</strong> Submit your $25 application fee. Click here to <a href="http://mohh.convio.net/site/Donation2?df_id=1700&1700.donation=form1">pay online</a> OR<br>
			Mail check to: Mission of Hope, Haiti, P.O. Box 171500, Austin, TX 78717 (Be sure to specify internship application fee in the memo line of your check.</p>
			<p><strong>2.</strong> Complete and submit your Reference forms. Remember you need a total of four references.<br> 
				Download <a href="http://mohhaiti.org/Intern_Application_References.pdf">Reference forms</a>. 
		</div>
	</div>
</div>
