<div id="bgHero">
	<div id="internHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
		<h1 style="top:-158px;"><span class="greenTransBG"><span style="font-size: 2.5em;">If you have a heart for Haiti and want to serve for an extended period of time, an internship is for you.</span></span></h1>
		</div>
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti </span><br />Intern</h1>
<p>For those who have a heart for Haiti and are looking to serve Mission of Hope for an extended period of time, internships are a great way to get involved.</p>

<p>Each year, Mission of Hope offers multiple internship opportunities to qualified individuals who have a heart to see life transformation in Haiti. Our current internship program consists of 3 sessions (Spring, Summer, Fall), each lasting 3-4 months. While in Haiti, interns help the operations on the ground run more smoothly, ultimately helping Mission of Hope continue its vision of bringing life transformation to every man, woman, and child in Haiti. Our main internship tracks are facilitating Group Trips, Construction, and Medical. However, individuals with specific skillsets outside of these areas are also encouraged to apply.  We typically accept 12 interns in the summer, 7 interns in the spring, and 5 interns in the fall.
</p> 

<p>Below are the approximate time frames for the next upcoming sessions.</p> 

<p>- Spring 2013: January 5th - May 22nd, application deadline September 4th.</p> 
<p> - Summer 2013*: May 4th - August 17th, application deadline January 4th.</p>
<p>- Fall 2013: August 3rd - December 12th, application deadline April 4th.</p>

<p style="font-size:11px;">* Note: Our summer session program offers a leadership development component.</p>

<p>The cost of interning is $1,100 a month plus airfare, which can consist of raised support. There is also a $25 application fee to be considered for an internship.</p>
<p>If you are interested in becoming an intern at Mission of Hope, please download the application below and send a completed copy to internships@mohhaiti.org.</p>

<a href="/assets/InternshipApplication.doc"><p>Click here to download the internship application</p></a>
	
		</div>

		<div id="contentRight300" style="padding-top:40px;">
			<%= render 'layouts/aboutNav'%>
		</div>
		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
