<div id="bgHero">
	<div id="internHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
		<h1 style="top:-158px;"><span class="greenTransBG"><span style="font-size: 2.5em;">If you have a heart for Haiti and want to serve for an extended period of time, an internship is for you.</span></span></h1>
		</div>
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti </span><br />Internships</h1>
<p>For those who have a heart for Haiti and are looking to serve Mission of Hope for an extended period of time, internships are a great way to get involved.</p>

<p>Each year, Mission of Hope offers multiple internship opportunities to qualified individuals who have a heart to see life transformation in Haiti. Our current internship program consists of 3 sessions (Spring, Summer, Fall), each lasting 3-4 months. While in Haiti, interns help the operations on the ground run more smoothly, ultimately helping Mission of Hope continue its vision of bringing life transformation to every man, woman, and child in Haiti. Our main internship tracks are facilitating Group Trips, Construction, and Medical. However, individuals with specific skillsets outside of these areas are also encouraged to apply.
</p> 

<h4 style="padding-bottom: 10px;">Below are the approximate time frames for the next upcoming sessions.</h4> 

<p><strong>Spring 2014</strong><br />January 8th - April 30th, application deadline September 1st.</p> 
<p><strong>Summer 2014</strong> <em>(Includes Leadership Development component)</em><br />
Session 1 (12 weeks): May 14th - August 9th, application deadline January 1st.<br />
Session 2 (9 weeks): June 7th - August 9th, application deadline January 1st.</p>
<p><strong>Fall 2014</strong><br />Saturday August 30th-Saturday December 13, 2014</p>
<p><strong>Spring 2015 Dates</strong><br />Wednesday January 7th-Wednesday April 29, 2015</p>
<!--<p style="font-size:11px;">* Note: Our summer session program offers a leadership development component.</p>-->

<h3>Intern Fund-Raising & Compensation</h3>
<ul>
	<li>Interns must provide their own airfare to/from Haiti. This amount can be raised through support.</li>
	<li>A minimum of $250/month must be raised to cover room and board and must be received by MOH before arrival in Haiti.</li>
	<li>Interns may raise up to $1500/month and will receive the difference between the amount raised/month and the room and board expenses when their internship is complete.</li>
</ul>

<p>If you are interested in becoming an intern at Mission of Hope, please download the application below and send a completed copy to internships@mohhaiti.org.</p>

<p><a href="/Intern_Application.pdf">Click here to download the internship application</a></p>
<p><a href="/Intern_Application_Personal.pdf">Click here to download the internship application personal reference survey</a></p>
<p><a href="/Intern_Application_Minister.pdf">Click here to download the internship application minister reference survey</a></p>


<p> After submitting your application, please mail the $25.00 fee to the US office:<br />
Mission of Hope, Haiti<br />
P.O. Box 171500<br />
Austin, TX 78717</p>
	
		</div>

		<div id="contentRight300" style="padding-top:40px;">
			<%= render 'layouts/takeActionNav'%>
		</div>
		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
