<div id="bgHero">
	<div id="internHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
		<h1 style="top:-158px;"><span class="greenTransBG"><span style="font-size: 2.5em;">If you have a heart for Haiti and want to serve for an extended period of time, an internship is for you.</span></span></h1>
		</div>
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti </span><br />Internships</h1>
<p>For those who have a heart for Haiti and are looking to serve Mission of Hope for an extended period of time, internships are a great way to get involved.</p>

<p>Each year, Mission of Hope offers multiple internship opportunities to qualified individuals who have a heart to see life transformation in Haiti. Our current internship program consists of 3 sessions (Spring, Summer, Fall), each lasting 3-4 months. While in Haiti, interns help the operations on the ground run more smoothly, ultimately helping Mission of Hope continue its vision of bringing life transformation to every man, woman, and child in Haiti. Our main internship tracks are facilitating Group Trips, Construction, and Medical. However, individuals with specific skillsets outside of these areas are also encouraged to apply.
</p> 

<h4 style="padding-bottom: 10px;">2015 Internship Sessions</h4> 

<p><strong>Spring</strong><br />Saturday, January 3 - Saturday, May 2</p> 
<p><strong>Summer</strong> <em>(Includes Leadership Development component)</em><br />
Session 1 (12 weeks): Saturday, May 16 - Wednesday, August 12<br />
Session 2 (9 weeks): Saturday, June 6 - Wednesday, August 12<br />
<p><strong>Fall</strong><br />Saturday, August 29 - Saturday, December 12</p>

<h3>Intern Fund-Raising & Compensation</h3>
<ul>
	<li>Interns must provide their own airfare to/from Haiti. This amount can be raised through support.</li>
	<li>A minimum of $250/month must be raised to cover room and board and must be received by MOH before arrival in Haiti.</li>
	<li>Interns may raise up to $1500/month and will receive the difference between the amount raised/month and the room and board expenses when their internship is complete.</li>
</ul>

<p>If you are interested in becoming an intern at Mission of Hope, please complete the <a href="/intern_application">online application.</a></p>

<div class="buttonSquareOrange" style="width:50%; margin-bottom:20px;"><a href="/intern_application">Apply Online</a></div>

<h3>Next Steps</h3>

<p>Once you have completed the online application, you will need to submit references. Please download the following form for your references to complete and email the completed form to <a href="mailto:internships@mohhaiti.org">internships@mohhaiti.org</a>.</p>

<p>Download <a href="http://mohhaiti.org/Intern_Application_References.pdf">Reference forms</a>. </p>



	
		</div>

		<div id="contentRight300" style="padding-top:40px;">
			<%= render 'layouts/takeActionNav'%>
		</div>
		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
