<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti </span><br />Join Our Team</h1>
			
		</div>

		<div id="contentRight300">
			<%= render 'layouts/aboutNav'%>
		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
