<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti </span><br />About Us</h1>
			<h2>Our Story</h2>
<p>In 1972, Sharon Johnson went to Haiti to direct a choir that was traveling around the country. As she looked into the faces in the crowds, she fell in love with the people of Haiti.
</p>
<p>She returned each year to help the people of Haiti with her husband, Bob Johnson. Over time, they began to feel the need to have an on-going work in country, one that would help every day of the year and not just once or twice a year. In 1983 they formed what is today Mission of Hope Haiti. In 1989 they acquired a piece of barren land just north of Port au Prince.  
</p>
<p>In 1997, Brad Johnson, Bob & Sharon’s son, and his wife Vanessa went to Haiti on a week-long trip to serve the people there. While serving, they watched an 18 month old baby die as her father held her on their way to a clinic. They learned the baby had starved to death from the parents not having any food. This moment was etched in their mind forever and they could not escape the image of the grieving parents as they mourned the loss of their daughter. A year later, Brad and Vanessa moved full time to Haiti to begin work on the Mission of Hope Haiti property.
</p>
<p>Officially founded in 1998, Mission of Hope has since grown from a small mission located on barren piece of land, to a fruitful organization that now houses an onsite orphanage, medical facility, school, and church. Through partnerships, the Mission also serves outside of its property by helping other orphanages, churches, and schools throughout the country.
</p>
<h2>What We Believe</h2>
<h3>Mission of Hope<br /> Doctrinal Statement of Faith</h3>
<ul>
<li>We believe in one God, Creator of all things, perfect in love and holiness who exists as three persons: Father, Son, and Holy Spirit.
</li>
<li>We believe that Jesus Christ is fully God and entered human form by the miracle of the virgin birth, that He lived a sinless life, and that He Died for our sins. We believe that He rose again on the third day and now sits at the right hand of God as our advocate.
</li>
<li>We believe that the Holy Spirit is God. His ministry is to glorify the Lord Jesus Christ and convict the world of sin, righteousness and judgment. We believe that He brings about the new birth, indwells, baptizes, seals, anoints and endows all who are regenerated with spiritual gifts. The Holy Spirit also leads believers who daily surrender their life to Him by guiding, teaching, sanctifying, and filling them.
</li>
<li>We believe that the Bible is God’s inspired Word and is the sole authority for all Christian faith and life.
</li>
<li>We believe that people are created in the image of God. At that same time, because of Adam’s sin, all people are sinful by nature and choice. Apart from forgiveness in Jesus Christ, all are lost and alienated from God.
</li>
<li>We believe that salvation is by grace through faith in the Lord Jesus Christ.
</li>
<li>We believe in the resurrection of the body. At death the spirits of the saved go immediately to be with the Lord Jesus Christ in Heaven, and the unsaved descend immediately into hell until the final Day of Judgment.
</li>
<li>We believe that the church consist of all who believe in Jesus Christ as Savior.
</li>
<li>We believe in the priesthood of all believers, and that every born again person has direct access to God and has the responsibility for personal growth in the grace and knowledge of the Lord Jesus Christ.
</li>
<li>We believe that the Holy Spirit gives to every true believer spiritual gift(s). The purpose of spiritual gifts is to enable the church to fulfill its mission of exalting Christ, empowering believers and evangelizing the world.
</li>
<li>We believe that God hears and answers prayers today.
</li>
<li>We believe that believers are to uniquely demonstrate their faith in the Lord Jesus Christ through baptism and communion.
</li>
<li>We believe that the church of Jesus Christ is to be the salt of the earth and the light of the world.</li>
</ul>
		</div>

		<div id="contentRight300">
			<h2>Learn More About<br />Mission of Hope Haiti</h2>
			<ul>
				<li><a href="/about_us">Our Story &amp; Beliefs &raquo;</a></li>
				<li><a href="/meet_our_staff">Meet Our Staff &raquo;</a></li>
				<li><a href="/intern">Intern with MOH &raquo;</a></li>
				<li><a href="/financial_info">Financial Information &raquo;</a></li>
				<li><a href="/press">Press &raquo;</a></li>
				<li><a href="/join_our_team">Join Our Team &raquo;</a></li>
				<li><a href="/contact_us">Contact Us &raquo;</a></li>
			</ul>
		</div>
		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
