<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top: 50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope</span>
			<br />
			Child Sponsorship</h1>

			<h4>School of Hope Student Sponsorship</h4>
			<p>
				Students in this program come to school each day and then return home to live in the village with their families. Student sponsorship is $35 per month or $420 annually. Your sponsorship funds provide your Haitian student with a quality Christ-centered education. Sponsorship funds go toward:
			</p>
			<ul class="learnSponsor">
				<li>
					Daily nutritious meal
				</li>
				<li>
					Christ-centered curriculum and teacher training
				</li>
				<li>
					School-specific improvement initiatives
				</li>
			</ul>
			<p>
				Sponsors can choose a boy or girl student at the Kindergarten, Primary (Elementary) or Secondary (Jr. and Sr. High) grade levels. Once a sponsor is connected with their student, they will receive a profile card with a photo and personal information about their sponsored child. 
			</p>
			<p>
				<strong>What You’ll Receive From Your Child:</strong>
			</p>
			<ul class="learnSponsor">
				<li>Annual photo</li>
				<li>School updates throughout the year</li>
				<li>Reply letters to any correspondence you send to your student </li>
			</ul>
			<p>
				<strong>Ways to Connect With Your Child:</strong>
			</p>
			<ul class="learnSponsor">
				<li>
					Send letters and photographs online
				</li>
				<li>
					Give them a gift through our online store
				</li>
				<li>
					Visit your child in Haiti on a Mission Trip!
				</li>
			</ul>
			<div class="buttonSquareOrange" style="width: 200px; margin:10px 0 40px 0;">
				<a href="http://mohhaiti.force.com/sponsorship">Sponsor a student &raquo;</a>
			</div>
			<h4>Village of Hope Orphan Sponsorship</h4>
			<p>Village of Hope children are raised in a Christ-centered, supportive community, giving the children a relational family environment where they can grow and thrive physically, mentally, emotionally, and spiritually. </p>

<p>We have created "family clusters" where each child will have up to 10 sponsors, each donating $50 (heart icon) monthly. A sponsor may choose as many of the $50 increments per month, up to the needed $500 per month to completely fund that child's sponsorship.</p>

<h4><strong>Sponsorship funds are used to provide: </strong></h4>
<ul class="learnSponsor">
<li>Balanced nutrition</li>                                   
<li>Hygiene</li>
<li>Medical needs/general healthcare</li>
<li>Schooling</li>
<li>Tutoring</li>
<li>Housing</li>
<li>Utilities</li>
<li>Maintenance</li>
<li>Security</li>
<li>Transportation</li>
<li>Extra-curricular child development activities </li>
</ul>

			<h4>
				<strong>What You’ll Receive From Your Child:</strong>
			</h4>
			<ul class="learnSponsor">
				<li>Introductory photo and biography</li>
				<li>Annually updated photo</li>
				<li>Christmas card and photo</li>
				<li>Seasonal crafts and notes</li>
			<!--<li>Thank You Cards and Photos in Response</li> -->
			</ul>
			<h4>
				<strong>Ways to Connect With Your Child:</strong>
			</h4>
			<ul class="learnSponsor">
				<li>
					Send letters, cards, and photographs through MyMOH
				</li>
				<li>
					Give them a gift through our online store
				</li>
				<li>
					Visit your child in Haiti on a Mission Trip!
				</li>
			</ul>
			
		<div class="buttonSquareOrange" style="width: 200px; margin:10px 0 40px 0;">
				<a href="/orphan_sponsorship">Sponsor a child &raquo;</a>
			</div>
			</div>
		<div id="contentRight300">
			<%= render"/layouts/childSponsorNav"%>
		</div>
		<div class="clearfix">
			<!--x-->

		</div>
		<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
	</div>
