<div id="wrapper">
	<%= render 'layouts/navBar'%>
<div id="content" style="padding-top: 50px;">
<div id="contentLeft560">
	<h1><span class="eyebrow">Mission of Hope</span>
			<br />
			Child Sponsorship</h1>
			
<h4>School of Hope Student Sponsorship</h4>
<p>Students in this program come to school each day and then return home to live in the village with their families. They are taught every day by caring teachers and love to come to school. Student sponsorship is $35 per month. Your sponsorship funds provide your student with a quality education in Haiti. Sponsorship funds go toward:
	</p>
<ul class="learnSponsor">
		<li>Registration & tuition</li> 
		<li>Nutritious meals for each school day</li>
		<li>Teacher & Administrative staff salaries</li>
		<li>School operating costs (e.g. office supplies, etc.)</li>
</ul>
<p>The School of Hope educates about 2,500 students each year. Sponsors can choose a boy or girl student at the Kindergarten, Primary (Elementary age) or Secondary (Jr. and Sr. High) grade levels. Once a sponsor is connected with their student they will receive a photo of and information about their sponsored child, as well as annual report cards sharing their child’s physical growth and educational performance.
</p> 
<p><strong>What You’ll Receive From Your Child:</strong></p>
<ul class="learnSponsor">
		<li>Annual report card update</li>
		<li>Annual school year photo</li>
		<li>Handwritten notes in response</li>
</ul>
<p><strong>Ways to Connect With Your Child:</strong></p>
<ul class="learnSponsor">
		<li> Send letters, cards, and photographs</li>
		<li>Give them a gift through our online store</li>
		<li>Visit your child in Haiti on a Mission Trip!</li>
</ul>
<h4>Village of Hope Orphan Sponsorship</h4>
<p>Village of Hope children are in the loving care of Mission of Hope full time. The children are raised in a Godly, loving home environment. Sponsorship cost is $150 per month and your Village of Hope sponsorship funds help cover day-to-day living expenses such as:
</p>
<ul class="learnSponsor" style="margin-top: -15px;">
		<li>Lodging</li>
		<li>Food</li>
		<li>Routine medical care</li>
		<li>Staff salaries (caregivers/mommies, cooks, etc…)</li>
		<li>Clothing/shoes</li>
		<li>Fuel to generate electrical power and more!</li>
	</ul>
<p>Once a sponsor is connected with their child they will receive a photo of and information about their sponsored child, as well as Village of Hope updates and crafts from their child throughout the year. If you are interested in sponsoring an orphan at our Village of Hope, please contact us at 239-791-8125 or email sponsorship@mohhaiti.org.
</p>
<p><strong>What You’ll Receive From Your Child:</strong></p>
<ul class="learnSponsor">
	<li>Introductory Photo and Biography</li>
	<li>Annually Updated Photo</li>
	<li>Village of Hope Monthly Newsletters</li>
	<li>Seasonal Crafts and Notes</li>
	<li>Thank You Cards and Photos in Response</li>
</ul>
<p><strong>Ways to Connect With Your Child:</strong></p>
<ul class="learnSponsor">
	<li>Send letters, cards, and photographs</li>
	<li>Give them a gift through our online store</li>
	<li>Visit your child in Haiti on a Mission Trip!</li>
</ul>
	<ul class="learnSponsor" style="margin-top: -15px;">
		<li>Lodging</li>
		<li>Food</li>
		<li>Routine medical care</li>
		<li>Staff salaries (caregivers/mommies, cooks, etc…)</li>
		<li>Clothing/shoes</li>
		<li>Fuel to generate electrical power and more!</li>
	</ul>
 <div class="buttonSquareOrange" style="width: 173px;"><a href="/child-sponsorship#form">Sponsor a student &raquo;</a></div>
</div>
<div id="contentRight300">
	<%= render"/layouts/childSponsorNav"%>
			</div>
			<div class="clearfix">
				<!--x-->

			</div>
	<div class="clearfix" style="height:40px;"><!--x--></div>
	</div>