<div id="bgHero">
	<div id="medicalMissionsHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content">
		<div id="heroContent">
			<div id="heroContentOrphan">
				<h1 style="font-size:2em; top:-230px;"><span class="greenTransBG">If you’re a licensed professional (CNA, EMT, RN, PA, NP, MD, PT, OT) we would love to create a week-long medical ministry for you! </span></h1>
			</div>
		</div>
		<div id="contentLeft560">
			
			<h1><span class="eyebrow">Mission of Hope Haiti</span> <br />Medical Mission Trip</h1>
<p>Serving alongside Mission of Hope Haiti on a mobile medical clinic is a sacrificial way to utilize your acquired skill set to aid in Mission of Hope&rsquo;s goal of seeing every man, woman, and child in Haiti transformed.</p>
<p>Our onsite clinic is fully Haitian run as a part of our Indigenous Mobilization effort. We have designed the mobile medical clinic to aid in continued relief to the country of Haiti through visiting teams.</p>
<p>We operate mobile clinics at least two weeks of every month in an effort to bring exceptional medical care to those who do not have regular access. These clinics are organized and operated as part of a larger movement within Mission of Hope, called Church Advancement. Currently we serve nine villages and will visit each village once a quarter.</p>
<p>As a licensed professional, you will participate in four full workdays of medical relief. Professionals participating in the mobile clinic are asked to help purchase and transport the medication needed for the mobile clinic to Haiti.</p>
<p>For mobile clinic dates or for further information please email <span style="color: #016ce2;"><a href="mailto:medical@mohhaiti.org">medical@mohhaiti.org</a></span></p>
<!-- <p>To inquire further or to book a medical missions trip with us, please email medical@mohhaiti.org.</p> -->
<div class="buttonSquareOrange" style="width: 247px;"><a href="../request_info">Request more information &raquo;</a></div>
			
		</div>

		<div id="contentRight300" style="padding-top:30px;">
			<%= render 'layouts/missionTripNav'%>
		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
