<div id="bgHero">
	<div id="medicalMissionsHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content">
		<div id="heroContent">
			<div id="heroContentOrphan">
				<h1></h1>
			</div>
		</div>
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti</span>
			<br />Medical Mission Trip</h1>
		<p>A medical mission trip is a sacrificial way to show the love of Christ to a community while also healing their physical ailments. If you’re a licensed professional (CNA, EMT, RN, PA, NP, MD, PT, OT) we would love to create a week-long medical ministry for you! Whether an individual professional or a group of medical professionals, we would appreciate your trained skills as we expand our medical reach in to surrounding communities.
</p>

<p>Mission of Hope’s onsite clinic has recently become fully Haitian run. This is a blessing and answer to prayer as we move closer to our Vision of Indigenous Mobilization! For North Americans coming to serve medically in-country, we are now reaching out to communities around us that have little to no access to healthcare in the form of Mobile Clinics.
Mobile clinics are week-long medical outreaches planned twice a month. As a licensed professional, you will participate in four full work days bringing medical care to those who otherwise may not have access. 
</p>

<p>Professionals participating in the mobile clinic are asked to help purchase and transport the medication needed for the mobile to Haiti, as we try not to drain our pharmacy of medication needed for our Clinic.
</p>

<p>View a list of medication needed <h3>will provide when we launch site</h3> from a standard medical team (1 Prescriber, 3-5 Support Staff).
To see dates of mobile clinics planned for the 2012-2013 year, <a href="/trip_dates">click here.</a>
</p>
	
<p>To inquire further or to book a medical missions trip with us, please email medical@mohhaiti.org with a filled out medical face sheet<will provide when we launch site>,</p>


		</div>

		<div id="contentRight300" style="padding-top:30px;">
			<%= render 'layouts/missionTripNav'%>
		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
