<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti </span>
			<br />
			Meet Our Staff</h1>
			<div class="staffWrapper">
				<div class="staff">
					<img src="/assets/staff-brad-johnson.JPG" alt="Brad Johnson" />
					<h4><a href="">Brad & Vanessa Johnson
					<br />
					<span class="staffTitle">President MOH</span></a>
					<div class="staffBio">
						<p>
							Brad is a graduate of Huntington College in Huntington, Indiana. He moved to Haiti on a full time basis in October 1998 with his family. Under his leadership, the Mission of Hope has expanded its services and influence dramatically. Brad’s vision for reaching Haiti through education and workforce training is making a lasting impact.
						</p>
					</div></h4>
					<br /><span class="supportCTA"><a href="https://www.denarionline.com/DonorServices/TEMPLATEPAGE.ASPX?COMP_REF=_MOHHAITI%20&CONTENT=MISSIONARY&MISSION_REF=B6AD977D74">Support Brad & Vanessa &raquo;</a></span>

				</div>
				<div class="staff">
					<img src="/assets/staff-bob-johnson.jpg" alt="Bob & Sharon Johnson" />
					<h4><a href="">Bob & Sharon Johnson

					<br />
					<span class="staffTitle">Founders, Mission of Hope</span></a>
					<div class="staffBio">
						<p>
							Bob and Sharon had the vision and foresight to purchase a piece of barren land just north of Port au Prince. Their vision was for the land to be developed into a missions complex that would reach out and minister to the needs of the less fortunate people in Haiti. The Mission of Hope would not be where it is today without their hard work and dedication to serving and touching lives in Haiti for Christ. Bob and Sharon continue to be actively involved in raising funds to support the ministries at Mission of Hope. They also bring Missions groups several times a year so people with a heart for missions can experience Haiti firsthand. Bob and Sharon’s son and daughter-in-law, Brad and Vanessa Johnson continue the vision as the Mission of Hope Director and President.
						</p>
					</div></h4>


				</div>
				<div class="staff">
					<img src="/assets/staff-otis-garrison.jpg" alt="Otis Garrison" />
					<h4><a href="">Otis Garrison
					<br />
					<span class="staffTitle">Vice President</span></a>
					<div class="staffBio">
						<p>
							Otis has been involved in full time humanitarian work for over 26 years. He served for many years in the local church and his background includes ministry as a Youth Pastor, Singles Pastor, Christian education, College and Career and Senior Pastoral ministry. Otis began serving on the Mission of Hope Board of Directors in January 2000. In January 2004 he joined the Mission of Hope full time as the U.S. Director.
						</p>
					</div></h4>
<br /><span class="supportCTA"><a href="https://www.denarionline.com/DonorServices/TEMPLATEPAGE.ASPX?COMP_REF=_MOHHAITI%20&CONTENT=MISSIONARY&MISSION_REF=5574257B35">Support Otis &raquo;</a></span>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-marc-lubin.jpg" alt="Marc Jean Lubin" />
					<h4><a href="">Marc Jean Lubin
					<br />
					<span class="staffTitle">Executive Director</span></a>
					<div class="staffBio">
						<p>
							Before Marc came to work for the Mission of Hope, he worked for the United States Embassy for 31 years. Marc was the highest ranking Haitian in the US Embassy in Haiti. Marc oversees all full-time staff in Haiti, payroll and operating finances, and ensures that the mission is in full compliance with Haitian laws.
						</p>
					</div></h4>

				</div>
				<div class="staff">
					<img src="/assets/staff-austin-holmes.jpg" alt="Austin Holmes" />
					<h4><a href="">Austin Holmes
					<br />
					<span class="staffTitle">Director of Strategic Partnerships</span></a>
					<div class="staffBio">
						<p>
							Austin graduated from Furman University in 2007 with a Bachelor's Degree in History and Religion. Upon completion of his undergraduate degree and after a 5th year victory lap (Go Paladins!) with his new bride (and future Doctor at Mission of Hope), his family moved to South Florida where he taught high school history and philosophy. While teaching, Austin had the opportunity to complete an MBA, as well as intern with the United Nations in the Internal Auditing Division before coming on staff full-time in January of 2011.
						</p>
						<p>	Austin serves Mission of Hope in planning the operations and activities of projects and programs at Mission of Hope. This involves connecting with partners to implement best practices, resource competencies, and most responsibly advance with spiritually, operationally, and financially sustainable practices. He is passionate about the long-term vision of Mission of Hope, and the drive of Mission of Hope's Haitian leaders to see their nation transformed for Jesus Christ.
						</p>
					</div></h4>

				</div>
				<div class="staff">
					<img src="/assets/staff-drew-garrison.jpg" alt="Drew Garrison" />
					<h4><a href="">Drew Garrison
					<br />
					<span class="staffTitle">Development Coordinator, Church Development</span></a>
					<div class="staffBio">
						<p>
							Drew has been a part of the MOH family for over a decade, but recently came on board to serve as Director of Church Partnerships.  Drew graduated from Evangel University in Springfield, MO in 2007, and has since served in the roles of Student and Outreach Pastors with two of MOH's church partners before joining the MOH staff.  Drew's wife Rachel is a Nurse Practitioner and although not MOH staff, she is excited to give of her time voluntarily to serve in Haiti with MOH.
						</p>
					</div></h4>
				</div>


<div class="staff">
					<img src="/assets/staff-katy-wright.jpg" alt="Katy Wright" />
					<h4><a href="">Katy Wright
					<br />
					<span class="staffTitle">Child Sponsorship Coordinator</span></a>
					<div class="staffBio">
						<p>
							After growing up in Atlanta, GA with her parents and younger sister, Katy earned a bachelor’s degree in Special Education from the University of Georgia and followed the Lord’s leading to serve first in South Carolina and then in Florida along with her husband, Judd. She spent five years teaching elementary students with minor disabilities before sensing the Lord’s urging to leave public education in pursuit of participating in students’ lives in a whole new way at Mission of Hope Haiti. She is honored and excited to support the vision and passion of reaching every man, woman, and child in Haiti. Katy and Judd also serve at Summit Church in Estero, Florida, where Judd works as the Worship Pastor.
						</p>
					</div></h4>
				</div>
				</div>
				<div class="staff">
					<img src="/assets/staff-doug-barker.jpg" alt="Doug Barker" />
					<h4><a href="">Doug Barker
					<br />
					<span class="staffTitle">Church Development</span></a>
					<div class="staffBio">
						<p>
							Doug Barker has been in Pastoral Ministry for 40 plus years. From the 1st year of Pastoring, God placed a heart for missions and with that Doug led the congregations that he served with a desire to follow the voice of God by "going into all the World and proclaim His Gospel." 4 years ago Doug was introduced to MOH and on that first "Vision Trip" he knew that God was directing him to be as effective as he could to help others know about and see the incredible work being done in Haiti thru MOH.
Doug and his wife Janice live in the DFW area where they enjoy time with their children, grand-children, family, and talking with everyone that they can about MOH-Haiti.
						</p>
					</div></h4>

				</div>


<div class="staff">
					<img src="/assets/staff-cory-dahm.jpg" alt="Cory Dahm" />
					<h4><a href="">Cory Dahm
					<br />
					<span class="staffTitle">Development Coordinator, Church Development</span></a>
					<div class="staffBio">
						<p>
							Cory is a graduate of Florida Gulf Coast University in Fort Myers, Florida with a bachelor’s degree in accounting. He worked in public accounting for three and a half years performing financial statement audits for non-profit organizations. Cory recently joined Mission of Hope full time to perform the accounting functions for the US operations.
						</p>
					</div></h4>

				</div>
				<div class="staff">
					<img src="/assets/staff-dana-jeffers.jpg" alt="Dana Jeffers" />
					<h4><a href="">Dana Jeffers
					<br />
					<span class="staffTitle">Office Manager</span></a>
					<div class="staffBio">
						<p>
							Dana received her bachelor’s degree in communication science, with a minor in psychology from Florida State University. Haiti has always had a special place in Dana’s heart, as she traveled as a teenager to Haiti, bringing His word to many children in school settings. Dana is thrilled to be a part of this growing and expanding ministry and is continuously reminded that it is God’s timing, not our timing.
						</p>
					</div></h4>

				</div>
				<div class="staff">
					<img src="/assets/staff-diana-cherry.jpg" alt="Diana Cherry" />
					<h4><a href="">Diana Cherry
					<br />
					<span class="staffTitle">Founder and Director, 3 Cords</span></a>
					<div class="staffBio">
						<p>
							Diana graduated from Florida State University with a double major in Spanish and International Affairs. Upon graduation, she joined Teach for America and taught for two years. Then, in September of 2009, Diana and her husband Jay felt the call the move to Haiti and were forever changed. A few months later, the earthquake hit, and a little while after, Jay and Diana found themselves sleeping in a tent at Mission of Hope and thought they would be there for just a few days. Those few days turned into almost two years, as they quickly realized that Mission of Hope was doing exactly what they were passionate about: loving and empowering Haitians.
						</p>
						<p>
Soon after, Diana began translating and coordinating patient care in the Mission of Hope Prosthetics Lab. She loved working in the lab so much that she thought she’d go back to school to be a prosthetist! But the Lord quickly revealed that it was mostly the patients that made her love her job so much, and she had a deep desire to create jobs for the amputee women she grew so closely with. Always crafty at heart, Diana (along with her husband Jay and the help of many, many others) founded 3 Cords as an initiative to empower these Haitian women and show them that they are talented and valuable. Jay and Diana are now in California as Jay is getting his MBA, but they both hope to return to live in Haiti one day soon.
						</p>
					</div></h4>

				</div>


<div class="staff">
					<img src="/assets/staff-kenol-rachael-bernard.PNG" alt="Kenol & Rachel Bernard" />
					<h4><a href="">Kenol & Rachel Bernard
					<br />
					<span class="staffTitle">Church Advancement Director, Orphanage Director</span></a>
					<div class="staffBio">
						<p>
							We are the Bernards, an international missionary family serving in Haiti with Mission of Hope in the Titanyen, Cabaret area.
</p>
<p>Kenol is originally from Port au Prince but after falling in love with Mission of Hope’s vision for his country he felt called to leave the city life behind and move out to the country to be a part of the amazing things happening through Mission of Hope. Kenol is the Church Advancement Director overseeing all Mission of Hope Churches and the outreach programs that are happening in and through the Haitian church.
</p>
<p>Rachel is originally from Niagara Falls, Canada. She first came to Mission of Hope in February 2004 and instantly fell in love with the children at the orphanage. Two years and another trip later she moved to Haiti full time to serve at the orphanage as an English teacher. She now serves as the Orphanage Director overseeing the care of our 65 children and directing a staff of 25 amazing men and women.
</p>
<p>Out of the ashes of the earthquake and terrible loss God’s goodness shone through as He miraculously brought Kenol and Rachel together. They were married in February 2012 and are now serving hand and hand at Mission of Hope raising their three boys Joshua, Olivier and Joseph and an orphanage full of boys and girls.
</p>
<p>As missionaries Kenol and Rachel are responsible for raising all their own support. Please prayerfully consider joining their ministry team; praying for them, their ministry and supporting them financially.
						</p>
					</div></h4>
<br /><span class="supportCTA"><a href="https://www.denarionline.com/DonorServices/TEMPLATEPAGE.ASPX?COMP_REF=_MOHHAITI%20&CONTENT=MISSIONARY&MISSION_REF=206BCF2BAA">Support Kenol & Rachel &raquo;</a></span>
				</div>
				<div class="staff">
					<img src="/assets/staff-joan-martineau.jpg" alt="Joan Martineau" />
					<h4><a href="">Joan Martineau
					<br />
					<span class="staffTitle">Curriculum Development, School of Hope</span></a>
					<div class="staffBio">
						<p>
							Joan has dedicated her life to teaching. Joan has a BA in Elementary Education from the University of Findlay in Findlay, Ohio and a MA in Christian School Administration at Grace Seminary in Winona Lake, Indiana. Joan first came to Haiti in 1969 to serve with her church's mission as a teacher for a missionary family. Joan's passion for Haiti and Christian education led her to serve at Quisqueya Christian School (QCS) for over 30 years. While at QCS, Joan served in every role from first-grade teacher to Haitian history teacher. She served as a Chaplain, Dean of students, Principal and then as the Director QCS until December 2005. She began work with Mission of Hope in September 2006 to create a Christian school curriculum that will be culturally appropriate, biblically and educationally sound to prepare young Haitian Christian citizens.
						</p>
					</div></h4>
<br /><span class="supportCTA"><a href="https://www.denarionline.com/DonorServices/TEMPLATEPAGE.ASPX?COMP_REF=_MOHHAITI%20&CONTENT=MISSIONARY&MISSION_REF=704EC31E4B">Support Joan &raquo;</a></span>
				</div>
				<div class="staff">
					<img src="/assets/staff-john-mary-mazur.jpg" alt="John & Mary Mazur" />
					<h4><a href="">John & Mary Mazur
					<br />
					<span class="staffTitle">Project Coordinators</span></a>
					<div class="staffBio">
						<p>
							John and Mary are from S.E. Michigan. They have two boys, Noah and Caleb. They have been coming to Haiti since 1991 bringing teams to serve the Haitian people. In 2010, they decided it was time to use their background in construction and experience with teams to serve in Haiti full time. They serve as Project Coordinators, helping coordinate the expansion of the mission, the building of homes for those displaced by the earthquake and the involvement of teams in construction projects and other outreaches. Their passion is to see the Haitian people changed by Christ and to see the lives of people who come to serve as short term missionaries changed as they allow God to use them as His hands, to those in need. They believe God wants to use ordinary people to accomplish extraordinary things.
						</p>
					</div></h4>
<br /><span class="supportCTA"><a href="https://www.denarionline.com/DonorServices/TEMPLATEPAGE.ASPX?COMP_REF=_MOHHAITI%20&CONTENT=MISSIONARY&MISSION_REF=BB50E506A4">Support John & Mary &raquo;</a></span>
				</div>


<div class="staff">
					<img src="/assets/staff-diana-wiebe.jpeg" alt="Diana Wiebe" />
					<h4><a href="">Diana Wiebe
					<br />
					<span class="staffTitle">Teacher for the Missionary Children</span></a>
					<div class="staffBio">
						<p>
							Diana is originally from Wainfleet, Ontario. While attending the education program at Brock University, she felt the Lord calling her to pursue cross-cultural teaching opportunities rather than finding a job close to home. During her final year of teacher’s college she was told of an opportunity to serve as a teacher of missionary children in Haiti, with Mission of Hope. With the Lord’s strength and courage, Diana committed to joining the missionary team at Mission of Hope, before ever visiting the country. Diana has now been teaching missionary children from kindergarten to grade 8 since September 2008. Diana also loves building relationships with the 3cords ladies, Hope House kids and Haitian friends in the local villages.
						</p>
					</div></h4>

				</div>
				<div class="staff">
					<img src="/assets/staff-jeremy-schurke.jpg" alt="Jeremy Schurke" />
					<h4><a href="">Jeremy Schurke
					<br />
					<span class="staffTitle">Lespwa Means Hope</span></a>
					<div class="staffBio">
						<p>
							Jeremy was – theoretically -- birthed in Jacksonville, Florida. In a brisk five and a half years, he graduated college with the glamorous Interdisciplinary Study of the Arts degree. And one time, he turned 21. After that, he felt as if he was sucked into a space/time continuum which inevitably lead him to Haiti's shores. After six months and an earthquake, he awoke one morning in a tent, under Wall-E bed-sheets on Mission of Hope's front lawn. Brad offered him the position of MOH Emperor which was adamantly denied due to being extremely overqualified. Thus he humbly accepted the role of running Lespwa Means Hope to reach out and connect students to what is going on at MOH.
						</p>
					</div></h4>

				</div>
				<div class="staff">
					<img src="/assets/staff-andrea-barnett.jpg" alt="Andrea Barnett" />
					<h4><a href="">Andrea Barnett
					<br />
					<span class="staffTitle">Development Coordinator, Church Development</span></a>
					<div class="staffBio">
						<p>
							Andrea graduated from the University of Oklahoma with a degree in communication. For the past several years she's been working for a national non-profit organization and was connected with Mission of Hope in 2009 through work at her local church. She began volunteering for Mission of Hope in 2010 and was hired part-time in March. Andrea joined full time in 2011 and is the partnership coordinator for church development.
						</p>
					</div></h4>

				</div>


<div class="staff">
					<img src="/assets/staff-bailey-adkins.jpg" alt="Bailey Adkins" />
					<h4><a href="">Bailey Adkins
					<br />
					<span class="staffTitle">Teacher for the Missionary Children</span></a>
					<div class="staffBio">
						<p>
							Bailey is originally from Bethany, Missouri. She is finishing her studies at Graceland University in Elementary Education. She first came to Mission of Hope in 2007 on a weeklong trip and has since interned each summer. Bailey has always had a passion for missions as well as education. The Lord opened up an opportunity to actively pursue both in 2011 as a teacher for missionary children.
						</p>
					</div></h4>

				</div>
				<div class="staff">
					<img src="/assets/staff-elizabeth-smith.JPG" alt="Elizabeth Smith" />
					<h4><a href="">Elizabeth Smith
					<br />
					<span class="staffTitle">Child Sponsorship Assistant</span></a>
					<div class="staffBio">
						<p>
							Elizabeth is originally from Miami, but spent time growing up in Maryland and California as the daughter of a Marine. She moved back to Florida in 2003 and during her last year of college she spent a month in Haiti, which is where she was introduced to Mission of Hope for the first time.  She absolutely loves being a part of this team and seeing the amazing things that God is doing in Haiti.  She lives by this Corrie Ten Boom quote: "Every experience God gives us, every person He puts in our lives, is the perfect preparation for the future that only He can see."
						</p>
					</div></h4>

				</div>
				<div class="staff">
					<img src="/assets/staff-bethany-conrecode.jpg" alt="Bethany Conrecode" />
					<h4><a href="">Bethany Conrecode
					<br />
					<span class="staffTitle">Accounting Team</span></a>
					<div class="staffBio">
						<p>
							Bethany graduated from the University of Central Florida in Orlando with a bachelor’s degree in Accounting. She is currently working towards her masters in Accounting at Florida Gulf Coast University and is looking forward to gaining accounting experience and working to promote MOH’s goals in Haiti.
						</p>
					</div></h4>

				</div>


<div class="staff">
					<img src="/assets/staff-lindsey-rubino.jpg" alt="Lindsey Rubino" />
					<h4><a href="">Lindsey Rubino
					<br />
					<span class="staffTitle">Marketing Coordinator</span></a>
					<div class="staffBio">
						<p>
							In 2007, Lindsey Rubino graduated from the University of the Ozarks in Clarksville, AR with a bachelor's degree in Marketing. Since then, Lindsey has developed her skills in the areas of direct mail and online marketing. Over the last four and a half years, she has held positions in these areas of expertise in the greater Dallas, TX and Naples, FL communities. Lindsey was first introduced to the Mission of Hope organization when she prayerfully joined a team from her home church on mission to Haiti in the summer of 2010. She would describe the journey as life-changing. This experience led her to have a heart for working for God and for promoting the idea of using her marketing skill set to advance the Kingdom of God in the realm of her occupation. With great excitement and confidence in her decision, Lindsey joined the ranks of a talented group that comprise the workforce behind Mission of Hope Haiti in September of 2011.
						</p>
					</div></h4>

				</div>
				<div class="staff">
					<img src="/assets/staff-elizabeth-billingslea.jpg" alt="Elizabeth Billingslea" />
					<h4><a href="">Elizabeth Billingslea
					<br />
					<span class="staffTitle">Mission Trips Director</span></a>
					<div class="staffBio">
						<p>
							Elizabeth is originally from Colorado. After graduating high school in 2001, she attended an intense leadership academy and studied global missions and leadership training. After spending 3 years in the program she knew that sharing the gospel to the ends of the earth is what truly made her come alive. In 2009 she felt the Lord calling her to Arkansas, so without any real explanation she took a leap of faith and obeyed the gentle whisper to go. She started working with the college ministry at the church she attended and joined the executive staff with a focus on discipleship and mentoring. Little did she know that her new church had a deep connection with Mission of Hope and a real love for the people of Haiti. In May on 2011 she came to Haiti for the first time on a weeklong trip. It didn’t take long for her to know that this is where the Lord had always intended her to be and He had been setting things into motion long before she knew it. She is definitely looking forward to taking over group trip coordinating and having the opportunity to work with Mission of Hope.
						</p>
					</div></h4>
<br /><span class="supportCTA"><a href="https://www.denarionline.com/DonorServices/TEMPLATEPAGE.ASPX?COMP_REF=_MOHHAITI%20&CONTENT=MISSIONARY&MISSION_REF=763A9AC2E1">Support Elizabeth &raquo;</a></span>
				</div>
				<div class="staff">
					<img src="/assets/staff-ruben-amy-cenea.jpg" alt="Ruben & Amy Cenea" />
					<h4><a href="">Ruben & Amy Cenea
					<br />
					<span class="staffTitle">Emerging Leaders, Children's Ministry</span></a>
					<div class="staffBio">
						<p>
							Ruben grew up close to Mission of Hope and has been involved with the Church of Hope since 2004. He became a full-time employee in 2009, working with teams for a year, before moving to the U.S.
</p>
<p>Amy first visited Mission of Hope in 2002 and spent every summer there until she moved to Haiti in 2007. She was the group coordinator for 2 years.
</p>
<p>In April of 2011, Ruben and Amy were married and decided to move back to Haiti to be a part of what God is doing through Mission of Hope. They are excited and feel blessed to be able to do ministry together. Ruben is the Associate Director of Discipleship and Leadership. And Amy is the Marketing Coordinator in Haiti and Coordinator of Children's Ministry.
						</p>
					</div></h4>

				</div>


<div class="staff">
					<img src="/assets/staff-naoki-yao.jpg" alt="Naoki Yao" />
					<h4><a href="">Naoki Yao
					<br />
					<span class="staffTitle">Prosthetist</span></a>
					<div class="staffBio">
						<p>
							Hi everyone, my name is Naoki, nice to meet you. I'm a Japanese staff member at MOH and working as a Certified Prosthetist and Orthotist.
</p>
<p>When I was working in Dominican Republic, the earthquake hit Haiti and then I moved to Haiti to help the amputees.
</p>
<p>I’m impressed that MOH's vision is education for Haitians to make a stronger country for themselves in the future and that having a Prosthetics Lab is included in that.
</p>
<p>Now I'm happy to be dedicated working at MOH as a Prosthetist and Orthotist, also I'd like to do my best for Haiti.
						</p>
					</div></h4>

				</div>
				<div class="staff">
					<img src="/assets/staff-katie-anderson.PNG" alt="Katie Anderson" />
					<h4><a href="">Katie Anderson
					<br />
					<span class="staffTitle">Village of Hope Activities Coordinator</span></a>
					<div class="staffBio">
						<p>
							For the last 9 years Katie has lived in Lancaster, Pennsylvania. Growing up in a pastor's home, Katie had opportunities to live in Indiana, Canada and Pennsyvlania where her parents served throughout the years. After high school and into her early 20s Katie struggled with her faith, but eventually was able to find her way back and rededicated her life to the Lord in 2008. Since then, Katie has been dedicated to serving locally and in her church. Katie is passionate about outreach and has actively been involved with children, youth, and young adult ministries as well as music! For the last 2 years Katie worked for a program that helped house the homeless/mentally ill. God recently laid it on Katie's heart to prepare for a change, and shortly after opened the doors for Katie to be part of Mission of Hope! Katie loves building relationships and making people laugh!
						</p>
					</div></h4>
<br /><span class="supportCTA"><a href="https://www.denarionline.com/DonorServices/TEMPLATEPAGE.ASPX?COMP_REF=_MOHHAITI%20&CONTENT=MISSIONARY&MISSION_REF=E2A6579717">Support Katie &raquo;</a></span>
				</div>
				<div class="staff">
					<img src="/assets/staff-chelsea-pondt.jpg" alt="Chelsea Pondt" />
					<h4><a href="">Chelsea Pondt
					<br />
					<span class="staffTitle">Medical Missions Director</span></a>
					<div class="staffBio">
						<p>
							Chelsea was born and raised in Texas and has lived in the DFW metroplex ever since. After graduating from Texas Woman's University, she received her Bachelor's degree in Nursing, and soon after, her RN. She has since been working in the operating room. After a bit of divine intervention, she was lead to Mission of Hope and felt called to serve. She committed to serving in Haiti for a month, and it only took a week for her to know this was God's plan for her. She committed to joining the missionary team at Mission of Hope and will be the Medical Coordinator for 2012.
						</p>
					</div></h4>
<br /><span class="supportCTA"><a href="https://www.denarionline.com/DonorServices/TEMPLATEPAGE.ASPX?COMP_REF=_MOHHAITI%20&CONTENT=MISSIONARY&MISSION_REF=3553C9C0D3">Support Chelsea &raquo;</a></span>
				</div>


<div class="staff">
					<img src="/assets/staff-jimmy-driver.jpg" alt="Jimmy Driver" />
					<h4><a href="">Jimmy Driver
					<br />
					<span class="staffTitle">Field Operations Analyst</span></a>
					<div class="staffBio">
						<p>
							Born and raised in Houston, Texas, Jimmy Driver attended Texas A&M University where he completed an undergraduate degree in Finance and a Masters in Real Estate.  Towards the end of his graduate degree, he heard about Mission of Hope while attending Watermark Community Church in Dallas, Texas.  As he prayed though what to do after graduation, he felt God leading him towards Haiti and Mission of Hope.
</p>
<p>Jimmy works alongside our Haitian staff in the development of best business practices, so that Mission of Hope can see life transformation for every man, woman, and child in Haiti.

						</p>
					</div></h4>

				</div>
				<div class="staff">
					<img src="/assets/staff-jessica-woodall.jpg" alt="Jessica Woodall" />
					<h4><a href="">Jessica Woodall
					<br />
					<span class="staffTitle">Mission Trip Coordinator</span></a>
					<div class="staffBio">
						<p>
							Jessica graduated in 2010 from Florida Gulf Coast University, earning her Bachelors in Environmental Studies with hopes to work for an impactful ecological organization.  Her boyfriend Chris proposed to her and got baptized all on her graduation weekend!  Married and happily working for Mission of Hope, Jessica is excited about how God is changing lives and emerging leaders for His name.  While she had no idea she would be called to work in the field of ministry, she is now helping teams catch a glimpse of Mission of Hope’s vision for changing the environment of Haiti for Christ.
						</p>
					</div></h4>

				</div>
				<div class="staff">
					<img src="/assets/staff-holly-zasadny.jpg" alt="Holly Zasadny" />
					<h4><a href="">Holly Zasadny
					<br />
					<span class="staffTitle">Partnership Development</span></a>
					<div class="staffBio">
						<p>
							Holly Zasadny was raised in Pittsburgh, PA. She attended San Diego State University and received a Bachelor of Arts degree in English. She has over 12 years of organizational administration experience. Her last 7 years were spent serving in urban ministry in the area of event planning and strategic fund development. She married her husband, Jeff, in May 2011 and moved to his hometown of Ft. Myers. Her husband's passion for children in Haiti ignited Holly's desire to pursue a position at Mission of Hope, Haiti. She joined the MOH team in July 2012.
</p>
<p>As Fund Development Coordinator, Holly's role is to support the mission of MOH and their directors by implementing and managing intentional relationship-driven fund development programs, including major investor development, strategic partnerships, project reporting, and grant writing.
						</p>
					</div></h4>

				</div>


<div class="staff">
					<img src="/assets/staff-stacy-raby.jpg" alt="Stacy Raby" />
					<h4><a href="">Stacy Raby
					<br />
					<span class="staffTitle">Design and Production Coordinator, 3 Cords</span></a>
					<div class="staffBio">
						<p>
							Stacy is currently serving as the 3 Cords coordinator of product design and production in Haiti. Before she returned to Mission of Hope in the summer of 2012 to work with 3 Cords, she was working on her undergraduate degree in International Business at Texas State University. She first came to Mission of Hope in the fall of 2011 as a groups intern and fell in love with Haiti, and spent nearly all her free time with the 3 Cords women. Stacy was so excited to have the opportunity to come back and serve.
						</p>
					</div></h4>

				</div>
				<div class="staff">
					<img src="/assets/staff-becca-troxler.jpg" alt="Becca Troxler" />
					<h4><a href="">Becca Troxler
					<br />
					<span class="staffTitle">Director of Sales and Marketing, 3 Cords</span></a>
					<div class="staffBio">
						<p>
							Becca Troxler is a recent graduate from the University of North Carolina at Chapel Hill (Go Heels!), who first heard about 3 Cords while interning at Mission of Hope in the fall of 2011. As an intern at Mission of Hope, Becca spent nearly all her free time in the 3 Cords building with the ladies. With a passion for entrepreneurship, a love for Haiti, and an interest in fashion, working with 3 Cords has been a dream. Currently, Becca serves as the Director of Sales and Marketing for 3 Cords and explores new markets for 3 Cords as well as manages the website and order fulfillment stateside. 
						</p>
					</div></h4>

				</div>
				<div class="staff">
					<img src="/assets/staff-kara-lynn-ferguson.jpg" alt="Kara-Lynn Ferguson" />
					<h4><a href="">Kara-Lynn Ferguson
					<br />
					<span class="staffTitle">Development Coordinator, Church Development</span></a>
					<div class="staffBio">
						<p>
							Kara-Lynn is an Art Therapist from Guelph, Ontario, Canada.  She completed her undergraduate studies at Ryerson University in Toronto, graduating in 2000 with a degree in Image Arts.  Her post-graduate study in Art Therapy was completed in 2003 at the Toronto Art Therapy Institute.  She has been working as an Art Therapist since 2004.
</p>
<p>She first came to Haiti in 2008 on a short-term team working with churches in Port-Au-Prince.  She was invited to minister at Mission of Hope with the children and youth of Village of Hope orphanage and so came, in January 2011, to spend 6 months at Mission of Hope in this capacity.  During this time a vision for the emotional care and growth of the Village of Hope children began to develop.
</p>
<p>Kara-Lynn has returned to Mission of Hope this year and is continuing to work at the orphanage providing counseling and art therapy to the children and youth there.  She is blessed and privileged to work with these future leaders of Haiti and is so very excited to see the Lord's healing and freeing work in their lives.
						</p>
					</div></h4>

				</div>


<div class="staff">
					<img src="/assets/staff-cammie-mcquilkin.jpg" alt="Cammie McQuilkin" />
					<h4><a href="">Cammie McQuilkin
					<br />
					<span class="staffTitle">Administrative Assistant</span></a>
					<div class="staffBio">
						<p>
							Cammie recently graduated from Florida Gulf Coast University with a Social Work degree.  In college, God opened her eyes and grew her in ways she never would have expected.  God is continuously teaching her and revealing himself to her with His grace, faithfulness and love.  Working at Mission of Hope is a huge testament to the faithfulness of God, and she is so thankful.
</p>
<p>After the Haiti earthquake of 2010, the Lord really gave her a heart for the Haitian people.  Through God’s provision of donations, she was able to travel to Haiti shortly after the earthquake, where she saw God working not only in her life, but in the country of Haiti.  Through that experience she completely fell in love with Haiti and the Haitian people.
</p>
<p>It is an honor to work for an organization whose mission is to bring life transformation every man, woman and child.  It is such a beautiful thing to know and feel for yourself the love of Jesus, but it is also extremely beautiful to see God softening and moving in the hearts of those who have never felt pure, unconditional love.
						</p>
					</div></h4>

				</div>
				<div class="staff">
					<img src="/assets/staff-rachael-jankowsky.JPG" alt="Rachael Jankowsky" />
					<h4><a href="">Rachael Jankowsky
					<br />
					<span class="staffTitle">Village Programs Coordinator</span></a>
					<div class="staffBio">
						<p>
							Rachael first started visiting Haiti in 2008, and four years later she found herself privileged to serve as MOH's Village Programs Coordinator!  She gets to help local churches in Haiti learn how to bring holistic community development programs to their neighbors, broadening the ways in which the love of God is shared in both word and deed.  She's currently committed to serving in this role through July 2013.
</p>
<p>Rachael is so blessed to have been called into this country and to be trusted with this work.  She's daily humbled by the reminder that God has provided for her to be here through the generosity of friends, family, and sometimes even strangers.  Thank you for prayerfully walking alongside her with faith in God's plan to place her in Haiti, at this time, for this purpose.
						</p>
					</div></h4>
<br /><span class="supportCTA"><a href="https://www.denarionline.com/DonorServices/TEMPLATEPAGE.ASPX?COMP_REF=_MOHHAITI%20&CONTENT=MISSIONARY&MISSION_REF=AA2871D10A">Support Rachael &raquo;</a></span>
				</div>
				

		</div>
		<div id="contentRight300">
			<%= render 'layouts/aboutNav'%>
		</div>
		<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
		</div><!--Content Wrapper-->
	</div>
