<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti </span>
			<br />
			Meet Our Staff</h1>
				
			<div class="staffWrapper">
				<h2 style="margin-bottom:10px;">Executive Team</h2>
				
				<div class="staff">
					<img src="/assets/staff-brad-johnson.JPG" alt="Brad Johnson" />
					<h4><a href="" class="noclick">Brad Johnson
					<br />
					<span class="staffTitle">President</span></a>
					<div class="staffBio">
						<p>
							Brad attended Huntington University in Huntington, IN as a student athlete and graduated in 1993 with a B.S. in Educational Ministries with a Business Emphasis. While at Huntington, he broke school records in Track and Field, won the National Championship, and was awarded the prestigious Wheeler Award, given to the National Track and Field Male Athlete of the Year for outstanding character, athletic achievement, and campus leadership by the NCCAA. Upon graduation, Brad joined Youth for Christ as the Director of Campus Life at Carroll High School in Fort Wayne, IN, where he developed his passion for coaching and mentoring young leaders.

In 1997, Brad went to Haiti on a week-long mission trip to serve the people there and realized that this was where he was called to be. In 1998, he and his family moved to Haiti to help bring life transformation to every man, woman, and child through Mission of Hope, Haiti. For 15 years, Brad directly oversaw all strategic and operational aspects of MOH, while mentoring and grooming young Haitian leaders to step into key leadership roles. In 2008, the Huntington University Alumni Association awarded him the Distinguished Alumni Citation in recognition of mission work and commitment to impacting the world for Christ. Today, Brad and his wife Vanessa, along with their four children (JD, Georgie, Beau, and Jaima) live in Bethany, MO.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-bob-king.jpg" alt="Bob King" />
					<h4><a href="" class="noclick">Bob King
					<br />
					<span class="staffTitle">Chief Operating Officer</span></a>
					<div class="staffBio">
						<p>
							Bob graduated from Grace University with a bachelor’s degree in Biblical Studies and Human Resource Management, then earned his MBA from the University of Phoenix. He worked for 10 years as the Director of Global Business Development for Visteon Corporation/Ford Motor Company. Bob also served as an adjunct professor at Cornerstone University from 2002-2006, teaching Strategic Management, Business Law, and Managerial Finance. He then left the private sector to become the Executive Pastor at Hill Country Bible Church Austin, where he served for six and half years. He joined the Board for MOH in 2010 and officially joined the MOH staff team in January, 2013. Bob’s greatest joy comes from spending time with his family, which includes his wife, Lori, and their four children: Whitney, Alyssa, Cassidy, and Isaiah.</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-marc-lubin.jpg" alt="Marc Jean Lubin" />
					<h4><a href="" class="noclick">Marc Jean Lubin
					<br />
					<span class="staffTitle">Executive Director</span></a>
					<div class="staffBio">
						<p>
							Before Marc came to work for the Mission of Hope, he worked for the United States Embassy for 31 years. Marc was the highest ranking Haitian in the US Embassy in Haiti. Marc oversees all full-time staff in Haiti, payroll and operating finances, and ensures that the mission is in full compliance with Haitian laws.
						</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-otis-garrison.jpg" alt="Otis Garrison" />
					<h4><a href="" class="noclick">Otis Garrison
					<br />
					<span class="staffTitle">Vice President</span></a>
					<div class="staffBio">
						<p>
							Otis graduated from Southern Nazarene University with a BS in Education and from earned is Masters Degree in Christian Ministry from Southwestern Christian University. Otis has been involved in local church ministry in various roles for 25 years, serving as Executive Pastor at Lakeside Assembly of God in Oklahoma City, OK for 12 years. He joined the Board of Directors for Mission of Hope in January, 2000 and served there until he joined the staff in January 2004 as the U.S. Director. He and his wife Charletta live in Oklahoma City. They have two married children and 3 grandchildren.
						</p>
					</div></h4>
				</div>
				

				<div class="clearfix"></div>
				<h2 style="margin-top: -68px; margin-bottom:10px;">Operations Leadership Team</h2>

				<div class="staff">
					<img src="/assets/staff-missing-photo.jpg" alt="Annette Boorman" />
					<h4><a href="" class="noclick">Annette Boorman
					<br />
					<span class="staffTitle">Senior Team Lead</span></a>
					<span class="staffTitle">Communication/ Marketing/Sponsorship</span></a>
					<div class="staffBio">
						<p>
							Annette graduated from Baylor University with degrees in Marketing & Management and earned her Teacher Certification at the University of Texas. She worked in the Round Rock, TX School District as a Teacher, Teaching Team Leader, and Teacher Trainer, before retiring to raise her children. She then joined the staff of Hill Country Bible Church in Austin, TX, eventually becoming the Generations Team Lead, overseeing all ministry from birth through high school. Annette joined Mission of Hope, Haiti in 2013. She and her husband Chuck have two children, Courtney & Holden, and live in Austin, TX. Privileged to grow up in a pastor’s home with a missionary heartbeat, Annette’s passion is connecting people to Christ, to each other, and to their God-given mission in life.
						</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-lookens-pickering.jpg" alt="Lookens Pickering" />
					<h4><a href="" class="noclick">Lookens Pickering
					<br />
					<span class="staffTitle">Executive Director Assistant<br>Village of Hope, Clinic, HaitiOne</span></a>
					<div class="staffBio">
						<p>
							Lookens graduated from Infotecnique School of Haiti  with  a Bachelor’s Degree in Computer Science and is currently studying  International Relations and Diplomacy at CEDI(Centre d’Etudes Diplomatiques et des Relations Internationales). Lookens worked as a supervisor at  Haitibec S.A. in Petion for seven years, then worked briefly for the Elrancho Hotel, before joining Mission of Hope in 2007.
						</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-austin-holmes.jpg" alt="Austin Holmes" />
					<h4><a href="" class="noclick">Austin Holmes
					<br />
					<span class="staffTitle">Director of Business Development</span></a>
					<div class="staffBio">
						<p>
							Austin Holmes graduated from Furman University in 2007 with a Bachelors Degree in History and Religion, and then went on to complete his MBA from Nova Southeastern. He served as an educator for a while before holding a position of international auditing with the UN.  In January 2011, he chose to leave that position to be a full-time staff member with MOH. He and his wife, Chelsey, were married in 2007 after graduating from Furman and happily added a son, Caedmon, to their family in 2013. 
						</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-wantously-nicolas.jpg" alt="Wantously Nicolas" />
					<h4><a href="" class="noclick">Wantously Nicolas
					<br />
					<span class="staffTitle">Team Lead, Site Management, Security & Vehicle Maintenance</span></a>
					<div class="staffBio">
						<p>
							Nicolas as a Bachelor’s Degree in Business Administration from Institut Universitaire Quisqueya Amerique(INUQA). He worked for Bureau the Nutrition et Developpement(BND) for 7 years as a Stock Keeper and I joined Fondation Mission de l’Espoir (FOME) in  May 2006 as a Dispatcher and Stock Keeper and now I am serving as an Operations/Logistics Manager.I have 3 children ;Gaelle,Wancarmy and Junior.
						</p>
					</div></h4>
				</div>
				
								
				
				
				<div class="staff">
					<img src="/assets/staff-Scott-Campbell.jpg" alt="Scott Campbell" />
					<h4><a href="" class="noclick">Scott Campbell
					<br />
					<span class="staffTitle">Team Lead, Business Operations</span></a>
					<div class="staffBio">
						<p>
							Scott Campbell joins MOH the Team Lead overseeing all MOH Business Operations.  He comes to MOH with over 20 years of experience in business operations and consulting with SAP and brings a wealth of knowledge and operating wisdom to the team. As part of his new role, Scott will oversee the meal packaging operation, HaitiOne development, and all other MOH private business initiatives. Scott and his wife Barbara (our North American Medical Director) live in Austin, TX and have unofficially served with Mission of Hope for many years.
						</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Kenol-Bernard.jpg" alt="Kenol Bernard" />
					<h4><a href="" class="noclick">Kenol Bernard
					<br />
					<span class="staffTitle">Team Lead, Church Advancement</span></a>
					<div class="staffBio">
						<p>
							Kenol Bernard is originally from Port au Prince, but after falling in love with Mission of Hope, Haiti’s vision for his country, he felt called to leave the city life behind and move out to the country to be a part of the amazing things happening through Mission of Hope. Out of the ashes of the earthquake, and terrible loss, God’s goodness shone through as He miraculously brought a wife and mother to Kenol. He and Rachel were married in February of 2012 and are now serving together at Mission of Hope. They are raising their three boys: Joshua, Olivier, Joseph, and awaiting the arrival of their beautiful baby girl.  Kenol is overseeing all of the Mission of Hope churches and the outreach programs that are happening in and through the Haitian church. 
						</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-tony-jean.jpg" alt="Tony Jean" />
					<h4><a href="" class="noclick">Tony Jean
					<br />
					<span class="staffTitle">Team Lead, Education</span></a>
					<div class="staffBio">
							Bio coming soon.
						</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-jay-richardson.jpg" alt="Jay Richardson" />
					<h4><a href="" class="noclick">Jay Richardson
					<br />
					<span class="staffTitle">Team Lead, Mobilization</span></a>
					<div class="staffBio">
						<p>
							Bio coming soon.
						</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-dennis-harrison.jpg" alt="Dennis Harrison" />
					<h4><a href="" class="noclick">Dennis Harrison
					<br />
					<span class="staffTitle">Chief Financial Officer</span></a>
					<div class="staffBio">
						<p>
							Bio coming soon.
						</p>
					</div></h4>
				</div>
												
				<div class="clearfix"></div>
				<h2 style="margin-bottom:10px;">Staff</h2>

				<div class="staff">
					<img src="/assets/staff-bailey-adkins.jpg" alt="Bailey Adkins" />
					<h4><a href="" class="noclick">Bailey Adkins
					<br />
					<span class="staffTitle">VBS Coordinator</span></a>
					<div class="staffBio">
						<p>
							Bailey Adkins is from Bethany, Missouri. She studied elementary education at Southwest Baptist University and Graceland University. Bailey first came to Haiti on a weeklong trip in 2007. In 2008, Bailey did her first internship with teams. It was an amazing experience and shaped her faith. Bailey returned the following summer and interned two more summers. Later she stayed for six months to teach missionary children. She then started helping with Vacation Bible School. Bailey saw what an incredible opportunity this was to reach the children of Haiti and has served there since 2011. When Bailey is not in Haiti she is a first grade teacher at South Harrison elementary. Bailey has been blessed for many years to do what she loves in both the United States and Haiti; and that is to see kids reached for Christ.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-Muraccin-Altidor.jpg" alt="Muraccin Altidor" />
					<h4>Muraccin Altidor
					<br />
					<span class="staffTitle">Mechanic</span>
					</h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Katie-Anderson.jpg" alt="Katie Anderson" />
					<h4><a href="" class="noclick">Katie Anderson
					<br />
					<span class="staffTitle">Village of Hope Director </span></a>
					<div class="staffBio">
						<p>
							For the last 9 years Katie has lived in Lancaster, Pennsylvania. Growing up in a pastor's home, Katie had opportunities to live in Indiana, Canada and Pennsyvlania where her parents served throughout the years. After high school and into her early 20s Katie struggled with her faith, but eventually was able to find her way back and rededicated her life to the Lord in 2008. Since then, Katie has been dedicated to serving locally and in her church. Katie is passionate about outreach and has actively been involved with children, youth, and young adult ministries as well as music! For the last 2 years Katie worked for a program that helped house the homeless/mentally ill. God recently laid it on Katie's heart to prepare for a change, and shortly after opened the doors for Katie to be part of Mission of Hope! Katie loves building relationships and making people laugh!
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-doug-barker.jpg" alt="Doug Barker" />
					<h4><a href="" class="noclick">Doug Barker
					<br />
					<span class="staffTitle">Church Development</span></a>
					<div class="staffBio">
						<p>
							Doug Barker has been in Pastoral Ministry for 40 plus years. From the 1st year of Pastoring, God placed a heart for missions and with that Doug led the congregations that he served with a desire to follow the voice of God by "going into all the World and proclaim His Gospel." 4 years ago Doug was introduced to MOH and on that first "Vision Trip" he knew that God was directing him to be as effective as he could to help others know about and see the incredible work being done in Haiti thru MOH.
Doug and his wife Janice live in the DFW area where they enjoy time with their children, grand-children, family, and talking with everyone that they can about MOH-Haiti.
						</p>
					</div></h4>

				</div>

				<!--div class="staff">
					<img src="/assets/staff-andrea-barnett.jpg" alt="Andrea Barnett" />
					<h4><a href="" class="noclick">Andrea Barnett
					<br />
					<span class="staffTitle">Development Coordinator, Church Development</span></a>
					<div class="staffBio">
						<p>
							Andrea graduated from the University of Oklahoma with a degree in communication. For the past several years she's been working for a national non-profit organization and was connected with Mission of Hope in 2009 through work at her local church. She began volunteering for Mission of Hope in 2010 and was hired part-time in March. Andrea joined full time in 2011 and is the partnership coordinator for church development.
						</p>
					</div></h4>

				</div-->

				<div class="staff">
					<img src="/assets/staff-Rachel-Bernard.jpg" alt="Rachel Bernard" />
					<h4><a href="" class="noclick">Rachel Bernard
					<br />
					<span class="staffTitle">Orphanage Director</span></a>
					<div class="staffBio">
						<p>Rachel Bernard is originally from Niagara Falls, Canada. She first came to Mission of Hope in February of 2004 and instantly fell in love with the children at the orphanage as an English teacher. Out of the ashes of the earthquake, and terrible loss, God’s goodness shone through as He miraculously brought a wife and mother to Kenol. He and Rachel were married in February of 2012 and are now serving together at Mission of Hope. They are raising their three boys: Joshua, Olivier, Joseph, and awaiting the arrival of their beautiful baby girl.  After years of coordinating the orphanage, she now serves alongside her husband and is using her knowledge and experience consulting with many Haitian orphanages throughout the country. </p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-elizabeth-billingslea.jpg" alt="Elizabeth Billingslea" />
					<h4><a href="" class="noclick">Elizabeth Billingslea
					<br />
					<span class="staffTitle">Mobilization Director</span></a>
					<div class="staffBio">
						<p>
							Elizabeth is originally from Colorado. After graduating high school in 2001, she attended an intense leadership academy and studied global missions and leadership training. After spending 3 years in the program she knew that sharing the gospel to the ends of the earth is what truly made her come alive. In 2009 she felt the Lord calling her to Arkansas, so without any real explanation she took a leap of faith and obeyed the gentle whisper to go. She started working with the college ministry at the church she attended and joined the executive staff with a focus on discipleship and mentoring. Little did she know that her new church had a deep connection with Mission of Hope and a real love for the people of Haiti. In May on 2011 she came to Haiti for the first time on a weeklong trip. It didn’t take long for her to know that this is where the Lord had always intended her to be and He had been setting things into motion long before she knew it. She is definitely looking forward to taking over group trip coordinating and having the opportunity to work with Mission of Hope.
						</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Barbara-Campbell.jpg" alt="Barbara Campbell" />
					<h4><a href="" class="noclick">Barbara Campbell
					<br />
					<span class="staffTitle">North American Medical Director</span></a>
					<div class="staffBio">
						<p>
							Barbara Campbell attended the University of Texas and University of Minnesota leading to her dual careers as a pharmacist and clinical nutritionist. Her husband Scott also works for Mission of Hope, and they have 2 children: Tyler and Lauren, 17-year-old twins. She worked in full-time pharmacy management until her children were born, then moved to part-time. Barbara was blessed to be able to come to Haiti a few weeks after the earthquake, and that short trip to Mission of Hope changed the course of her life along with her thinking and priorities!  She developed a passion for leading short-term mission trips that has grown into a deep passion for the people they are serving in the villages, as well as the team members that come to serve. Barbara is amazed at how God can transform lives in such a short amount of time when a short-term trip is done with intentionality. She started out helping with operations at the clinic as they developed the mobile clinic program, but her involvement has grown, in just a few short years, to overseeing all the North American medical operations. Barbara has been blessed to have a front row seat to see God work in so many ways, and in so many people. She sees unbelievable potential for what God is going to do in the future with the medical program!
						</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-jude-cange.jpg" alt="Jude Cange" />
					<h4><a href="" class="noclick">Jude Cange
					<br />
					<span class="staffTitle">Administrator of FOME and HaitiOne</span></a>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Cindy-Cooper.jpg" alt="Cindy Cooper" />
					<h4><a href="" class="noclick">Cindy Cooper
					<br />
					<span class="staffTitle">Administrative Assistant</span></a>
					<div class="staffBio">
						<p>
							Cindy Cooper was born in a small south Texas town.  She came to Austin in 2002 after graduating from Southwest Texas (now Texas State) with a bachelor’s degree in Exercise and Sports Science and masters in Education.  Immediately she started attending Hill Country Bible Church where she met and married her husband Jim in 2004.  They have 2 children, Ali and David.  She went on her first weeklong mission trip in 2012 to Haiti.  While there, the passion to reach every man, woman, and child in Haiti with the love of Jesus captured her heart.  She returned for another week in 2013 and started working with Mission of Hope part time in Feb 2014 as an administrative assistant. Cindy looks forward to sharing her passion for Haiti with others as she uses the spiritual gifts God has blessed her with.
						</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-kelly-cutbirth.jpg" alt="Kelly Cutbirth" />
					<h4><a href="" class="noclick">Kelly Cutbirth
					<br />
					<span class="staffTitle">Development Account Coordinator</span></a>
					<div class="staffBio">
						<p>
							Kelly is a California native earning her undergrad degree at the University of California in Santa Barbara. After graduation, she lived and volunteered in Ecuador for several months. Kelly then moved to Atlanta to work with Mission Year, a year long commitment to an urban service program focused on Christian service and discipleship. It was through Mission Year that she met her husband, Steven, and they moved to Philadelphia to earn their Masters degrees from Eastern University. Kelly finished with a Masters of Arts in Urban Studies and Community Development.  She and her husband moved to Austin in January of 2012, and they were married later that year. Kelly is excited to join the MOH team making an impact in Haiti, and the world!  
						</p>
					</div>
					</h4>
				</div>
				
				
				
				<div class="staff">
					<img src="/assets/staff-Peniel-Dafinice.jpg" alt="Péniel Dafinice" />
					<h4>Péniel Dafinice
					<br />
					<span class="staffTitle">Chief Accountant</span>
					</h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-cory-dahm.jpg" alt="Cory Dahm" />
					<h4><a href="" class="noclick">Cory Dahm
					<br />
					<span class="staffTitle">Controller</span></a>
					<div class="staffBio">
						<p>
							Cory is a graduate of Florida Gulf Coast University in Fort Myers, Florida with a bachelor’s degree in accounting. He worked in public accounting for three and a half years performing financial statement audits for non-profit organizations. Cory recently joined Mission of Hope full time to perform the accounting functions for the US operations.
						</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Britney-Daniel.jpg" alt="Britney Daniel" />
					<h4><a href="" class="noclick">Britney Daniel
					<br />
					<span class="staffTitle">Product Marketing Specialist, 3 Cords and Market of Hope</span></a>
					<div class="staffBio">
						<p>
							Britney Daniel was born and raised in Bismarck, ND. She came to Mission of Hope, Haiti after earning a double major in Advertising Communication and General Business at the University of St. Thomas and working in the advertising industry for three years in Minneapolis, MN.  Britney was disappointed when plans for her first short-term mission trip to Uganda were suddenly cancelled.  God began to put Haiti on her heart and mind, and she couldn’t escape God’s voice telling her to go!  In August of 2012, she signed up for her first-ever mission trip and traveled to Mission of Hope, Haiti. The culture, people and evidence of God’s transformative work captivated her heart. Hurricane Isaac hit while she was in country. Flights were cancelled, so she stayed three extra days, and God worked on her heart immensely. Seeing the devastating hurricane winds and rain, she heard the Lord telling her that her work in Haiti wasn’t done, and that she was capable of longer-term missions. Britney moved to Haiti in January of 2014 for the spring internship and, upon completion, was hired on staff. Britney hopes to bring her small business, Bondye Bon, to Haiti and provide jobs for Haitian jewelry artisans in an effort to help advance the vision of Mission of Hope.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-Jean-Josue-Dilus.jpg" alt="Jean Josué Dilus" />
					<h4>Jean Josué Dilus
					<br />
					<span class="staffTitle">Logistics Assistant</span>
					</h4>
				</div>
				
				<!--div class="staff">
					<img src="/assets/staff-Alex-Joseph-Divers.jpg" alt="Alex Joseph Divers" />
					<h4>Alex Joseph Divers
					<br />
					<span class="staffTitle">School General Inspector</span>
					</h4>
				</div-->
				
				<div class="staff">
					<img src="/assets/staff-Jean-Jacques-Dorelus.jpg" alt="Jean Jacques Dorelus" />
					<h4>Jean Jacques Dorelus
					<br />
					<span class="staffTitle">HaitiOne Field Chief Supervisor</span>
					</h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-rachel-durban.jpg" alt="Rachel Durban" />
					<h4><a href="" class="noclick">Rachel Durban
					<br />
					<span class="staffTitle">Mobilization Logistics Coordinator</span></a>
					<div class="staffBio">
						<p>Rachel was born and raised in a small North Texas town and has her bachelor's degree from University of North Texas in Communication Studies. While on staff as the Visual Arts Director at her home church in Texas, Rachel first visited Mission of Hope in 2011 on a short-term mission trip. She, like so many others, was captivated by what the Lord is doing in Haiti through MOH. After another short-term trip in 2011 and a 3 month summer internship in 2012, God called her to be here full-time! Rachel experienced significant spiritual growth on her trips to Haiti and developed a deeper understanding of the Truth of the Gospel and the Lord's plan for His people. Her desire is to help others experience the same transformation. She has a deep love for the people of Haiti and the beautiful redemptive plan God is working out for His people, and she is so thrilled to be a part of Mission of Hope. Rachel has a heart for Jesus, people, and serving. She loves photography, videography, coffee, The Office, and laughter...lots of it.</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Paul-Edouard-Dyer.jpg" alt="Paul Edouard Dyer" />
					<h4>Paul Edouard Dyer
					<br />
					<span class="staffTitle">HaitiOne Warehouse Manager</span>
					</h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Emmanuelle-Jennifer-Etienne-Fleury.jpg" alt="Emmanuelle Jennifer Etienne-Fleury" />
					<h4>Dr. Emmanuelle Jennifer Etienne-Fleury
					<br />
					<span class="staffTitle">Chief Doctor</span>
					</h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Brooke-Fasnacht.jpg" alt="Brooke Fasnacht" />
					<h4><a href="" class="noclick">Brooke Fasnacht
					<br />
					<span class="staffTitle">Child Sponsorship Liaison</span></a>
					<div class="staffBio">
						<p>Brooke Fasnacht attended Evangel University located in Springfield, Missouri, where she met her future husband, Justin. After graduating in 2010 with a degree in Elementary Education, they were married and taught school for 3 years in Nixa, Missouri. Brooke has been on several mission trips to MOH, but they made their first visit together in the summer of 2012. In the summer of 2013, the couple became full-time staff passionately serving the people of Haiti and sharing the amazing hope found in Jesus Christ!</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Justin-Fasnacht.jpg" alt="Justin Fasnacht" />
					<h4><a href="" class="noclick">Justin Fasnacht
					<br />
					<span class="staffTitle">Village of Hope Activities Director</span></a>
					<div class="staffBio">
						<p>Justin Fasnacht was raised in Lancaster, Pennsylvania. He met his lovely wife, Brooke, while attending Evangel University located in Springfield, Missouri. After graduating in 2010 with a degree in Physical Education, they were married. The couple taught school for 3 years in Nixa, Missouri, and made their first visit to Mission of Hope in the summer of 2012. In the summer of 2013, the couple became full-time staff passionately serving the people of Haiti and sharing the amazing hope found in Jesus Christ!</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-Cindi-Fountain.jpg" alt="Cindi Fountain" />
					<h4><a href="" class="noclick">Cindi Fountain
					<br />
					<span class="staffTitle">Medical Missions Trip Coordinator</span></a>
					<div class="staffBio">
						<p>
							Cindi Fountain has had many God-driven and exciting adventures: marrying her wonderful husband, working as a physical therapist at Santa Rosa Hospital in San Antonio, TX, serving as a home educator for her two beautiful children, returning to school to complete a master’s degree in education, and tutoring students who struggle to read. Cindi strives to share her passion for learning and teaching in all that she does. As a classical Christian educator, her philosophy of education is manifested in this profound quote from Andrew Kern, “Education is the cultivation of wisdom and virtue by nourishing the soul on truth, goodness, and beauty so that, in Christ, the student is better able to know and enjoy God.” On this next adventure with Mission of Hope, Cindi is extremely blessed to be a part of team who follows Jesus Christ and who cultivates wisdom and virtue by nourishing their souls on truth, goodness, and beauty so that, in Christ, they are better able to serve the many lives they are privileged to touch. She praises God for letting her experience, and plays a part in, sharing the life changing reality of Jesus Christ!
						</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-missing-photo.jpg" alt="Dave Fox" />
					<h4><a href="" class="noclick">Dave Fox
					<br />
					<span class="staffTitle">Church Development Representative</span></a>
					<div class="staffBio">
						<p>
							Dave Fox joins the Church Advancement team, developing and managing church relationships to share all that God is doing in Haiti through our partnership with North American churches. Dave, his wife Missy, and adult children (David, Hannah, and Mary Grace) have served for several summers at Mission of Hope with our Mobilization Team, and we are extremely blessed to have Dave become an official “staffer” with the MOH Family. Dave will continue to serve as North Campus Pastor at The Bridge Community Church in Indiana, as well as serve on the Church Development Team with Otis, Drew, Doug, and Andrea.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-drew-garrison.jpg" alt="Drew Garrison" />
					<h4><a href="" class="noclick">Drew Garrison
					<br />
					<span class="staffTitle">Development Account Manager</span></a>
					<div class="staffBio">
						<p>
							Drew has been a part of the MOH family for over a decade, but recently came on board to serve as Director of Church Partnerships.  Drew graduated from Evangel University in Springfield, MO in 2007, and has since served in the roles of Student and Outreach Pastors with two of MOH's church partners before joining the MOH staff.  Drew's wife Rachel is a Nurse Practitioner and although not MOH staff, she is excited to give of her time voluntarily to serve in Haiti with MOH.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-Natacha-Gaston.jpg" alt="Natacha Gaston" />
					<h4>Natacha Gaston
					<br />
					<span class="staffTitle">Child Sponsorship Specialist and Creole Teacher/Translator</span>
					</h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-missing-photo.jpg" alt="Carol Hansen" />
					<h4><a href="" class="noclick">Carol Hansen
					<br />
					<span class="staffTitle">3 Cords Sales and Operations Coordinator</span></a>
					<div class="staffBio">
						<p>Carol Hansen grew up in the small Texas German town of New Braunfels and went to college in San Marcos where she earned a degree In Art and Fashion Merchandising.  Upon graduation she once again travelled north to Austin where she married her husband Rick and together they have 2 daughters and one son.  Carol has worked in both retail and sales management positions as well served as director of the 5th and 6th grade department four years at her church.  Carol now serves with 3 Cords with Mission of Hope. Carol enjoys cooking, entertaining, painting, interior design and just about anything creative.  She also loves to use creativity as opportunities to connect with people and share the Good News of Jesus Christ.</p>
					</div></h4>
				</div>

				
				<div class="staff">
					<img src="/assets/staff-donna-harrison.jpg" alt="Donna Harrison" />
					<h4><a href="" class="noclick">Donna Harrison
					<br />
					<span class="staffTitle">Child Sponsorship Account Manager</span></a>
					<div class="staffBio">
						<p>Donna Harrison is a graduate of Liberty University. She and her husband, Dennis, moved to Austin, TX from Michigan 5 years ago with their 3 children. Donna was a middle school teacher for 10 years. She has served in children's, youth and women's ministries for over 25 years. Donna loves writing and photography, but her passion is Jesus!</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-kelci-haydocy.jpg" alt="Kelci Haydocy" />
					<h4><a href="" class="noclick">Kelci Haydocy
					<br />
					<span class="staffTitle">Medical Team, Epidemiology </span></a>
					<div class="staffBio">
						<p>
							Kelci Haydocy first heard about Haiti as a child when she met a little boy who was adopted by her neighbors from the village of Source Matelas. She remembers vividly meeting him and the explanation her neighbors gave of what it was like to be an orphan in Haiti. Even though she was only a child, this was a crossroad that would change the course of her life. Kelci became a Christian after her sophomore year of high school through an organization called Young Life, and she loves Jesus Christ with great passion and
finds her identity and purpose through His blood shed on the cross. Kelci graduated from Ohio State University in May 2014 as an Epidemiologist, with a specialization in Global Health. She became interested in research on her first trip to Haiti in 2010, when she met an epidemiologist studying the patterns, causes, and effects from a cholera outbreak. Kelci decided to go back to graduate school in 2012 following her internship in Haiti at MOH. 

						</p>
					</div></h4>
				</div>
				
				
				<div class="staff">
					<img src="/assets/staff-Alyse-Hoover.jpg" alt="Alyse Hoover" />
					<h4><a href="" class="noclick">Alyse Hoover
					<br />
					<span class="staffTitle">Finance/Business Analyst</span></a>
					<div class="staffBio">
						<p>
							Alyse Hoover (Business/Finance Analyst) grew up in Berne, IN, a small town in northeast Indiana.  In the summer of 2004, she took her first trip to MOH and fell in love with the nation and the people.  She continued to take weeklong trips to MOH through high school and college.  Through those trips, the Lord led her into overseas missions.  She was an intern with MOH in the summer of 2011, served with OM in Zambia for 2 years, and then returned to MOH as an intern in the spring of 2014.  Alyse officially joined the team in Haiti in May 2014. She loves the vision of Mission of Hope, and is honored that the Lord is using her to transform the lives of every man, woman, and child in Haiti.
						</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Lourdjie-Jeannis.jpg" alt="Lourdjie Jeannis " />
					<h4>Lourdjie Jeannis 
					<br />
					<span class="staffTitle">Administrative Secretary</span>
					</h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-dana-jeffers.jpg" alt="Dana Jeffers" />
					<h4><a href="" class="noclick">Dana Jeffers
					<br />
					<span class="staffTitle">Office Coordinator</span></a>
					<div class="staffBio">
						<p>
							Dana Jeffers received her bachelor’s degree in Communication with a minor in Psychology from Florida State University. Haiti has always had a special place in her heart since she traveled there as a teenager, sharing the Word of God with children in school settings. Dana is thrilled to be a part of this growing and dynamic ministry, and is constantly reminded of the perfect timing of God especially since she and her husband, Josh, along with their two precious children, Jack (3) and Adi (2), recently relocated to the Austin area.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-Amanda-Johnson.jpg" alt="Amanda Johnson" />
					<h4><a href="" class="noclick">Amanda Johnson
					<br />
					<span class="staffTitle">Missionary Kids Teacher and ESL Teacher</span></a>
					<div class="staffBio">
						<p>Amanda Johnson is originally from Fort Myers, Florida. She and her husband, Matt, met in March of 2010 while co-leading a mission trip to Mission of Hope through Palm Beach Atlantic University. They were married the summer of 2011, and then moved the next year to Wake Forest, NC, so Matt could pursue his Masters of Divinity in Christian Ministry.  Amanda used her degree in Elementary Education by teaching ESL at two North Carolina public schools.  Amanda began her love for Haiti at 14 years old when her youth pastor and his wife started the process of adopting a son from Haiti.  The Lord has given Amanda and Matt a desire and passion to help reach every man, woman and child with the truth of Jesus Christ and see the life transformation that follows.</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Matt-Johnson.jpg" alt="Matt Johnson" />
					<h4><a href="" class="noclick">Matt Johnson
					<br />
					<span class="staffTitle">Church Advancement Coordinator</span></a>
					<div class="staffBio">
						<p>Matt Johnson is originally from Plant City, Florida. He and his wife, Amanda, met in March of 2010 while co-leading a mission trip to Mission of Hope through Palm Beach Atlantic University. They were married the summer of 2011, and then moved the next year to Wake Forest, NC, so Matt could pursue his Masters of Divinity in Christian Ministry. Matt fell in love with Haiti when he visited on that first mission trip, and the Lord grew that love in both his and Amanda’s hearts giving them a passion to help reach every man, woman and child with the truth of Jesus Christ and see the life transformation that follows.</p>
					</div></h4>
				</div>				<div class="staff">
					<img src="/images/staff-vanessa-johnson.jpg" alt="Vanessa Johnson" />
					<h4><a href="" class="noclick">Vanessa Johnson
					<br />
					<span class="staffTitle">Director of Women's Initiatives</span></a>
					<div class="staffBio">
						<p>
							Vanessa was born in Niagara Falls, Canada and attended Huntington University, graduating with a B.A. in Music Education. While at Huntington, she went on her first mission trip to Haiti and fell in love with the people. After graduation, she worked for three years at Forrest Home Family Camp in California. In 1997, she returned to Haiti with her husband, Brad, where she started the School of Hope with 230 children. She also started the Nutrition Program, the first children’s ministry for the Church of Hope, and served for years as the Teams’ Host and the kitchen leader, as well as working with the MOH worship team. She and her husband Brad have four children (JD, Georgie, Beau, and Jaima), two of whom were birthed in Haiti and two of whom were adopted from Haiti. They currently live in Bethany, MO.
						</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Ernst-Joseph.jpg" alt="Ernst Joseph" />
					<h4>Ernst Joseph
					<br />
					<span class="staffTitle">Mwen Kapab Director</span>
					</h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Kendi-Knopp.jpg" alt="Kendi Knop" />
					<h4><a href="" class="noclick">Kendi Knop
					<br />
					<span class="staffTitle">Administrative Assistant</span></a>
					<div class="staffBio">
						<p>
							Kendi Knop grew up a self-proclaimed “Air Force brat” who accepted Christ in her senior year of high school. She graduated from Colorado State in 2006 and married her college sweetheart, Cory, who works for the government. Cory’s job moved them to Texas, and together they are raising a sweet little girl to love Jesus and be a Bronco fan. Kendi has used her administrative and database skills to work for non-profit organizations since 2007, including 2 ½ years at her home church, Hill Country Bible Church.  She believes it is great to be part of an organization and follow a leadership that loves Jesus, is solely devoted to God, and dependent on Him for provision and direction. 
						</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Jean-Cerdieu-Laforet.jpg" alt="Jean Cerdieu Laforet" />
					<h4>Jean Cerdieu Laforet
					<br />
					<span class="staffTitle">School Principal</span>
					</h4>
				</div>
				
				<!--div class="staff">
					<img src="/assets/staff-Bobby-Laine.jpg" alt="Bobby Laine" />
					<h4>Bobby Laine
					<br />
					<span class="staffTitle">Group Coordinator Assistant</span>
					</h4>
				</div-->

				<div class="staff">
					<img src="/assets/staff-krista-leffin.jpg" alt="Krista Leffin" />
					<h4><a href="" class="noclick">Krista Leffin
					<br />
					<span class="staffTitle">Graphics & Social Media Specialist</span></a>
					<div class="staffBio">
						<p>Krista graduated from the University of Wisconsin in 2012.  She began her studies as a Communication Arts Major but realized her sophomore year that God was calling her in a different direction.  It was then that she switched her major to Fine Arts with a focus in Graphic Design and Painting. In 2008 Krista and her father traveled to Haiti for their first mission trip at Mission of Hope.  They were moved by the great things happening through MOH and were transformed by all of the people they met and the experiences they had.  Since that trip she has tried to get back to Haiti at least once a year and continues to be inspired by everyone she meets there.  The country of Haiti was a common theme in her artwork throughout college in both the graphic design and painting mediums and she hoped that she could somehow continue that into her professional career. Krista was blessed with the opportunity to do freelance work for Mission of Hope in May 2013 and came on board full time in October of 2013. She is so excited to be able to use her artistic skills for an organization she is so passionate about.</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Marana-Lescailles.jpg" alt="Marana Slender Taccyl Lescailles" />
					<h4><a href="" class="noclick">Marana Slender Taccyl Lescailles
					<br />
					<span class="staffTitle">Executive Secretary</span></a>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Moise-Lescailles.jpg" alt="Moise Lescailles" />
					<h4>Moise Lescailles
					<br />
					<span class="staffTitle">Data Entry Operator</span>
					</h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-kathy-lindbloom.jpg" alt="Kathy Lindbloom" />
					<h4><a href="" class="noclick">Kathy Lindbloom
					<br />
					<span class="staffTitle">Accounting</span></a>
					<div class="staffBio">
						<p>Kathy was born and raised in Wisconsin, but moved to Texas in 1982, and back to the Austin area in July 2014. She is the proud mother of 2 wonderful children and 4 amazing grandchildren. Her daughter’s sister-in-law is Barbara Campbell, our North American Medical Director, and Barbara got her connected to MOH at a family event shortly after her move to the area. Kathy has been a life-long Lutheran, and worked for many years in Lutheran church offices, several of those years for the Texas state office.  Her most recent employment was an accounting position for a property management and construction firm.  All of her jobs have given her specific skills and experience that make her a valuable part of our team.</p>
					</div>
					</h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Reginald-Louis.jpg" alt="Reginald Louis" />
					<h4>Reginald Louis
					<br />
					<span class="staffTitle">IT Coordinator</span>
					</h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Alix-Luc.jpg" alt="Alix Luk" />
					<h4>Dr. Alix Luk
					<br />
					<span class="staffTitle">Site Doctor</span>
					</h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Marie-Maude.jpg" alt="Marie Maude" />
					<h4><a href="" class="noclick">Marie Maude
					<br />
					<span class="staffTitle">3 Cords Supervisor</span></a>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Reuben-Mcmorris.jpg" alt="Reuben McMorris" />
					<h4><a href="" class="noclick">Reuben McMorris
					<br />
					<span class="staffTitle">North Campus Resident</span></a>
					<div class="staffBio">
						<p>Reuben Mcmorris grew up in the small town of Ackerly, Texas, in a Christian home. He came to know Christ and accepted God’s calling when he was 14 years old. Reuben went to Haiti for the first time with his church in 2012.  He fell in love with the people and knew he had to come back, so he applied for an internship position and came on staff later that same year.</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Cammite-McQuilkin.jpg" alt="Cammie McQuilkin" />
					<h4><a href="" class="noclick">Cammie McQuilkin
					<br />
					<span class="staffTitle">Administrative Assistant</span></a>
					<div class="staffBio">
						<p>Cammie McQuilkin graduated from Florida Gulf Coast University majoring in Social Work. It was there that God opened her eyes to His Gospel and grew her in ways she was not expecting. Shortly after the 2010 earthquake in Haiti, Cammie was able to raise support to go and help serve. Through that experience, she completely fell in love with the country and the people of Haiti.  Cammie relocated to the Austin area in January of 2014 to continue working for Mission of Hope. God continues to teach and reveal himself to her with His grace, faithfulness, and love, and at the same time, He is beautifully allowing her to be used to extend that love and grace to those who have never experienced it! </p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-Manasse-Mersilus.jpg" alt="Manassé Mersilus" />
					<h4>Manassé Mersilus
					<br />
					<span class="staffTitle">Agronomist</span>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Darling-Laguerre-Michel.jpg" alt="Darling Laguerre Michel" />
					<h4>Darling Laguerre Michel
					<br />
					<span class="staffTitle">Administrative Secretary</span>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Marie-France-Michel.jpg" alt="Marie France Michel" />
					<h4>Marie France Michel
					<br />
					<span class="staffTitle">Group Coordinator Assistant</span>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Rosnic-Mondesir.jpg" alt="Rosnic Mondésir" />
					<h4>Rosnic Mondésir
					<br />
					<span class="staffTitle">Dispatcher</span>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Marie-Dinelle-DRacine.jpg" alt="Marie Dinelle D. Racine" />
					<h4>Marie Dinelle D. Racine
					<br />
					<span class="staffTitle">Human Resources</span>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-Chris-Ryals.jpg" alt="Chris Ryals" />
					<h4><a href="" class="noclick">Chris Ryals
					<br />
					<span class="staffTitle">Assistant Medical Coordinator</span></a>
					<div class="staffBio">
						<p>
							Chris Ryals is from a small town in Louisiana. He gave his life to the Lord when he was 13 or 14. After entering high school, Chris started to turn from the Lord. He joined the military in 2004 as a Navy Corpsman and was attached to the Marines for 6 years being deployed once to Iraq for 9 months. The Lord began stirring in Chris during that time. In 2010, he got out of the military and was accepted to Baton Rouge Community College of Nursing where he rededicated his life back to the Lord. After Graduating in 2012, Chris felt the Lord calling him to Georgia where he worked in a Burn ICU and an Emergency Room in Augusta. He went on his first mission trip in November of 2013, and the Lord broke his heart. Chris immediately felt the call to serve with Mission of Hope. He interviewed for 5 months with several different people, was hired the first week in May, sold all his furnishings, sent out support letters, and arrived June 1st. 
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-Frenel-Saint-Clair.jpg" alt="Frénel Saint Clair" />
					<h4>Frénel Saint Clair
					<br />
					<span class="staffTitle">Coordinator Assistant</span>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-missing-photo.jpg" alt="Arotie Sanon" />
					<h4>Arotie Sanon
					<br />
					<span class="staffTitle">Hope House Assistant Director</span>
				</div>
				
				
				
				<div class="staff">
					<img src="/assets/staff-Kerry-Smelser.jpg" alt="Kerry Smelser" />
					<h4><a href="" class="noclick">Kerry Smelser  
					<br />
					<span class="staffTitle">Staff Writer</span></a>
					<div class="staffBio">
						<p>Kerry Smelser had a short career as a social worker assisting abused and neglected children in the Appalachian mountain region before beginning a long career of teaching. She recently retired from teaching middle school to write.  She and her husband, Craig, live in Austin, Texas, although part of their hearts will always belong to beautiful New Hampshire where they raised their two grown children.  They are also the proud grandparents of three with one more on the way!  Kerry has served in many areas of ministry within the church from teaching children, leading women’s Bible studies, to directing VBS.  She loves being outdoors, exercising, eating chocolate, watching the Buffalo Bills and is an avid reader, which makes her job with Mission of Hope a perfect fit!</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-raquel-stoltzfus.jpg" alt="Raquel Stoltzfus" />
					<h4><a href="" class="noclick">Raquel Stoltzfus
					<br />
					<span class="staffTitle">Medical Missions Coordinator</span></a>
					<div class="staffBio">
						<p>Raquel grew up in Lancaster County, PA & was blessed to be born into a very large Amish family! She was brought up in a family of believers but, starting in high school, she turned away from the Lord. She struggled even more with her faith after losing her 20 year old brother in the beginning of her senior year. After a few years of selfish & careless living, she decided to re-dedicate her life to the Lord. She has been serving in youth ministry for almost 4 years & has a strong passion to see lost & lonely teenagers find love & purpose in Christ. She graduated from a local community college as a registered nurse in 2011 & has been working in the ER at a local hospital for the past 5 years. She fell in love with Haiti when she served with the MOH medical team for 3 weeks in 2012, & she then helped lead her youth group on a mission's trip in July of 2013. God placed a strong desire in her heart this summer to serve with the MOH medical team, & she feels honored & blessed to be a part of MOH. Raquel lives to glorify God in everything she does, striving to love & serve everyone as Christ Jesus does!</p>
					</div></h4>
				</div>
				
				<!--div class="staff">
					<img src="/assets/staff-missing-photo.jpg" alt="Jason Tanner" />
					<h4><a href="" class="noclick">Jason Tanner
					<br />
					<span class="staffTitle">Director of Construction</span></a>
					<div class="staffBio">
						<p>
							Jason joins the Mission of Hope team in a bi-vocational role. He will be overseeing all construction projects in Haiti, while continuing to work as a Territory Manager for Brady Corp, where he has worked since 2005. Jason brings a wealth of varied experience to Mission of Hope. He earned his RN degree from University Medical Center, graduated from the University of Mississippi with a business degree, served as a paramedic in the Air National Guard, was the Logistics/Operations Manager for Con-Way Southern Express for 9 years, and served on staff at Hill Country Bible Church as a Small Groups Director.  Jason and his wife Bethany have 2 girls, Taylor Ann (age 15) and Ryley (age 11) and live in Austin, TX.
						</p>
					</div></h4>
				</div-->
				
				
				<div class="staff">
					<img src="/assets/staff-jessica-woodall.jpg" alt="Jessica Woodall" />
					<h4><a href="" class="noclick">Jessica Woodall
					<br />
					<span class="staffTitle">Mission Trip Coordinator</span></a>
					<div class="staffBio">
						<p>
							Jessica graduated in 2010 from Florida Gulf Coast University, earning her Bachelors in Environmental Studies with hopes to work for an impactful ecological organization.  Her boyfriend Chris proposed to her and got baptized all on her graduation weekend!  Married and happily working for Mission of Hope, Jessica is excited about how God is changing lives and emerging leaders for His name.  While she had no idea she would be called to work in the field of ministry, she is now helping teams catch a glimpse of Mission of Hope’s vision for changing the environment of Haiti for Christ.
						</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-galeme-pierre.jpg" alt="Jessica Woodall" />
					<h4><a href="" class="noclick">Galeme Pierre
					<br />
					<span class="staffTitle">Church Advancement Administrator</span></a>
					<div class="staffBio">
						<p>
							[Bio Coming Soon]
						</p>
					</div></h4>
				</div>
				

				<div class="clearfix">&nbsp;</div>
				<h2 style="margin-top: -49px; margin-bottom:10px;">Board of Directors</h2>

				<div class="staff">
					<img src="/assets/staff-gary-baldwin.jpg" alt="Gary Baldwin" />
					<h4><a href="" class="noclick">Gary Baldwin
					<br />
					<span class="staffTitle">Board of Directors</span></a>
					<div class="staffBio">
						<p>
							Gary is a graduate from Winston-Salem State University with a degree in Management Information Systems. He is a business executive with over 38 years of experience. His experience includes a background in Industry, Software, and Consulting.  He was head of the Product Development Group at one of the world’s largest independent software companies. Gary has also served in management positions in the manufacturing industry. He moved on to be a partner with Ernst & Young consulting and vice-president at Capgemini, one of the world’s largest consulting companies before forming Prism Consulting.  Gary’s experience has covered a wide variety of industries including manufacturing, consumer products and transportation as well as serving as an advisor to senior executives.  Gary and his wife, Cynthia, have two adult children and six grandchildren and reside in Advance, North Carolina, where they have been members of Calvary Baptist Church for over 30 years.  He has served on a variety of boards including his church deacon board, the ProVision Foundation, and Lead International. After the earthquake disaster, Gary felt a need to go and help in Haiti.  A few months later, on a team from his church, he saw how God was transforming lives through the work of Mission of Hope and wanted to be a part of it in some way.  Gary stayed connected and served in various capacities before being asked to sit on the board. He was honored to accept, and has been faithfully serving since 2013.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/images/staff-charles-dishinger.jpg" alt="Charles Dishinger" />
					<h4><a href="" class="noclick">Charles Dishinger
					<br />
					<span class="staffTitle">Board of Directors</span></a>
					<div class="staffBio">
						<p>
							Charles graduated from Baylor University before attending Texas State University for his MBA.  He then worked as a services director at Computer Science Corporation leading teams of consultants as they managed projects that would guide prominent insurance companies, in the US and Canada, to more efficient management. In 2003, he became the executive pastor of the church that he had become a founding member of only 5 years before, Gateway Church in Austin, Texas.  He has led small groups, ministries, serving teams, and has served on the Board of Directors to fulfill the vision of bringing life and freedom in Christ to their community and the world.  Charles and his wife, Racquel, have a son, Will, and a daughter, Katelyn.  A few months after the earthquake struck, Charles had the opportunity to serve with Mission of Hope. God began to grow a love and compassion for the people of Haiti, and he is continually inspired by them to develop a deeper love for God and others than he ever imagined possible.  Charles has faithfully served on the board since January of 2013.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-john-leffin.jpg" alt="John W. Leffin" />
					<h4><a href="" class="noclick">John W. Leffin
					<br />
					<span class="staffTitle">Board of Directors</span></a>
					<div class="staffBio">
						<p>
							John is a retired partner with the global consulting firm Accenture.  During his career he held a number of global and U.S. leadership positions in the change management and human performance practices. He was also the lead partner on a number of large multi-billion dollar global accounts. John’s decision to retire early and make a major life change was inspired by reading the book, Halftime. The concept made such a difference in his life that he joined the organization in 2004 to serve others as they navigate through their own personal midlife journeys. John now serves on the Board of Trustees of Halftime.
 
In 2006, John and some of his former Accenture partners launched the Accenture Leadership Center in the School of Business at the University of Wisconsin. John is a frequent speaker at the School of Business and serves as a lead facilitator each year at a 6-day intensive leadership program that challenges participants to lead with integrity and shape not only what they want to do, but who they want to be.
 
John traveled to Haiti for the first time in 2008.  From that experience, the Leffin family has gotten actively involved with Mission of Hope, returning to Haiti together each year. John serves as Chairman of the Board of Mission of Hope, working on strategy development & building partnerships with the business community, government agencies, and other ministries.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-john-matthews.jpg" alt="John Matthews" />
					<h4><a href="" class="noclick">John Matthews
					<br />
					<span class="staffTitle">Board of Directors</span></a>
					<div class="staffBio">
						<p>
							John received a diploma in communications from Moody Bible Institute and graduated with a Bachelor’s degree in Journalism from the University of Wisconsin-Whitewater.  He began his career as a news reporter and then moved into government, eventually becoming chief of staff to former Wisconsin Governor Tommy Thompson.  John led the national Public Affairs Practice Group for a prominent law firm based in Milwaukee, serving a diverse set of clients including the Green Bay Packers.  He was a senior executive at Diversey, Inc., a global provider of cleaning and sanitation solutions, serving as chief of staff for the president and CEO and senior vice president for corporate affairs. Currently, John provides consulting services and is a member of a variety of boards of directors.  He is a member of the Aurora Health Care Board of Directors and the Board of Directors for Call2Recycle, a leading recycler of rechargeable batteries.
 
John and his wife Julie have three children and serve as youth mentors.   John and his family worked at Mission of Hope in June of 2012 and were touched by the warmth of the Haitian people and the desperate needs of their communities. John was convinced God’s hand is on MOH and began seeking how he could help. John’s extensive corporate work as well as his experience in government and communications is a strong fit for the needs of the organization.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-richard-palesano.jpg" alt="Richard Palesano" />
					<h4><a href="" class="noclick">Richard Palesano
					<br />
					<span class="staffTitle">Board of Directors</span></a>
					<div class="staffBio">
						<p>
							Richard attended Cameron University in Oklahoma, medical school at the University of Oklahoma, and his residency was in Little Rock at the University of Arkansas.  Richard is an ear, nose and throat specialist with a thriving practice in Mobile, Alabama.  He and his wife, Cari, have been married for 30 years and are blessed with two sons, Ross and Garrett.  
 
Richard has been lifelong friends with Otis Garrison, and one day, many years ago, Otis called him to consider going on a trip to Haiti.  Richard was very busy and hesitant to go and get involved, but once he made the decision, he was hooked!  He was impressed by the humility and attitude of everyone involved and could see that God was at work. When asked to consider a board position, Richard did not feel like he had the time or the qualifications. After a lot of prayer, consideration, and discussion with his wife, he consented and has been blessed through it all.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-steve-yates.jpg" alt="Steve Yates" />
					<h4><a href="" class="noclick">Steve Yates
					<br />
					<span class="staffTitle">Board of Directors</span></a>
					<div class="staffBio">
						<p>
							Steve received a Masters of Business Administration degree through Indiana University.  He is the president and owner of O E Trade Marketing, Incorporated which sales for, consults with and trains suppliers in the heavy duty truck industry with cost analysis, quality control, and production management.  Steve is an active member of The Chapel in Fort Wayne, Indiana, serving on the Board of Elders for six years and as president of the board for four years. 
 
Steve and his wife, Kathy, have two adult children and two grandchildren.  Steve was introduced to Mission of Hope through fifty teenagers and a pickaxe on his first trip to Haiti.  Since then, he has invested in the vision of the ministry by fundraising and facilitating short terms trips while serving as Outreach Coordinator at his church.  Steve was also instrumental in the MOH clinic fundraising and building campaign, and he has served on the board since 2011.
						</p>
					</div></h4>
				</div>


			</div><!--end staff wrapper-->
			<div class="clearfix"></div>
			<p><a href="https://secure3.convio.net/mohh/site/Donation2?df_id=1540&FR_ID=1070&PROXY_ID=1070&1540.donation=form1">Support Our Missionaries!</a></p>
		</div>
		<div id="contentRight300">
			<%= render 'layouts/aboutNav'%>
		</div>
		<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
		</div><!--Content Wrapper-->
	</div>
	<script>
		$(".noclick").click(function() { return false; });
	</script>
