<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti </span>
			<br />
			Meet Our Staff</h1>
				
			<div class="staffWrapper">
				<h2 style="">Executive Team</h2>
				<div class="staff">
					<img src="/assets/staff-otis-garrison.jpg" alt="Otis Garrison" />
					<h4><a href="" class="noclick">Otis Garrison
					<br />
					<span class="staffTitle">Vice President</span></a>
					<div class="staffBio">
						<p>
							Otis graduated from Southern Nazarene University with a BS in Education and from earned is Masters Degree in Christian Ministry from Southwestern Christian University. Otis has been involved in local church ministry in various roles for 25 years, serving as Executive Pastor at Lakeside Assembly of God in Oklahoma City, OK for 12 years. He joined the Board of Directors for Mission of Hope in January, 2000 and served there until he joined the staff in January 2004 as the U.S. Director. He and his wife Charletta live in Oklahoma City. They have two married children and 3 grandchildren.
						</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-brad-johnson.JPG" alt="Brad Johnson" />
					<h4><a href="" class="noclick">Brad Johnson
					<br />
					<span class="staffTitle">President</span></a>
					<div class="staffBio">
						<p>
							Brad attended Huntington University in Huntington, IN as a student athlete and graduated in 1993 with a B.S. in Educational Ministries with a Business Emphasis. While at Huntington, he broke school records in Track and Field, won the National Championship, and was awarded the prestigious Wheeler Award, given to the National Track and Field Male Athlete of the Year for outstanding character, athletic achievement, and campus leadership by the NCCAA. Upon graduation, Brad joined Youth for Christ as the Director of Campus Life at Carroll High School in Fort Wayne, IN, where he developed his passion for coaching and mentoring young leaders.

In 1997, Brad went to Haiti on a week-long mission trip to serve the people there and realized that this was where he was called to be. In 1998, he and his family moved to Haiti to help bring life transformation to every man, woman, and child through Mission of Hope, Haiti. For 15 years, Brad directly oversaw all strategic and operational aspects of MOH, while mentoring and grooming young Haitian leaders to step into key leadership roles. In 2008, the Huntington University Alumni Association awarded him the Distinguished Alumni Citation in recognition of mission work and commitment to impacting the world for Christ. Today, Brad and his wife Vanessa, along with their four children (JD, Georgie, Beau, and Jaima) live in Bethany, MO.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-bob-king.jpg" alt="Bob King" />
					<h4><a href="" class="noclick">Bob King
					<br />
					<span class="staffTitle">Chief Operating Officer</span></a>
					<div class="staffBio">
						<p>
							Bob graduated from Grace University with a bachelor’s degree in Biblical Studies and Human Resource Management, then earned his MBA from the University of Phoenix. He worked for 10 years as the Director of Global Business Development for Visteon Corporation/Ford Motor Company. Bob also served as an adjunct professor at Cornerstone University from 2002-2006, teaching Strategic Management, Business Law, and Managerial Finance. He then left the private sector to become the Executive Pastor at Hill Country Bible Church Austin, where he served for six and half years. He joined the Board for MOH in 2010 and officially joined the MOH staff team in January, 2013. Bob’s greatest joy comes from spending time with his family, which includes his wife, Lori, and their four children: Whitney, Alyssa, Cassidy, and Isaiah.</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-marc-lubin.jpg" alt="Marc Jean Lubin" />
					<h4><a href="" class="noclick">Marc Jean Lubin
					<br />
					<span class="staffTitle">Executive Director</span></a>
					<div class="staffBio">
						<p>
							Before Marc came to work for the Mission of Hope, he worked for the United States Embassy for 31 years. Marc was the highest ranking Haitian in the US Embassy in Haiti. Marc oversees all full-time staff in Haiti, payroll and operating finances, and ensures that the mission is in full compliance with Haitian laws.
						</p>
					</div></h4>
				</div>

				<div class="clearfix"></div>
				<h2 style="margin-top: -68px;">Operations Leadership Team</h2>

				<div class="staff">
					<img src="/assets/staff-missing-photo.jpg" alt="Annette Boorman" />
					<h4><a href="" class="noclick">Annette Boorman
					<br />
					<span class="staffTitle">Senior Team Lead</span></a>
					<span class="staffTitle">Communication/ Marketing/Sponsorship</span></a>
					<div class="staffBio">
						<p>
							Annette graduated from Baylor University with degrees in Marketing & Management and earned her Teacher Certification at the University of Texas. She worked in the Round Rock, TX School District as a Teacher, Teaching Team Leader, and Teacher Trainer, before retiring to raise her children. She then joined the staff of Hill Country Bible Church in Austin, TX, eventually becoming the Generations Team Lead, overseeing all ministry from birth through high school. Annette joined Mission of Hope, Haiti in 2013. She and her husband Chuck have two children, Courtney & Holden, and live in Austin, TX. Privileged to grow up in a pastor’s home with a missionary heartbeat, Annette’s passion is connecting people to Christ, to each other, and to their God-given mission in life.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-missing-photo.jpg" alt="Scott Campbell" />
					<h4><a href="" class="noclick">Scott Campbell
					<br />
					<span class="staffTitle">Team Lead, Business Operations</span></a>
					<div class="staffBio">
						<p>
							Scott Campbell joins MOH the Team Lead overseeing all MOH Business Operations.  He comes to MOH with over 20 years of experience in business operations and consulting with SAP and brings a wealth of knowledge and operating wisdom to the team. As part of his new role, Scott will oversee the meal packaging operation, HaitiOne development, and all other MOH private business initiatives. Scott and his wife Barbara (our North American Medical Director) live in Austin, TX and have unofficially served with Mission of Hope for many years.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-missing-photo.jpg" alt="Jean Ernseau Dauphin" />
					<h4><a href="" class="noclick">Jean Ernseau Dauphin
					<br />
					<span class="staffTitle">Administrator, Educational Initiative & Human Resources</span></a>
					<div class="staffBio">
						<p>
							Dauphin earned his undergraduate degree in Education and his Masters degree in School Management & Training. He worked for many years as a teacher at several high schools and colleges in Haiti and in 1990 was appointed Head of the Department of Social Activities in Port-au-Prince. In 1994, he was appointed Vice-Chairman of the Electoral Office of Grand ‘Anse, where he helped oversee the electoral process throughout Haiti. In 1995, the Ministry of Education appointed him Director of School St. Luke in Jeremy, as well as Professor of  Education, Philosophy and French at  Marfranc  Normal School (a school for teacher training for primary school teachers). In 2001, he was hired as General Manager for the Mission of Hope school. In July 2010, Dauphin became the Administrator of the MOH Foundation, Haiti and in March 2013 became the Education Superintendent. Dauphin and his wife Enide have four beautiful children.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-drew-garrison.jpg" alt="Drew Garrison" />
					<h4><a href="" class="noclick">Drew Garrison
					<br />
					<span class="staffTitle">Director of Church Development</span></a>
					<div class="staffBio">
						<p>
							Drew has been a part of the MOH family for over a decade, but recently came on board to serve as Director of Church Partnerships.  Drew graduated from Evangel University in Springfield, MO in 2007, and has since served in the roles of Student and Outreach Pastors with two of MOH's church partners before joining the MOH staff.  Drew's wife Rachel is a Nurse Practitioner and although not MOH staff, she is excited to give of her time voluntarily to serve in Haiti with MOH.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-austin-holmes.jpg" alt="Austin Holmes" />
					<h4><a href="" class="noclick">Austin Holmes
					<br />
					<span class="staffTitle">Director of Business Development</span></a>
					<div class="staffBio">
						<p>
							Austin graduated from Furman University in 2007 with a Bachelor's Degree in History and Religion. Upon completion of his undergraduate degree and after a 5th year victory lap (Go Paladins!) with his new bride (and future Doctor at Mission of Hope), his family moved to South Florida where he taught high school history and philosophy. While teaching, Austin had the opportunity to complete an MBA, as well as intern with the United Nations in the Internal Auditing Division before coming on staff full-time in January of 2011.
						</p>
						<p>	Austin serves Mission of Hope in planning the operations and activities of projects and programs at Mission of Hope. This involves connecting with partners to implement best practices, resource competencies, and most responsibly advance with spiritually, operationally, and financially sustainable practices. He is passionate about the long-term vision of Mission of Hope, and the drive of Mission of Hope's Haitian leaders to see their nation transformed for Jesus Christ.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-tony-jean.jpg" alt="Tony Jean" />
					<h4><a href="" class="noclick">Tony Jean
					<br />
					<span class="staffTitle">Team Lead, Mwen Kapab & Church of Hope</span></a>
					<div class="staffBio">
						<p>
							Tony graduated from a teachers’ high school in Haiti, with a license in Social Sciences (History and Geography) and a Special Study Master in Geography. He earned his Master’s Degree in Education Science at Laurel University, then taught in private and public high schools in Port-au-Prince from 1993 – 2002. He continues to teach part -time at  Laurel University, where is he working towards a Master’s Degree in Theology. Tony has been working at Mission of Hope, Haiti since October 2002 , first as a School Principal and now as the Mwen Kapab & Church of Hope Director. Tony has a beautiful wife and 2 children.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-wantously-nicolas.jpg" alt="Wantously Nicolas" />
					<h4><a href="" class="noclick">Wantously Nicolas
					<br />
					<span class="staffTitle">Team Lead, Site Management, Security & Vehicle Maintenance</span></a>
					<div class="staffBio">
						<p>
							Nicolas as a Bachelor’s Degree in Business Administration from Institut Universitaire Quisqueya Amerique(INUQA). He worked for Bureau the Nutrition et Developpement(BND) for 7 years as a Stock Keeper and I joined Fondation Mission de l’Espoir (FOME) in  May 2006 as a Dispatcher and Stock Keeper and now I am serving as an Operations/Logistics Manager.I have 3 children ;Gaelle,Wancarmy and Junior.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-lookens-pickering.jpg" alt="Lookens Pickering" />
					<h4><a href="" class="noclick">Lookens Pickering
					<br />
					<span class="staffTitle">Executive Director Assistant<br>Village of Hope, Clinic, HaitiOne</span></a>
					<div class="staffBio">
						<p>
							Lookens graduated from Infotecnique School of Haiti  with  a Bachelor’s Degree in Computer Science and is currently studying  International Relations and Diplomacy at CEDI(Centre d’Etudes Diplomatiques et des Relations Internationales). Lookens worked as a supervisor at  Haitibec S.A. in Petion for seven years, then worked briefly for the Elrancho Hotel, before joining Mission of Hope in 2007.
						</p>
					</div></h4>
				</div>

				<div class="clearfix"></div>
				<h2 style="margin-top: -25px;">Staff</h2>

				<div class="staff">
					<img src="/assets/staff-bailey-adkins.jpg" alt="Bailey Adkins" />
					<h4><a href="" class="noclick">Bailey Adkins
					<br />
					<span class="staffTitle">VBS Coordinator</span></a>
					<div class="staffBio">
						<p>
							Bailey is originally from Bethany, Missouri. She is finishing her studies at Graceland University in Elementary Education. She first came to Mission of Hope in 2007 on a weeklong trip and has since interned each summer. Bailey has always had a passion for missions as well as education. The Lord opened up an opportunity to actively pursue both in 2011 as a teacher for missionary children.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-katie-anderson.PNG" alt="Katie Anderson" />
					<h4><a href="" class="noclick">Katie Anderson
					<br />
					<span class="staffTitle">Village of Hope Activities Coordinator</span></a>
					<div class="staffBio">
						<p>
							For the last 9 years Katie has lived in Lancaster, Pennsylvania. Growing up in a pastor's home, Katie had opportunities to live in Indiana, Canada and Pennsyvlania where her parents served throughout the years. After high school and into her early 20s Katie struggled with her faith, but eventually was able to find her way back and rededicated her life to the Lord in 2008. Since then, Katie has been dedicated to serving locally and in her church. Katie is passionate about outreach and has actively been involved with children, youth, and young adult ministries as well as music! For the last 2 years Katie worked for a program that helped house the homeless/mentally ill. God recently laid it on Katie's heart to prepare for a change, and shortly after opened the doors for Katie to be part of Mission of Hope! Katie loves building relationships and making people laugh!
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-doug-barker.jpg" alt="Doug Barker" />
					<h4><a href="" class="noclick">Doug Barker
					<br />
					<span class="staffTitle">Church Development</span></a>
					<div class="staffBio">
						<p>
							Doug Barker has been in Pastoral Ministry for 40 plus years. From the 1st year of Pastoring, God placed a heart for missions and with that Doug led the congregations that he served with a desire to follow the voice of God by "going into all the World and proclaim His Gospel." 4 years ago Doug was introduced to MOH and on that first "Vision Trip" he knew that God was directing him to be as effective as he could to help others know about and see the incredible work being done in Haiti thru MOH.
Doug and his wife Janice live in the DFW area where they enjoy time with their children, grand-children, family, and talking with everyone that they can about MOH-Haiti.
						</p>
					</div></h4>

				</div>

				<div class="staff">
					<img src="/assets/staff-andrea-barnett.jpg" alt="Andrea Barnett" />
					<h4><a href="" class="noclick">Andrea Barnett
					<br />
					<span class="staffTitle">Development Coordinator, Church Development</span></a>
					<div class="staffBio">
						<p>
							Andrea graduated from the University of Oklahoma with a degree in communication. For the past several years she's been working for a national non-profit organization and was connected with Mission of Hope in 2009 through work at her local church. She began volunteering for Mission of Hope in 2010 and was hired part-time in March. Andrea joined full time in 2011 and is the partnership coordinator for church development.
						</p>
					</div></h4>

				</div>

				<div class="staff">
					<img src="/assets/staff-kenol-rachael-bernard.PNG" alt="Kenol & Rachel Bernard" />
					<h4><a href="" class="noclick">Kenol & Rachel Bernard
					<br />
					<span class="staffTitle">Church Advancement Director, Orphanage Director</span></a>
					<div class="staffBio">
						<p>We are the Bernards, an international missionary family serving in Haiti with Mission of Hope in the Titanyen, Cabaret area.</p>
						<p>Kenol is originally from Port au Prince but after falling in love with Mission of Hope’s vision for his country he felt called to leave the city life behind and move out to the country to be a part of the amazing things happening through Mission of Hope. Kenol is the Church Advancement Director overseeing all Mission of Hope Churches and the outreach programs that are happening in and through the Haitian church.</p>
						<p>Rachel is originally from Niagara Falls, Canada. She first came to Mission of Hope in February 2004 and instantly fell in love with the children at the orphanage. Two years and another trip later she moved to Haiti full time to serve at the orphanage as an English teacher. She now serves as the Orphanage Director overseeing the care of our 65 children and directing a staff of 25 amazing men and women.</p>
						<p>Out of the ashes of the earthquake and terrible loss God’s goodness shone through as He miraculously brought Kenol and Rachel together. They were married in February 2012 and are now serving hand and hand at Mission of Hope raising their three boys Joshua, Olivier and Joseph and an orphanage full of boys and girls.</p>
						<p>As missionaries Kenol and Rachel are responsible for raising all their own support. Please prayerfully consider joining their ministry team; praying for them, their ministry and supporting them financially.</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-elizabeth-billingslea.jpg" alt="Elizabeth Billingslea" />
					<h4><a href="" class="noclick">Elizabeth Billingslea
					<br />
					<span class="staffTitle">Mobilization Director</span></a>
					<div class="staffBio">
						<p>
							Elizabeth is originally from Colorado. After graduating high school in 2001, she attended an intense leadership academy and studied global missions and leadership training. After spending 3 years in the program she knew that sharing the gospel to the ends of the earth is what truly made her come alive. In 2009 she felt the Lord calling her to Arkansas, so without any real explanation she took a leap of faith and obeyed the gentle whisper to go. She started working with the college ministry at the church she attended and joined the executive staff with a focus on discipleship and mentoring. Little did she know that her new church had a deep connection with Mission of Hope and a real love for the people of Haiti. In May on 2011 she came to Haiti for the first time on a weeklong trip. It didn’t take long for her to know that this is where the Lord had always intended her to be and He had been setting things into motion long before she knew it. She is definitely looking forward to taking over group trip coordinating and having the opportunity to work with Mission of Hope.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-cory-dahm.jpg" alt="Cory Dahm" />
					<h4><a href="" class="noclick">Cory Dahm
					<br />
					<span class="staffTitle">Accountant</span></a>
					<div class="staffBio">
						<p>
							Cory is a graduate of Florida Gulf Coast University in Fort Myers, Florida with a bachelor’s degree in accounting. He worked in public accounting for three and a half years performing financial statement audits for non-profit organizations. Cory recently joined Mission of Hope full time to perform the accounting functions for the US operations.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-rachel-durban.jpg" alt="Rachel Durban" />
					<h4><a href="" class="noclick">Rachel Durban
					<br />
					<span class="staffTitle">Mobilization Logistics Coordinator</span></a>
					<div class="staffBio">
						<p>Rachel was born and raised in a small North Texas town and has her bachelor's degree from University of North Texas in Communication Studies. While on staff as the Visual Arts Director at her home church in Texas, Rachel first visited Mission of Hope in 2011 on a short-term mission trip. She, like so many others, was captivated by what the Lord is doing in Haiti through MOH. After another short-term trip in 2011 and a 3 month summer internship in 2012, God called her to be here full-time! Rachel experienced significant spiritual growth on her trips to Haiti and developed a deeper understanding of the Truth of the Gospel and the Lord's plan for His people. Her desire is to help others experience the same transformation. She has a deep love for the people of Haiti and the beautiful redemptive plan God is working out for His people, and she is so thrilled to be a part of Mission of Hope. Rachel has a heart for Jesus, people, and serving. She loves photography, videography, coffee, The Office, and laughter...lots of it.</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-justin-brooke-fasnacht.jpg" alt="Justin & Brooke Fasnacht" />
					<h4><a href="" class="noclick">Justin & Brooke Fasnacht
					<br />
					<span class="staffTitle">Mobilization Intern/Program Coordinator and Child Sponsorship Liasion</span></a>
					<div class="staffBio">
						<p>Justin was raised in Lancaster, Pennsylvania and Brooke is from Kansas City, Missouri. They met while attending Evangel University located in Springfield, Missouri. After graduating with degrees in Physical Education and Elementary Education, they were married in 2010. For the past three years, Justin and Brooke have been teaching in Nixa, Missouri. Brooke has been on several short terms missions trips to Mission of Hope, and the couple made their first visit together in the summer of 2012. They are passionate to serve the people of Haiti and to share the amazing hope of Jesus.</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-missing-photo.jpg" alt="Dave Fox" />
					<h4><a href="" class="noclick">Dave Fox
					<br />
					<span class="staffTitle">Church Development Representative</span></a>
					<div class="staffBio">
						<p>
							Dave Fox joins the Church Advancement team, developing and managing church relationships to share all that God is doing in Haiti through our partnership with North American churches. Dave, his wife Missy, and adult children (David, Hannah, and Mary Grace) have served for several summers at Mission of Hope with our Mobilization Team, and we are extremely blessed to have Dave become an official “staffer” with the MOH Family. Dave will continue to serve as North Campus Pastor at The Bridge Community Church in Indiana, as well as serve on the Church Development Team with Otis, Drew, Doug, and Andrea.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-donna-harrison.jpg" alt="Donna Harrison" />
					<h4><a href="" class="noclick">Donna Harrison
					<br />
					<span class="staffTitle">Child Sponsorship Account Manager</span></a>
					<div class="staffBio">
						<p>Donna Harrison is a graduate of Liberty University. She and her husband, Dennis, moved to Austin, TX from Michigan 5 years ago with their 3 children. Donna was a middle school teacher for 10 years. She has served in children's, youth and women's ministries for over 25 years. Donna loves writing and photography, but her passion is Jesus!</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-adam-harshman.jpg" alt="Adam Harshman" />
					<h4><a href="" class="noclick">Adam Harshman
					<br />
					<span class="staffTitle">Business Development Associate</span></a>
					<div class="staffBio">
						<p>Adam was born and raised in the small mid-west town of Yorktown, Indiana. At the young age of 18 and very young in his faith, Adam traveled to the Mission of Hope, Haiti. During his first trip in 2010, the Lord began to show him what it meant to truly serve. The Lord used this trip as a platform of life transformation that would change his path forever. After the blessing of three more weeklong trips to the Mission within the next three years, Adam felt the calling to contribute more than just a week of his time.</p>

						<p>As an International Business Major at Ball State University, he was able to receive internship credit through the university and he traveled back to the Mission of Hope for the Fall 2013 Internship Program. Within the first few weeks of being an intern, the Lord opened doors that allowed him to use his business mind to serve the people of Haiti. Now at 21, Adam has decided to put his degree on hold and move to Haiti full time. He is now a part of the Businesses Development Team and helps to support and monitor key business operations on ground in Haiti. He is excited to see what the Lord has in store for him and is humbled to play a role in the Lord’s redemption plan for Haiti!</p>
					</div></h4>
				</div>


				<div class="staff">
					<img src="/assets/staff-dana-jeffers.jpg" alt="Dana Jeffers" />
					<h4><a href="" class="noclick">Dana Jeffers
					<br />
					<span class="staffTitle">Office Coordinator</span></a>
					<div class="staffBio">
						<p>
							Dana received her bachelor’s degree in communication science, with a minor in psychology from Florida State University. Haiti has always had a special place in Dana’s heart, as she traveled as a teenager to Haiti, bringing His word to many children in school settings. Dana is thrilled to be a part of this growing and expanding ministry and is continuously reminded that it is God’s timing, not our timing.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-matt-amanda-johnson.jpg" alt="Matt & Amanda Johnson" />
					<h4><a href="" class="noclick">Matt & Amanda Johnson
					<br />
					<span class="staffTitle">Church Advancement Coordinator & Missionary Kids Teacher and English Teacher</span></a>
					<div class="staffBio">
						<p>Matt is originally from Plant City, Florida and Amanda is from Fort Myers, Florida. The couple met when they were paired together to lead a mission trip to Mission of Hope through Palm Beach Atlantic University. They led a trip to Mission of Hope in March of 2010 and Amanda returned that summer as an intern. They got married a year later in the summer of 2011. After their first year of marriage, Matt and Amanda moved to Wake Forest, NC so Matt could pursue his M.Div. in Christian Ministry. While Matt was working on his graduate degree, Amanda continued using her degree in Elementary Education by teaching ESL at two local public schools. Amanda’s has had a passion for Haiti and the Haitian people since she was 14 when her youth pastor and his wife began the process of adopting a son from Haiti. Matt fell in love with the country when he first visited on their trip in 2010. The Lord has given them both a desire and passion to help reach every man, woman, and child with the truth of Jesus Christ & to see the life transformation that follows. They feel so blessed that the Lord has given them the opportunity to live in Haiti and love the Haitian people with the love of Christ.</p>
					</div></h4>
				</div>				<div class="staff">
					<img src="/images/staff-vanessa-johnson.jpg" alt="Vanessa Johnson" />
					<h4><a href="" class="noclick">Vanessa Johnson
					<br />
					<span class="staffTitle">Director of Women's Initiatives</span></a>
					<div class="staffBio">
						<p>
							Vanessa was born in Niagara Falls, Canada and attended Huntington University, graduating with a B.A. in Music Education. While at Huntington, she went on her first mission trip to Haiti and fell in love with the people. After graduation, she worked for three years at Forrest Home Family Camp in California. In 1997, she returned to Haiti with her husband, Brad, where she started the School of Hope with 230 children. She also started the Nutrition Program, the first children’s ministry for the Church of Hope, and served for years as the Teams’ Host and the kitchen leader, as well as working with the MOH worship team. She and her husband Brad have four children (JD, Georgie, Beau, and Jaima), two of whom were birthed in Haiti and two of whom were adopted from Haiti. They currently live in Bethany, MO.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-missing-photo.jpg" alt="Kendi Knop" />
					<h4><a href="" class="noclick">Kendi Knop
					<br />
					<span class="staffTitle">Administrative Assistant</span></a>
					<div class="staffBio">
						<p>
							Kendi grew up as a self-proclaimed “Air Force brat” and graduated from CSU with a degree in History.  She worked for a non-profit for 6 years, before joining the staff at Hill Country Bible Church, where she worked as the Small Groups Administrative Coordinator for the past few years. Kendi brings tremendous administrative and database experience to our team. She and her husband Cory and daughter Adley live in Austin, TX.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-chelsea-landis.jpg" alt="Chelsea Landis" />
					<h4><a href="" class="noclick">Chelsea Landis
					<br />
					<span class="staffTitle">Executive Coordinator</span></a>
					<div class="staffBio">
						<p>Chelsea graduated with a Bachelor's degree in Mathematics/Statistics and a minor in Business Administration from Shippensburg University in 2007.  Chelsea worked at Siemens Healthcare as a Financial Analyst focusing on expense budgeting and controlling.  She left her position in 2012 when God called her to move to Haiti full-time.  Chelsea worked at an orphanage in Port-au-Prince for 9 months before coming to Mission of Hope.  She has a deep love the Haitian people, especially the children and is thankful to be a part of seeing every man, woman, and child in Haiti transformed by the love of Jesus.  Chelsea joins Mission of Hope as an Executive Coordinator and Financial Analyst.</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-krista-leffin.jpg" alt="Krista Leffin" />
					<h4><a href="" class="noclick">Krista Leffin
					<br />
					<span class="staffTitle">Graphics & Social Media Specialist</span></a>
					<div class="staffBio">
						<p>Krista graduated from the University of Wisconsin in 2012.  She began her studies as a Communication Arts Major but realized her sophomore year that God was calling her in a different direction.  It was then that she switched her major to Fine Arts with a focus in Graphic Design and Painting. In 2008 Krista and her father traveled to Haiti for their first mission trip at Mission of Hope.  They were moved by the great things happening through MOH and were transformed by all of the people they met and the experiences they had.  Since that trip she has tried to get back to Haiti at least once a year and continues to be inspired by everyone she meets there.  The country of Haiti was a common theme in her artwork throughout college in both the graphic design and painting mediums and she hoped that she could somehow continue that into her professional career. Krista was blessed with the opportunity to do freelance work for Mission of Hope in May 2013 and came on board full time in October of 2013. She is so excited to be able to use her artistic skills for an organization she is so passionate about.</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-cammie-mcquilkin.jpg" alt="Cammie McQuilkin" />
					<h4><a href="" class="noclick">Cammie McQuilkin
					<br />
					<span class="staffTitle">Administrative Assistant</span></a>
					<div class="staffBio">
						<p>Cammie recently graduated from Florida Gulf Coast University with a Social Work degree.  In college, God opened her eyes and grew her in ways she never would have expected.  God is continuously teaching her and revealing himself to her with His grace, faithfulness and love.  Working at Mission of Hope is a huge testament to the faithfulness of God, and she is so thankful.</p>
						<p>After the Haiti earthquake of 2010, the Lord really gave her a heart for the Haitian people.  Through God’s provision of donations, she was able to travel to Haiti shortly after the earthquake, where she saw God working not only in her life, but in the country of Haiti.  Through that experience she completely fell in love with Haiti and the Haitian people.</p>
						<p>It is an honor to work for an organization whose mission is to bring life transformation every man, woman and child.  It is such a beautiful thing to know and feel for yourself the love of Jesus, but it is also extremely beautiful to see God softening and moving in the hearts of those who have never felt pure, unconditional love.</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-missing-photo.jpg" alt="Mike Rivas" />
					<h4><a href="" class="noclick">Mike Rivas
					<br />
					<span class="staffTitle">Sports Ministry Director</span></a>
					<div class="staffBio">
						<p>
							Mike brings a wealth of varied education and experience to our MOH family. He earned his Masters Degree in Public Health at the University of Northern Colorado and spent 10 years teaching Biology, Epidemiology, World Health and Health Education. He spent 20 years coaching soccer from youth level up to NCAA Division 1 level, and also has Construction Management experience. He and his wife Amy and their children Cole, Taylor, and Zachary live in Watsonville, CA (northern California.) 
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-raquel-stoltzfus.jpg" alt="Raquel Stoltzfus" />
					<h4><a href="" class="noclick">Raquel Stoltzfus
					<br />
					<span class="staffTitle">Medical Missions Coordinator</span></a>
					<div class="staffBio">
						<p>Raquel grew up in Lancaster County, PA & was blessed to be born into a very large Amish family! She was brought up in a family of believers but, starting in high school, she turned away from the Lord. She struggled even more with her faith after losing her 20 year old brother in the beginning of her senior year. After a few years of selfish & careless living, she decided to re-dedicate her life to the Lord. She has been serving in youth ministry for almost 4 years & has a strong passion to see lost & lonely teenagers find love & purpose in Christ. She graduated from a local community college as a registered nurse in 2011 & has been working in the ER at a local hospital for the past 5 years. She fell in love with Haiti when she served with the MOH medical team for 3 weeks in 2012, & she then helped lead her youth group on a mission's trip in July of 2013. God placed a strong desire in her heart this summer to serve with the MOH medical team, & she feels honored & blessed to be a part of MOH. Raquel lives to glorify God in everything she does, striving to love & serve everyone as Christ Jesus does!</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-missing-photo.jpg" alt="Jason Tanner" />
					<h4><a href="" class="noclick">Jason Tanner
					<br />
					<span class="staffTitle">Construction Manager</span></a>
					<div class="staffBio">
						<p>
							Jason joins the Mission of Hope team in a bi-vocational role. He will be overseeing all construction projects in Haiti, while continuing to work as a Territory Manager for Brady Corp, where he has worked since 2005. Jason brings a wealth of varied experience to Mission of Hope. He earned his RN degree from University Medical Center, graduated from the University of Mississippi with a business degree, served as a paramedic in the Air National Guard, was the Logistics/Operations Manager for Con-Way Southern Express for 9 years, and served on staff at Hill Country Bible Church as a Small Groups Director.  Jason and his wife Bethany have 2 girls, Taylor Ann (age 15) and Ryley (age 11) and live in Austin, TX.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-jessica-woodall.jpg" alt="Jessica Woodall" />
					<h4><a href="" class="noclick">Jessica Woodall
					<br />
					<span class="staffTitle">Mission Trip Coordinator</span></a>
					<div class="staffBio">
						<p>
							Jessica graduated in 2010 from Florida Gulf Coast University, earning her Bachelors in Environmental Studies with hopes to work for an impactful ecological organization.  Her boyfriend Chris proposed to her and got baptized all on her graduation weekend!  Married and happily working for Mission of Hope, Jessica is excited about how God is changing lives and emerging leaders for His name.  While she had no idea she would be called to work in the field of ministry, she is now helping teams catch a glimpse of Mission of Hope’s vision for changing the environment of Haiti for Christ.
						</p>
					</div></h4>
				</div>
				
				<div class="staff">
					<img src="/assets/staff-holly-zasadny.jpg" alt="Holly Zasadny" />
					<h4><a href="" class="noclick">Holly Zasadny
					<br />
					<span class="staffTitle">Partnership Development</span></a>
					<div class="staffBio">
						<p>Holly Zasadny was raised in Pittsburgh, PA. She attended San Diego State University and received a Bachelor of Arts degree in English. She has over 12 years of organizational administration experience. Her last 7 years were spent serving in urban ministry in the area of event planning and strategic fund development. She married her husband, Jeff, in May 2011 and moved to his hometown of Ft. Myers. Her husband's passion for children in Haiti ignited Holly's desire to pursue a position at Mission of Hope, Haiti. She joined the MOH team in July 2012.</p>
						<p>As Fund Development Coordinator, Holly's role is to support the mission of MOH and their directors by implementing and managing intentional relationship-driven fund development programs, including major investor development, strategic partnerships, project reporting, and grant writing.</p>
					</div></h4>
				</div>

				<div class="clearfix"></div>
				<h2 style="margin-top: -49px;">Board of Directors</h2>

				<div class="staff">
					<img src="/assets/staff-gary-baldwin.jpg" alt="Gary Baldwin" />
					<h4><a href="" class="noclick">Gary Baldwin
					<br />
					<span class="staffTitle">Board of Directors</span></a>
					<div class="staffBio">
						<p>
							Gary is a graduate from Winston-Salem State University with a degree in Management Information Systems. He is a business executive with over 38 years of experience. His experience includes a background in Industry, Software, and Consulting.  He was head of the Product Development Group at one of the world’s largest independent software companies. Gary has also served in management positions in the manufacturing industry. He moved on to be a partner with Ernst & Young consulting and vice-president at Capgemini, one of the world’s largest consulting companies before forming Prism Consulting.  Gary’s experience has covered a wide variety of industries including manufacturing, consumer products and transportation as well as serving as an advisor to senior executives.  Gary and his wife, Cynthia, have two adult children and six grandchildren and reside in Advance, North Carolina, where they have been members of Calvary Baptist Church for over 30 years.  He has served on a variety of boards including his church deacon board, the ProVision Foundation, and Lead International. After the earthquake disaster, Gary felt a need to go and help in Haiti.  A few months later, on a team from his church, he saw how God was transforming lives through the work of Mission of Hope and wanted to be a part of it in some way.  Gary stayed connected and served in various capacities before being asked to sit on the board. He was honored to accept, and has been faithfully serving since 2013.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/images/staff-charles-dishinger.jpg" alt="Charles Dishinger" />
					<h4><a href="" class="noclick">Charles Dishinger
					<br />
					<span class="staffTitle">Board of Directors</span></a>
					<div class="staffBio">
						<p>
							Charles graduated from Baylor University before attending Texas State University for his MBA.  He then worked as a services director at Computer Science Corporation leading teams of consultants as they managed projects that would guide prominent insurance companies, in the US and Canada, to more efficient management. In 2003, he became the executive pastor of the church that he had become a founding member of only 5 years before, Gateway Church in Austin, Texas.  He has led small groups, ministries, serving teams, and has served on the Board of Directors to fulfill the vision of bringing life and freedom in Christ to their community and the world.  Charles and his wife, Racquel, have a son, Will, and a daughter, Katelyn.  A few months after the earthquake struck, Charles had the opportunity to serve with Mission of Hope. God began to grow a love and compassion for the people of Haiti, and he is continually inspired by them to develop a deeper love for God and others than he ever imagined possible.  Charles has faithfully served on the board since January of 2013.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-john-leffin.jpg" alt="John W. Leffin" />
					<h4><a href="" class="noclick">John W. Leffin
					<br />
					<span class="staffTitle">Board of Directors</span></a>
					<div class="staffBio">
						<p>
							John is a retired partner with the global consulting firm Accenture.  During his career he held a number of global and U.S. leadership positions in the change management and human performance practices. He was also the lead partner on a number of large multi-billion dollar global accounts. John’s decision to retire early and make a major life change was inspired by reading the book, Halftime. The concept made such a difference in his life that he joined the organization in 2004 to serve others as they navigate through their own personal midlife journeys. John now serves on the Board of Trustees of Halftime.
 
In 2006, John and some of his former Accenture partners launched the Accenture Leadership Center in the School of Business at the University of Wisconsin. John is a frequent speaker at the School of Business and serves as a lead facilitator each year at a 6-day intensive leadership program that challenges participants to lead with integrity and shape not only what they want to do, but who they want to be.
 
John traveled to Haiti for the first time in 2008.  From that experience, the Leffin family has gotten actively involved with Mission of Hope, returning to Haiti together each year. John serves as Chairman of the Board of Mission of Hope, working on strategy development & building partnerships with the business community, government agencies, and other ministries.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-john-matthews.jpg" alt="John Matthews" />
					<h4><a href="" class="noclick">John Matthews
					<br />
					<span class="staffTitle">Board of Directors</span></a>
					<div class="staffBio">
						<p>
							John received a diploma in communications from Moody Bible Institute and graduated with a Bachelor’s degree in Journalism from the University of Wisconsin-Whitewater.  He began his career as a news reporter and then moved into government, eventually becoming chief of staff to former Wisconsin Governor Tommy Thompson.  John led the national Public Affairs Practice Group for a prominent law firm based in Milwaukee, serving a diverse set of clients including the Green Bay Packers.  He was a senior executive at Diversey, Inc., a global provider of cleaning and sanitation solutions, serving as chief of staff for the president and CEO and senior vice president for corporate affairs. Currently, John provides consulting services and is a member of a variety of boards of directors.  He is a member of the Aurora Health Care Board of Directors and the Board of Directors for Call2Recycle, a leading recycler of rechargeable batteries.
 
John and his wife Julie have three children and serve as youth mentors.   John and his family worked at Mission of Hope in June of 2012 and were touched by the warmth of the Haitian people and the desperate needs of their communities. John was convinced God’s hand is on MOH and began seeking how he could help. John’s extensive corporate work as well as his experience in government and communications is a strong fit for the needs of the organization.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-richard-palesano.jpg" alt="Richard Palesano" />
					<h4><a href="" class="noclick">Richard Palesano
					<br />
					<span class="staffTitle">Board of Directors</span></a>
					<div class="staffBio">
						<p>
							Richard attended Cameron University in Oklahoma, medical school at the University of Oklahoma, and his residency was in Little Rock at the University of Arkansas.  Richard is an ear, nose and throat specialist with a thriving practice in Mobile, Alabama.  He and his wife, Cari, have been married for 30 years and are blessed with two sons, Ross and Garrett.  
 
Richard has been lifelong friends with Otis Garrison, and one day, many years ago, Otis called him to consider going on a trip to Haiti.  Richard was very busy and hesitant to go and get involved, but once he made the decision, he was hooked!  He was impressed by the humility and attitude of everyone involved and could see that God was at work. When asked to consider a board position, Richard did not feel like he had the time or the qualifications. After a lot of prayer, consideration, and discussion with his wife, he consented and has been blessed through it all.
						</p>
					</div></h4>
				</div>

				<div class="staff">
					<img src="/assets/staff-steve-yates.jpg" alt="Steve Yates" />
					<h4><a href="" class="noclick">Steve Yates
					<br />
					<span class="staffTitle">Board of Directors</span></a>
					<div class="staffBio">
						<p>
							Steve received a Masters of Business Administration degree through Indiana University.  He is the president and owner of O E Trade Marketing, Incorporated which sales for, consults with and trains suppliers in the heavy duty truck industry with cost analysis, quality control, and production management.  Steve is an active member of The Chapel in Fort Wayne, Indiana, serving on the Board of Elders for six years and as president of the board for four years. 
 
Steve and his wife, Kathy, have two adult children and two grandchildren.  Steve was introduced to Mission of Hope through fifty teenagers and a pickaxe on his first trip to Haiti.  Since then, he has invested in the vision of the ministry by fundraising and facilitating short terms trips while serving as Outreach Coordinator at his church.  Steve was also instrumental in the MOH clinic fundraising and building campaign, and he has served on the board since 2011.
						</p>
					</div></h4>
				</div>


			</div><!--end staff wrapper-->
			<div class="clearfix"></div>
			<p><a href="https://secure3.convio.net/mohh/site/Donation2?df_id=1540&FR_ID=1070&PROXY_ID=1070&1540.donation=form1">Support Our Missionaries!</a></p>
		</div>
		<div id="contentRight300">
			<%= render 'layouts/aboutNav'%>
		</div>
		<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
		</div><!--Content Wrapper-->
	</div>
	<script>
		$(".noclick").click(function() { return false; });
	</script>
