<div id="bgHero">
	<div id="missionHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<h1 style="position:absolute; top:-400px; left:0px;"><span class="topMissionTrip  greenTransBG">Work with us</span></h1>
			<h1 style="position:absolute; top:-350px; left:0px;"><span class="middleMissionTrip  greenTransBG">Work for Christ</span></h1>
			<h1 style="position:absolute; top:-280px; left:0px; margin-top:10px;"><span class="largeText1  greenTransBG" style="padding-right: 7px;">Bring Change<br />to a Nation</span></h1>
			<div class="buttonSquareOrange" style="position:absolute; top:-120px; left:188px; width:280px"><a href="/take_a_trip">Learn About Our Mission Trips</a></div>
		</div>

<div class="contentHeader">
			<div class="contentHeaderLeft">
				<h1><span class="eyebrow">Mission of Hope Haiti</span>
			<br />
			Mission Trips</h1>
			<p>
			Have a passion? Feel a drive? Hear a call? Step alongside us in Haiti and work for Christ a He brings change to a nation!</p>
			<p>As Mission of Hope expands its ministries in Haiti, we are increasingly in need of servant leaders willing to lay down their time and effort to see Haiti transformed by the gospel.	
			</p>
			</div>
		<div class="contentHeaderRight">
			<div class="rightBoxGreen">
			<h2>Learn More About<br />Short-Term Missions</h2>
			<ul class="rightColNav">
				<li><a href="/take_a_trip">Take a Mission Trip &raquo;</a></li>
				<li><a href="/medical_mission_trips">Take a Medical Mission &raquo;</a></li>
				<li><a href="/trip_dates">Mission Trip Dates &raquo;</a></li>
				<li><a href="/trip_costs">Mission Trip Costs &raquo;</a></li>
				<li><a href="/trip_faqs">Mission Trip FAQs &raquo;</a></li>
				<li><a href="/preparing_for_trip">Preparing for a Trip &raquo;</a></li>
			</ul>
			</div>
			</div>
			<div class="clearfix">
				<!--x-->
			</div>
		</div>
			<div class="singleCol">
			<h2>The Mission Trip Experience</h2>
			<div style="width:975px; height:100%;">
<div id="container" class="transitions-enabled clearfix" style="clear:both;">
<% @experiences.each do |experience| %>
	<% if experience.photo.exists? %>
		<div class="item">
  			<%= image_tag experience.photo.url(:medium),:title=>experience.summary,:alt=>experience.summary  %>
  			<%= experience.summary %>
  			<%= link_to 'Edit', edit_experience_path(experience)%>
  		</div>
  	<%end%>
<% end %>
</div>
</div>
			<div class="clearfix"></div>
			<div class="buttonSquareOrange alignRight clearfix" style="width:300px; margin-top:50px;"><a href="/experiences">Read More Experiences</a></div>
		</div>

				<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
		<script src="/assets/javascript/jquery.masonry.min.js"></script>
<script>
	var $container = $('#container');
	$container.imagesLoaded(function(){
  		$container.masonry({
  			itemSelector: '.item',
  			//columnWidth: 1,
  			isAnimated: true,
  			animationOptions: {
    			duration: 500,
    			easing: 'linear',
    			queue: false
  			}
  		});
	});
</script>
	</div>
