<div id="bgHero">
	<div id="missionHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<h1 style="position:absolute; top:-400px; left:0px;"><span class="topMissionTrip  greenTransBG">Work with us</span></h1>
			<h1 style="position:absolute; top:-350px; left:0px;"><span class="middleMissionTrip  greenTransBG">Work for Christ</span></h1>
			<h1 style="position:absolute; top:-280px; left:0px; margin-top:10px;"><span class="largeText1  greenTransBG" style="padding-right: 7px;">Bring Change<br />to a Nation</span></h1>
			<!-- <div class="buttonSquareOrange" style="position:absolute; top:-120px; left:188px; width:280px"><a href="/take_a_trip">Learn About Our Mission Trips</a></div> -->
		</div>

<div class="contentHeader">
			<div class="contentHeaderLeft">
				<h1><span class="eyebrow">Mission of Hope Haiti</span>
			<br />
			Mission Trips</h1>
				<p>
					Every year, Mission of Hope hosts thousands of mission trip participants from around the world. Teams participate by serving in one of the 11 villages where we partner with the local Haitian churches. As we work with the local church pastors and Village Champions in each village, we are asking them, “What does your village need to be transformed?” In seeking to meet both the physical and spiritual needs of the villages, two primary strategies have been developed to reach every man, woman, and child – Strategic Village Time and Church Advancement Projects.
				</p>
				<p>
					<b>Strategic Village Time (SVT)</b> – Using basic hygiene training as an entry point to visit with different houses in the villages, teams gather important data about the physical and spiritual needs of the people.  The data collected will allow us to measure our effectiveness in saturating the villages with the gospel and leverage the information for meeting the needs of the people to bring life transformation.  Teams go from house to house training each one in basic hygiene, engaging the residents in normal conversation, assessing the living conditions, collecting important demographic information, sharing the gospel, and obtaining GPS coordinates of the home. SVT allows us to build & maintain meaningful relationships with the Haitian people and equip the local church to meet the needs of their village.
				</p>
				<p>
					<b>Church Advancement Projects (CA Projects)</b> – CA Projects are specific projects that contribute to the physical needs of the village. These projects represent the highest priorities for meeting the physical needs of the village.  Furthermore, they are a part of a continuum of transformation plan that has been developed with the local church pastors and Village Champions.  Your team will have the opportunity to sponsor and participate in these projects during your week.<br>
					<div class="buttonSquareOrange" style="margin:20px 0; width:280px"><a href="/caprojects">Click here to check out the current available projects!</a></div>
				</p>
				<p>
					<table>
						<tr>
							<td>Sat-Sat Sample Schedule</td>
							<td>Wed-Wed Sample Schedule</td>
						</tr>
						<tr>
							<td>Day 1: Arrival/Settle In & Orientation</td>
							<td>Day 1: Arrival/Settle In & Orientation</td>
						</tr>
						<tr>
							<td>Day 2: Church & Vision Tours</td>
							<td>Day 2-4: 2 Days of CA Projects & 2 Days of SVT</td>
						</tr>
						<tr>
							<td>Day 3-6: 2 Days of CA Projects & 2 Days of SVT</td>
							<td>Day 5: Church & Vision Tours</td>
						</tr>
						<tr>
							<td>Day 7: Team Beach Day</td>
							<td>Day 6: Cont. CA Projects & SVT</td>
						</tr>
						<tr>
							<td>Day 8: Departure Day</td>
							<td>Day 7: Team Beach Day</td>
						</tr>
						<tr>
							<td>nbsp;</td>
							<td>Day 8: Departure Day</td>
						</tr>
					</table>
				</p>
			</div>
		<div class="contentHeaderRight">
			<%= render 'layouts/missionTripNav'%>
		</div>
			<div class="clearfix">
				<!--x-->
			</div>
		</div>
			
				<div class="clearfix" style="height:40px;">
			<!--x-->
		</div>
		<script src="/assets/javascript/jquery.masonry.min.js"></script>
<script>
	var $container = $('#container');
	$container.imagesLoaded(function(){
  		$container.masonry({
  			itemSelector: '.item',
  			//columnWidth: 1,
  			isAnimated: true,
  			animationOptions: {
    			duration: 500,
    			easing: 'linear',
    			queue: false
  			}
  		});
	});
</script>
	</div>
