<div id="bgHero">
	<div id="mwemHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<div id="heroContentEducation">
				
		<div class="videoWrapper">
		<iframe src="http://player.vimeo.com/video/45280018" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
			</div>
		</div>
<div id="contentLeft560">
	<h1><span class="eyebrow">Mission of Hope Haiti </span><br />Mwen Kapab</h1>
	<p>“The name of the curriculum is “I can…” In Haiti many people shrug their shoulders and say, “Mwen pa kapab” (I cannot). We want to change this mindset to the truth that in Jesus Christ I can do all things…I can (Mwen kapab) learn to read, write, do math, etc. I can become a child of God who can change my community because I have truth and light!” - Joan Martineau
		</p>

<p>Mission of Hope believes that through Jesus Christ the nation of Haiti can be changed. We believe that as we meet Jesus Christ, learn the truths of the gospel, and apply them in our lives, Christ transforms us. We move out of “darkness” into “light.”
</p>

<p>Mission of Hope needed a Christ centered curriculum that introduces children to the truth of the gospel. Joan Martineau began working for Mission of Hope in 2006 and is developing a curriculum that is academically excellent and Biblically and culturally integrated.
</p>

<p>The goal of MOH is to complete a fully integrated Christian curriculum, Kindergarten through High School. The curriculum, “Mwen Kapab” (I Can) is a curriculum that is Haitian, meets the Haitian government standards, and prepares the students to take and pass the government exams. Its purpose is to produce prepared, skilled, motivated, and responsible Haitian Christian young men and women.
</p>

<p>For more information about Mwen Kapab, contact Tony Jean at <a href="mailto:tony.jean@fomehaiti.org">tony.jean@fomehaiti.org</a>.</p>
			<img src="/assets/contentDiv-560.png" />
<%=render '/layouts/pup'%>
		</div>

		<div id="contentRight300" style="padding-top:30px;">
			<div class="rightBoxGreen">
			<h2>Learn More About<br />Education</h2>
			<ul class="aboutUsNav">
				<li><a href="/education">Education &raquo;</a></li>
				<li><a href="/school_of_hope">School Of Hope &raquo;</a></li>
				<li><a href="/mwen_kapab">Mwen Kapab &raquo;</a></li>
			</ul>
			</div>
			<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<h4 style="float:left;">Share This: </h4>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>

</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79724d720237"></script>
<!-- AddThis Button END -->
		</div>
	
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
