<div id="bgHero">
	<div id="nutritionHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<div id="heroContentNutrition">
				<h1 style="top: -393px;"><span class="nutrtionTop" style="font-size: 3.44em;">FEEDING OVER 54,000</span>
				<br />
				<span class="nutritionLarge" style="font-size: 2.7em;">MEALS A DAY TO CHILDREN</span>
				<br>
				<span class="nutritionBottom" style="font-size: 1.43em;">IN SCHOOLS AND ORPHANAGES THROUGHOUT HAITI.</span></h1>
				<br>
			</div>

			<div class="buttonSquareOrange" style="position:absolute; top:-240px; left:454px; width:290px"><a href="http://mohh.convio.net/site/Donation2?df_id=1600&1600.donation=form1">Help us feed more children &raquo;</a></div>
		</div>
		<div class="singleCol">
			<h1><span class="eyebrow">Mission Of Hope Haiti</span>
			<br />
			Nutrition in Haiti</h1>
		<!--There was code here that broke the entire page for posts and updates -->
				<img src="/assets/nutritionInfographic.png" />
				<div class="clear"></div>
			
			<p>	Our nutrition program started as a result of our education initiative. It was quickly realized that children who were not properly nourished were having a hard time concentrating and learning in school.  Our first year of having the school in 1998, we had 230 children. We quickly realized there was a problem - kids were fainting in the classrooms because they were hungry. That very next day, we went to the local market and bought a peanut grinder. We hired a lady and she made peanut butter. The nutrition program had launched! 
			</p>
			<img src="/assets/contentDiv.png" alt="" height="4px" width="990px" style="margin-bottom: 20px; margin-top: 40px;" >
		</div><!-- End Single Col -->
		<div id="contentLeft560">
			<h2>What We’re doing now</h2>
			<p>
				Through our partnership with Convoy of Hope, and over 300 partners in country, we are able to feed over 54,000 meals a day now to children in schools and orphanages throughout Haiti. For many children, a school time meal provided by Mission of Hope may be the only food they receive during the day. The program allows us to provide meals, vitamins, health education and hope in Jesus to a generation in need in a way that is economically responsible and beneficial to our communities.
			</p>
			<img src="/assets/contentDiv.png" alt="" height="4px" width="568px" style="margin-bottom: 20px; margin-top: 40px;" >
			<%= render '/layouts/pup'%>
		</div>

		<div id="contentRight300">
			<div class="rightBoxGreen">
			<h2>Our plans for the future</h2>
			<p>
				With our partner Convoy of Hope, we have just built a 35,000 square foot food warehouse that was dedicated at the beginning of 2012. This new warehouse will allow us to reach our goal of feeding 100,000 meals a day to hungry children in Haiti. Our partners who will help us reach this goal include Convoy of Hope, Feed My Starving Children, Stop Hunger Now, and Kids Against Hunger. 
	<img src="/assets/contentDiv.png" alt="" height="1px" width="270px" style="margin-bottom: 10px; margin-top: 20px;" >
	<h3><span class="nutritionSidebar">Feed <span class="nutritionSidebarHighlight">100,000</span>
		<br>meals a day to children in need.</span></h3>
			</p>
			</div>
			<div class="relativeWrapper">
				<div class="rightBoxGreen">
				<h2>How you can help</h2>
				<p>
					Become our Partner of Hope and feed more children. 
				</p>
				</div>
			<div class="buttonSquareOrange" style="position:absolute; bottom:-15px; right:20px; width:210px; font-size:12px;"><a href="http://mohh.convio.net/site/Donation2?df_id=1600&1600.donation=form1">Become a Partner of Hope &raquo;</a></div>

			</div>
			<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="margin-top:40px;">
<h4 style="float:left;">Share This: </h4>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>

</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79724d720237"></script>
<!-- AddThis Button END -->
		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
