<style>
.vohChild {
    float: left;
    width: 210px;
    position: relative;
    margin-bottom: 100px;
    min-height: 258px;
    margin-right:20px;
}

.vohChild img {
    border: 5px solid #C2B092;
    width:150px;
}

.vohChild .sponsorHearts img {
	width:auto;
}
.vohBio {
    background-color: #C2B092;
    color:#0D5341;
    border-style: solid;
    font-size: 12px;
    text-transform: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    display: none;
    left: 0px;
    padding: 20px;
    position: absolute;
    top: 275px;
    width: 300px;
    z-index: 100;
}

.vohChild a:hover + div.vohBio {
    display: block;
}

.vohSponsors img {
	border:none;
}

.sponsorHearts {
	margin-bottom:30px;
}
</style>

<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top:50px;">
		<div id="singleCol">
			<h1><span class="eyebrow">Mission of Hope Haiti </span>
			<br />
			Village of Hope</h1>
			<p>Intro text about the VOH and why these children needs sponsors?</p>
				
			<div class="vohWrapper">
				<h2 style="margin-bottom:10px;">Sponsor a Child at Village of Hope</h2>
				
				<div class="vohChild">
					<img src="/assets/voh-Angelie.jpg" alt="Angelie" />
					<h3><a href="" class="noclick">Angelie
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Angelie can’t help but put a smile on your face by just walking into the room, because she is so full of joy and love!  Her life itself is a miracle.  When she first joined the MOH family, we were told that she would likely never be able to walk. God clearly had other plans for her life! Angelie loves the Lord so much! She has a heart that overflows in worship and she radiates Christ’s love. She loves to dance and sing and when you put a baby doll in her arms; she loves it like it’s her very own real baby. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						5 years old<br>
						
					</p>
					<p>Angelie needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Angelie</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Bernadette.jpg" alt="Bernadette" />
					<h3><a href="" class="noclick">Bernadette
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Bernadette has a contagious smile that fills the room with joy. She really knows how to have fun! Bernadette enjoys fashion and you’ll almost always find her dressed to impress! She works hard in school and has a passion and desire to graduate and further her education.  A gifted athlete who is always up for a game of basketball or soccer, she is a natural leader who enjoys spending time with the younger kids.  </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						21 years old<br>
						
					</p>
					<p>Bernadette needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Bernadette</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Bernadine.jpg" alt="Bernadine" />
					<h3><a href="" class="noclick">Bernadine
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Bernadine is a natural when it comes to being a friend, because she has such an inviting warmth that makes you feel like you’ve been friends forever.  She is a beautiful example of what it looks like to be the hands and feet of Jesus. She is continuously jumping in and helping everyone. From the kids to the mommies to pretty much anyone that crosses her path, she’ll be there to help. Her creative giftings enable her to crochet anything from hair bands to dresses and purses.  Bernadine has a gentle spirit but loves to be silly and have fun too!  </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						14 years old<br>
						
					</p>
					<p>Bernadine needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Bernadine</a></div>
					</div>
				</div>




<div class="vohChild">
					<img src="/assets/voh-Cassanlove.jpg" alt="Cassanlove" />
					<h3><a href="" class="noclick">Cassanlove
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Cassanlove is a sweet, gentle young lady.  She is a hard worker, which comes through in all that she does. While she can be more quiet and reserved, she has a fun and silly side that will always bring a smile to your face!  She loves to listen to music, and when Cassanlove isn’t busy working hard at school, you can usually find her helping with orphanage activities and making up dances with the girls.  </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						15 years old<br>
						
					</p>
					<p>Cassanlove needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Cassanlove</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Cherline.jpg" alt="Cherline" />
					<h3><a href="" class="noclick">Cherline
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Cherline is one of a group of three siblings that are part of the Village of Hope. Her older sister, Diona, and younger brother, Roberto, both live here as well.  Cherline is a stunning young woman, who sometimes comes across as timid and shy, but is full of joy and laughter. She enjoys dressing up and watching “chick flicks” with her friends and is a gift to all of the people in her life. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						17 years old<br>
						
					</p>
					<p>Cherline needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Cherline</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Chrismene.jpg" alt="Chrismene" />
					<h3><a href="" class="noclick">Chrismene
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Chrismene loves to listen to music and dance! Her smile and laughter have a way of lighting up a room. While she tends to be more on the reserved side, her quiet sense of humor keeps us laughing! She enjoys watching movies, taking pictures, and having her picture taken.  She’s always up for an afternoon of photo shoots!</p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						15 years old<br>
						
					</p>
					<p>Chrismene needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Chrismene</a></div>
					</div>
				</div>
				
				
				
				
				
				
				<div class="vohChild">
					<img src="/assets/voh-Christella-A.jpg" alt="Christella A" />
					<h3><a href="" class="noclick">Christella A
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Christella has a quick wit that will have you rolling! She is a gentle, fun-loving girl who is growing up into a wonderful young lady.  She enjoys crafts, loves to get dressed up, and works really hard in school.</p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						14 years old<br>
						
					</p>
					<p>Christella A needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Christella</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Christella-J.jpg" alt="Christella J" />
					<h3><a href="" class="noclick">Christella J
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Christella has the best laugh ever! She is a natural at almost anything she tries. She is a strong athlete and can make it look effortless to win a soccer game. A gifted artist, she loves to practice drawing and creating.  Christella loves to sing and dance, and once again, she’s a natural! She is growing into a well-rounded, Jesus-loving young lady!  </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						14 years old<br>
						
					</p>
					<p>Christella J needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Christella</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Christopher.jpg" alt="Christopher" />
					<h3><a href="" class="noclick">Christopher
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Christopher can almost always be found walking around with his basketball! He would be happy if he got to play all day, every day! He’s more than just an athlete though, and could get lost in the library reading books for hours! His laugh can turn any difficult day into a good one!  Christopher is “all boy” and loves to play outside and get dirty. He also has a tender side to him and is always willing to offer a hug!  </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						9 years old<br>
						
					</p>
					<p>Christopher needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Christopher</a></div>
					</div>
				</div>
				
				
				
				
				
				
				<div class="vohChild">
					<img src="/assets/voh-Clara.jpg" alt="Clara" />
					<h3><a href="" class="noclick">Clara
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Clara has a love for anything to do with music and loves making up dances with the other girls. She’s a “girly-girl” who enjoys all things make-up, nail polish, fancy dresses and shoes! Clara has a soft, beautiful singing voice and loves to use it. Clara’s smile can light up a room and she loves to joke around and have fun.  </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						11 years old<br>
						
					</p>
					<p>Clara needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Clara</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Dageline.jpg" alt="Dageline" />
					<h3><a href="" class="noclick">Dageline
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Dageline is anything but short on personality!  You can hear her laughter from yards away. She is a natural leader and it’s normal to see her with a group of kids gathered around her, leading them in a game, just for fun.  She loves fashion and it’s fun to see the different outfits she creates. Dageline loves to take pictures and tries to do photo shoots every chance she gets! She is always the life of the party and loves to have sleepovers, complete with movies and dance parties.  </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						15 years old<br>
						
					</p>
					<p>Dageline needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Dageline</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Diona.jpg" alt="Diona" />
					<h3><a href="" class="noclick">Diona
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Diona is a gentle, quiet, servant. She is a great help with our toddlers and loves them very well. Diona’s heart for children is evident in the way she spends her time with them. She works hard at her job in the kitchen and enjoys cooking! Diona tends to be more on the shy side, but her gentle spirit makes it so easy to talk to and spend time with her. Diona is the oldest of three in her family that are part of the Village of Hope. Her younger sister Cherline and younger brother Roberto are also part of the orphanage. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						20 years old<br>
						
					</p>
					<p>Diona needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Diona</a></div>
					</div>
				</div>
				
				
				
				
				
				
				<div class="vohChild">
					<img src="/assets/voh-Dounie.jpg" alt="Dounie" />
					<h3><a href="" class="noclick">Dounie
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Dounie is loud and proud! She is a protector to all her brothers and sisters in the orphanage, including her biological sister named Thamara.  Having fun, laughing, and dancing around are daily occurrences in Dounie’s life. She is a natural leader who loves to “look fancy” and even on the casual days you’re likely to find her all dressed up! </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						14 years old<br>
						
					</p>
					<p>Dounie needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Dounie</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Elisson.jpg" alt="Elisson" />
					<h3><a href="" class="noclick">Elisson
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Elisson is a natural leader who spends his summers working hard as a translator. To say he’s passionate about seeing lives changed for Christ is an understatement. He is an encouragement to everyone he meets.  Elisson is a gifted rapper/songwriter and uses his gifts for the kingdom. Elisson puts forth his best effort in all he does and the fruit in his life shows that! </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						16 years old<br>
						
					</p>
					<p>Elisson needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Elisson</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Emanuella.jpg" alt="Emanuella" />
					<h3><a href="" class="noclick">Emanuella
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Emanuella might be small, but she makes up for it with a big personality!  She is a little comedian and her big smile and contagious laugh keep us rolling.  Emanuella loves big sunglasses, fancy shoes and earrings. She is a determined little lady that knows what she wants and goes after it. Emanuella also has sweet tender moments and loves to help out with the little ones!  </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						11 years old<br>
						
					</p>
					<p>Emanuella needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Emanuella</a></div>
					</div>
				</div>
				
				
				
				
				
				
				<div class="vohChild">
					<img src="/assets/voh-Esther.jpg" alt="Esther" />
					<h3><a href="" class="noclick">Esther
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Esther is a sweet little lady, who is very tenderhearted. She absolutely loves to dress up and, even for play time, you’ll likely find her wearing a fancy dress. She loves wearing jewelry and is just a “fancy girl” in general! Besides her beautiful smile and fun sense of humor, you’ll often find Esther dancing and singing! </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						21 years old<br>
						
					</p>
					<p>Esther needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Esther</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Fresnel.jpg" alt="Fresnel" />
					<h3><a href="" class="noclick">Fresnel
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Fresnel is one of the sweetest boys ever! He is quiet and gentle, always willing to lend a helping hand to anyone that asks. It is evident that God has a great calling on this young man’s life. Fresnel is very active and involved in church, serving weekly with the worship team. Fresnel enjoys listening to worship music and his genuine love for Jesus shines through his life daily. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						19 years old<br>
						
					</p>
					<p>Fresnel needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Fresnel</a></div>
					</div>
				</div>
				
				
				<div class="vohChild">
					<img src="/assets/voh-Galaxon.jpg" alt="Galaxon" />
					<h3><a href="" class="noclick">Galaxon
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Galaxon and his younger brother, Iverson, are both part of our Village of Hope family. Galaxon loves all sports, but his favorites are soccer and basketball. He’s a natural and can try anything new and be an immediate professional! Galaxon loves to go swimming at the beach and he’s always willing to volunteer as a leader and help out with the kids’ activities.  Galaxon is very active and loves to have fun! </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						14 years old<br>
						
					</p>
					<p>Galaxon needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Galaxon</a></div>
					</div>
				</div>
				
				
				
				
				<div class="vohChild">
					<img src="/assets/voh-Gilner.jpg" alt="Gilner" />
					<h3><a href="" class="noclick">Gilner
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Gilner lives at the Village of Hope with his identical twin brother Julien. They are quite the pair! He tends to be the quieter one of the two, but he has a huge laugh! Gilner is very aware of the needs around him and is always quick to let the staff know if someone is hurt or upset. He is a little prayer warrior and will often let us know when someone is sick and needs to be prayed for. He might be a toddler, but he loves Jesus and is already being used by Him in mighty ways.  </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						4 years old<br>
						
					</p>
					<p>Gilner needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Gilner</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Guerline.jpg" alt="Guerline" />
					<h3><a href="" class="noclick">Guerline
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Guerline is one the oldest kids in our family. She is very timid and shy. She is a beautiful young lady with a passion and desire to grow, not only in her education but also more importantly, in her walk with Jesus. She is a hard worker that enjoys cooking and shopping in her spare time. Guerline is always willing to help out whenever she’s asked and does it with a really great attitude. She is very warm and her tender spirit reflects so much of Jesus.  </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						19 years old<br>
						
					</p>
					<p>Guerline needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Guerline</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Hannah.jpg" alt="Hannah" />
					<h3><a href="" class="noclick">Hannah
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Hannah and her twin brother Jeremiah have lived with us since they were only a few days old. Hannah loves going to school and for such a little one, has quite a sense of humor. She loves to play hide-and-seek and is often found singing worship songs with the other toddlers.  Hannah is quite witty and has just the right balance of “sass and sweetness”!  </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						5 years old<br>
						
					</p>
					<p>Hannah needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Hannah</a></div>
					</div>
				</div>
				
				
				
				
				
				
				<div class="vohChild">
					<img src="/assets/voh-Iverson.jpg" alt="Iverson" />
					<h3><a href="" class="noclick">Iverson
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Iverson is a very well rounded young man. He loves art and could spend hours drawing or reading books. When he’s not busy with that, he is usually playing soccer or basketball with his friends. He has an adventurous spirit and loves to have fun and laugh! Iverson and his older brother Galaxon both live here and we are so glad! Iverson brings so much light, life and joy to the family! </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						12 years old<br>
						
					</p>
					<p>Iverson needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Iverson</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Jacqueson.jpg" alt="Jacqueson" />
					<h3><a href="" class="noclick">Jacqueson
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Jacqueson is one of our oldest boys in the orphanage. He is a strong leader that is well respected by everyone. Jacqueson works as an activities intern for the VOH and leads the kids in summer/weekend activities. Jacqueson loves Jesus and that love shines through him every day.  Jacqueson helps out at church and in the orphanage every chance he gets! </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						20 years old<br>
						
					</p>
					<p>Jacqueson needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Jacqueson</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Jean-Marc.jpg" alt="Jean Marc" />
					<h3><a href="" class="noclick">Jean Marc
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							There is no doubt that Jean Marc was born to lead! He loves Jesus with his whole heart. He works hard in school and studies his way to the top of his class. Jean Marc is very involved with church and helps lead worship weekly. He also leads worship often for the VOH in our Saturday family meetings.  Jean Marc loves to work as a translator for our summer teams and is a blessing to everyone he meets. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						18 years old<br>
						
					</p>
					<p>Jean Marc needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Jean Marc</a></div>
					</div>
				</div>
				
				
				
				
				
				
				<div class="vohChild">
					<img src="/assets/voh-Jeanson.jpg" alt="Jeanson" />
					<h3><a href="" class="noclick">Jeanson
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Jeanson has the ability to make anyone laugh. He is passionate about the Lord and uses his gifts to make the Kingdom known. Jeanson is part of a rap group called “Young Hope” and has already had amazing opportunities to share his gifts throughout Haiti. Jeanson loves children and is often found spending time and investing in our younger children. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						19 years old<br>
						
					</p>
					<p>Jeanson needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Jeanson</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Jeff.jpg" alt="Jeff" />
					<h3><a href="" class="noclick">Jeff
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Jeff is growing up fast and we couldn’t be more proud of him! His love for the Lord is so sincere. Jeff is part of a rap group that some of the boys have created called “Young Hope,” where he sings vocals. He is very passionate about using the gifts that God has given Him to share Christ and they do that through their music. Jeff enjoys soccer and basketball and also loves to watch movies.  </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						14 years old<br>
						
					</p>
					<p>Jeff needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Jeff</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Jeremiah.jpg" alt="Jeremiah" />
					<h3><a href="" class="noclick">Jeremiah
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Jeremiah and his twin sister Hannah have lived here since they were only a few days old. Jeremiah fills our lives with joy. He is full of charm and wit and can bring a smile to anyone’s face with very little effort. Jeremiah is a very smart little guy and learns fast. He knows what he wants and goes after it. It’s quite normal to go into the toddler room and find Jeremiah leading his peers in worship or another fun activity! </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						5 years old<br>
						
					</p>
					<p>Jeremiah needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Jeremiah</a></div>
					</div>
				</div>
				
				
				
				
				
				
				<div class="vohChild">
					<img src="/assets/voh-Julien.jpg" alt="Julien" />
					<h3><a href="" class="noclick">Julien
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Julien came to us with his identical twin brother Gilner. The two of them are quite the dynamic duo! Julien is all love and shows it through lots of hugs and snuggles. He’s always quite aware of the needs around him, and is always watching out for his twin. His laugh is contagious and can turn any frown upside down. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						4 years old<br>
						
					</p>
					<p>Julien needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Julien</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Kesnel.jpg" alt="Kesnel" />
					<h3><a href="" class="noclick">Kesnel
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Kesnel is an extremely intelligent young man and works very hard in school. He loves to play video games, watch action movies with the guys, and play soccer. He always enjoys working out and staying active.  Kesnel’s intelligence provides him with a really fun sense of humor and he really enjoys making people laugh! </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						16 years old<br>
						
					</p>
					<p>Kesnel needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Kesnel</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Kethia.jpg" alt="Kethia" />
					<h3><a href="" class="noclick">Kethia
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Kethia has grown up so much and is becoming such a stunning young woman. She is a tomboy at heart, but the girl in her loves to dress up, get her hair done and make up dances. When she’s not busy with that, she is dominating on the soccer field! She is such a gifted athlete and really enjoys competition.  </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						16 years old<br>
						
					</p>
					<p>Kethia needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Kethia</a></div>
					</div>
				</div>
				
				
				
				
				
				
				<div class="vohChild">
					<img src="/assets/voh-Angelie.jpg" alt="Angelie" />
					<h3><a href="" class="noclick">Angelie
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Angelie can’t help but put a smile on your face by just walking into the room, because she is so full of joy and love!  Her life itself is a miracle.  When she first joined the MOH family, we were told that she would likely never be able to walk. God clearly had other plans for her life! Angelie loves the Lord so much! She has a heart that overflows in worship and she radiates Christ’s love. She loves to dance and sing and when you put a baby doll in her arms; she loves it like it’s her very own real baby. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						5 years old<br>
						
					</p>
					<p>Angelie needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Angelie</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Bernadette.jpg" alt="Angelie" />
					<h3><a href="" class="noclick">Angelie
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Angelie can’t help but put a smile on your face by just walking into the room, because she is so full of joy and love!  Her life itself is a miracle.  When she first joined the MOH family, we were told that she would likely never be able to walk. God clearly had other plans for her life! Angelie loves the Lord so much! She has a heart that overflows in worship and she radiates Christ’s love. She loves to dance and sing and when you put a baby doll in her arms; she loves it like it’s her very own real baby. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						14 years old<br>
						
					</p>
					<p>Angelie needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Angelie</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Bernadine.jpg" alt="Angelie" />
					<h3><a href="" class="noclick">Angelie
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Angelie can’t help but put a smile on your face by just walking into the room, because she is so full of joy and love!  Her life itself is a miracle.  When she first joined the MOH family, we were told that she would likely never be able to walk. God clearly had other plans for her life! Angelie loves the Lord so much! She has a heart that overflows in worship and she radiates Christ’s love. She loves to dance and sing and when you put a baby doll in her arms; she loves it like it’s her very own real baby. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						14 years old<br>
						
					</p>
					<p>Angelie needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Angelie</a></div>
					</div>
				</div>
				
				
				
				
				
				
				<div class="vohChild">
					<img src="/assets/voh-Angelie.jpg" alt="Angelie" />
					<h3><a href="" class="noclick">Angelie
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Angelie can’t help but put a smile on your face by just walking into the room, because she is so full of joy and love!  Her life itself is a miracle.  When she first joined the MOH family, we were told that she would likely never be able to walk. God clearly had other plans for her life! Angelie loves the Lord so much! She has a heart that overflows in worship and she radiates Christ’s love. She loves to dance and sing and when you put a baby doll in her arms; she loves it like it’s her very own real baby. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						5 years old<br>
						
					</p>
					<p>Angelie needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Angelie</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Bernadette.jpg" alt="Angelie" />
					<h3><a href="" class="noclick">Angelie
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Angelie can’t help but put a smile on your face by just walking into the room, because she is so full of joy and love!  Her life itself is a miracle.  When she first joined the MOH family, we were told that she would likely never be able to walk. God clearly had other plans for her life! Angelie loves the Lord so much! She has a heart that overflows in worship and she radiates Christ’s love. She loves to dance and sing and when you put a baby doll in her arms; she loves it like it’s her very own real baby. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						14 years old<br>
						
					</p>
					<p>Angelie needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Angelie</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Bernadine.jpg" alt="Angelie" />
					<h3><a href="" class="noclick">Angelie
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Angelie can’t help but put a smile on your face by just walking into the room, because she is so full of joy and love!  Her life itself is a miracle.  When she first joined the MOH family, we were told that she would likely never be able to walk. God clearly had other plans for her life! Angelie loves the Lord so much! She has a heart that overflows in worship and she radiates Christ’s love. She loves to dance and sing and when you put a baby doll in her arms; she loves it like it’s her very own real baby. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						14 years old<br>
						
					</p>
					<p>Angelie needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Angelie</a></div>
					</div>
				</div>
				
				
				
				
				
				
				<div class="vohChild">
					<img src="/assets/voh-Angelie.jpg" alt="Angelie" />
					<h3><a href="" class="noclick">Angelie
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Angelie can’t help but put a smile on your face by just walking into the room, because she is so full of joy and love!  Her life itself is a miracle.  When she first joined the MOH family, we were told that she would likely never be able to walk. God clearly had other plans for her life! Angelie loves the Lord so much! She has a heart that overflows in worship and she radiates Christ’s love. She loves to dance and sing and when you put a baby doll in her arms; she loves it like it’s her very own real baby. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						5 years old<br>
						
					</p>
					<p>Angelie needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Angelie</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Bernadette.jpg" alt="Angelie" />
					<h3><a href="" class="noclick">Angelie
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Angelie can’t help but put a smile on your face by just walking into the room, because she is so full of joy and love!  Her life itself is a miracle.  When she first joined the MOH family, we were told that she would likely never be able to walk. God clearly had other plans for her life! Angelie loves the Lord so much! She has a heart that overflows in worship and she radiates Christ’s love. She loves to dance and sing and when you put a baby doll in her arms; she loves it like it’s her very own real baby. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						14 years old<br>
						
					</p>
					<p>Angelie needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Angelie</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Bernadine.jpg" alt="Angelie" />
					<h3><a href="" class="noclick">Angelie
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Angelie can’t help but put a smile on your face by just walking into the room, because she is so full of joy and love!  Her life itself is a miracle.  When she first joined the MOH family, we were told that she would likely never be able to walk. God clearly had other plans for her life! Angelie loves the Lord so much! She has a heart that overflows in worship and she radiates Christ’s love. She loves to dance and sing and when you put a baby doll in her arms; she loves it like it’s her very own real baby. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						14 years old<br>
						
					</p>
					<p>Angelie needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Angelie</a></div>
					</div>
				</div>
				
				
				
				
				
				
				<div class="vohChild">
					<img src="/assets/voh-Angelie.jpg" alt="Angelie" />
					<h3><a href="" class="noclick">Angelie
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Angelie can’t help but put a smile on your face by just walking into the room, because she is so full of joy and love!  Her life itself is a miracle.  When she first joined the MOH family, we were told that she would likely never be able to walk. God clearly had other plans for her life! Angelie loves the Lord so much! She has a heart that overflows in worship and she radiates Christ’s love. She loves to dance and sing and when you put a baby doll in her arms; she loves it like it’s her very own real baby. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						5 years old<br>
						
					</p>
					<p>Angelie needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Angelie</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Bernadette.jpg" alt="Angelie" />
					<h3><a href="" class="noclick">Angelie
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Angelie can’t help but put a smile on your face by just walking into the room, because she is so full of joy and love!  Her life itself is a miracle.  When she first joined the MOH family, we were told that she would likely never be able to walk. God clearly had other plans for her life! Angelie loves the Lord so much! She has a heart that overflows in worship and she radiates Christ’s love. She loves to dance and sing and when you put a baby doll in her arms; she loves it like it’s her very own real baby. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						14 years old<br>
						
					</p>
					<p>Angelie needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Angelie</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Bernadine.jpg" alt="Angelie" />
					<h3><a href="" class="noclick">Angelie
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Angelie can’t help but put a smile on your face by just walking into the room, because she is so full of joy and love!  Her life itself is a miracle.  When she first joined the MOH family, we were told that she would likely never be able to walk. God clearly had other plans for her life! Angelie loves the Lord so much! She has a heart that overflows in worship and she radiates Christ’s love. She loves to dance and sing and when you put a baby doll in her arms; she loves it like it’s her very own real baby. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						14 years old<br>
						
					</p>
					<p>Angelie needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Angelie</a></div>
					</div>
				</div>
				
				
				
				
				
				
				<div class="vohChild">
					<img src="/assets/voh-Angelie.jpg" alt="Angelie" />
					<h3><a href="" class="noclick">Angelie
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Angelie can’t help but put a smile on your face by just walking into the room, because she is so full of joy and love!  Her life itself is a miracle.  When she first joined the MOH family, we were told that she would likely never be able to walk. God clearly had other plans for her life! Angelie loves the Lord so much! She has a heart that overflows in worship and she radiates Christ’s love. She loves to dance and sing and when you put a baby doll in her arms; she loves it like it’s her very own real baby. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						5 years old<br>
						
					</p>
					<p>Angelie needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Angelie</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Bernadette.jpg" alt="Angelie" />
					<h3><a href="" class="noclick">Angelie
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Angelie can’t help but put a smile on your face by just walking into the room, because she is so full of joy and love!  Her life itself is a miracle.  When she first joined the MOH family, we were told that she would likely never be able to walk. God clearly had other plans for her life! Angelie loves the Lord so much! She has a heart that overflows in worship and she radiates Christ’s love. She loves to dance and sing and when you put a baby doll in her arms; she loves it like it’s her very own real baby. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						14 years old<br>
						
					</p>
					<p>Angelie needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Angelie</a></div>
					</div>
				</div>
				
				<div class="vohChild">
					<img src="/assets/voh-Bernadine.jpg" alt="Angelie" />
					<h3><a href="" class="noclick">Angelie
					<br />
					</a>
					
					<div class="vohBio">
						<p>
							Angelie can’t help but put a smile on your face by just walking into the room, because she is so full of joy and love!  Her life itself is a miracle.  When she first joined the MOH family, we were told that she would likely never be able to walk. God clearly had other plans for her life! Angelie loves the Lord so much! She has a heart that overflows in worship and she radiates Christ’s love. She loves to dance and sing and when you put a baby doll in her arms; she loves it like it’s her very own real baby. </p>
					</div></h3>
					<div class="vohSponsors">
					<p>
						14 years old<br>
						
					</p>
					<p>Angelie needs 8 more sponsors at $50/month</p>
						<div class="sponsorHearts">
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-empty.png" alt="$50/month Sponsor Needed!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						<img src="/assets/voh-heart-green.png" alt="$50/month Sponsor Filled!" />
						</div>
						<div class="buttonSquareGreen"><a href="">Sponsor Angelie</a></div>
					</div>
				</div>
				


			</div><!--end staff wrapper-->
			<div class="clearfix"></div>
			
		</div>
		
		</div><!--Content Wrapper-->
	</div>
	<script>
		$(".noclick").click(function() { return false; });
	</script>
