<div id="bgHero">
	<div id="missionHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<h1 style="position:absolute; top:-350px; left:0px;"><span class="middleMissionTrip  greenTransBG">Become a Partner of Hope<br />and help us bring<br />life transformation to every man, woman, and child in Haiti!</span></h1>
		</div>
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission Of Hope Haiti</span><br />Become a Partner of Hope</h1>
			<p>Partners of Hope are individuals who commit to donating to Mission of Hope's general fund on a reoccuring basis.  Donations to this fund are able to be used where the money is most needed, and thus Partners of Hope are essential to our daily operations.  These funds also allow us to serve our community when upexpected needs arise, enabling us to be responsive and efficient in our efforts.</p>
		<div class="buttonSquareOrange" style="width: 182px; margin-top: 15px; "><a href="https://www.denarionline.com/DonorServices/TEMPLATEPAGE.ASPX?COMP_REF=_MOHHAITI%20&CONTENT=GOSOLG&DS_GO_REF=F6DB76D974&master=master:mohr&theme=mohr">Partner with us &raquo;</a></div>
		</div>
		<div id="contentRight300" style="padding-top:30px">
			<%= render '/layouts/takeActionNav'%>
		</div>
	</div>
