<div id="wrapper">
	<%= render 'layouts/navBar'%>
	
	<div id="content" style="padding-top:30px;">
		<div id="contentLeft560">
			
			<h1><span class="eyebrow">Preparing for</span> <br /> a mission trip</h1>
<p>We're excited that you&rsquo;re considering visiting us at our Haitian campus! Being prepared for an international trip is the first step to creating an impactful trip for yourself or your team! Below are some helpful steps in prepping for international travel.</p>
<h3>Passport</h3>
<p>All North Americans traveling to Haiti are required to have a passport for entry in to the country. You can check with your local post office for a passport application. You can also go to the U.S. Department of State web page: http://travel.state.gov/passport or the Passport Canada web page: www.passportcanada.gc.ca. If you are applying for a new passport, please allow 4 &ndash; 8 weeks to receive it. All travelers should bring a photocopy of the first two pages of their passport in their carry-on luggage in the rare event that your passport is lost.</p>
<h3>Customs</h3>
<p>You will be required to fill out a customs form on the plane before you arrive in Haiti. The address you should put on this form is 777 Route Nationale #1, Titanyen. The phone number to list is: (509) 2.513.4909</p>
<h3>Flights</h3>
<p>All flights are required to arrive and depart from the Port au Prince airport on Saturdays and Wednesdays only. Your group is responsible for all airfare and travel arrangements to and from Port au Prince. A Mission of Hope representative will meet you at the airport in Port au Prince and a Mission of Hope driver and transportation will be waiting for you. Be sure to check with the airline for current restrictions, luggage weight limits, etc. prior to arriving at the airport.</p>
<h3>Traveler&rsquo;s Insurance</h3>
<p>Mission of Hope Haiti requires every individual participating in our mission trip program to be covered with medical travelers insurance. We will automatically purchase this for each individual coming on a trip. There is not an extra cost to the traveler for this insurance.</p>
<p>If you would like a comprehensive brochure outlining the details of the coverage, please make your request known to the stateside Mission Trip Coordinator.</p>
<h3>Required Food List</h3>
<p>Every team/individual is required to bring all the items on the food list; however, the quantity of the items your group is required to bring varies depending on your group size. Please refer to the <a href="/MOH-MT-Current-Food-List.pdf">Current Food List</a>. Please note, this is not the only food you will be eating. MOH purchases 80% of our food items in country. These items we ask teams to bring in help keep us running in the areas of supplies we cannot purchase in Haiti. Thank you!</p>
<h3>Immunization and General Health Information</h3>
<p>All groups are encouraged to have the following vaccinations prior to traveling to Haiti:</p>
<ul class="tripCostsList">
<li>Hepatitis A/B</li>
<li>Tetanus/Diphtheria (DT) *REQUIRED</li>
<li>Typhoid immunization</li>
<li>Preventative malaria medication *REQUIRED</li>
</ul>
<h3>Physical Conditions &amp; Medications</h3>
<p>If you are elderly or are prone to health problems, we strongly recommend a thorough physical examination before traveling to Haiti. Also, medical identification (tags, bracelet, card, etc.) must be carried by anyone with chronic illness such as diabetes or heart conditions. Trips to Haiti are usually moderately stressful and, sometimes, greatly so. Persons with mental illness or physical disabilities are required to disclose such information to the Mission before being approved to travel. If you have special needs while in Haiti (such as a medical condition, food allergies, or other special requirements), please let us know before your trip, and we will accommodate you as best as possible. Be sure to bring whatever you need with you in your carry-on luggage.</p>
<h3>Medical Kit</h3>
<p>Everyone should bring their own mini medical kit in their carry-on. Your kit should have chloroquine, any prescription medicines you are taking, Band-Aids, first-aid ointment, diarrhea medication, ibuprofen, insect-bite medication, and a prescription antibiotic such as Cipro.</p>

			
			
		</div>

		<div id="contentRight300">
			<%= render 'layouts/missionTripNav'%>
			<div class="clearfix">
				<!--x-->
			</div>
		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
			</div>
