<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">

			<h1><span class="eyebrow">Mission of Hope Haiti </span><br />News &amp; Press</h1>
				<%= render 'layouts/pup'%>
		</div>

		<div id="contentRight300">
			<div class="rightBoxGreen">
				<h2>Media Contact:</h2>
				<p></p>
				 <p>Lindsey Rubino <br />
				 (Cell) 239-404-1366 <br />
				 (Office) 239-791-8125 <br />
				 (Email) Lindsey@mohhaiti.org</p>
			</div>
			<div class="rightBoxGreen">
			<h2>Learn More About<br />Mission of Hope Haiti</h2>
			<ul class="aboutUsNav">
				<li><a href="/about_us">Our Story &amp; Beliefs &raquo;</a></li>
				<li><a href="/meet_our_staff">Meet Our Staff &raquo;</a></li>
				<li><a href="/intern">Intern with MOH &raquo;</a></li>
				<li><a href="/financial_info">Financial Information &raquo;</a></li>
				<li><a href="/press">Press &raquo;</a></li>
				<li><a href="/join_our_team">Join Our Team &raquo;</a></li>
				<li><a href="/about_haiti">About Haiti &raquo;</a></li>
				<li><a href="/faq">FAQs &raquo;</a></li>
				<li><a href="/contact_us">Contact Us &raquo;</a></li>
			</ul>
			</div>
			</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>

		</div>
		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
