<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top:0px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti </span><br />Privacy</h1>
			<p>At Mission of Hope Haiti, we respect the privacy of our website visitors and created a policy to show our firm commitment to your privacy and the protection of your information. The following online privacy policy applies to information that we collect when you visit this website (mohhaiti.org) as well as our online donation forms provided by our partner, Denari.
			</p>
<h4>Type of Data We Collect</h4>
Generally, we collect two types of data: 1) Anonymous and 2) Personally Identifiable data.
</p>
<strong>Anonymous Data Collection</strong>
<p>Like many Web Sites, Mission of Hope uses a technology called “cookies”. A cookie is a small text file that is sent to your browser via a web server, and is stored on your computer when you access a website. Mission of Hope uses cookies to collect anonymous, non-personally identifiable data. We use this data primarily to assess how visitors use our website, which helps us make decisions on improvements. Cookies also let us know how visitors find our website, such as through a search engine or link from another site, which helps us measure the effectiveness of our marketing efforts. While this is not an exhaustive list of cookie uses, in all cases Mission of Hope Haiti will not use cookies to collect personally identifiable information from our site unless you voluntarily agree to enter the information.
</p>
<strong>Personally Identifiable Data Collection</strong>
<p>Mission of Hope Haiti never collects personally identifiable information on our website without your consent. The only personally identifiable information that we collect is information that you voluntarily enter on our website, or within the account/donation forms of our 3rd party partner Denari. Information we collect may include, but is not limited to, name, address, city, state, ZIP/postal code, telephone number, e-mail address. In order to continuously improve our service and meet your needs we may also ask you to provide information specific to your organization.
</p>
<p>Mission of Hope Haiti uses this information primarily to communicate with you, and to provide you with better service. For example, the information may be used to complete a transaction or communicate with you through mailings and email. We also provide you with the opportunity to remove your name from our mailings/email lists, if you desire to do so (see corresponding section below).
</p>
<h4>Sharing of Personal Information</h4>
Mission of Hope Haiti never sells, rents, leases or exchanges your personal information to other organizations for their own use.
</p>
<h4>Outside Links</h4>
<p>As a convenience to our visitors, the Mission of Hope Haiti website may contain links to other sites that we believe may offer useful information. The privacy policy and provisions described here do not apply to those sites. We suggest contacting those sites directly for information on their data collection and distribution policies.
</p>
<h4>Mailing lists</h4>
<p>You may unsubscribe from our mailing and email lists at any time. To no longer receive communication through the mail, please write and send your request to P. O. Box 60004, Ft Myers, FL 33906. To unsubscribe from our email lists, simply click the “manage your subscription” link at the bottom of any informational email received from Mission of Hope.
	</p>
		</div>

		<div id="contentRight300">
			<%= render 'layouts/aboutNav'%>
			</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>

		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
