<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti </span><br />Privacy</h1>
			<h2>Content for this page</h2>
		</div>

		<div id="contentRight300">
			<%= render 'layouts/aboutNav'%>
			</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>

		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
