<div id="bgHero">
	<div id="heroProsthetics">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content">
		<div id="heroContent">
			<div id="heroContentEducation">
				<h1 style="top:-225px;"><span style="font-size: 2em;">240 amputees still need the healing hands of a prosthetis.</span></h1>
				<br>
			</div>
			<div class="buttonSquareOrange" style="position:absolute; top:-100px; left:454px; width:290px"><a href="">Help bring health care to Haiti &raquo;</a></div>
		</div>
	<div id="contentLeft560">
		<h1><span class="eyebrow">Mission of Hope Haiti </span><br />Prostheics</h1>
		<p>In response to the earthquake, Mission of Hope began a prosthetics lab to help the many amputees throughout Haiti. At this facility, patients receive prosthetic limbs as well as much needed physiotherapy.
</p>

<h3>The Need</h3>

<p>On Jan 12, 2010, the country of Haiti was forever changed. Hundreds of thousands perished in the days and weeks following the earthquake. Many others were pulled from the rubble, still breathing, days and even weeks later. Almost all the deaths and injuries were a direct result of the collapse of cement block buildings. As a result, many limbs of survivors were crushed under fallen walls, roofs, and block. Many hospitals were performing anywhere from 30 to 100 amputations a day. It has been estimated that the earthquake left behind an estimated 4,000 to 6,000 amputees.
</p>

<p>At Mission of Hope, we knew that we needed to do something for those who had lost everything, including parts of their own bodies. Not only had these people lost their homes, livelihood, friends, and family, but they had also lost a piece of themselves.
</p>

<h3>The Response</h3>
<p>In April 2010, just two and a half months after the devastating earthquake rocked the country, Mission of Hope opened the doors to their prosthetics lab. We see between 3 to 4 patients each week who receive a prosthetic leg and at least one patient each week comes in for minor adjustment to their prosthetic.
</p>

<p>When we received word that there were at least 40 amputees living in a nearby tent city, we sent our teams out to meet them. Twice a week we brought patients back to our clinic to be fitted for prosthetic limbs. Word spread that Mission of Hope has a prosthetics lab, and we are now receiving patients from all over the country.
</p>

<h3>The Effort</h3>
<p>It typically takes one day to make a below the knee prosthesis and two days to make an above the knee prosthesis. Whenever we have physical therapists visiting on short term teams they spend a lot of time with the amputees, doing strength training exercises as well as gait training after they receive their legs. When necessary, we have amputees come stay with us a second or third week for more physical therapy. Follow up with all of our patients is very important to us.
</p>

<p>The prosthetics lab at Mission of Hope is a unique opportunity for us to minister and love on the broken and hurting people of this nation. Each patient stays with us for a week in the patient ward. During their time with us they are loved on by our staff and visiting missions teams, where they experience the love of God first hand. They also bond with each other. They encourage each other, learn from each other, and laugh together. They begin to understand that they are not alone in this battle. Lives are being transformed every day in our clinic.
</p>

<p>Mission of Hope plans to care for every patient, long term. Almost all patients will need a new prosthetic leg in the first year, as their residual limb shrinks dramatically in the first year. In their second year they will likely need a third leg which should hopefully last about 5 years. Children, due to their constant growth, need adjustments to their prosthetics frequently, and they will typically need a socket replacement twice a year.
</p>

<p>There is a great need for continued prosthetic care for this generation and we pray that funding will provide us with the opportunity to fill this need. It costs approximately $500 US for us to make each limb.
</p>
<img src="/assets/contentDiv-560.png" />
<%=render '/layouts/pup'%>

<h1>Need updates to pull in</h1>
	</div><!-- End Content Left -->
		<div id="contentRight300" style="margin-top: 30px;">
			<div class="rightBoxGreen">
			<h2>Learn More About<br />Mission of Hope Haiti</h2>
			<ul class="aboutUsNav">
				<li><a href="/health_care">Health Care &raquo;</a></li>
				<li><a href="/clinic">Clinic of Hope &raquo;</a></li>
				<li><a href="/clinic">Hospital of Hope &raquo;</a></li>
				<li><a href="/community_health">Community Health Initiative &raquo;</a></li>
				<li><a href="/prosthetics">Prosthetics of Hope &raquo;</a></li>
			</ul>
			</div>
			<div class="rightBoxGreen">
			<h2>By 2015</h2>
			<p>
				Providing prosthetic care to 240 people.
			</p>
			</div>
			<div class="rightBoxGreen">
			<h2>Funds Needed</h2>
			<p>
				$100,000 to provide prosthetic care to 240 more people.
			</p>
			<div class="buttonSquareOrange" style="position:absolute; bottom:-15px; right:12px; width:74px; font-size:12px;"><a href="https://www.denarionline.com/DonorServices/TemplatePage.Aspx?COMP_REF=_MOHHAITI%20&CONTENT=HOME&master=master:mohr&theme=mohr">Donate &raquo;</a></div>
			</div>
			<div class="contentRightWrapper">
			<h3><span class="eyebrow">Health Care</span><br />Photos</h3>
						<div id="divImgThumbs">
				<div id="gallery" class="ad-gallery">
					<div class="ad-image-wrapper">
						<div class="ad-image shadow"></div>
					</div><!--wrapper-->
					<div class="ad-controls"></div><!--controls-->
					<div class="ad-nav">
						<div class="ad-back"></div>
						<div class="ad-thumbs">
							&nbsp;
							<ul class="ad-thumb-list">
								<!--<p><img alt="Pastor-phil-sinks-the-boat" src="http://s3.amazonaws.com/MOH/assets/13/medium/Pastor-Phil-Sinks-the-boat.jpg?1344195200" /></p>-->
								<li >
									<a href="http://s3.amazonaws.com/MOH/assets/13/medium/Pastor-Phil-Sinks-the-boat.jpg?1344195200"><img src="http://s3.amazonaws.com/MOH/assets/13/thumb/Pastor-Phil-Sinks-the-boat.jpg?1344195200" alt="" title="" longdesc="" class="image0" style="width:65px;" /></a>
								</li>
							</ul>
						</div>
						<div class="ad-forward"></div>
					</div><!--adnav-->
				</div><!--gallery-->
		</div><!--thumbs-->
		</div>
		</div> <!-- End Content 360 -->	
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
