<div id="bgHero">
	<div id="sohHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<div id="heroContentEducation">
				
		
			</div>
		</div>
<div id="contentLeft560">
	<h1><span class="eyebrow">Mission of Hope Haiti </span><br />School of Hope</h1>
	<p>The School of Hope provides quality education for children from Kindergarten through High School.  In October of 2010, an afternoon school was added, increasing our enrollment to approximately 2,500 students.  Each day, the students are provided with a full meal, and are taught with a Christian curriculum. The school is divided into three sections with three principals directing each section. The Kindergarten section has three levels with children beginning at 3 years old. The Elementary section has six grades and the High School has seven. At the end of grades 6, 9, 12, and 13 government exams are given. Each student must pass these difficult exams to continue their formal education.
</p>

<p>In addition to attending class, twice each week the students go to Chapel, with worship led by the high school students. Students also have a library period each week in which they can visit the Mission’s new library to read books.
</p>

<p>The School of Hope follows the moto “Mwen Kapab” which means “I Can”. We strive to promote academic excellence. As a result, the School of Hope is one of the top performing schools in the nation. In fact, last year we had a 100% passing rate for the standardized government exams.
</p>

<p>To maintain and run the school, Mission of Hope relies primarily on donation support through student sponsorships. If you would like to sponsor a student, you can do this online via the link below.
</p>

			<img src="/assets/contentDiv-560.png" />
<%=render '/layouts/pup'%>
		</div>

		<div id="contentRight300" style="padding-top:30px;">
			<div class="rightBoxGreen">
			<h2>Learn More About<br />Education</h2>
			<ul class="aboutUsNav">
				<li><a href="/education">Education &raquo;</a></li>
				<li><a href="/school_of_hope">School Of Hope &raquo;</a></li>
				<li><a href="/mwen_kapab">Mwen Kapab &raquo;</a></li>
			</ul>
			</div>
		</div>
	
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
