<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		
			<h1><span class="eyebrow">Mission Of Hope Haiti</span>
			<br />
			Snap Back</h1>
			<h3>SnapBack: Snap your Photos…then give them back</h3>
<p>
Mission of Hope is always developing new materials to share with our supporters to help them see the Life Transformation happening in Haiti. Chances are if you’re an armature or even a professional photographer you’ve captured the beauty of Haiti’s people. If you have captured some great shots from your recent trip to Haiti please consider sharing them with us for use on our web and print marketing materials. Do so by joining our flickr group and uploading your photos! If you would prefer to give them to us directly please email Lindsey@mohhaiti.org for directions on how to do so.</p>
			<div style="width:975px; height:100%;">
			<div id="container" class="transitions-enabled clearfix" style="clear:both;">
			<% @photos.each do |photo|
				photo_info = flickr.photos.getInfo(:photo_id => photo.id)
          		photo_url_m = FlickRaw.url_m(photo_info)
          		photo_url_z = FlickRaw.url_z(photo_info) %>
          		<div class="item">
					<%= image_tag photo_url_m,:title=>photo.title,:alt=>photo.title %>
  					<%= photo.title %>
				</div>
			<%end%>
			</div>
			</div>
	
		

		
	</div>
<script src="/assets/javascript/jquery.masonry.min.js"></script>
<script>
	var $container = $('#container');
	$container.imagesLoaded(function(){
  		$container.masonry({
  			itemSelector: '.item',
  			//columnWidth: 1,
  			isAnimated: true,
  			animationOptions: {
    			duration: 500,
    			easing: 'linear',
    			queue: false
  			}
  		});
	});
</script>