<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		
			<h1><span class="eyebrow">Mission Of Hope Haiti</span>
			<br />
			Snap Back</h1>
			<div style="width:975px; height:100%;">
			<div id="container" class="transitions-enabled clearfix" style="clear:both;">
			<% @photos.each do |photo|
				photo_info = flickr.photos.getInfo(:photo_id => photo.id)
          		photo_url_m = FlickRaw.url_m(photo_info)
          		photo_url_z = FlickRaw.url_z(photo_info) %>
          		<div class="item">
					<%= image_tag photo_url_m,:title=>photo.title,:alt=>photo.title %>
  					<%= photo.title %>
				</div>
			<%end%>
			</div>
			</div>
	
		

		
	</div>
<script src="/assets/javascript/jquery.masonry.min.js"></script>
<script>
	var $container = $('#container');
	$container.imagesLoaded(function(){
  		$container.masonry({
  			itemSelector: '.item',
  			//columnWidth: 1,
  			isAnimated: true,
  			animationOptions: {
    			duration: 500,
    			easing: 'linear',
    			queue: false
  			}
  		});
	});
</script>