<div id="wrapper">
	<%= render 'layouts/navBar'%>
<div id="content" style="padding-top: 50px;">
<div id="contentLeft560">
	<h1><span class="eyebrow">Mission of Hope</span>
			<br />
			Sponsorship FAQs</h1>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
			<script>
   jQuery(document).ready(function(){
		$( "#accordion" ).accordion({
			autoHeight: false,
			navigation: true,
			collapsible: true,
			active:false
		});
	});
	</script>
	<div id="accordion">
	<h3><a href="#">How do I give sponsorship funds?</a></h3>
	<div>
		<p>
		A School of Hope Student sponsorship is $35 per month/per student and a Village of Hope Orphan sponsorship is $100 per month/per child. 
<br /><br />
There are a few convenient options for giving sponsorship funds. We encourage sponsors to give electronically through our donation page {LINK TO DONATION PAGE}.
<br /><br />
If you desire to give by check, please mail your check to:
<br />
<br />
Mission of Hope, Haiti<br /> P.O. Box 60004<br /> Fort Myers, FL 33906<br />
<br />
Please remember to include your child’s full name and sponsorship number with your check.  Additional information, such as the purpose of the gift (i.e. monthly sponsorship, Christmas fund, etc.), should be included to ensure proper handling.
<br /><br />
We ask sponsors that are financially able to give an additional $10 (per student) to go into a Christmas fund. You can send these funds in November to the MOH U.S. Office. The Christmas funds will be used to purchase Christmas gifts in Haiti for all of the school children.
		</p>
	</div><!-- End Question -->
	<h3><a href="#">Does my sponsorship cover all of my student’s school expenses?</a></h3>
	<div>
		<p>
		Your sponsorship does not cover all of your sponsored student’s expenses for school. The students and their families are asked to provide a small fee. This request is very intentional and is in line with Mission of Hope, Haiti’s Vision and Mission. We call it Indigenous Mobilization, which is our way of strategically developing national leaders to carry the vision to the nation. When students pay for a portion of their school fees, they naturally take more ownership and place greater value on their education. 
<br /><br />
We do know that some students will not be able to pay these requested fees. Our School of Hope Staff are the best equipped to validate these needs and provide the appropriate amount of support. Therefore, we ask that students go to our Haitian Staff at the School of Hope to make their needs known. If you are interested in helping students with their portion of the school fees, make a gift to our School Fees/Books/Uniform fund. These gifts are made available to the School leadership to distribute to students. We cannot guarantee that these funds will go to a specific student or family, but can ensure they will go to the students with the greatest needs. 
<br /><br />
If you have additional questions about Mission of Hope, Haiti’s Resolution for Indigenous Mobilization, please call 239-791-8125 or email sponsorship@mohhaiti.org. 

		</p>
	</div><!-- End Question -->
	<h3><a href="#">Can I send money directly to my sponsored student and his or her family?</a></h3>
	<div>
		<p>
		According to IRS regulations, Mission of Hope, Haiti cannot facilitate the exchange of money from one individual to another. Please do not send money to MOH to be delivered to your student. The money will be placed in a fund to support the School of Hope and made available to our school staff to be distributed to the student’s with the greatest needs. 
<br /><br />
Please use caution if asked by your student or student’s family to provide additional money. Mission of Hope believes strongly in our resolution for Indigenous Mobilization. We desire to strategically develop leaders to carry the vision of the nation. It is vital that the Haitian people are empowered to bring life transformation to their nation through Haitians at the School of Hope, Church of Hope, etc. Please encourage your student to go to the School and Church Staff to make their needs known. In this way, your student is lovingly connected to a community of Haitian, Christ-followers that will be able to impact the child’s life on a daily basis. 
<br /><br />
If you have additional questions about Mission of Hope, Haiti’s Resolution for Indigenous Mobilization, please call 239-791-8125 or email sponsorship@mohhaiti.org. 

		</p>
	</div><!-- End Question -->
	<h3><a href="#">Can I send correspondence to my sponsored child? How and where do I send it?</a></h3>
	<div>
		<p>
		Yes! Throughout the year we encourage you to send notes of encouragement, letters, and birthday cards to your child. Through corresponding with your student, both you and your child have the opportunity to share your lives with each other, as well as to relationally proclaim the Gospel of Jesus Christ. 
<br /><br />
Without a reliable postal service in Haiti, MOH Staff hand carry and deliver mail directly to the School of Hope. Due to rising baggage fees and the growing number of sponsorships (praise the Lord!), there are limitations to what can be sent. 
<br /><br />
Correspondence options currently include:
<ol style="list-style: decimal; padding-left:50px;">
	<li>Mailing letters, cards, photos, and/or small, flat items to the MOH US Office: PO Box 60004, Fort Myers, FL 33906. Envelopes should be no larger than 9” x 12” x ½”. No boxes of any size should be sent. Please clearly mark envelopes with your student’s name and student number. Please refrain from sending your student money. $1 USD is a lot of money to a Haitian child and could put them at risk when they return home to their village after school. 
		</li>
	<li>Purchase a gift from our Online Gift Store at www.mohhaiti.org to be bought in Haiti and delivered in your name. Your money will help support the local economy in Haiti. </li>
	<li>Email letters and photos to sponsorship@mohhaiti.org. Include your student’s name and number in the subject line.</li> 
</ol>

		</p>
	</div><!-- End Question -->
	<h3><a href="#">What topics should I include and avoid in my letters?  </a></h3>
	<div>
		<p>
		Mission of Hope children know that they are being sponsored and are very proud of their sponsorship. They love to hear from their sponsors. Be encouraging, tell them about you and your family, describe special holiday and family customs, include a bible verse that has special meaning to you and tell them why, tell them that you are praying for them, and most importantly ask questions. Encourage your child to write back and/or draw pictures for you.
<br /><br />
Please be sensitive to their economic situation. Avoid discussing the material aspects of your life, sending photos that show your possessions, sharing your home address, email address, or telephone numbers, using colloquialisms and slang, and suggesting your child come for a visit or promising to send them things

		</p>
	</div><!-- End Question -->
	<h3><a href="#">Can I ask if my child believes in Christ or is a Christian?</a></h3>
	<div>
		<p>
		Yes! Mission of Hope is a Christ-centered, church-based ministry. However, a child does not have to be Christian to benefit from Mission of Hope’s Child Sponsorship Program. Each student and orphan hears the gospel taught in school and goes to Chapel as a part of the weekly school schedule. But neither the children nor their families are obligated to become Christians. Your letters and questions offer another opportunity for your child to hear the Gospel and demonstrate faith in action.
		</p>
	</div><!-- End Question -->
	<h3><a href="#">How often should I write?</a></h3>
	<div>
		<p>
		You may write to your sponsored child as often as you like. We encourage you to write your child even if it's just a brief note or card. In fact, short, simple letters help with translation and speed up the process of delivery.
		</p>
	</div><!-- End Question -->
	<h3><a href="#">What should I expect from my correspondence with my student?</a></h3>
	<div>
		<p>
		Your consistent letters and messages of love and support are instrumental in giving hope to your child. Your child is living and learning under circumstances much different from those in the United States, please do not expect a pen-pal relationship. Communication between cultures is always difficult, especially when this communication is written and between an adult and a child.
		</p>
	</div><!-- End Question -->
	<h3><a href="#">Can I send photographs to my child?</a></h3>
	<div>
		<p>
		Definitely! Please avoid sending pictures that may accentuate the economic differences between you and your child (e.g., homes, cars, etc.). Also please be aware of what is in the photo's background. Remember to include your sponsored child's name and number on each item you send. We reserve the right not to forward any photos that our staff considers inappropriate.
		</p>
	</div><!-- End Question -->
	<h3><a href="#">Why was my letter not delivered?</a></h3>
	<div>
		<p>
		We standby the right to decline to forward any letters and materials that we view as incompatible with our ministry mission and vision, inappropriate in the Haitian culture, and/or threaten the safety of the child in any way.
		</p>
	</div><!-- End Question -->
	<h3><a href="#">Can I visit my child?</a></h3>
	<div>
		<p>
		Yes! Visiting your sponsored child could be life-changing, for both yourself and your sponsored child. You can make this exciting experience a reality through participating in our Mission Trips. Mission of Hope strongly believes that Haiti can be changed and we all can do our part in helping that process. We encourage everyone to visit Haiti with Mission of Hope and see the miracles that God is doing. It would surely be an unforgettable experience!
<br /><br />
Participating in a Mission trip allows the sponsors to meet and spend time with their sponsored child along with getting an insider’s look at Mission of Hope, Haiti through meeting our local staff, experiencing the local culture and area, and helping with work projects. Please email our Mission Trips Coordinator at missiontrips@mohhaiti.org for more information.

		</p>
	</div><!-- End Question -->
	<h3><a href="#">When do I let MOH know that I want to visit my child?</a></h3>
	<div>
		<p>
		If you plan to participate in a Mission trip and want to meet your sponsored child, please inform our U.S. Office Mission Trips Coordinator by emailing missiontrips@mohhaiti.org at least one month in advance of your trip with your name, the week you plan to visit, the group with which you are traveling, and your sponsored child’s name and number. You will be added to the sponsor visit schedule and our staff on the ground will set-up and facilitate your meeting during your stay. 
		</p>
	</div><!-- End Question -->
	<h3><a href="#">What can I expect when meeting my sponsored child?</a></h3>
	<div>
		<p>
		Sponsor visits are set up through our Mission Trip Coordinator by emailing missiontrips@mohhaiti.org at least one month prior to your trip. MOH Staff will schedule your meeting and accompany you to the School or Village of Hope at some point during your stay. A translator will be present to aid with communication. During this visit please do not provide your personal contact information to your child. This request is for both the protection of the child as well as yourself.  
		</p>
	</div><!-- End Question -->
	<h3><a href="#">Can I bring a gift with me when I visit my child?</a></h3>
	<div>
		<p>
		Yes! Some suggestions for gifts include: pens, pencils, small sharpener, markers, paper, stickers, and bookmarks; backpack; hair ribbons/barrettes for girls, and baseball caps for boys; picture books, coloring books and crayons; clothes, such as skirts, blouses, pants, shirts, and sock; or simple toys, such as jump rope, jacks, marbles, toy cars, dolls, and soccer ball/basketball.
		</p>
	</div><!-- End Question -->
	<h3><a href="#">All gifts must be approved by MOH staff before given to the child. </a></h3>
	<div>
		<p>
		We standby the right to decline any gift that we view as incompatible with our ministry mission and vision, inappropriate in the Haitian culture, and/or threaten the safety of the child in any way.

Please do not give your child money. $1 USD is a lot of money to a Haitian child and could put them in risk when they return home to their village after school.
		</p>
	</div><!-- End Question -->
	<h3><a href="#">Can I sponsor a child at orphanages other than the Village of Hope?</a></h3>
	<div>
		<p>
		Mission of Hope does not have any legal or financial right to children at any other orphanage than the Village of Hope. We cannot control how the funds are being spent. Therefore we do not sponsor children at other orphanages. We do however give food and medical care to many other orphanages. 
		</p>
	</div><!-- End Question -->
	<h3><a href="#">Can children at other orphanages come to the School of Hope?</a></h3>
	<div>
		<p>
		Yes. However it is completely up to the director of the orphanage to enroll the children with the Government School Directory at the appropriate time. Mission of Hope cannot force the orphanage director into enrolling the children.
		</p>
	</div><!-- End Question -->
	<h3><a href="#">I received correspondence from Mission of Hope stating that my student is no longer attending the School of Hope. What does this mean?</a></h3>
	<div>
		<p>
		Due to the transient and variable nature of the villages and families from which our students come, your student may no longer be able to attend the School of Hope at some point during your sponsorship. If this situation occurs with your student, you will be notified by the Child Sponsorship Coordinator and your sponsorship will be ended. We would love if you would prayerfully consider sponsoring another student at the School of Hope and are more than happy to assist you in doing so. 
		</p>
	</div><!-- End Question -->
	<h3><a href="#">What if I have other questions?</a></h3>
	<div>
		<p>
		If you have additional questions about your child sponsorship, please contact our Child Sponsorship Coordinator at (239) 791-8125 Monday through Friday 9am – 5pm or email sponsorship@mohhaiti.org. 		</p>
	</div><!-- End Question -->
</div><!-- End Accordion -->
</div>
<div id="contentRight300">
			<h2>Learn More About<br />Child Sponsorship</h2>
			<ul style="margin-top: -13px;">
				<li><a href="/learn_sponsor">Learn about child sponsorship &raquo;</a></li>
				<li><a href="/sponsor_faq">Sponsorship FAQs &raquo;</a></li>
				<li><a href="/gift_store">Gift Store &raquo;</a></li>
				<li><a href="/write_to_child">Write your child &raquo;</a></li>
			</div>
			<div class="clearfix">
				<!--x-->

			</div>
	<div class="clearfix" style="height:40px;"><!--x--></div>
	</div>