<div id="wrapper">
	<%= render 'layouts/navBar'%>
<div id="content" style="padding-top: 50px;">
<div id="contentLeft560">
	<h1><span class="eyebrow">Mission of Hope</span> <br /> Sponsorship FAQs</h1>
<div id="accordion">
<p><a href="#"><strong>+</strong> How do I give sponsorship funds?</a></p>
<div>
  <p>A School of Hope Student sponsorship is $35 per month/per student and a Village of Hope Orphan sponsorship is $150 per month/per student. <br />
    <br /> There are a few convenient options for giving sponsorship funds. We encourage sponsors to give electronically <a href="http://mohh.convio.net/site/Donation2?df_id=1600&1600.donation=form1">through our donation page.</a> <br /><br /> If you desire to give by check, please mail your check to: <br /> <br /> Mission of Hope, Haiti<br /> P.O. Box 171500<br /> Austin, TX 78717-1500<br /> <br />
    Please  remember to include your student&rsquo;s full name and sponsorship number with your  check. Additional information, such as the purpose of the gift (i.e. monthly  sponsorship gift, Christmas  fund, etc.), should be included to ensure proper handling. <br /><br />
    We ask sponsors that  are financially able to give an additional $10 (per student) to go into a  Christmas fund. You can send these funds in November to the MOH US Office. The  Christmas funds will be used to purchase Christmas gifts in Haiti for all of  the school children.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> Does my sponsorship cover all of my student&rsquo;s school expenses?</a></p>
<div>
<p>Your sponsorship does not cover all of your sponsored student&rsquo;s expenses for  school. The students and their families are asked to provide a small fee  equivalent to $3-6 USD. This request is very intentional and is in line with  Mission of Hope, Haiti&rsquo;s vision  and mission. We call it Indigenous Mobilization, which is our way of  strategically developing national leaders to carry the vision to the nation.  When students pay for a portion of their school fees, they naturally take more  ownership and place greater value on their education. </p>
<br>
We do know that some students will not be able to pay these requested fees. Our  School of Hope staff  are the best equipped to validate these needs and provide the appropriate  amount of support. Therefore, we ask that students go to our Haitian staff at the School of  Hope to make their needs known. If you are interested in helping students with their portion of the  school fees, make a gift to our School Fees/Books/Uniform fund. These gifts are  made available to the school leadership to distribute to students. We cannot  guarantee that these funds will go to a specific student or family, but can  ensure they will go to the students with the greatest needs. <br>
<br>
If you have additional questions about Mission of Hope, Haiti&rsquo;s Resolution for  Indigenous Mobilization, please call
 512-256-0835 or email  sponsorship@mohhaiti.org.</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> Can I send money directly to my sponsored student and his or her family?</a></p>
<div>
<p>According to IRS regulations, Mission of Hope, Haiti cannot facilitate the  exchange of money from one individual to another. Please do not send money to  MOH to be delivered to your student. The money will be placed in a fund to  support the School of Hope and made available to our school staff to be  distributed to the students  with the greatest needs. <br>
  <br>
  <strong>Please use caution if asked by your  student or student&rsquo;s family to provide additional money.</strong> Mission of Hope  believes strongly in our resolution for Indigenous Mobilization. We desire to  strategically develop leaders to carry the vision of the nation. It is vital  that the Haitian people are empowered to bring life transformation to their  nation through Haitians at the School of Hope, Church of Hope, etc. <strong>Please encourage your student to go to the school and church staff  to make their needs known.</strong> In this way, your student is lovingly connected  to a community of Haitian  Christ-followers that will be able to impact the student&rsquo;s life on a daily  basis. <br>
  <br>
  If you have additional questions about Mission of Hope, Haiti&rsquo;s Resolution for  Indigenous Mobilization, please call 512-256-0835 or email  sponsorship@mohhaiti.org.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> Can I send correspondence to my sponsored child? How and where do I send it?</a></p>
<div>
<p>Yes! Throughout the year we encourage you to send notes of encouragement, letters, and birthday cards to your student. Your correspondence will initiate a response, and through that correspondence, both you and your student have the opportunity to share your lives with each other, as well as to relationally proclaim the Gospel of Jesus Christ. 
<br>
  Correspondence options currently include:</p>
<ol style="list-style: decimal; padding-left: 50px;">
  <li>Email  letters and photos. To do this, create a <a href="http://mohhaiti.org/mymoh/login">My MOH</a> account, then click on &ldquo;My Child Sponsorships,&rdquo; and  click &ldquo;Write My Child&rdquo; button. Once your letter has been received, it will be  translated into Creole, and delivered to your student. You should expect to  receive a translated response from your student within three to four months.  Please allow more time during the summer months, as students are not in school  at this time. </li>
  <li>Purchase a gift from our Online Gift Store at in your <a href="http://mohhaiti.org/mymoh/login">My MOH</a> account to be bought in Haiti and  delivered in your name. Your money will help support the local economy in  Haiti. This process can take two  to three months for the purchase of the gifts and delivery to each school on a monthly  basis. Gifts desired for Christmas or birthdays should be purchased online at  least 2-3 months in advance.  </li>
   <li>Mailing letters, cards, photos, and/or small, flat       items to the MOH US Office*: PO Box 171500, Austin, TX 78717-1500. There       are a few limitations to what can be sent. Envelopes should be no larger       than 9&rdquo; x 12&rdquo; x ½&rdquo;. No boxes of any size should be sent. Please clearly       mark envelopes with your student&rsquo;s name and student number. <strong>Please refrain from sending your       student money</strong>. $1 USD is a lot of money to a Haitian child, and could       put them at risk when they return home to their village after school.</li>
   </ol>
<p>* Without a  reliable postal service in Haiti, MOH Staff hand carry and deliver mail  directly to the School of Hope. Please understand this will considerably increase  the amount of time it takes to get to your student. </p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> What topics should I include and avoid in my letters?  </a></p>
<div>
<p>Mission of Hope children know that  they are being sponsored and are very proud of their sponsorship. They love to  hear from their sponsors. Be encouraging, tell them about you and your family,  describe special holiday and family customs, include a Bible verse that has special meaning to you  and tell them why, tell them that you are praying for them, and most  importantly ask questions. Encourage your student to write back and/or draw  pictures for you. <br>
  <br>
  Please be sensitive to their economic situation. Avoid discussing the material  aspects of your life, sending photos that show your possessions, sharing your  home address, email address, or telephone numbers, using colloquialisms and  slang, and suggesting your student come for a visit or promising to send them  things.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> Can I ask if my child believes in Christ or is a Christian?</a></p>
<div>
<p>Yes! Mission of Hope is a  Christ-centered, church-based ministry. However, a student does not have to be  Christian to benefit from Mission of Hope&rsquo;s Child Sponsorship Program. Each  student and orphan hears the Gospel  taught in school and goes to Chapel as a part of the weekly school schedule.  But neither the children nor their families are obligated to become Christians.  Your letters and questions offer another opportunity for your student to hear  the Gospel and demonstrate faith in action.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> How often should I write? How often will my student write?</a></p>
<div>
<p>You may write to your sponsored student as often as you like; however, with 17 schools we deliver to each school once a month while school is in session (October-June).
 </p>
<p>Your letters will initiate a response from your child. It may take up to 3-4 months for you to receive a response from your student, depending on absences and holidays.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> What should I expect from my correspondence with my student?</a></p>
<div>
<p>Your consistent letters and messages  of love and support are instrumental in giving hope to your student. Your student  is living and learning under circumstances much different from those in the  United States. Please do  not expect a traditional &ldquo;pen-pal&rdquo; type of relationship. Communication  between cultures is always difficult, especially when this communication is  written and between an adult and a child. All students will have the  opportunity to draw a picture and/or write a message; however, please be aware of the age of your  student. Students start school at 3 years old. Due to their situation,  communication skills such as reading and writing may not be as age appropriate  as you may experience in the US/Canada. </p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> Can I send photographs to my child?</a></p>
<div>
<p>Definitely! When you write your  student a letter online, you are given the opportunity to attach a photo. Please  avoid sending pictures that may accentuate the economic differences between you  and your student (e.g., homes, cars, etc.). Also please be aware of what is in  the photo's background. Remember to include your sponsored student's name and  number on each item you send. We reserve the right not to forward any photos  that our staff considers inappropriate.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> Why was my letter not delivered?</a></p>
<div>
<p>We standby the right to decline to  forward any letters and materials that we view as incompatible with our  ministry mission and vision, inappropriate in the Haitian culture, and/or  threaten the safety of the student in any way.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> Can I visit my student?</a></p>
<div>
<p>Yes! Visiting your sponsored student  could be life-changing, for both yourself and your sponsored student. You can  make this exciting experience a reality through participating in our Mission  Trips. Mission of Hope strongly believes that Haiti can be transformed and we all  can do our part in helping that process. <br>
  <br>
  Participating in a Mission Trip allows the sponsors to meet and spend time with  their sponsored student during their missional week in Haiti. Please email our  Mission Trips Coordinator at missiontrips@mohhaiti.org for more information on  scheduling your trip. </p>
<p>  If you are going on a Mission Trip  to Haiti and would like to meet your student, please indicate this on your Mission  Trip application or by emailing <a href="mailto:missiontrips@mohhaiti.org">missiontrips@mohhaiti.org</a> at least <strong>three  weeks in advance</strong> of  your trip.</p>
<p>  If you would like to start a  sponsorship before your trip, visit our online catalog at www.mohhaiti.org, or email <a href="mailto:sponsorship@mohhaiti.org">sponsorship@mohhaiti.org</a> at least <strong>three  weeks in advance</strong> of  your trip. </p>
<p>  *Because our sponsorship program is  a school-based  program, we are only able to facilitate visits when school is in session. The  students are in school in Haiti from October through June, excluding Holidays. </p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> When do I let MOH know that I want to visit my student?</a></p>
<div>
<p>In  the past year, the Lord has  allowed us to expand to 17 schools across Haiti. With this in mind, we  ask that you please inform our U.S. Office Mission Trips Coordinator by  emailing missiontrips@mohhaiti.org at least <strong>three weeks in advance</strong> of your trip with your name, the week  you plan to visit, the group with which you are traveling, and your sponsored student&rsquo;s  name and number. You will be added to the sponsor visit schedule and our staff  on the ground will set-up and facilitate your meeting during your stay. Thank  you for letting us know in advance, as this allows us to plan vehicles,  translators, as well as  inform the schools, in order to coordinate your visits.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> What can I expect when meeting my sponsored student?</a></p>
<div>
<p>Sponsor visits are set up through  our Mission Trip Coordinator by emailing missiontrips@mohhaiti.org at least <strong>three weeks in advance</strong> to your  trip. MOH Staff will schedule your meeting and accompany you to the School or  Village of Hope at some point during your stay. A translator will be present to  aid with communication. During this visit. please do not provide your personal contact information  to your student. This request is for both the protection of the student, as well as  yourself. If your student attends a school near the central MOH campus. it will require half of the  day. If your student  attends a school that is a considerable distance from the central MOH campus,  it will require a full day of your trip schedule. </p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> Can I bring a gift with me when I visit my student?</a></p>
<div>
<p>Yes! Some suggestions for gifts  include: pens, pencils, small sharpener, markers, paper, stickers, and  bookmarks; backpack; hair ribbons/barrettes for girls, and baseball caps for  boys; picture books, Creole Bible, coloring books and crayons; clothes, such as  skirts, blouses, pants, shirts, and socks; or simple toys, such as a jump rope, jacks, marbles, toy cars, dolls, and a soccer ball/basketball with ball  pump.</p>
<p><strong>*All  gifts must be approved by MOH staff before being given to the student.</strong> MOH reserves  the right to decline any gift that we view as incompatible with the ministry  mission and vision, inappropriate in the Haitian culture, and/or threaten the  safety of the student in any way. Please do not give your student money. $1 USD  is a lot of money to a Haitian child and could put them at risk when they return home to their  village after school.</p>
</div>
<!-- End Question -->

<p><a href="#"><strong>+</strong> Can I sponsor a child at orphanages other than the Village of Hope?</a></p>
<div>
<p>Mission of Hope does not have any  legal or financial connection  to children at any other  orphanage, other than the Village of Hope. We have no control over how the funds are  being spent; therefore, we do not sponsor children at other orphanages. We do, however, provide meals  and medical care to many other orphanages.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> Can children at other orphanages come to the School of Hope?</a></p>
<div>
<p>Yes. However it is completely up to  the director of the orphanage to enroll the children with the Government School  Directory at the appropriate time. Mission of Hope cannot force the orphanage director to enroll the children.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> I received correspondence from Mission of Hope stating that my student is no longer attending the School of Hope. What does this mean?</a></p>
<div>
<p>Due to the transient and variable  nature of the villages and families from which our students come, your student  may no longer be able to attend the School of Hope at some point during your  sponsorship. If this situation occurs with your student, you will be notified  by the Child Sponsorship Coordinator as soon as possible, and you will be given the opportunity to  sponsor another deserving child. Haiti is being transformed one child at a  time, so would encourage you to continue your support by choosing another  child. We are happy to assist you in this process.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> What if I met a child in the village that I would like to sponsor?</a></p>
<div>
<p>Mission of  Hope is working to reach every man, woman, and child in Haiti. As a part of our  vision to empower the Haitian people, it is the student and their family&rsquo;s  responsibility to register for school. You can encourage the student in their  responsibility to register for school by directing them to school  administration at School of Hope or to their Village Champions for information.  Once a student is registered, they are part  of our sponsorship program. We can check to see if a student is registered in  our school and/or sponsored already. If the student is not registered, we  encourage you to sponsor a student that is already registered in one of our MOH  schools. By sponsoring a student that is already enrolled in our school, you  are allowing us to lower registration fees, which allows more students to receive  an MOH education. </p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> What if I have other questions?</a></p>
<div>
<p>If you have additional questions about your child sponsorship, please contact our Child Sponsorship Coordinator at (239) 791-8125 Monday through Friday 9am – 5pm or email sponsorship@mohhaiti.org.</p>
</div>
<!-- End Question --></div>
<!-- End Accordion -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript">// <![CDATA[
jQuery(document).ready(function(){
		$( "#accordion" ).accordion({
			autoHeight: false,
			navigation: true,
			collapsible: true,
			active:false
		});
	});
// ]]></script>
	
	
	
	
</div>
<div id="contentRight300">
	<%= render"/layouts/childSponsorNav"%>
			</div>
			<div class="clearfix">
				<!--x-->

			</div>
	<div class="clearfix" style="height:40px;"><!--x--></div>
	</div>
