<div id="bgHero">
	<div id="heroFinancials" style="width: 100%; height: 70%;background: url(/assets/heroFinancials.jpg) no-repeat center center;-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;">
		<!--x-->
	</div>
</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content" style="padding-top:300px;">
	<div id="heroContent">
		<h1 style="top:-200px; width:650px; font-size:2.5em;"><span style="font-size:1.75em;">Stampin' Up</span><br />
		Partnering with MOH to transform lives</h1>
			
		</div>
<h1 style="padding:40px 0;">Stampin' Up is Partnering with MOH</h1>

<p><img src="/images/su.png" alt="Stampin' Up" style="padding:0px 20px 20px 0; float:left;">A key part of Stampin' Up!'s mission is to "make a difference" in the lives of others, and those who are involved with Stampin' Up! try make it show in their everyday actions. Mission of Hope does wonderful work, and we are honored to partner with them to make a difference by helping provide housing and basic necessities for Haitians in need.</p>

<div class="buttonSquareOrange" style="margin:20px auto;width:200px;"><a href="https://secure3.convio.net/mohh/site/Donation2;jsessionid=67B9D093C9308AB08D9430F2AF6CDB92.app331a?df_id=1600&1600.donation=form1&program=Blue&sponsor=Stampin">Donate Today</a>

</div>

<div class="clearfix" style="height:20px;">
	<p><em>If you are a Canadian Donor and would like to receive a tax-deductible receipt, please give through our Canadian partner, 
	<a href="http://www.speroway.com/our-partners/international-partners/mission-of-hope">Speroway.</a></em></p>

	<h2 style="padding-top:40px;">What is Blue to Block?</h2>
	<p><a href="/projects/5"><img src="http://mohhaiti.org/assets/b2b-logo.png" alt="Blue to Block" style="padding:0px 0 20px 20px; float:right;"></a>Three years after the earthquake may families are still living
		in tent homes! Our goal is to provide 650 of these families with long-term houses. Each home costs about $6,000 to build. <a href="/projects/5">Read more &raquo;</a></p>
			<!--x-->
		</div>
		</div><!--Content Wrapper-->
	</div>