<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top: 50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti</span>
			<br />
			Request mission trip information</h1>
			<p>
			If you would like to learn more about how you or a group can serve on a short-term mission trip with Mission of Hope, Haiti, please fill out and submit the form below. Once we have received your request, our Mission Trips Coordinator will be in touch with you.
			</p>

<h3>Interested in going on a group trip? </h3>
<p>You can contact us at 239-791-8125 to learn more or start the trip application process.</p>
			<div class="forms">
				<form>
					<div class="field">Name: <input type="text" name="fname"><br></div>
					<div class="field">Email: <input type="text" name="email"></div>
					<div class="field">Phone number: <input type="text" name="phonenumber"><br></div>
					<div class="field checkbox" style="margin-top: -3px;padding-bottom: 15px;"><input type="checkbox" name="childnumber" style="width:12px;"> I am interested in taking a Medical Mission Trip (<a href="/medical_mission_trips">learn more about medical mission trips).</a>
						</div>
					<div class="field" style="clear: both;">Comments: <textarea type="textarea" name="letter"></textarea></div>
					 <div class="actions"><input type="submit" value="Submit My Request"></div>
				</form>		
			</div>
		</div><!-- End Content Left -->

		<div id="contentRight300">
			<%= render 'layouts/missionTripNav'%>
			<div class="rightBoxGreen">
				<h2>Contact Us</h2>
				<p>
					Email: missiontrips@mohhaiti.org <br />
					Phone: 239-791-8125
				</p>
		</div>
			<div class="clearfix">
				<!--x-->
			</div>
		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			
			</div>
