<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top: 50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Take a</span>
			<br />
			Mission Trip</h1>
		<!-- 	There was code here that broke the entire page for posts and updates -->
			<p>
				Every year, Mission of Hope houses hundreds of groups and individuals at its campus in the foothills of Titanyen, Haiti. These gracious volunteers visit for a week, answering a call to assist in bringing life transformation to the people of Haiti. Whether you’re an individual or someone looking to bring a group, short-term mission trips is a great way to experience the benefits of serving a community in need. 
			</p>

<p>The benefit of a week-long trip to Mission of Hope is three-fold:</p>
	<ol class="takeATripList">
		<li>Volunteers are able to serve the mission and surrounding communities through work projects and ministry.</li>
		<li>Volunteers are able to catch a glimpse of the need in Haiti, and see first-hand how Mission of Hope is responding.</li>
		<li>Volunteers are able to return to their home-country with tools necessary to impact the needs of their own community.</li>
	</ol>
	<p>
		Regardless of your skills, there are ways for you to serve at Mission of Hope. Once you arrive on the ground, we’ll plan your week for you, aware of your skill set. Trips will include village ministry to our surrounding community and light, construction ministry.
	</p> 

	<p>
		If you have a medical team that wants to lead a medical mission trip to Haiti, we can speak with you about leading/participating in a Mobile Clinic to our surrounding communities. <a href="/medical_mission_trips"> Click here to learn more. 
		</a>
	</p>
<h3>Interested in going on a group trip?</h3>
<p>You can contact us at 239-791-8125 to learn more or start the trip application process.</p>
			<div class="forms">
				<form>
					<div class="field">Name: <input type="text" name="name"><br></div>
					<div class="field">Email: <input type="text" name="email"></div>
					<div class="field">Phone number: <input type="text" name="phonenumber"><br></div>
					<div class="field">Comments: <textarea type="textarea" name="letter"></textarea></div>
					 <div class="actions"><input type="submit" value="Submit"></div>
				</form>		
			</div>
		</div><!-- End Content Left -->

		<div id="contentRight300">
			<div class="rightBoxGreen">
			<h2>Learn More About<br />Short-Term Missions</h2>
			<ul class="rightColNav">
				<li><a href="/take_a_trip">Take a Mission Trip &raquo;</a></li>
				<li><a href="/medical_mission_trips">Take a Medical Mission &raquo;</a></li>
				<li><a href="/trip_dates">Mission Trip Dates &raquo;</a></li>
				<li><a href="/trip_costs">Mission Trip Costs &raquo;</a></li>
				<li><a href="/trip_faqs">Mission Trip FAQs &raquo;</a></li>
				<li><a href="/preparing_for_mission_trips">Preparing for a Trip &raquo;</a></li>
			</ul>
			</div>
		</div>
		<div class="clearfix">
				<!--x-->
			</div>
		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			
			</div>
