<div id="bgHero">
	<div id="threeCordsHero">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<h1 style="padding-top:10px;" class="greenTransBG"><span style="font-size: 1.49em;">Providing full-time work for handicapped women</span><br /> <span style="font-size: 1.97em;">who desperately need to provide</span> <br /> <span style="font-size: 2em;">for themselves and their families
				</span>
			</h1>

		</div>
		<h1><span class="eyebrow">Mission of Hope</span>
		<br />
		3 Cords</h1>
		<p>
		<img class="alignRight" src="/assets/icon-3Cords-med1.png" />3 Cords is a small business initiative that started in 2010 after the devastating earthquake left many people without limbs and without jobs.
3 Cords employs amputee women and mothers of amputee children, giving them hope that they are still whole, valuable, and precious. Our vision is to love and serve these women, teach them valuable skills, and provide them with dignity that they can still work and provide for their families. In Haiti, many people do not believe handicapped women can do anything, let alone work. 3 Cords is disproving this cultural stigma for sure!
</p>
		
		<div class="buttonSquareOrange" style="margin:20px auto; width:280px">
			<a href="http://3cordshaiti.com" target="_blank">Visit 3 Cords Store</a>
		</div>
		<img src="/assets/contentDiv.png" />
		<div id="contentLeft560">
<h2>Where does the name 3 Cords come from?</h2>

<p>One reason is that our main product is a braided headband. However, the main reason can be understood from Ecclesiastes 4:9-12.
"Two are better than one...If either of them falls down, one can help the other up. But pity anyone who falls and has no one to help them up...Though one may be overpowered, two can defend themselves. A cord of three strands is not quickly broken."</p>
 		
 		<img src="/assets/contentDiv-560.png" />
 		<%=render '/layouts/pup'%>
		</div>
		<div id="contentRight300">
			<div class="contentRightWrapper">
				<h3>
				Featured Artist</h3>
				<img class="featuredImage" src="/assets/3cords-artist-gernise.jpg" />
				<h4>GERNISE PETIT-FRERE</h4>
				<p>Her smile is captivating and her love, overflowing.  Gernise is a gentle and quiet spirit, and an amazing seamstress.  
					Demonstrated by her willingness to trudge 3 hours to and from work everyday, Gernise is a faithful worker that you would undoubtedly fall in love with if you met her. </p>
					<div class="buttonSquareOrange" style="width:137px; font-size:12px;"><a href="http://www.3cordshaiti.com/pages/meet-the-artists">See all artists &raquo;
						</a></div>

			</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<h4 style="float:left;">Share This: </h4>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>

</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79724d720237"></script>
<!-- AddThis Button END -->
		</div>
		<div class="clearfix">
			<!--x-->
		</div>

	</div>
	<div class="clearfix" style="height:40px;">
		<!--x-->
	</div>
