<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top: 50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">MISSION OF HOPE HAITI </span>
			<br />
			Missions Trip Costs</h1>
		<p>
			Once arriving at our campus, Mission of Hope will provide all in-country transportation and logistics. We will also pick you or your team up from the airport and provide a drop-off to the airport at the end of the week.
		</p>
		<p>
			Payment of trip is due one month prior to your departure date. This is a deadline that allows us to prepare for in-country costs.
		</p>
		<p>
			Individuals/groups staying at the Mission’s campus will be given a food list with required items to bring with them on their trip. The list allows Mission of Hope to continue to offer low mission trips cost, while continuing to feed our volunteers! This food will be used by Mission of Hope to prepare some meals for all visiting teams. View our current food/needs list. 
			<h2>{link to pdf of current food/needs list (We need)}
				</h2>
		</p>
		<h2>STAYING ON CAMPUS $550/PERSON</h2>
		<ul class="tripCostsList">
			<li>Lodging</li>
			<li>Transportation in Haiti (bus & driver)</li>
			<li>Project</li>
			<li>MOH expenses</li>
			<li>Beach day at Wahoo resort</li>
			<li>Partial food (will be given required food list)</li>
			<li>Upon request, children (12 and under): $275/child</li>
		</ul>

<h2>STAYING AT THE RESORT $800/PERSON</h2>
	<p>(45 minute drive from Mission of Hope)</p>
	<ul class="tripCostsList">
		<li>Lodging</li>
		<li>Transportation (bus & driver)</li>
		<li>Cost for additional driver pay, fuel and room</li>
		<li>Project</li>
		<li>MOH expenses</li>
		<li>Beach day at Wahoo resort</li>
		<li>Upon request, children (12 and under): $400/child</li>
	</ul>

		</div>

		<div id="contentRight300">
			<div class="rightBoxGreen">
			<h2>Learn More About<br />Short-Term Missions</h2>
			<ul class="rightColNav">
				<li><a href="/take_a_trip">Take a Mission Trip &raquo;</a></li>
				<li><a href="/medical_mission_trips">Take a Medical Mission &raquo;</a></li>
				<li><a href="/trip_dates">Mission Trip Dates &raquo;</a></li>
				<li><a href="/trip_costs">Mission Trip Costs &raquo;</a></li>
				<li><a href="/trip_faqs">Mission Trip FAQs &raquo;</a></li>
				<li><a href="/preparing_for_mission_trips">Preparing for a Trip &raquo;</a></li>
			</ul>
			</div>
			</div>
			<div class="clearfix">
				<!--x-->

			</div>
		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
