<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top: 50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission Of Hope Haiti</span>
			<br />Trip Dates
			</h1>
		<p>Below is a list of Mission of Hope group trip dates. Dates marked ""open"" may still have availability, but please contact us to confirm. Trips run from Saturday to Saturday or Wednesday to Wednesday.
</p>

<p>To confirm availability please fill out the Request more <a href="/take_a_trip">information about Mission Trips form</a> or call us at 239-791-8125. </p> 


<div class="button_wrap" style="width: 100%;">
	<div class="buttonSquareOrange" style="float:left; margin-right:20px; display: inline-block;">
		<a href="#2014sat">2014 Saturday Arrivals</a>
	</div>
	<div class="buttonSquareOrange" style="float:left; display: inline-block;">
		<a href="#2014wed">2014 Wednesday Arrivals</a>
	</div>
	<div class="clear clearfix"></div>
</div>




<a name="2014sat"></a>
<h2>2014 Trip Dates - Saturday Arrivals</h2>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="48%"><h4>Trip date</h4></td>
    <td width="52%"><h4>Open vs. Closed</h4></td>
  </tr>
<!--<tr><td>1/4/2014 - 1/11/2014</td><td>Open</td></tr>
<tr><td>1/11/2014 - 1/18/2014</td><td>Open</td></tr>
<tr><td>1/18/2014 - 1/25/2014</td><td>Open</td></tr>
<tr><td>1/25/2014 - 2/1/2014</td><td>Open</td></tr>
<tr><td>2/1/2014 - 2/8/2014</td><td>Open</td></tr>
<tr><td>2/8/2014 - 2/15/2014</td><td>Open</td></tr>
<tr><td>2/15/2014 - 2/22/2014</td><td>Open</td></tr>
<tr><td>2/22/2014 - 3/1/2014</td><td>Open</td></tr>
<tr><td>3/1/2014 - 3/8/2014</td><td>Open</td></tr>
<tr><td>3/8/2014 - 3/15/2014</td><td>Open</td></tr>
<tr><td>3/15/2014 - 3/22/2014</td><td>Open</td></tr>
<tr><td>3/22/2014 - 3/29/2014</td><td>Open</td></tr>
<tr><td>3/29/2014 - 4/5/2014</td><td>Open</td></tr>
<tr><td>4/5/2014 - 4/12/2014</td><td>Open</td></tr>
<tr><td>4/12/2014 - 4/19/2014</td><td>Open</td></tr>
<tr><td>4/19/2014 - 4/26/2014</td><td>Open</td></tr>
<tr><td>4/26/2014 - 5/3/2014</td><td>Open</td></tr>
<tr><td>5/3/2014 - 5/10/2014</td><td>Open</td></tr>
<tr><td>5/10/2014 - 5/17/2014</td><td>Open</td></tr>
<tr><td>5/17/2014 - 5/24/2014</td><td>Open</td></tr>
<tr><td>5/24/2014 - 5/31/2014</td><td>Open</td></tr>
<tr><td>5/31/2014 - 6/7/2014</td><td>Open</td></tr>
<tr><td>6/7/2014 - 6/14/2014</td><td>Open</td></tr>
<tr><td>6/14/2014 - 6/21/2014</td><td>Open</td></tr>
<tr><td>6/21/2014 - 6/28/2014</td><td>Open</td></tr>
<tr><td>6/28/2014 - 7/5/2014</td><td>Open</td></tr>
<tr><td>7/5/2014 - 7/12/2014</td><td>Open</td></tr>
<tr><td>7/12/2014 - 7/19/2014</td><td>Closed</td></tr>
<tr><td>7/19/2014 - 7/26/2014</td><td>Open</td></tr>
<tr><td>7/26/2014 - 8/2/2014</td><td>Open</td></tr>
<tr><td>8/2/2014 - 8/9/2014</td><td>Open</td></tr>-->
<tr><td>8/9/2014 - 8/16/2014</td><td>Open</td></tr>
<tr><td>8/16/2014 - 8/23/2014</td><td>Open</td></tr>
<tr><td>8/23/2014 - 8/30/2014</td><td>Open</td></tr>
<tr><td>8/30/2014 - 9/6/2014</td><td>Open</td></tr>
<tr><td>9/6/2014 - 9/13/2014</td><td>Open</td></tr>
<tr><td>9/13/2014 - 9/20/2014</td><td>Open</td></tr>
<tr><td>9/20/2014 - 9/27/2014</td><td>Open</td></tr>
<tr><td>9/27/2014 - 10/4/2014</td><td>Open</td></tr>
<tr><td>10/4/2014 - 10/11/2014</td><td>Open</td></tr>
<tr><td>10/11/2014 - 10/18/2014</td><td>Open</td></tr>
<tr><td>10/18/2014 - 10/25/2014</td><td>Open</td></tr>
<tr><td>10/25/2014 - 11/1/2014</td><td>Open</td></tr>
<tr><td>11/1/2014 - 11/8/2014</td><td>Open</td></tr>
<tr><td>11/8/2014 - 11/15/2014</td><td>Open</td></tr>
<tr><td>11/15/2014 - 11/22/2014</td><td>Open</td></tr>
<tr><td>11/22/2014 - 11/29/2014</td><td>Open</td></tr>
<tr><td>11/29/2014 - 12/6/2014</td><td>Open</td></tr>
<tr><td>12/6/2014 - 12/13/2014</td><td>Open</td></tr>
</table>
<a name="2014wed"></a>
<h2>2014 Trip Dates - Wednesday Arrivals</h2>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="48%"><h4>Trip date</h4></td>
    <td width="52%"><h4>Open vs. Closed</h4></td>
  </tr>
<!--<tr><td>1/8/2014 - 1/15/2014</td><td>Open</td></tr>
<tr><td>1/15/2014 - 1/22/2014</td><td>Open</td></tr>
<tr><td>1/22/2014 - 1/29/2014</td><td>Open</td></tr>
<tr><td>1/29/2014 - 2/5/2014</td><td>Open</td></tr>
<tr><td>2/5/2014 - 2/12/2014</td><td>Open</td></tr>
<tr><td>2/12/2014 - 2/19/2014</td><td>Open</td></tr>
<tr><td>2/19/2014 - 2/26/2014</td><td>Open</td></tr>
<tr><td>2/26/2014 - 3/5/2014</td><td>Open</td></tr>
<tr><td>3/5/2014 - 3/12/2014</td><td>Open</td></tr>
<tr><td>3/12/2014 - 3/19/2014</td><td>Open</td></tr>
<tr><td>3/19/2014 - 3/26/2014</td><td>Open</td></tr>
<tr><td>3/26/2014 - 4/2/2014</td><td>Open</td></tr>
<tr><td>4/2/2014 - 4/9/2014</td><td>Open</td></tr>
<tr><td>4/9/2014 - 4/16/2014</td><td>Open</td></tr>
<tr><td>4/16/2014 - 4/23/2014</td><td>Open</td></tr>
<tr><td>4/23/2014 - 4/30/2014</td><td>Open</td></tr>
<tr><td>4/30/2014 - 5/7/2014</td><td>Open</td></tr>
<tr><td>5/7/2014 - 5/14/2014</td><td>Open</td></tr>
<tr><td>5/14/2014 - 5/21/2014</td><td>Open</td></tr>
<tr><td>5/21/2014 - 5/28/2014</td><td>Open</td></tr>
<tr><td>5/28/2014 - 6/4/2014</td><td>Open</td></tr>
<tr><td>6/4/2014 - 6/11/2014</td><td>Open</td></tr>
<tr><td>6/11/2014 - 6/18/2014</td><td>Open</td></tr>
<tr><td>6/18/2014 - 6/25/2014</td><td>Open</td></tr>
<tr><td>6/25/2014 - 7/2/2014</td><td>Open</td></tr>
<tr><td>7/2/2014 - 7/9/2014</td><td>Open</td></tr>
<tr><td>7/9/2014 - 7/16/2014</td><td>Closed</td></tr>
<tr><td>7/16/2014 - 7/23/2014</td><td>Open</td></tr>
<tr><td>7/23/2014 - 7/30/2014</td><td>Open</td></tr>
<tr><td>7/30/2014 - 8/6/2014</td><td>Open</td></tr>
<tr><td>8/6/2014 - 8/13/2014</td><td>Open</td></tr>-->
<tr><td>8/13/2014 - 8/20/2014</td><td>Open</td></tr>
<tr><td>8/20/2014 - 8/27/2014</td><td>Open</td></tr>
<tr><td>8/27/2014 - 9/3/2014</td><td>Open</td></tr>
<tr><td>9/3/2014 - 9/10/2014</td><td>Open</td></tr>
<tr><td>9/10/2014 - 9/17/2014</td><td>Open</td></tr>
<tr><td>9/17/2014 - 9/24/2014</td><td>Open</td></tr>
<tr><td>9/24/2014 - 10/1/2014</td><td>Open</td></tr>
<tr><td>10/1/2014 - 10/8/2014</td><td>Open</td></tr>
<tr><td>10/8/2014 - 10/15/2014</td><td>Open</td></tr>
<tr><td>10/15/2014 - 10/22/2014</td><td>Open</td></tr>
<tr><td>10/22/2014 - 10/29/2014</td><td>Open</td></tr>
<tr><td>10/29/2014 - 11/5/2014</td><td>Open</td></tr>
<tr><td>11/5/2014 - 11/12/2014</td><td>Open</td></tr>
<tr><td>11/12/2014 - 11/19/2014</td><td>Open</td></tr>
<tr><td>11/19/2014 - 11/26/2014</td><td>Open</td></tr>
<tr><td>11/26/2014 - 12/3/2014</td><td>Open</td></tr>
<tr><td>12/3/2014 - 12/10/2014</td><td>Open</td></tr>

</table>

		</div>
		<div id="contentRight300">
			<%= render 'layouts/missionTripNav'%>
		</div>
		<div class="clearfix">
				<!--x-->
			</div>
		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
