<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:30px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission Of Hope</span>
			<br />
			Trip FAQs</h1>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
			<script>
   jQuery(document).ready(function(){
		$( "#accordion" ).accordion({
			autoHeight: false,
			navigation: true,
			collapsible: true,
			active:false
		});
	});
	</script>
			<div id="accordion">
	<h3><a href="#">How do I organize a trip to Mission of Hope?</a></h3>
	<div>
		<p>
		The first step to organizing your trip with MOH is to email us at missiontrips@mohhaiti.org with your request. After this, the Group Trip Coordinator will guide you through the process!
		</p>
	</div><!-- End Question -->
	<h3><a href="#">Can I lead a trip to Mission of Hope?</a></h3>
	<div>
		<p>
		You absolutely can! All you need is the ability to recruit and lead those with a like-mindedness to serve the people of Haiti. Mission of Hope will handle your week’s itinerary and all of your in-country transportation.
		</p>
	</div><!-- End Question -->
	<h3><a href="#">Can I plan a trip as an individual?</a></h3>
	<div>
		<p>
		Yes! You can! You’ll be your own ‘team leader.’ Once you arrive on the ground, our staff will pair your itinerary with other visiting teams of the same week.
		</p>
	</div><!-- End Question -->
	<h3><a href="#">Do I need to bring my own food?</a></h3>
	<div>
		<p>
		Not all of it, but some! Most of the meals will be prepared in Haiti by ingredients purchased in Haiti. However, you will receive our required food list before traveling to bring in-country with you.
		</p>
	</div><!-- End Question -->
	<h3><a href="#">What will I do when I get there?</a></h3>
	<div>
		<p>
		Your week will be comprised of work projects and evangelism outreach. Or, if you have medically licensed professionals, their week can be scheduled for a medical outreach focus. Your week will be planned by our Mission Trip coordinators in Haiti. You will receive your daily itinerary upon arrival to the mission.
		</p>
	</div><!-- End Question -->
	<h3><a href="#">What is your minimum age?</a></h3>
	<div>
		<p>
		Minimum age for a minor traveling with his/her guardian is six years old. If any minors are going on a trip, a member of at least 25 years must be accompanying to chaperone, with signed permission to take responsibility of the minors while traveling. 
		</p>
	</div><!-- End Question -->
	<h3><a href="#">How big should my group be?</a></h3>
	<div>
		<p>
		It is best if a group is at least five people strong. This helps create a more impactful experience. An average team is comprised of 10-15 people.  However, individuals and smaller group trips are very welcomed!
		</p>
	</div><!-- End Question -->
	<h3><a href="#">What is included in the cost? Is airfare included?</a></h3>
	<div>
		<p>
		The trip cost is $550 per person/week. You are responsible for booking your own airfare; however, Mission of Hope provides transportation to and from the airport in Haiti. 
		</p>
	</div><!-- End Question -->
	<h3><a href="#">How do we get to Mission of Hope?</a></h3>
	<div>
		<p>
		After arriving at the Port au Prince airport, a Mission of Hope driver will meet you outside and drive you to the Mission of Hope campus, located 20 miles north. This can be a thirty-minute to one-hour drive, depending on traffic. 
		</p>
	</div><!-- End Question -->
	<h3><a href="#">Do I need a passport and visa to travel?</a></h3>
	<div>
		<p>
		All North Americans traveling to Haiti must have a passport. You will not be allowed into Haiti without one. Check with your post office for a passport application, go to the U.S. Department of State web page: http://travel.state.gov/passport or the Passport Canada web page: http://www.passportcanada.gc.ca. If you are applying for a new passport, please allow 4 to 8 weeks for this process. All travelers should bring a photocopy of the first two pages of their passport in their carry-on luggage. 
		</p>
	</div><!-- End Question -->
	<h3><a href="#">Where do we stay?</a></h3>
	<div>
		<p>
		Unless you choose to stay at the resort, your team will be staying at the Mission of Hope campus. We have a guesthouse on campus with five to six bunk beds per room. Each room has five ceiling fans, a bathroom with running water and standard electrical outlets.
		</p>
	</div><!-- End Question -->
	<h3><a href="#">How long can I stay?</a></h3>
	<div>
		<p>
		Group trips are usually one week long. Your trip must start and end on either a Saturday or a Wednesday. 		</p>
	</div><!-- End Question -->
	<h3><a href="#">Is it safe to travel to Haiti?</a></h3>
	<div>
		<p>
		Mission of Hope could not guarantee your safety in any country, state, or province that you happen to visit. However, with Haiti being a third-world country we understand travels can sometimes pose a higher risk. With this said, groups’ safety is our upmost concern. Mission of Hope is fortunate in that our Executive Director, St Marc Jean Lubin, worked for the US Embassy in Haiti for more than 3 decades. He is informed and is very knowledgeable of the true situation on the ground in Haiti. If there is ever an instance when he thinks we need to postpone trips or get teams out of the country, he will not hesitate to make that decision. Furthermore, Mission of Hope is located in the foothills out in the country and not in a highly populated urban area, with a gated campus.	 </p>
	</div><!-- End Question -->
	<h3><a href="#">Will we be working with other groups?</a></h3>
	<div>
		<p>
		Yes, your group could spend part or all of its itinerary with other groups visiting Mission of Hope. This can be a rewarding experience to spend time with fellow Christians on the field. 
		</p>
	</div><!-- End Question -->
	<h3><a href="#">What immunizations do I need to get?</a></h3>
	<div>
		<p>
		All groups are encouraged to have the following vaccinations prior to traveling to Haiti:
		<ul class="tripCostsList">
			<li>Hepatitis A/B</li>
			<li>Tetanus/Diphtheria (DT)</li>
			<li>Preventative Malaria medication</li>
		</ul>
		</p>
	</div><!-- End Question -->
	<h3><a href="#">What do I need to pack?</a></h3>
	<div>
		<p>
		A suggested packing list will be sent out to your group one-month from departure. The Mission will provide fresh bedding and pillows for you.  You will need to bring a refillable water bottle.
		</p>
	</div><!-- End Question -->
	<h3><a href="#">Do I need to bring money with me?</a></h3>
	<div>
		<p>
		The amount of money you take will depend on your desire to buy souvenirs. We recommend bringing $50 - $100 in small bills for souvenirs and emergency situations.  On Sunday, you or your team will have a chance to eat food from a restaurant in Haiti called Gwo Papa Pol. The meals are $5 per person.
		</p>
	</div><!-- End Question -->
	<h3><a href="#">What is the dress code?</a></h3>
	<div>
		<p>
		Haiti’s culture places a large emphasis on dress. As we share the Gospel in Haiti, we take great care to meet the Haitian culture where it’s at in terms of dress. The Mission’s dress code will be sent to you one month before departure. Please let the Mission Trip Coordinator know if you desire it earlier.
		</p>
	</div><!-- End Question -->
	<h3><a href="#">What does MOH traveler’s insurance cover? How do I get it?</a></h3>
	<div>
		<p>
		MOH’s traveler’s insurance covers $50,000 medical coverage in Haiti as well as, one-time, unlimited Medical Emergency Air Evacuation to the United States in case of a medical emergency.  You’ll notate your need for it on your Application Form and we’ll secure it for you. 
		</p>
	</div><!-- End Question -->
	<h3><a href="#">Should I stay at the resort for my week?</a></h3>
	<div>
		<p>
		Kaliko is the name of the resort and it is a 45 minute drive from the campus. You will also eat your breakfast and dinner at the resort separate from teams. This can lead to a less impactful trip as you have less time on the campus with our Village of Hope orphans and other travelers that week. As a mission, we encourage all travelers to stay at the campus instead! 
		</p>
	</div><!-- End Question -->
</div><!-- End Accordian -->
</div><!-- End Content -->

		<div id="contentRight300">
			<%= render 'layouts/missionTripNav'%>
		<div class="clearfix">
				<!--x-->

			</div>
		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
