</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top: 50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission Of Hope Haiti's Need for</span>
			<br />
			PAGE COPY</h1>
		
		</div>
		<div id="contentRight300">
			<div class="rightBoxGreen">
			<h2>Learn More About<br />Short-Term Missions</h2>
			<ul class="rightColNav">
				<li><a href="/take_a_trip">Take a Mission Trip &raquo;</a></li>
				<li><a href="/medical_mission_trips">Take a Medical Mission &raquo;</a></li>
				<li><a href="/trip_dates">Mission Trip Dates &raquo;</a></li>
				<li><a href="/trip_costs">Mission Trip Costs &raquo;</a></li>
				<li><a href="/trip_faqs">Mission Trip FAQs &raquo;</a></li>
				<li><a href="/preparing_for_trip">Preparing for a Trip &raquo;</a></li>
			</ul>
			</div>
		</div>
		<div class="clearfix">
				<!--x-->
			</div>
		</div>
		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
