<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:30px;">
		<div id="contentLeft560">
			
			<h1><span class="eyebrow">Mission Of Hope</span> <br /> Trip FAQs</h1>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript">// <![CDATA[
jQuery(document).ready(function(){
		$( "#accordion" ).accordion({
			autoHeight: false,
			navigation: true,
			collapsible: true,
			active:false
		});
	});
// ]]></script>
<div id="accordion">
<p><a href="#"><strong>+</strong> How do I organize a trip to Mission of Hope?</a></p>
<div>
<p>The first step to organizing your trip with MOH is to email us at missiontrips@mohhaiti.org with your request. After this, the Mission Trip Coordinator will guide you through the process!</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> Can I lead a trip to Mission of Hope?</a></p>
<div>
<p>You absolutely can! All you need is the ability to recruit and lead those with a like-mindedness to serve the people of Haiti. Mission of Hope will handle your week&rsquo;s itinerary and all of your in-country transportation.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> Can I plan a trip as an individual?</a></p>
<div>
<p>Yes! You can! You&rsquo;ll be your own &lsquo;team leader.&rsquo; Once you arrive on the ground, our staff will pair your itinerary with other visiting teams of the same week.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> Do I need to bring my own food?</a></p>
<div>
<p>Not all of it, but some! Most of the meals will be prepared in Haiti by ingredients purchased in Haiti. However, you will receive our required food list before traveling to bring in-country with you.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> What will I do when I get there?</a></p>
<div>
<p>Your week will be comprised of work projects and evangelism outreach. Or, if you have medically licensed professionals, their week can be scheduled for a medical outreach focus. Your week will be planned by our Mission Trip coordinators in Haiti. You will receive your daily itinerary upon arrival to the mission.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> What is your minimum age?</a></p>
<div>
<p>Minimum age for a minor traveling with his/her guardian is six years old. If any minors are going on a trip, a member of at least 25 years must be accompanying to chaperone, with signed permission to take responsibility of the minors while traveling. </p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> How big should my group be?</a></p>
<div>
<p>It is best if a group is at least five people strong. This helps create a more impactful experience. An average team is comprised of 10-15 people.  However, individuals and smaller group trips are very welcomed!</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> What is included in the cost? Is airfare included?</a></p>
<div>
<p>The trip cost is $575 per person/week. You are responsible for booking your own airfare; however, Mission of Hope provides transportation to and from the airport in Haiti. </p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> How do we get to Mission of Hope?</a></p>
<div>
<p>After arriving at the Port au Prince airport, a Mission of Hope driver will meet you outside and drive you to the Mission of Hope campus, located 20 miles north. This can be a thirty-minute to one-hour drive, depending on traffic. </p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> Do I need a passport and visa to travel?</a></p>
<div>
<p>All North Americans traveling to Haiti must have a passport. You will not be allowed into Haiti without one. Check with your post office for a passport application, go to the U.S. Department of State web page: http://travel.state.gov/passport or the Passport Canada web page: http://www.passportcanada.gc.ca. If you are applying for a new passport, please allow 4 to 8 weeks for this process. All travelers should bring a photocopy of the first two pages of their passport in their carry-on luggage. </p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> Where do we stay?</a></p>
<div>
<p>&nbsp;</p>
<p style="margin-bottom: 0in;">Your team will be housed at one of the Mission of Hope campuses. Each campus has rooms with running water, ceiling fans, bathrooms, and standard electrical outlets. &nbsp;</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> How long can I stay?</a></p>
<div>
<p>Mission trips are usually one week long. Your trip must start and end on either a Saturday or a Wednesday.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> Is it safe to travel to Haiti?</a></p>
<div>
<p>Mission of Hope could not guarantee your safety in any country, state, or province that you happen to visit. However, with Haiti being a third-world country we understand travels can sometimes pose a higher risk. With this said, groups&rsquo; safety is our upmost concern. Mission of Hope is fortunate in that our Executive Director, St Marc Jean Lubin, worked for the US Embassy in Haiti for more than 3 decades. He is informed and is very knowledgeable of the true situation on the ground in Haiti. If there is ever an instance when he thinks we need to postpone trips or get teams out of the country, he will not hesitate to make that decision. Furthermore, Mission of Hope is located in the foothills out in the country and not in a highly populated urban area, with a gated campus.  </p>
<p>UPDATE 1/14/13:</p>
<p style="margin: 0px; font-size: 12px; font-family: Helvetica;">Please see our notes on the updated Haiti Travel Advisory issued on December 28th, 2012 by the State Department.&nbsp;</p>
<p style="margin: 0px; font-size: 12px; font-family: Helvetica; min-height: 14px;">&nbsp;</p>
<p style="margin: 0px; font-size: 12px; font-family: Helvetica;">As you know, the State Department officially instructs all US citizens to exercise caution before traveling to Haiti, and we take that very seriously at Mission of Hope. The travel warning cites crime, cholera, infrastructural weakness (primarily medical facilities &amp; emergency relief), inclement weather, and limited police protection as the primary reasons for concern. While we are actively managing and re-examining every issue stated in this warning, we do feel it is important for you to know that these issues are not new. We have been dealing with these concerns consistently over the last 15 years of service in Haiti, and we feel strongly that we are well equipped to ensure your safety and security while you serve beside us in Haiti. The Haitian Government, leading organizations, and residents regularly reference MOH as a leading organization and standard-bearer for excellence with sound infrastructure, evacuation plans, and medical facilities in place. We hope that the following notes on each of the major issues helps you to understand how we are dealing with these issues, and better informs you of the environment of MOH in Haiti:</p>
<p style="margin: 0px; font-size: 12px; font-family: Helvetica; min-height: 14px;">&nbsp;</p>
<ul>
<li style="margin: 0px; font-size: 12px; font-family: Helvetica;"><strong>Security</strong>: For those of you who have visited us already, you know that our guests are housed on our 100+ acre facility 12 miles outside of Port au Prince. On site, we have a team of over 15 trained security guards at all times. We have always had a reputation for being extremely strict at our gate entry, and we are continuing to hold security to the highest standard. Additionally, a trained member of the security team will accompany most groups traveling to or from the airport. It is our practice to escort all teams directly from the terminal to our bus upon arrival, and from our bus to the gate check-in upon departure. While these policies have translated to zero security breaches over the last several years, and we are well outside of Port au Prince, we remain extremely vigilant and are working constantly to stay abreast of any security risks that could possibly affect your travel.</li>
<li style="margin: 0px; font-size: 12px; font-family: Helvetica;"><strong>Cholera/Medical Facilities</strong>: MOH will be moving into a new Hospital on campus during 2013, and are proud to inform you that our medical team is now equipped with a Cholera specialist and is growing significantly as we expand other services in country. We have not experienced any cholera epidemics in our area, but are well positioned to manage any medical situations as a licensed medical facility and preferred medical provider (pending) for our region. Between our 2 ambulances, our growing medical staff, and a 50+ bed hospital, MOH is more equipped than ever to provide treatment for any ailments you may have, and to stabilize you for transport in the event you were to have an incident and elect to receive additional care upon returning home. Furthermore, all trip participants are now mandated to get a travel policy (provided through MOH) to ensure that there are no lapses in care during your time of service in Haiti. This policy will give you supplemental coverage with a $1,000,000 policy and med-evac coverage, to ensure that you are well cared for in the event that you were to require medical care.</li>
<li style="margin: 0px; font-size: 12px; font-family: Helvetica;"><strong>Infrastructure</strong>: In the last year, we have expanded our South Campus from 72 acres to approximately 100 acres, and developed our North Campus, which is roughly 55 acres. Both of these sites are equipped with safe water solutions, security teams, fencing, trained meal preparation teams, transportation, and earthquake resistant housing. Furthermore, as MOH treats its own water, generates its own electricity, and preps all meals on premises secured by our staff, we believe that we are remarkably secure with first class sites and facilities best suited to ensure your safety and security while serving in Haiti.</li>
<li style="margin: 0px; font-size: 12px; font-family: Helvetica;"><strong>Inclement Weather</strong>: It is true that Haiti lies on tectonic fault lines and that it is prone to hurricanes. Unfortunately, Haiti is regularly in the path of storms and just this year we have weathered two hurricanes. The good news is that all MOH structures are built to US codes, and that we experienced no significant structural damage during the 2010 earthquake. Also, we are positioned in Titanyen, on the southwestern foothills facing the bay on high ground. This means that when flooding and extreme wins have hit Haiti, we have found ourselves shielded from the strongest winds, well above any flooding, and extremely well suited to weather the worst Haiti has had to offer.</li>
<li style="margin: 0px; font-size: 12px; font-family: Helvetica;"><strong>Emergency Relief</strong>: This is perhaps one of MOH's strongest abilities. Due to our stability in Haiti and our long history of partnering with organizations throughout the country, we regularly stand apart as one of the first responders in emergency situations. After the earthquake of 2010 and numerous hurricanes, we have been able to provide medical care, meals, water, housing, and other solutions well before any international organizations were able to mobilize services. It is because of our intimate partnerships such as that with Convoy of Hope, that we have a renown team of relief experts with decades of international experience working closely with our Haitian team as we continue to improve our policies, procedures and training so that we are more equipped each season to deal with any possible emergencies we might encounter.</li>
</ul>
<p style="margin: 0px; font-size: 12px; font-family: Helvetica; min-height: 14px;">&nbsp;</p>
<p style="margin: 0px; font-size: 12px; font-family: Helvetica;">As the travel warning mentioned, thousands of US citizens travel to Haiti safely every month, and&nbsp;we are confident that we are one of the standard bearers for safety and security.&nbsp;As an organization with over 300 Haitian employees committed to our mission, in conjunction with numerous partners that work in both the government and the US embassy, we are very well informed of security risks and highly equipped to manage any risks in country. Most importantly, we encourage you to prayerfully consider your service time in Haiti. We continue to see significant transformation occurring amongst both North American teams and the Haitian communities in which we serve, and its a blessing for us to have you partnering with us to see Life Transformation in Haiti.</p>
<p style="margin: 0px; font-size: 12px; font-family: Helvetica; min-height: 14px;">&nbsp;</p>
<p style="margin: 0px; font-size: 12px; font-family: Helvetica;">Our team of over 300 Haitians and 25 North Americans and their families hope to see you in Haiti soon!</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> Will we be working with other groups?</a></p>
<div>
<p>Yes, your group could spend part or all of its itinerary with other groups visiting Mission of Hope. This can be a rewarding experience to spend time with fellow Christians on the field. </p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> What immunizations do I need to get?</a></p>
<div>
<p>All groups are encouraged to have the following vaccinations prior to traveling to Haiti:</p>
<ul class="tripCostsList">
<li>Hepatitis A/B</li>
<li>Tetanus/Diphtheria (DT)</li>
<li>Preventative Malaria medication</li>
</ul>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> Should I worry about the chikungunya virus?</a></p>
<div>
<p>At MOH, we recognize that there has been an increase in the contraction of a virus called the <strong>chikungunya</strong> <strong>virus</strong>. It is important to know that while there have been a rise in contractions of the virus generally in HT, MOH has not experienced a large number of these cases in our area. Regardless, below you will find information explaining the virus, how MOH is minimizing the spread of it, and helpful information on how to prevent and treat in the event of any symptoms.
    </p>
<p>The <strong>chikungunya virus </strong>is a mosquito borne virus that is spread by the Aedes aegypti mosquito.  This is the same mosquito that carries Dengue fever.</p>
    
<p><strong>Symptoms</strong> of infection include: sharp fever, headache, joint pain, nausea, fatigue and rash.  Chikungunya infection is rarely fatal and most people recover fully in one week.</p>
    
<p><strong>Treatment</strong>: There is no cure or vaccination available for the chikugunya virus.  Treatment is palliative and centered around relieving symptoms:  Fever reducing/pain medications, fluids, and rest.</p>
    
<p><strong>Prevention</strong>: Best way to prevent is to <strong>eliminate mosquitos </strong>by eliminating standing/stagnate water where they breed and using insect repellants to prevent bites.  <strong>Strengthening the immune system </strong>can prevent infection and/or make infection less severe.  Some ways to boost the immune system include taking vitamin C at least 1000mg daily, vitamin D 2,000 iu - 5,000 iu daily, and zinc 15 - 50 mg daily.</p>
<p><strong>Prevention is key and Mission of Hope is committed to:</strong></p>
    <ul>
      <li>Preventing mosquito breeding grounds by removing all standing water and debris piles we possibly can.</li>
      <li>Providing quality mosquito nets, that are properly installed on all bunk beds in the guest house.</li>
      <li>Teach all trip participants how to properly use the mosquito nets.</li>
      <li>Maintain supply of all medications necessary to manage symptoms in case of infection.</li>
    </ul>
    
<p><strong>What can trip participants do to minimize the chance of infection?</strong></p>
    <ul>
      <li>Use the mosquito nets provided properly.</li>
      <li>Bring and use insect repellants and/ or bug patches to prevent bites.  Esp at dawn and dusk when mosquitos are most active</li>
      <li>Strengthen your immune system by taking vitamin C, vitamin D, and Zinc daily.</li>
      <li>Report symptoms of the Chikungunya virus to a MOH staff member as soon as possible.</li></ul>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> What do I need to pack?</a></p>
<div>
<p>A suggested packing list will be sent out to your group one-month from departure. The Mission will provide fresh bedding and pillows for you.  You will need to bring a refillable water bottle.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> Do I need to bring money with me?</a></p>
<div>
<p>The amount of money you take will depend on your desire to buy souvenirs. We recommend bringing $50 - $100 in small bills for souvenirs and emergency situations.  On Sunday, you or your team will have a chance to eat food from a restaurant in Haiti called Gwo Papa Pol. The meals are $5 per person.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> What is the dress code?</a></p>
<div>
<p>Haiti&rsquo;s culture places a large emphasis on dress. As we share the Gospel in Haiti, we take great care to meet the Haitian culture where it&rsquo;s at in terms of dress. The Mission&rsquo;s dress code will be sent to you one month before departure. Please let the Mission Trip Coordinator know if you desire it earlier.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> What does MOH traveler&rsquo;s insurance cover? How do I get it?</a></p>
<div>
<p>Mission of Hope Haiti automatically purchases medical travelers insurance for every person coming on a trip to MOH. This is not optional. We inquire the insurance with the information provided on the group application. The stateside Mission Trip Coordinator will send this documentation to the trip leader of every group.</p>
</div>
<!-- End Question -->
<p><a href="#"><strong>+</strong> Should I stay at the resort for my week?</a></p>
<div>
<p>Kaliko is the name of the resort and it is a 45 minute drive from the campus. You will also eat your breakfast and dinner at the resort separate from teams. This can lead to a less impactful trip as you have less time on the campus with our Village of Hope orphans and other travelers that week. As a mission, we encourage all travelers to stay at the campus instead!&emsp;</p>
</div>
<!-- End Question --></div>
<!-- End Accordian -->
			
			
			
			
</div><!-- End Content -->

		<div id="contentRight300">
			<%= render 'layouts/missionTripNav'%>
		<div class="clearfix">
				<!--x-->

			</div>
		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
