</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top: 50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission Of Hope Haiti</span>
			<br />Trip Dates
			</h1>
		<p>Below is a list of Mission of Hope group trip dates. Dates marked ""open"" may still have availability, but please contact us to confirm. Trips run from Saturday to Saturday or Wednesday to Wednesday.
</p>

<p>To confirm availability please fill out the Request more <a href="/take_a_trip">information about Mission Trips form</a> or call us at 239-791-8125. </p> 

<h3>2012 Trip Dates - Open vs. Closed</h3>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="48%">Trip date</td>
    <td width="52%">Open vs. Closed</td>
  </tr>
  <tr>
    <td>10/03/2012 - 10/10/2012: </td>
    <td>Open</td>
  </tr>
  <tr>
    <td>10/06/2012 - 10/13/2012: </td>
    <td>Open</td>
  </tr>
  <tr>
    <td>10/10/2012 - 10/17/2012: </td>
    <td>Open</td>
  </tr>
  <tr>
    <td>10/13/2012 - 10/20/2012: </td>
    <td>Open</td>
  </tr>
  <tr>
    <td>10/17/2012 - 10/24/2012: </td>
    <td>Open</td>
  </tr>
  <tr>
    <td>10/20/2012 - 10/27/2012: </td>
    <td>Open</td>
  </tr>
  <tr>
    <td>10/24/2012 - 10/31/2012: </td>
    <td>Open</td>
  </tr>
  <tr>
    <td>10/27/2012 - 11/03/2012: </td>
    <td>Open</td>
  </tr>
  <tr>
    <td>10/31/2012 - 11/07/2012: </td>
    <td>Open</td>
  </tr>
  <tr>
    <td>11/03/2012 - 11/10/2012: </td>
    <td>Open</td>
  </tr>
  <tr>
    <td>11/07/2012 - 11/14/2012: </td>
    <td>Open</td>
  </tr>
  <tr>
    <td>11/10/2012 - 11/17/2012: </td>
    <td>Open</td>
  </tr>
  <tr>
    <td>11/14/2012 - 11/21/2012: </td>
    <td>Open</td>
  </tr>
  <tr>
    <td>11/17/2012 - 11/24/2012: </td>
    <td>Open</td>
  </tr>
  <tr>
    <td>11/21/2012 - 11/28/2012: </td>
    <td>Open</td>
  </tr>
  <tr>
    <td>11/24/2012 - 12/01/2012: </td>
    <td>Open</td>
  </tr>
  <tr>
    <td>11/28/2012 - 12/05/2012: </td>
    <td>Open</td>
  </tr>
  <tr>
    <td>12/01/2012 - 12/08/2012: </td>
    <td>Open</td>
  </tr>
  <tr>
    <td>12/05/2012 - 12/12/2012: </td>
    <td> Open</td>
  </tr>
  <tr>
    <td>12/08/2012 - 12/15/2012: </td>
    <td>Open</td>
  </tr>
  <tr>
    <td>12/12/2012 - 12/19/2012:</td>
    <td>Closed campus to teams - Holiday</td>
  </tr>
  <tr>
    <td>12/15/2012 - 12/22/2012:</td>
    <td>Closed campus to teams - Holiday</td>
  </tr>
  <tr>
    <td>12/19/2012 - 12/26/2012:</td>
    <td>Closed campus to teams - Holiday</td>
  </tr>
  <tr>
    <td>12/22/2012 - 12/29/2012:</td>
    <td>Closed campus to teams - Holiday</td>
  </tr>
  <tr>
    <td>12/26/2012 - 01/02/2013:</td>
    <td>Closed campus to teams - Holiday</td>
  </tr>
   <tr>
    <td>12/29/2012 - 01/05/2013:</td>
    <td>Closed campus to teams - Holiday</td>
  </tr>
</table>
		</div>
		<div id="contentRight300">
			<%= render 'layouts/missionTripNav'%>
		</div>
		<div class="clearfix">
				<!--x-->
			</div>
		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
