<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top: 50px;">
		<div id="contentLeft560">
			
			<h1><span class="eyebrow">MISSION OF HOPE HAITI </span> <br /> Missions Trip Costs</h1>
			<p>Once arriving at our campus, Mission of Hope will provide all in-country transportation and logistics. Each team and individual participant are responsible for purchasing their own airfare in and out of Port Au Prince (PAP). We will pick you or your team up from the airport and provide a drop-off to the airport at the end of the week.</p>
			
			<p>Individuals/groups staying with us will be given a list of required items to bring with them on their trip. This list allows Mission of Hope to continue to offer low Mission Trip costs, while continuing to feed and care for our volunteers! The food on the list will be used by Mission of Hope to prepare some of the meals for our visiting teams, and supplement many of the local Haitian meals that our teams enjoy. Please click <a href="/MOH-MT-Current-Food-List.pdf">here</a> to download the current list.</p>
			<h3 style="margin-top:20px;">Mission Trip Cost: $575</h3>
			<h4>Includes:</h4>
			<ul class="tripCostsList">
				<li>Lodging</li>
				<li>Transportation in Haiti (bus &amp; driver)</li>
				<li>MOH expenses</li>
				<li>Beach day at Wahoo resort</li>
				<li>Partial food (will be given required food list)</li>
				<li>Upon request, children (12 and under): $285/child</li>
			</ul>
			
			<h3 style="margin-top:40px;">Medical Mission Trip Cost: $625</h3>
			<h4>Includes:</h4>
			<ul class="tripCostsList">
				<li>Lodging</li>
				<li>Transportation in Haiti (bus &amp; driver)</li>
				<li>Medical translators</li>
				<li>MOH expenses</li>
				<li>Beach day at Wahoo resort</li>
				<li>Food</li>
			</ul>
			
			<h3 style="margin-top:40px;">Deposit and Payment Information</h3>
			<ul class="tripCostsList">
				<li>$25 per spot reserved</li>
				<li>50% of total team payment due 90 days out from trip departure date</li>
				<li>100% of total team payment due 30 days out from trip departure date</li>
			</ul>
			<p style="margin-top: 16px;">Note: Deposits are non-refundable and may be transferable to your total trip balance should your initial reserved spots decline. Please look out for cut off dates on this sent by your mission trip coordinator after booking your reservation.  Also, the team payments should be made as a group, not individually. The team leader is responsible for making sure the team’s funds are collected and turned in jointly.</p>
		</div>

		<div id="contentRight300">
			<%= render 'layouts/missionTripNav'%>
			</div>
			<div class="clearfix">
				<!--x-->

			</div>
		</div>
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
