<% content_for(:head) do %>
	<%= javascript_include_tag :validate_visiontrip %>
<% end %>
<div id="bgHero">
	<div id="heroVisionTripsImg">
		<!--x-->
	</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content">
		<div id="heroContent">
			<div id="heroContentEducation">
				<h1><span style="font-size: 7em;">Vision Trips</span>
				<br>
				<span style="font-size: 2.7em;">We want you to join us in Haiti!</span></h1>
				<br>
			</div>
		</div>
		<div id="contentLeft560">
			<h1>
				<span class="eyebrow">Mission of Hope Haiti</span>
				<br />
				Take a Vision trip
			</h1>
		<p>As an organization grounded by the gospel, we aim to partner with churches to help us bring life transformation to the people of Haiti. Church Partnerships typically consist of three parts: Vision Trips, Church Visits, and Mission Trips.
		</p>

<h2>Vision Trip</h2>

<p>The Mission of Hope ‘Vision Trip’ is designed for church leaders to tour Mission of Hope, Port-au-Prince, and surrounding villages.  A typical Vision Trip is held the first Monday-Thursday of a designated month.  Your only incurred cost is your round trip flight to and from Haiti.  Our MOH staff will book all travel arrangements (flights, hotel, etc.)
The schedule usually is as follows:</p>

<strong>Day 1 (Monday)</strong> 
<p>Travel from hometown to Miami or Fort Lauderdale, FL and stay the night.</p>

<strong>Day 2 (Tuesday)</strong>
<p>Travel to Haiti, take a tour of Port-au-Prince, and visit village near MOH.</p>

<strong>Day 3 (Wednesday)</strong>
<p>Tour of Mission of Hope’s main campus in Titanyen, surrounding outreach locations, and new property.</p>

<strong>Day 4 (Thursday) </strong>
<p>Leave to return home.</p>
 
<h2>2013 Vision Trip Dates</h2>
<p>December 2 - 5</p>

<h2>2014 Vision Trip Dates</h2>
<p>December 2nd-5th</p>
<p>February 10th-13th</p>
<p>March 3rd-6th</p>
<p>April 7th-10th</p>
<p>May 5th-8th</p>
<p>June 2nd-5th</p>
<p>July 7th-10th</p>

<div class="forms" id="form" style="margin-top: 15px;">
	<h2>Sign up For a Vision Trip</h2>
	<% if @isvalid.nil?%>
		<p>All fields required.</p>
				<form>
						<div class="field">First Name: 			<input type="text" id="txtfirst" name="txtfirst"><br></div>
						<div class="field">Last Name: 			<input type="text" id="txtlast" name="txtlast"><br></div>
						<div class="field">Phone number: 		<input type="text" id="txtphone" name="txtphone"><br></div>
						<div class="field">Email: 				<input type="text" id="txtemail" name="txtemail"></div>
						<div class="field">Church Address: 		<input type="text" id="txtchurch" name="txtchurch"></div>
						<div class="field city">City:<br /> 	<input type="text" id="txtcity" name="txtcity"><br></div>
						<div class="field state">State:<br /> 	<input type="text" id="txtstate" name="txtstate"><br></div>
						<div class="field zip">Zip:<br /> 		<input type="text" id="txtzip" name="txtzip"><br></div>
						<div class="field">Dates Interested In: <input type="text" id="txtdatesinterested" name="txtdatesinterested"></div>
					<h3 style="clear:both;">Additional Comments</h3>
						<div class="field"><textarea type="textarea" id="txtmessage" name="txtmessage"></textarea></div>
					 <div class="actions"><input type="submit" value="Sign Up" onclick="return validate();"></div>
				</form>
				<%else%>
				<script>window.location = window.location.href + "#form";</script>
				<div style="padding-bottom:20px;"><h3>Thank you for your interest in taking a vision trip! We'll be in touch shortly! </h3></div>
			<%end%>	
			</div>
</div>
<div id="contentRight300">
		<%= render 'layouts/churchNav'%>
			<div class="rightBoxGreen">
			<h2>CHURCH VISIT</h2>
			<p>
				Typically a church visit from a Mission of Hope staff member would take place following a vision trip. The church visit is designated to create awareness about Mission of Hope and how your church can get involved. This can be a Sunday service, a mid-week meeting, small group, etc. Details of how this would look can be worked out with the pastor/church leadership.			</p>
			</div>
			<div class="relativeWrapper">
				<div class="rightBoxGreen">
				<h2>MISSION TRIPS</h2>
				<p>
					Once your church has embraced the vision of Mission of Hope, we would love to host teams from your church on our campus in Haiti. Please see our Mission Trips page to learn more about these trips.
If your church would like to partner with Mission of Hope, please complete the partnership information request form
				</p>
				<div class="buttonSquareOrange" style="position:absolute; bottom:-15px; right: 32px; width: 239px;"><a href="/mission_trips">Learn about mission trips &raquo;</a></div>
				</div>
			</div>
		</div>
<div class="clearfix" style="height:40px;">
	<!--x-->
</div><!-- End clear -->
</div><!-- End Wrapper -->