<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top: 40px;">
		<div id="contentLeft560">
			<h1>
				<span class="eyebrow">Mission of Hope Haiti</span>
				<br />
				Take a Vision trip
			</h1>
		<p>As an organization grounded by the gospel, we aim to partner with churches to help us bring life transformation to the people of Haiti. Church Partnerships typically consist of three parts: Vision Trips, Church Visits, and Mission Trips.
		</p>

<h2>Vision Trip</h2>

<p>The Mission of Hope ‘Vision Trip’ is designed for church leaders to tour Mission of Hope, Port-au-Prince, and surrounding villages.  A typical Vision Trip is held the first Monday-Thursday of a designated month.  Your only incurred cost is your round trip flight to and from Haiti.  Our MOH staff will book all travel arrangements (flights, hotel, etc.)
The schedule usually is as follows:</p>

<strong>Day 1 (Monday)</strong> 
<p>Travel from hometown to Miami or Fort Lauderdale, FL and stay the night.</p>

<strong>Day 2 (Tuesday)</strong>
<p>Travel to Haiti, take a tour of Port-au-Prince, and visit village near MOH.</p>

<strong>Day 3 (Wednesday)</strong>
<p>Tour of Mission of Hope’s main campus in Titanyen, surrounding outreach locations, and new property.</p>

<strong>Day 4 (Thursday) </strong>
<p>Leave to return home.</p>
 
<h2>2012 Vision Trip Dates</h2>
<p>Oct 1, 2012 - Oct 4, 2012</p>
<p>Nov 5, 2012 - Nov 8, 2012</p>
<h2>Sign up For a Vision Trip</h2>
<div class="forms" id="form">
				<form>
						<div class="field">First Name: <input type="text" name="name"><br></div>
						<div class="field">Last Name: <input type="text" name="name"><br></div>
						<div class="field">Phone number: <input type="text" name="phonenumber"><br></div>
						<div class="field">Email: <input type="text" name="email"></div>
						<div class="field">Church Address: <input type="text" name="childname"></div>
						<div class="field city">City:<br /> <input type="text" name="childnumber"><br></div>
						<div class="field state">State:<br /> <input type="text" name="childnumber"><br></div>
						<div class="field zip">Zip:<br /> <input type="text" name="childnumber"><br></div>
					<h3 style="clear:both;">Additional Comments</h3>
						<div class="field"><textarea type="textarea" name="letter"></textarea></div>
					 <div class="actions"><input type="submit" value="Sign Up"></div>
				</form>
			</div>
</div>
<div id="contentRight300">
		<%= render 'layouts/churchNav'%>
			<div class="rightBoxGreen">
			<h2>CHURCH VISIT</h2>
			<p>
				Typically a church visit from a Mission of Hope staff member would take place following a vision trip. The church visit is designated to create awareness about Mission of Hope and how your church can get involved. This can be a Sunday service, a mid-week meeting, small group, etc. Details of how this would look can be worked out with the pastor/church leadership.			</p>
			</div>
			<div class="relativeWrapper">
				<div class="rightBoxGreen">
				<h2>MISSION TRIPS</h2>
				<p>
					Once your church has embraced the vision of Mission of Hope, we would love to host teams from your church on our campus in Haiti. Please see our Mission Trips page to learn more about these trips.
If your church would like to partner with Mission of Hope, please complete the partnership information request form
				</p>
				<div class="buttonSquareOrange" style="position:absolute; bottom:-15px; right: 32px; width: 239px;"><a href="/mission_trips">Learn about mission trips &raquo;</a></div>
				</div>
			</div>
		</div>
<div class="clearfix" style="height:40px;">
	<!--x-->
</div><!-- End clear -->
</div><!-- End Wrapper -->