<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top: 40px;">
		<div id="contentLeft560">
			<h1>
				<span class="eyebrow">Mission of Hope Haiti</span>
				<br />
				Vision and 	Mission
			</h1>
		<p>Mission of Hope is driven by our vision and key resolutions, which permeate all of our efforts.</p>

<h2>Vision</h2>
<p>As an organization following Jesus Christ, we exist to bring life transformation to every man, woman, and child in Haiti.</p>

<h2>Resolutions</h2>
<ul>
	<li>Relational Proclamation: Intentionally modeling Christ’s love through relationships.</li>
	<li>Evangelistic Saturation: Repeatedly sharing the Gospel message in targeted geographies.</li>
	<li>Indigenous Mobilization: Strategically developing national leaders to carry the vision to the nation.</li>
	<li>Holistic Transformation: Continuously pursuing God’s physical, mental, social and spiritual destiny for every man, woman and child.</li>
	<li>Excellent Implementation: Responsibly utilizing all resources and talents to their fullest potential for God’s glory.</li>
</ul>
</div>
<div id="contentRight300">
			<h4 style="font-size:1.2em;">Learn More About<br />Mission of Hope Haiti</h4>
			<ul>
				<li><a href="">Our Story &amp; Beliefs &raquo;</a></li>
				<li><a href="">Meet Our Staff &raquo;</a></li>
				<li><a href="">Intern with MOH &raquo;</a></li>
				<li><a href="">Financial Information &raquo;</a></li>
				<li><a href="">Press &raquo;</a></li>
				<li><a href="">Join Our Team &raquo;</a></li>
				<li><a href="">Contact Us &raquo;</a></li>
			</ul>
		</div>
<div class="clearfix" style="height:40px;">
	<!--x-->
</div><!-- End clear -->
</div><!-- End Wrapper -->