<div id="bgHero">
	<div id="heroVison">
		<!--x-->
	</div>
</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="contentLeft560">
			<h1 style="font-size: 2.2em;"><span class="eyebrow">Mission of Hope Haiti </span><br />Vision, Mission, & Resolutions</h1>
<h2>Mission</h2>
<p> As an organization following Jesus Christ, Mission of Hope exists to bring life transformation to every man, woman, and child in Haiti. We desire to serve the nation of Haiti, and see lives changed.
</p>

<p>Our desire is to serve the nation of Haiti, and see lives changed.  Their passion is to see the hopeless find hope through Jesus Christ, and empower future generations through education to bring their country out of poverty.
</p> 

<p>Mission of Hope’s primary efforts are focused on</p>
<ul>
	<li>Church Advancement</li>
	<li>Educational Development</li>
	<li>Orphan care</li>
	<li>Health Care</li>
	<li>Nutrition</li>
	<li>HaitiOne Network</li>
</ul>
<p>Learn more about Mission of Hope, Haiti’s Ministries.
		<div class="buttonSquareOrange" style="width:150px"><a href="/what-we-do">Learn more &raquo;</a></div>
</p>

<h3>Vision</h3>
<p>As an organization following Jesus Christ, we exist to bring life transformation to every man, woman, and child in Haiti.</p>

<h3>Resolutions</h3>
<ul class="takeATripList" style="padding-left:0;">
		<li>Relational Proclamation: Intentionally modeling Christ’s love through relationships.</li>
		<li>Evangelistic Saturation: Repeatedly sharing the Gospel message in targeted geographies.</li>
		<li>Indigenous Mobilization: Strategically developing national leaders to carry the vision to the nation.</li>
		<li>Holistic Transformation: Continuously pursuing God’s physical, mental, social and spiritual destiny for every man, woman and child.</li>
		<li>Excellent Implementation: Responsibly utilizing all resources and talents to their fullest potential for God’s glory.</li>
</ul>
		</div>

		<div id="contentRight300" style="padding-top: 30px;">
			<%= render '/layouts/aboutNav' %>
		</div>		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
