<div id="bgHero">
	<div id="heroVison">
		<!--x-->
	</div>
</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="contentLeft560">
			
		<h1><span class="eyebrow">Mission of Hope Haiti </span><br />Vision, Mission, &amp; Resolutions</h1>
<h3>Vision</h3>
<p>As an organization following Jesus Christ, Mission of Hope exists to bring life transformation to every man, woman, and child in Haiti. We desire to serve the nation of Haiti, and see lives changed.</p>
<h3>Mission</h3>
<p>Our Mission is to fulfill our Vision in every endeavor we undertake by successfully executing on our five core Resolutions.</p>
<h3>Resolutions</h3>
<ul class="takeATripList" style="padding-left: 0;">
<li>Relational Proclamation: Intentionally modeling Christ&rsquo;s love through relationships.</li>
<li>Evangelistic Saturation: Repeatedly sharing the Gospel message in targeted geographies.</li>
<li>Indigenous Mobilization: Strategically developing national leaders to carry the vision to the nation.</li>
<li>Holistic Transformation: Continuously pursuing God&rsquo;s physical, mental, social and spiritual destiny for every man, woman and child.</li>
<li>Excellent Implementation: Responsibly utilizing all resources and talents to their fullest potential for God&rsquo;s glory.</li>
</ul>	
			
			
		</div>

		<div id="contentRight300" style="padding-top: 30px;">
			<%= render '/layouts/aboutNav' %>
		</div>		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
