<div id="bgHero">
	<div id="heroAboutUs">
		<!--x-->
	</div>
</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
		
		<div class="videoWrapper">
			<iframe src="http://player.vimeo.com/video/30163926" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	</div>
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission of Hope Haiti </span><br />Vision | Mission | Resolution</h1>
			<p>Mission of Hope is driven by our vision and key resolutions, which permeate all of our efforts.</p>

<h3>Vision</h3>
<p>As an organization following Jesus Christ, we exist to bring life transformation to every man, woman, and child in Haiti.</p>

<h3>Resolutions</h3>
<ul class="takeATripList" style="padding-left:0;">
		<li>Relational Proclamation: Intentionally modeling Christ’s love through relationships.</li>
		<li>Evangelistic Saturation: Repeatedly sharing the Gospel message in targeted geographies.</li>
		<li>Indigenous Mobilization: Strategically developing national leaders to carry the vision to the nation.</li>
		<li>Holistic Transformation: Continuously pursuing God’s physical, mental, social and spiritual destiny for every man, woman and child.</li>
		<li>Excellent Implementation: Responsibly utilizing all resources and talents to their fullest potential for God’s glory.</li>
</ul>
		</div>

		<div id="contentRight300" style="padding-top: 30px;">
			<div class="rightBoxGreen">
			<h2>Learn More About<br />Mission of Hope Haiti</h2>
			<ul class="aboutUsNav">
				<li><a href="/about_us">Our Story &amp; Beliefs &raquo;</a></li>
				<li><a href="/meet_our_staff">Meet Our Staff &raquo;</a></li>
				<li><a href="/vision_mission_resolution">Vision | Mission | Resolution &raquo;</a></li>
				<li><a href="/intern">Intern with MOH &raquo;</a></li>
				<li><a href="/financial_info">Financial Information &raquo;</a></li>
				<li><a href="/press">Press &raquo;</a></li>
				<li><a href="/join_our_team">Join Our Team &raquo;</a></li>
				<li><a href="/about_haiti">About Haiti &raquo;</a></li>
				<li><a href="/faq">FAQs &raquo;</a></li>
				<li><a href="/contact_us">Contact Us &raquo;</a></li>
			</ul>
			</div>
		</div>
		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
