<% content_for(:head) do %>
	<%= javascript_include_tag :validate_volunteer %>
<% end %>
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:0px;">
		<%unless @isvalid.nil?%>
			<div style="padding-bottom:20px;"><h3>Thank you for your interest in volunteering for MOH. We'll be in touch shortly! </h3></div>
		<%end%>
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission Of Hope Haiti</span>
			<br />
			Volunteer</h1>
		<p>You don't have to fly to Haiti to help Mission of Hope!  If you live in Southwest Florida you can simply volunteer at our office. If you live somewhere else, we can still use your help! We are looking for volunteers with all sorts of skills to help us with anything from preparing mailings to marketing our campaigns. Fill out the short form below and we'll add you to our volunteer list.
			</p>
			<div class="forms">
				<% if @isvalid.nil?%>
				<form name="volform">
					<div class="field">Name: <input id="txtname" type="text" name="txtname"><br></div>
					<div class="field">Email: <input id="txtemail" type="text" name="txtemail"></div>
					<div class="field">Phone number: <input id="txtphone" type="text" name="txtphonenumber"><br></div>
					<div class="field" style="clear:both;"><b>Please let us know your skills, interests and times available:</b><br /><textarea id="txtmessage" name="txtmessage"></textarea></div>
					<br />
					<div class="actions" style="clear:both;"><input type="submit" value="Submit" onclick="return validate();"></div>
				</form>


				<%end%>
			</div>
		</div>

		<div id="contentRight300">
			<%= render '/layouts/takeActionNav' %>
		</div>
		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
