
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission Of Hope Haiti</span>
			<br />
			Volunteer</h1>
		<p>You don't have to fly to Haiti to help Mission of Hope!  If you live in Southwest Florida you can simply volunteer at our office. If you live somewhere else, we can still use your help! We are looking for volunteers with all sorts of skills to help us with anything from preparing mailings to marketing our campaigns. Fill out the short form below and we'll add you to our volunteer list.
			</p>
		<div class="forms">
				<form>
					<div class="field">First Name: <input type="text" name="name"><br></div>
					<div class="field">Last Name: <input type="text" name="name"><br></div>
					<div class="field">Email: <input type="text" name="email"></div>
					<div class="field">Phone number: <input type="text" name="phonenumber"><br></div>
					<h4>Address</h4>
					<div class="field">Street Address: <input type="text" name="childname"></div>
					<div class="field">Address Line 2: <input type="text" name="childname"></div>
					<div class="field city">City:<br /> <input type="text" name="childnumber"><br></div>
					<div class="field state">State:<br /> <input type="text" name="childnumber"><br></div>
					<div class="field zip">Zip:<br /> <input type="text" name="childnumber"><br></div>
					<h4>What can you help us with? (Check all that apply)</h4>
					<div class="field"><input type="checkbox" name="childnumber" style="width:10px;"> I would like to help prepare mailings.</div>
					<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">I am a Graphics Designer</div>
					<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">I am a photographer/videographer </div>
					<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">I specialize in organization and administrative tasks </div>
					<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">I have proofing and writing skills. </div>
					<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">I want to share Mission of Hope, Haiti with my school, club, church, Bible study group or youth group.  </div>
					<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">I would like to help at a local MOH event. </div>
					<h4>When are you free? (Check all that apply)</h4>
					<div class="onehalf">
						<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">Monday Days</div>
						<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">Tuesday Days</div>
						<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">Wednesday Days</div>
						<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">Thursday Days </div>	
						<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">Friday Days</div>
						<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">Saturday Days</div>
						<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">Sunday Days</div>

					</div>
					<div class="onehalf" style="padding-left: 100px;">
						<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">Monday Nights</div>
						<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">Tuesday Nights</div>
						<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">Wednesday Nights</div>
						<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">Thursday Nights</div>
						<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">Friday Nights</div>
						<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">Saturday Nights</div>
						<div class="field"><input type="checkbox" name="childnumber" style="width:10px;">Sunday Nights</div>
					</div>
					<div class="field" style="clear:both;">Anything we should know about you? <br /><textarea></textarea></div>
					<br />
					<div class="actions" style="clear:both;"><input type="submit" value="Submit"></div>
				</form>		
			</div>
		
		</div>

		<div id="contentRight300">
			<div class="rightBoxGreen">
			<h2>How You Can Take Action</h2>
			<ul class="aboutUsNav">
				<li><a href="https://www.denarionline.com/DonorServices/TemplatePage.Aspx?COMP_REF=_MOHHAITI%20&CONTENT=HOME&master=master:mohr&theme=mohr">Make a Donation &raquo;</a></li>
				<li><a href="https://www.denarionline.com/DonorServices/TemplatePage.Aspx?COMP_REF=_MOHHAITI%20&CONTENT=HOME&master=master:mohr&theme=mohr">Become a Partner of Hope &raquo;</a></li>
				<li><a href="/volunteer">Volunteer &raquo;</a></li>
				<li><a href="/share_photos">Share Your Photos &raquo;</a></li>
				<li><a href="/events">Events &raquo;</a></li>
				<li><a href="/downloads">Downloads &raquo;</a></li>
			</ul>
			</div>
			
		</div>
		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
