
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Haiti's Need for</span>
			<br />
			Copy</h1>
		<h1>^^Need copy for this page..</h1>
		</div>

		<div id="contentRight300">
			<div class="rightBoxGreen">
			<h2>Our plans for the future</h2>
			<p>
				Increase current care being provided for 63 orphans to 150 orphans.
			</p>
			</div>
			<div class="rightBoxGreen">
			<h2>Funds Needed</h2>
			<p>
				$150,00 to expand the House of Hope.
			</p>
			</div>
			<div class="relativeWrapper">
				<div class="rightBoxGreen">
				<h2>What you can do</h2>
				<p>
					Donate to the Village of Hope.  Help us expand our village to be able to provide for 150 orphans by 2015.
				</p>
				</div>
			<div class="buttonSquareOrange" style="position:absolute; bottom:-15px; right:20px; width:150px"><a href="">Donate Today &raquo;</a></div>

			</div>
		</div>
		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
