
<div id="wrapper">
	<%= render 'layouts/navBar'%>

	<div id="content" style="padding-top:50px;">
		<div id="contentLeft560">
			<h1><span class="eyebrow">Mission Of Hope Haiti</span>
			<br />
			Volunteer</h1>
		<p>We're excited for you to join our amazing group of volunteers. Please take minute to tell us a little bit about yourself so we can find the volunteer opportunities that fit you best! Once you've submitted your info, we'll send you quick email confirmation to let you know we got everything. Thank you!
			</p>
		<div class="forms">
				<form>
					<div class="field">Name: <input type="text" name="name"><br></div>
					<div class="field">Email: <input type="text" name="email"></div>
					<div class="field">Phone number: <input type="text" name="phonenumber"><br></div>
					<h4>Address</h4>
					<div class="field">Street Address: <input type="text" name="childname"></div>
					<div class="field">Address Line 2: <input type="text" name="childname"></div>
					<div class="field city">City:<br /> <input type="text" name="childnumber"><br></div>
					<div class="field state">State:<br /> <input type="text" name="childnumber"><br></div>
					<div class="field zip">Zip:<br /> <input type="text" name="childnumber"><br></div>
					<div class="field">Your letter: <textarea type="textarea" name="letter"></textarea></div>
					 <div class="actions"><input type="submit" value="Submit"></div>
				</form>		
				<h1>Not sure what the fields should say?</h1>
			</div>
		
		</div>

		<div id="contentRight300">
			<div class="rightBoxGreen">
			<h2>Our plans for the future</h2>
			<p>
				Increase current care being provided for 63 orphans to 150 orphans.
			</p>
			</div>
			<div class="rightBoxGreen">
			<h2>Funds Needed</h2>
			<p>
				$150,00 to expand the House of Hope.
			</p>
			</div>
			<div class="relativeWrapper">
				<div class="rightBoxGreen">
				<h2>What you can do</h2>
				<p>
					Donate to the Village of Hope.  Help us expand our village to be able to provide for 150 orphans by 2015.
				</p>
				</div>
			<div class="buttonSquareOrange" style="position:absolute; bottom:-15px; right:20px; width:150px"><a href="">Donate Today &raquo;</a></div>

			</div>
		</div>
		<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

		<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
		<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
		-->
		
			<div class="clearfix" style="height:40px;">
				<!--x-->
			</div>
			</div>
