<div id="content">
	<div class="headerLines"><h1>What We Do</h1></div>
	<div id="gridWrapper">
	<div class="grid2x2Left">
		<div class="gridImage churchAdvancementMed"><a href="">Projects</a></div>
		<div class="gridText">
		<h2><a href="/projects">Projects</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Right">
		<div class="gridImage churchAdvancementMed"><a href="">Church Advancement</a></div>
		<div class="gridText">
		<h2><a href="">Church Advancement</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Left">
		<div class="gridImage churchAdvancementMed"><a href="">Orphan Care</a></div>
		<div class="gridText">
		<h2><a href="">Orphan Care</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Right">
		<div class="gridImage educationMed"><a href="">Education</a></div>
		<div class="gridText">
		<h2><a href="">Education</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Left">
		<div class="gridImage healthMed"><a href="">Health Care</a></div>
		<div class="gridText">
		<h2><a href="">Health Care</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Right">
		<div class="gridImage haitiOneMed"><a href="">HaitiOne</a></div>
		<div class="gridText">
		<h2><a href="">HaitiOne</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Left">
		<div class="gridImage nutritionMed"><a href="">Nutrition</a></div>
		<div class="gridText">
		<h2><a href="">Nutrition</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Right">
		<div class="gridImage threeCordsMed"><a href="">3 Cords</a></div>
		<div class="gridText">
		<h2><a href="">3 Cords</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="clearfix"></div>
	</div>
</div>
