<div id="bgHero">
	<div id="whatWeDoHeroImg"><!--x--></div>
	
</div>
<div id="wrapper">
<%=render 'layouts/navBar'%>
<div id="content" style="padding-top:500px;">
	<div id="heroContent">
		<h1 style="padding-top:40px;">
			<span class="whatWeDoTop">We seek to</span>
			<br /><span class="whatWeDoMiddle">daily serve</span><br />
			<span class="whatWeDoBottom">the people of Haiti</span>

			</h1>
		<div class="videoWrapper">
		<iframe src="http://player.vimeo.com/video/31550572" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	</div>
	<h1><span class="eyebrow">The Ministries of Mission of Hope Haiti</span><br />What We Do</h1>
	<div id="gridWrapper">

	<div class="grid2x2Left">
		<div class="gridImage projectsMed"><a href="/projects">Projects</a></div>
		<div class="gridText">
		<h2><a href="/projects">Projects</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="/projects">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Right">
		<div class="gridImage churchAdvancementMed"><a href="/church_advancement">Church Advancement</a></div>
		<div class="gridText">
		<h2><a href="/church_advancement">Church Advancement</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="/church_advancement">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Left">
		<div class="gridImage orphanCareMed"><a href="/orphan_care">Orphan Care</a></div>
		<div class="gridText">
		<h2><a href="/orphan_care">Orphan Care</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="/orphan_care">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Right">
		<div class="gridImage educationMed"><a href="/education">Education</a></div>
		<div class="gridText">
		<h2><a href="/education">Education</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="/education">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Left">
		<div class="gridImage healthMed"><a href="/health_care">Health Care</a></div>
		<div class="gridText">
		<h2><a href="/health_care">Health Care</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="/health_care">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Right">
		<div class="gridImage haitiOneMed"><a href="/haiti_one">HaitiOne</a></div>
		<div class="gridText">
		<h2><a href="/haiti_one">HaitiOne</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="/haiti_one">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Left">
		<div class="gridImage nutritionMed"><a href="/nutrition">Nutrition</a></div>
		<div class="gridText">
		<h2><a href="/nutrition">Nutrition</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="/nutrition">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Right">
		<div class="gridImage threeCordsMed"><a href="/three_cords">3 Cords</a></div>
		<div class="gridText">
		<h2><a href="/three_cords">3 Cords</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="/three_cords">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="clearfix"></div>
	</div>
</div>
