<div id="content">
	<h1><span class="eyebrow">Mission of Hope Haiti</span><br />What We Do</h1>
	<div class="videoWrapper"><iframe src="http://player.vimeo.com/video/25459309" width="600" height="337" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
	<div id="gridWrapper">
		<div class="divHeader">
			<h2><span class="eyebrow">We seek to daily serve the people of Haiti.</span><br/>
				The Ministries of Mission of Hope Haiti
			</h2>
			</div>
	<div class="grid2x2Left">
		<div class="gridImage projectsMed"><a href="">Projects</a></div>
		<div class="gridText">
		<h2><a href="/projects">Projects</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Right">
		<div class="gridImage churchAdvancementMed"><a href="">Church Advancement</a></div>
		<div class="gridText">
		<h2><a href="">Church Advancement</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Left">
		<div class="gridImage orphanCareMed"><a href="">Orphan Care</a></div>
		<div class="gridText">
		<h2><a href="">Orphan Care</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Right">
		<div class="gridImage educationMed"><a href="">Education</a></div>
		<div class="gridText">
		<h2><a href="">Education</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Left">
		<div class="gridImage healthMed"><a href="">Health Care</a></div>
		<div class="gridText">
		<h2><a href="">Health Care</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Right">
		<div class="gridImage haitiOneMed"><a href="">HaitiOne</a></div>
		<div class="gridText">
		<h2><a href="">HaitiOne</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Left">
		<div class="gridImage nutritionMed"><a href="">Nutrition</a></div>
		<div class="gridText">
		<h2><a href="">Nutrition</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Right">
		<div class="gridImage threeCordsMed"><a href="">3 Cords</a></div>
		<div class="gridText">
		<h2><a href="">3 Cords</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3><a href="">Learn more &raquo;</a></h3>
		</div>
	</div>
	<div class="clearfix"></div>
	</div>
</div>
