<div id="wrapper">
	<%= render 'layouts/navBar'%>
<div id="content" style="padding-top: 50px;">
<div id="contentLeft560">
	<h1><span class="eyebrow">Mission of Hope</span>
			<br />
			Write your child</h1>
	<p>Your consistent letters and messages of love and support are instrumental in giving hope to your child. Mission of Hope children know that they are being sponsored and are very proud of their sponsorship. They love to hear from their sponsors throughout the school year. Be encouraging, tell them about you and your family, describe special holiday and family customs, include a bible verse that has special meaning to you and tell them why, tell them that you are praying for them, and most importantly ask questions. Encourage your child to write back and/or draw pictures for you. Please be sensitive to their economic situation. Avoid discussing the material aspects of your life, sending photos that show your possessions, sharing your home address, email address, or telephone numbers, using colloquialisms and slang, and suggesting your child come for a visit or promising to send them things.
		</p>

<h2>Submit your letter online:</h2>
			<div class="forms">
				<form>
					<div class="field">Name: <input type="text" name="name"><br></div>
					<div class="field">Email: <input type="text" name="email"></div>
					<div class="field">Phone number: <input type="text" name="phonenumber"><br></div>
					<div class="field">Childs name: <input type="text" name="childname"></div>
					<div class="field">Childs number: <input type="text" name="childnumber"><br></div>
					<div class="field">Your letter: <textarea type="textarea" name="letter"></textarea></div>
					 <div class="actions"><input type="submit" value="Submit"></div>
				</form>		
				<h1>Upload picture functionality needed</h1>
			</div>

</div>
<div id="contentRight300"><br />
	<div class="rightBoxGreen">
			<h2>Learn More About<br />Child Sponsorship</h2>
			<ul class="aboutUsNav">
				<li><a href="/learn_sponsor">Learn about child sponsorship &raquo;</a></li>
				<li><a href="/sponsor_faq">Sponsorship FAQs &raquo;</a></li>
				<li><a href="/gift_store">Gift Store &raquo;</a></li>
				<li><a href="/write_to_child">Write your child &raquo;</a></li>
				</ul>
				</div>
			</div>
			<div class="clearfix">
				<!--x-->

			</div>
	<div class="clearfix" style="height:40px;"><!--x--></div>
	</div>