<% content_for(:head) do %>
	<%= javascript_include_tag :validate_writemychild %>
<% end %>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
<div id="content" style="padding-top: 50px;">
<div id="contentLeft560">
	<h1><span class="eyebrow">Mission of Hope</span>
			<br />
			Write your child</h1>
	<p>Your consistent letters and messages of love and support are instrumental in giving hope to your child. Mission of Hope children know that they are being sponsored and are very proud of their sponsorship. They love to hear from their sponsors throughout the school year. Be encouraging, tell them about you and your family, describe special holiday and family customs, include a bible verse that has special meaning to you and tell them why, tell them that you are praying for them, and most importantly ask questions. Encourage your child to write back and/or draw pictures for you. Please be sensitive to their economic situation. Avoid discussing the material aspects of your life, sending photos that show your possessions, sharing your home address, email address, or telephone numbers, using colloquialisms and slang, and suggesting your child come for a visit or promising to send them things.
		</p>
			<div class="forms" style="margin-top: 20px;">
				<h2>Submit your letter online:</h2>
				<% if @isvalid.nil?%>
				
				<form enctype="multipart/form-data" action="?multipart=true" method="POST">
					<div class="field">Your Name: <input id="txtname" type="text" name="name"><br></div>
					<div class="field">Your Email: <input id="txtemail" type="text" name="email"></div>
					<div class="field">Your Phone number: <input id="txtphone" type="text" name="phonenumber"><br></div>
					<div class="field">Your Sponsored Child's name: <input id="txtchildname" type="text" name="childname"></div>
					<div class="field">Your Sponsored Child's number: <input id="txtchildnumber" type="text" name="childnumber"><br></div>
					<div class="field">Image attachment (optional): <input id="datafile" type="file" name="datafile"><br></div>
					<div class="field">Your letter: <textarea id="txtmessage" type="textarea" name="letter"></textarea></div>
					 <div class="actions"><input type="submit" value="Submit" onclick="return validate();"></div>
				</form>		
				<%else%>
				<div style="padding-bottom:20px;"><h3>Thank you! Your message has been sent. We will be in touch with your shortly. </h3></div>
			<%end%>	
			</div>

</div>
<div id="contentRight300"><br />
	<%= render"/layouts/childSponsorNav"%>
			</div>
			<div class="clearfix">
				<!--x-->

			</div>
	<div class="clearfix" style="height:40px;"><!--x--></div>
	</div>