<div id="bgHero">
	<div id="haitiOneHeroImg"><!--x--></div>
	<div id="heroContentHaitiOne">
		<h1>
	<span class="giantText">CHILD</span><br />
	<span class="largeText4">an alliance of partners<br> working together as<br> the Body of Christ</span>
	</h1>
	</div>
</div>
<div id="wrapper">
<%=render 'layouts/navBar'%>
<div id="contentHaitiOne">
	<h1>Haiti one</h1>
	<p>HaitiOne is a ministry started by Mission of Hope with the goal of uniting missions/organizations throughout Haiti. Through this unity, we can all be more effective in bringing positive change to Haiti.</p>

<h2>Vision</h2>
<p>To be an alliance of partners, working together as the Body of Christ, pursuing physical, social, mental, and spiritual restoration for the nation of Haiti</p>

<h2>Mission</h2>
<p>By working in step with each other, we aim to maximize our capacities and extend our reach, to ultimately meet the needs of all people in Haiti and see the vision accomplished.</p>

<p>In understanding the role as a partner, each organization shares the unified vision and upholds the values listed below as driving priorities, both individually and corporately</p>

<h2>Values</h2>
<ol>
	<li>God Glorified – each member fulfills its role as “ministers of reconciliation” to bring Glory to God</li>
	<li>Kingdom Advanced – each pursuit strives for God’s Kingdom to be realized for the nation of Haiti</li>
	<li>Lives Transformed – each person desperately needs a relationship with their Savior, Jesus Christ</li>
	<li>Integrity Demanded – each organization expects accountability to donors, partners, governments, and individual communities</li>
	<li>Hands Opened – each partner works selflessly, with discernment, to jointly develop lasting change</li>
	<li>Excellence Demonstrated – each action embodies good stewardship by maximizing the talents and gifts God has bestowed</li>
	<li>Haitians Empowered – each activity strives for sustainability by ultimately educating, training, and mobilizing indigenous leadership</li>
</ol>
</div>
<div class="rightCol">
	<h2>Resolutions</h2>
	<h3>Every child needs</h3>
	<ul>
		<li>A quality education</li>
		<li>A loving home</li>
		<li>An advocate for justice</>
	</ul>
	<h3>All people of Haiti need</h3>
	<ul>
		<li>Healthy and thriving communities</li>
		<li>Quality healthcare and health education</li>
		<li>Proper nutrition and access to clean water</li>
		<li>Dignified means of livelihood</li>
	</ul>

	<h3>The nation of Haiti needs</h3>
		<ul>
			<li>An early warning system for disasters</li>
			<li>An organized system for relief</li>
			<li>A system of infrastructure</li>
		</ul>
</div>
<div class="rightCol2">
	<h2>Locales</h2>
		<ul>
			<li>North Central (Goniaves)</li>
			<li>Central Plateau (Hinche)</li>
			<li>Southwest North (Jeremie)</li>
			<li>South Central North (Leogane)</li>
			<li>North Central (Cap Haitien)</li>
			<li>North East (Incl in #5)</li>
			<li>North West (Port de Pais)</li>
			<li>Greater PAP area</li>
			<li>South East (Jacmel)</li>
			<li>Southwest South (Les Cayes)</li>
		</ul>
</div>
	<div class="clearfix" style="height:40px;"><!--x--></div>

<!--<h1>Ministry of Hope Haiti Redesign Project</h1>

<div><h2>Click to see a map of our <a href="/communities/">Mission of Hope communities in Haiti</a></h2></div>
<div><h2>Click to see a map of our <a href="/projects/">ongoing Mission of Hope Projects in Haiti</a></h2></div>
-->