
<div id="bgHero">
	<div id="mapHeroImg"><%= gmaps4rails(@jason) %></div>
	<div id="heroContent">
		
	</div>
</div>
<div id="wrapper">
<div id="navBar">
	<div id="logo"><a href=""><img src="/assets/logo.png"></a></div>
	<div id="utilityBar">
		<ul id="utilityNav">
			<li><a href="">About Us</a> // </li>
			<li><a href="">Contact Us</a> // </li>
			<li class="last"><% if current_user %>
    <%= link_to "Logout", log_out_path %>
  <% else %>
    <%= link_to "Login", log_in_path %>
  <% end %>
  </li>
		</ul>
		<div class="buttonRounded donate"><a href="">Donate Today</a></div>
		<div class="myMOH"><a href="">myMOH</a></div>
	</div>
	<div id="mainNav">
		<ul id="nav">
			<li class="active"><a href="/what-we-do">What<br />We Do</a>
				<ul>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/church-advancement">Church Advancement</a></li>
					<li><a href="">Orphan Care</a></li>
					<li><a href="">Education</a></li>
					<li><a href="">Health Care</a></li>
					<li><a href="/haiti_one">HaitiOne</a></li>
					<li><a href="">Nutrition</a></li>
					<li><a href="">3 Cords</a></li>
				</ul>
			</li>
			<li><a href="/church-advancement">Church<br />Advancement</a>
				<ul>
					<li><a href="">Communities Impacted</a></li>
					<li><a href="">Become a Church Partner</a></li>
					<li><a href="">Take a Vision Trip</a></li>
				</ul>
			</li>
			<li><a href="/child-sponsorship">Child<br />Sponsorship</a>
				<ul>
					<li><a href="">Sponsor a Child</a></li>
					<li><a href="">Learn About Sponsorship</a></li>
					<li><a href="">Sponsorship FAQs</a></li>
					<li><a href="">Gift Store</a></li>
					<li><a href="">Write Your Child</a></li>
				</ul>
			</li>
			<li><a href="">Mission<br />Trips</a>
				<ul>
					<li><a href="">Take a Mission Trip</a></li>
					<li><a href="">Medical Mission Trips</a></li>
					<li><a href="">Trip Dates</a></li>
					<li><a href="">Trip Costs</a></li>
					<li><a href="">Trip FAQs</a></li>
					<li><a href="">Preparing for a Trip</a></li>
					<li><a href="">Mission Trip Experiences</a></li>
				</ul>
			</li>
			<li><a href="/take-action">Take<br />Action</a>
				<ul>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/church-advancement">Church Advancement</a></li>
					<li><a href="">Orphan Care</a></li>
					<li><a href="">Education</a></li>
					<li><a href="">Health Care</a></li>
					<li><a href="">HaitiOne</a></li>
					<li><a href="">Nutrition</a></li>
					<li><a href="">3 Cords</a></li>
				</ul>
			</li>
			<li class="last"><a href="/stay-connected">Stay<br />Connected</a>
				<ul>
					<li><a href="">Blog</a></li>
					<li><a href="">Updates</a></li>
					<li><a href="">Videos</a></li>
				</ul>
			</li>

		</ul>
			
		
	</div>
	<div id="pull"><a href="">pull me</a></div>
</div>

<div id="content">
<div id="gridWrapperProjects">
			<h1><span class="eyebrow">Mission of Hope</span><br />Projects</h1>
	<div class="grid2x2Left">
		<div class="gridImage projectsMed"><a href="">Projects</a></div>
		<div class="gridText">
		<h2><a href="/projects">Projects</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3 class="projectDetailButton">No. of Projects: <span class="darkGreen">8</span><a class="alignRight" href="">View All &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Right">
		<div class="gridImage churchAdvancementMed"><a href="">Church Advancement</a></div>
		<div class="gridText">
		<h2><a href="">Church Advancement</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3 class="projectDetailButton">No. of Projects: <span class="darkGreen">8</span><a class="alignRight" href="">View All &raquo;</a></h3>
		</div>
	</div>
	<div class="clearfix"></div>
	
		<div class="grid2x2Left">
		<div class="gridImage projectsMed"><a href="">Projects</a></div>
		<div class="gridText">
		<h2><a href="/projects">Projects</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3 class="projectDetailButton">No. of Projects: <span class="darkGreen">8</span><a class="alignRight" href="">View All &raquo;</a></h3>
		</div>
	</div>
	<div class="grid2x2Right">
		<div class="gridImage churchAdvancementMed"><a href="">Church Advancement</a></div>
		<div class="gridText">
		<h2><a href="">Church Advancement</a></h2>
		<p>Through the Church of Hope and other partnering churches, Mission of Hope strives to bring the hope of Jesus to the Haitian community.</p>
		<h3 class="projectDetailButton">No. of Projects: <span class="darkGreen">8</span><a class="alignRight" href="">View All &raquo;</a></h3>
		</div>
	</div>
	<div class="clearfix"></div>
	</div>
<br />
<% if !@user.nil? && @user.is_admin == 1 %>
	<div style="clear:both; padding:10px 0px 10px 0px;"><%= link_to 'Click Me to Create a New Project', new_project_path %></div>
<% end %>
</div>
