<div id="bgHero">	
	<div id="advancementHeroImg" style="background: url(/assets/hero-projects.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;background-size: cover;">
		<!--x-->
	</div>
</div>
 <div id="wrapper">
 <%=render 'layouts/navBar'%>
 
<div id="content">
	<div id="heroContent">
		<h1>
			<span style="font-size:2.5em;">Mission of Hope, Haiti</span><br>
			<span style="font-size:4.5em;">Highlighted</span><br>
			<span style="font-size:6em; display: block; padding-bottom: 10px;">Projects</span>
		<br>
			<span style="float:left; text-align:center; margin-right:25px;"><img style="border:3px solid #f9f2e7;" src="/images/project-inset-azil-home.jpg" alt="Azil Home" >
				<br><p><a href="" style="color:#F9F2E7;">Azil Home</a></p></span>
			<span style="float:left; text-align:center; margin-right:25px;"><img style="border:3px solid #f9f2e7;" src="/images/project-inset-north-campus-kitchen.jpg" alt="North Campus Kitchen" >
				<br><p><a href="" style="color:#F9F2E7;">North Campus<br>Kitchen</a></p></span>
			<span style="float:left; text-align:center; margin-right:25px;"><img style="border:3px solid #f9f2e7;" src="/images/project-inset-blue-to-block.jpg" alt="Blue to Block" >
				<br><p><a href="" style="color:#F9F2E7;">Blue to Block</a></p></span>
			<span style="float:left; text-align:center; margin-right:25px;"><img style="border:3px solid #f9f2e7;" src="/images/project-inset-tech-school.jpg" alt="Technical School" >
				<br><p><a href="" style="color:#F9F2E7;">Technical School</a></p></span>
			<span style="float:left; text-align:center;"><img style="border:3px solid #f9f2e7;" src="/images/project-inset-sports-complex.jpg" alt="Sports Complex" >
				<br><p><a href="" style="color:#F9F2E7;">Sports Complex</a></p></span>
		
			
		
		</h1>
		
				
	</div>
	
	<% if @cid.nil?%>
		<%=render 'projectsAllCats'%>
	<% else %>
		<%=render 'projectsOneCat'%>
	<%end%>
<br />
<div class="clearfix"></div>
<% if !@user.nil? && @user.is_admin == 1 %>
	<div class="createNewProject"><%= link_to 'Click Me to Create a New Project', new_project_path %></div>
<% end %>
</div>
