<div id="bgHero">
  <% if !@project.nil? && !@project.heroimage.nil? && @project.heroimage != '' %>
      <div id="advancementHeroImg" style="background: url(/assets/heroChristmas.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;background-size: cover;">
        <!--x-->
      </div>
  <% else %>
      <div id="heroCommunitiesImg">
        <!--x-->
      </div>
  <% end %>
</div>

<div id="wrapper">
  <%= render 'layouts/navBar' %>
  <div id="content">
    <div id="heroContent">

      <!-- Project id: 15 is a special case -->

          <div id="heroLeft">
            <h1 style="width:500px; margin-left: 400px; line-height: 18px;">
                <span class="largeText3 greenTransBG" style="margin-bottom:15px; padding: 25px 10px;">
                  <%= @project.projectname %><br/>
				</span>
                <span class="largeText6 greenTransBG lowercase" style="padding:10px;">
                  <%= @project.goal %>
                </span>
            </h1>

            <div class="buttonSquareOrange" style="position:absolute; top:-250px; left:200px; width:200px; height: 30px; padding-top: 20px; margin-left: 210px;">
              <a href="http://mohh.convio.net/site/Donation2?1880.donation=form1&df_id=1880" style="font-size: 20px;">Donate today!</a>
            </div>

            <div class="buttonSquareOrange" style="position:absolute; top:-250px; left:200px; width:260px; height: 30px; padding: 20px 5px 10px 0; margin-left: 440px;">
              <a href="project15extra" style="font-size: 18px;">Meet our young adults</a>
            </div>
          </div>


      <!--<div class="percentComplete">
				<h2>Percent Complete
				<br/>
				<span class="largeText1" style="line-height: 1em;"><%= number_to_percentage(@project.percentcomplete, :precision => 2) %></span></h2>
			</div>-->
    </div>

    <div class="contentHeader" style="background: none; height: 2100px;">
     <div class="contentHeaderWide">
        <div class="orphanBox">
          <img src="/assets/orphans/o_bernadette.jpg" />
          <span class="largeText4"><p>Bernadette</p></span>
          <span class="largeText6"><p>21 years old</p></span>
          <div class="buttonSquareGreen">
            <a href="https://www.youtube.com/watch?v=IYQhQnvmrzA&feature=youtu.be" target="blank" style="font-size: 20px;">Watch Video</a>
          </div>
        </div>

       <div class="orphanBox">
         <img src="/assets/orphans/o_cherline.JPG" />
         <span class="largeText4"><p>Cherline</p></span>
         <span class="largeText6"><p>17 years old</p></span>
         <div class="buttonSquareGreen">
           <a href="https://www.youtube.com/watch?v=_jpOSBfMVig" target="blank" style="font-size: 20px;">Watch Video</a>
         </div>
       </div>

       <div class="orphanBox">
         <img src="/assets/orphans/o_diona.JPG" />
         <span class="largeText4"><p>Diona</p></span>
         <span class="largeText6"><p>21 years old</p></span>
         <div class="buttonSquareGreen">
            <a href="https://www.youtube.com/watch?v=qOXJYc56WAg" target="blank" style="font-size: 20px;">Watch Video</a>
         </div>
       </div>

       <div class="orphanBox">
         <img src="/assets/orphans/o_guerline.JPG" />
         <span class="largeText4"><p>Guerline</p></span>
         <span class="largeText6"><p>20 years old</p></span>
         <div class="buttonSquareGreen">
           <a href="https://www.youtube.com/watch?v=A9kuT7RrwxY" target="blank" style="font-size: 20px;">Watch Video</a>
         </div>
       </div>

       <div class="clearfix"><!--X--></div>

       <div class="orphanBox">
         <img src="/assets/orphans/o_jean.JPG" />
         <span class="largeText4"><p>Jean Marc</p></span>
         <span class="largeText6"><p>18 years old</p></span>
         <div class="buttonSquareGreen">
           <a href="https://www.youtube.com/watch?v=_zOQWbhYiC4" target="blank" style="font-size: 20px;">Watch Video</a>
         </div>
       </div>

       <div class="orphanBox">
         <img src="/assets/orphans/o_jeanson.JPG" />
         <span class="largeText4"><p>Jeanson</p></span>
         <span class="largeText6"><p>20 years old</p></span>
         <div class="buttonSquareGreen">
           <a href="https://www.youtube.com/watch?v=hod5LkFUIa4&feature=youtu.be" target="blank" style="font-size: 20px;">Watch Video</a>
         </div>
       </div>

       <div class="orphanBox">
         <img src="/assets/orphans/o_macline.jpg" />
         <span class="largeText4"><p>Macline</p></span>
         <span class="largeText6"><p>19 years old</p></span>
         <div class="buttonSquareGreen">
           <a href="https://www.youtube.com/watch?v=zbiBg-stUNw&feature=youtu.be" target="blank" style="font-size: 20px;">Watch Video</a>
         </div>
       </div>

       <div class="orphanBox">
         <img src="/assets/orphans/o_mansado.JPG" />
         <span class="largeText4"><p>Mansado</p></span>
         <span class="largeText6"><p>19 years old</p></span>
         <div class="buttonSquareGreen">
           <a href="https://www.youtube.com/watch?v=spKuFY506D0&feature=youtu.be" target="blank" style="font-size: 20px;">Watch Video</a>
         </div>
       </div>

       <div class="clearfix"><!--X--></div>

       <div class="orphanBox">
         <img src="/assets/orphans/o_marie.JPG" />
         <span class="largeText4"><p>Marie</p></span>
         <span class="largeText6"><p>18 years old</p></span>
         <div class="buttonSquareGreen">
           <a href="https://www.youtube.com/watch?v=QbBb8lAZSvw" target="blank" style="font-size: 20px;">Watch Video</a>
         </div>
       </div>

       <div class="orphanBox">
         <img src="/assets/orphans/o_marielaine.JPG" />
         <span class="largeText4"><p>Marielaine</p></span>
         <span class="largeText6"><p>21 years old</p></span>
         <div class="buttonSquareGreen">
           <a href="https://www.youtube.com/watch?v=_gScm_jPDgQ&feature=youtu.be" target="blank" style="font-size: 20px;">Watch Video</a>
         </div>
       </div>

       <div class="orphanBox">
         <img src="/assets/orphans/o_olide.JPG" />
         <span class="largeText4"><p>Olide</p></span>
         <span class="largeText6"><p>21 years old</p></span>
         <div class="buttonSquareGreen">
           <a href="https://www.youtube.com/watch?v=WDxQvsmbxOo&feature=youtu.be" target="blank" style="font-size: 20px;">Watch Video</a>
         </div>
       </div>

       <div class="orphanBox">
         <img src="/assets/orphans/o_samuel.JPG" />
         <span class="largeText4"><p>Samuel</p></span>
         <span class="largeText6"><p>21 years old</p></span>
         <div class="buttonSquareGreen">
           <a href="https://www.youtube.com/watch?v=uwN0JOnmTD4&feature=youtu.be" target="blank" style="font-size: 20px;">Watch Video</a>
         </div>
       </div>

       <div class="clearfix"><!--X--></div>

       <div class="orphanBox">
         <img src="/assets/orphans/o_sophonie.JPG" />
         <span class="largeText4"><p>Sophonie</p></span>
         <span class="largeText6"><p>17 years old</p></span>
         <div class="buttonSquareGreen">
           <a href="https://www.youtube.com/watch?v=rpvKT05yeEE&feature=youtu.be" target="blank" style="font-size: 20px;">Watch Video</a>
         </div>
       </div>

       <div class="orphanBox">
         <img src="/assets/orphans/o_wilson.JPG" />
         <span class="largeText4"><p>Wilson</p></span>
         <span class="largeText6"><p>18 years old</p></span>
         <div class="buttonSquareGreen">
           <a href="https://www.youtube.com/watch?v=vBS2iJVb7II&feature=youtu.be" target="blank" style="font-size: 20px;">Watch Video</a>
         </div>
       </div>

       <div class="orphanBox">
         <img src="/assets/orphans/o_nacheline.jpg" />
         <span class="largeText4"><p>Nacheline</p></span>
         <span class="largeText6"><p>21 years old</p></span>
         <div class="buttonSquareGreen">
           <a href="https://www.youtube.com/watch?v=wmSwsncpaGY&feature=youtu.be" target="blank" style="font-size: 20px;">Watch Video</a>
         </div>
       </div>

       <div class="orphanBox">
         <img src="/assets/orphans/o_fresnel.jpg" />
         <span class="largeText4"><p>Fresnel</p></span>
         <span class="largeText6"><p>20 years old</p></span>
         <div class="buttonSquareGreen">
           <a href="https://www.youtube.com/watch?v=z41aLOz92Nk&feature=youtu.be" target="blank" style="font-size: 20px;">Watch Video</a>
         </div>
       </div>

       <div class="clearfix"><!--X--></div>

       <div class="orphanBox">
         <img src="/assets/orphans/o_schneider.jpg" />
         <span class="largeText4"><p>Schneider</p></span>
         <span class="largeText6"><p>18 years old</p></span>
         <div class="buttonSquareGreen">
           <a href="https://www.youtube.com/watch?v=b-ZfMBf2wSA&feature=youtu.be" target="blank" style="font-size: 20px;">Watch Video</a>
         </div>
       </div>

       <div class="orphanBox">
         <img src="/assets/orphans/o_carmelle.jpg" />
         <span class="largeText4" style="font-size: 27px;"><p>Marie Carmelle</p></span>
         <span class="largeText6"><p>21 years old</p></span>
         <div class="buttonSquareGreen" style="padding-top: 28px;">
           <a href="https://www.youtube.com/watch?v=o0RsiXoeNRY" target="blank" style="font-size: 20px;">Watch Video</a>
         </div>
       </div>

       <div class="orphanBox">
         <img src="/assets/orphans/o_jacqueson.jpg" />
         <span class="largeText4"><p>Jacqueson</p></span>
         <span class="largeText6"><p>21 years old</p></span>
         <div class="buttonSquareGreen">
           <a href="https://www.youtube.com/watch?v=T_ON9uck6O4" target="blank" style="font-size: 20px;">Watch Video</a>
         </div>
       </div>

     </div>

      </div>

      </div>
      <!--content-->
    </div>


<style>
    .orphanBox {
        width: 200px; /*240*/
        margin: 20px 20px 0 20px;
        float: left;
        clear: right;
        /*background-color: #fff !important; */
    }

    .orphanBox .buttonSquareGreen {
        height: 30px;
        padding-top: 20px;
    }

    .orphanBox .buttonSquareGreen a {
        padding-left: 35px;
        padding-right: 35px;
    }

    .orphanBox p {
        padding-bottom: 0 !important;
    }

    .orphanBox img {
        border: solid 4px #b5a27c;
        width: calc( 100% - 8px);
    }

    .largeText4 {
        color: #278151;
    }

</style>