<h1>Listing experiences</h1>

<div id="container">
<% @experiences.each do |experience| %>
	<div class="floating-thumb">
		<% if experience.photo.exists? %>
  			<%= image_tag experience.photo.url(:medium) %>
  		<%end%>
  	</div>
  	
   

<% end %>
</div>

<br />
<% if @user != nil %>
	<p>Welcome, <%=@user.first%></p>
<% end %>
<%= link_to 'New Experience', new_experience_path %>
