<div id="bgHero">
	<div id="heroTakeAction">
		<!--x-->
	</div>
	<!--x-->
</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			<h1 class="greenTransBG" style="top:-170px; font-size: 2em;">There are many ways for you to help us bring more Life Transformation to the people of Haiti. Choose one and take action!</h1>
		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style alignRight" >
<h4 style="float:left;">Share This: </h4>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>

</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79724d720237"></script>
<!-- AddThis Button END -->
<h1><span class="eyebrow">Mission of Hope Haiti</span><br />Take Action</h1>
		<div id="gridWrapper">

			<div class="grid2x2Left">
				<div class="gridImage donateMed">
					<a href="https://www.denarionline.com/DonorServices/TEMPLATEPAGE.ASPX?COMP_REF=_MOHHAITI%20&CONTENT=GOSOLG&DS_GO_REF=F6DB76D974">Donate</a>
				</div>
				<div class="gridText">
					<h2><a href="https://www.denarionline.com/DonorServices/TEMPLATEPAGE.ASPX?COMP_REF=_MOHHAITI%20&CONTENT=GOSOLG&DS_GO_REF=F6DB76D974">Donate</a></h2>
					<p>
						Your donation helps more people receive Life Transformation through the Gospel.
					</p>
					<h3><a href="https://www.denarionline.com/DonorServices/TEMPLATEPAGE.ASPX?COMP_REF=_MOHHAITI%20&CONTENT=GOSOLG&DS_GO_REF=F6DB76D974">Invest in Life Transformation &raquo;</a></h3>
				</div>
			</div>
			<div class="grid2x2Right">
				<div class="gridImage churchPartnerHopeMed">
					<a href="/partner_of_hope">Become a Partner of Hope</a>
				</div>
				<div class="gridText">
					<h2><a href="/partner_of_hope">Become a Partner<br />of Hope</a></h2>
					<p>
						Partners of Hope are individuals who commit to donating to Mission of Hope on a reccurring basis.
					</p>
					<h3><a href="/partner_of_hope">Partner with us today &raquo;</a></h3>
				</div>
			</div>
			<div class="grid2x2Left">
				<div class="gridImage snapBackMed">
					<a href="/share_photos">SnapBack: Take a Photo. Give it Back.</a>
				</div>
				<div class="gridText">
					<h2><a href="/share_photos">SnapBack:<br />Take a Photo. Give it Back.</a></h2>
					<p>
						If you've visited Haiti and taken some great shots of the culture. Consider donating your photos to our SnapBack program.
					</p>
					<h3><a href="/share_photos">Share your Haiti Photos
 &raquo;</a></h3>
				</div>
			</div>
			<div class="grid2x2Right">
				<div class="gridImage eventsMed">
					<a href="/events">Events</a>
				</div>
				<div class="gridText">
					<h2><a href="/events">Events</a></h2>
					<p>
						Check out our fundraising events in your local area. 
					</p>
					<h3><a href="/events">Find MOH Events near you &raquo;</a></h3>
				</div>
			</div>
			<div class="grid2x2Left" style="display: none;">
				<div class="gridImage downloadsMed">
					<a href="/">Fundraising Event Materials & Downloads</a>
				</div>
				<div class="gridText">
					<h2><a href="/">Fundraising Event Materials & Downloads</a></h2>
					<p>
						If you're having a fundraiser for Mission of Hope or need more information to share with your friends, find everything you need here.
					</p>
					<h3><a href="/">Learn more &raquo;</a></h3>
				</div>
			</div>
			<div class="grid2x2Left">
				<div class="gridImage volunteerMed">
					<a href="/volunteer">Volunteer</a>
				</div>
				<div class="gridText">
					<h2><a href="/volunteer">Volunteer</a></h2>
					<p>
						You don't have to go to Haiti to help us, you can volunteer from all over the Nation. 
					</p>
					<h3><a href="/volunteer">Join us as a volunteer &raquo;</a></h3>
				</div>
			</div>
			<div class="grid2x2Right">
				<div class="gridImage internshipMed">
					<a href="/internships">Internships</a>
				</div>
				<div class="gridText">
					<h2><a href="/internships">Internships</a></h2>
					<p>
						If you have a heart for Haiti and want to serve for an extended period of time, an internship is for you. 
					</p>
					<h3><a href="/internships">Intern for Mission Of Hope &raquo;</a></h3>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
