<div id="bgHero">
	<div id="heroTakeAction">
		<!--x-->
	</div>
	<!--x-->
</div>

</div>
<div id="wrapper">
	<%= render 'layouts/navBar'%>
	<div id="content">
		<div id="heroContent">
			
		</div>
<h1><span class="eyebrow">Mission of Hope Haiti</span><br />Take Action</h1>
		<div id="gridWrapper">

			<div class="grid2x2Left">
				<div class="gridImage projectsMed">
					<a href="/">Donate</a>
				</div>
				<div class="gridText">
					<h2><a href="/projects">Donate</a></h2>
					<p>
						Need copy.
					</p>
					<h3><a href="/">Learn more &raquo;</a></h3>
				</div>
			</div>
			<div class="grid2x2Right">
				<div class="gridImage churchAdvancementMed">
					<a href="/">Become a Partner of Hope</a>
				</div>
				<div class="gridText">
					<h2><a href="/">Become a Partner<br />of Hope</a></h2>
					<p>
						Need copy.
					</p>
					<h3><a href="/">Learn more &raquo;</a></h3>
				</div>
			</div>
			<div class="grid2x2Left">
				<div class="gridImage orphanCareMed">
					<a href="/">SnapBack</a>
				</div>
				<div class="gridText">
					<h2><a href="/">SnapBack</a></h2>
					<p>
						Need copy
					</p>
					<h3><a href="/">Learn more &raquo;</a></h3>
				</div>
			</div>
			<div class="grid2x2Right">
				<div class="gridImage educationMed">
					<a href="/">Events</a>
				</div>
				<div class="gridText">
					<h2><a href="/">Events</a></h2>
					<p>
						Need copy.
					</p>
					<h3><a href="/">Learn more &raquo;</a></h3>
				</div>
			</div>
			<div class="grid2x2Left">
				<div class="gridImage healthMed">
					<a href="/">Downloads</a>
				</div>
				<div class="gridText">
					<h2><a href="/">Downloads</a></h2>
					<p>
						Need copy.
					</p>
					<h3><a href="/health_care">Learn more &raquo;</a></h3>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

	</div>
