/*RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*MOH STYLES*/

body {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	color:#58534a;
	background:#e4d4b9 url(/assets/bodyBG.jpg) top center repeat-y;
	position: relative
}

h1,h2,h3,h4,h5 {
	font-family: 'Montserrat', sans-serif;
}

a:link, a:visited {
	color:#078e60;
	text-decoration:none;
}

a:hover {
	color:#08c086;
	text-decoration:none;
}

.clearfix {
	clear:both;
}
#bgHero {
	width:100%;
	height:630px;
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
}
#heroImg {
	width:100%;
	height:100%;
	background: url(/assets/heroGirl.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#heroContent {
	width:960px;
	margin:0 auto;
	position:relative;
}

#heroContent h1 {
	position:absolute;
	top:-430px;
	left:8px;
	color:#f6efe5;
	text-shadow: 0 .1em .2em #666;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
}

.giantText {
	font-size: 9.3em;
	letter-spacing:-.1em;
	line-height:.5em;
}
.largeText1 {
	font-size:4.45em;
	letter-spacing:-.06em;
}
.largeText2 {
	font-size:3.5em;
	letter-spacing:-.06em;
}
.largeText3 {
	font-size:4.35em;
	letter-spacing:-.02em;
}

#heroRibbon {
	position:absolute;
	background:url(/assets/heroRibbon.png) no-repeat;
	font-family: 'Montserrat', sans-serif;
	width:471px;
	height:76px;
	top:-220px;
	right:20px;
}
#heroRibbon h2 {
	float:left;
	text-transform:uppercase;
	color:#e4d4b9;
	font-size:.8em;
	background:url(/assets/heroRibbonDiv.png)no-repeat 100% 80%;
	width:120px;
	padding: 20px 10px 10px 10px;
}
#heroRibbon p.news {
	float:left;
	padding:25px 10px 10px 10px;
	font-size:.8em;
	color:#e4d4b9;
	width:300px;
}

#heroRibbon p.news a:link, #heroRibbon p.news a:visited {
	color:#e4d4b9;
	text-decoration:none;
}
#heroRibbon p.news a:hover {
	color:#08c086;
	text-decoration: underline;
}



#wrapper {
	width:1016px;
	margin:auto;
	position:relative;
	z-index: 100;
}
#navBar {
	background: url(/assets/navBar.png);
	height:128px;
	font-family: 'Montserrat', sans-serif;
}
#logo {
	float:left;
	margin-top:20px;
	margin-left:40px;
}
#utilityBar {
	float:right;
	width:130px;
	color:#e4d4b9;
	font-size:.75em;
	text-transform:uppercase;
	margin-right:40px;
	margin-top:20px;
	width:500px;
	position:relative;
}

ul#utilityNav {
	float:left;
}
ul#utilityNav li {
	display:inline;
}

ul#utilityNav li a:link, ul#utilityNav a:visited {
	color:#e4d4b9;
	text-decoration:none;
}

ul#utilityNav li a:hover {
	color:#08c086;
	text-decoration:none;
}

ul#utilityNav li.last {
	padding-right:30px;
}

.donate {
	position:absolute;
	top:-5px;
	right:100px;
}

.buttonRounded a:link, .buttonRounded a:visited {
	float:left;
	text-align:center;
	color:#E4D4B9;
	text-decoration:none;
	padding:5px;
	text-shadow: 0 .05em #000;
	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	
	-moz-box-shadow: 1px 1px 1px #000;
	-webkit-box-shadow: 1px 1px 1px #000;
	box-shadow: 1px 1px 1px #000;
	
	background:#d46b13;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#d46b13), to(#e37e18));
	background:-moz-linear-gradient(0% 90% 90deg, #d46b13, #e37e18);
}

.buttonRounded a:hover {
	color:#E4D4B9;
	text-shadow: 0 -.05em #000;
}

.myMOH a:link,.myMOH a:visited {
	background: url(/assets/pullTag.png) no-repeat;
	color:#E4D4B9;
	font-size:1em;
	text-decoration:none;
	text-align:center;
	text-transform:none;
	text-shadow: 0 .05em #000;
	width:80px;
	height:52px;
	float:left;
	position:absolute;
	top:-20px;
	right:0;
	padding-top:20px;
}

.myMOH a:hover {
	color:#E4D4B9;
	text-shadow: 0 -.05em #000;
}

#mainNav ul {
	float:right;
	width:800px;
	margin-top:35px;
	font-size:.85em;
}

#mainNav li {
	display:inline;
	float:left;
	border-bottom:2px solid #079367;
	margin-right:52px;
	text-transform:uppercase;
	padding-bottom:5px;
}

#mainNav li.last {
	margin-right:0;
}

#mainNav li a:link, #mainNav li a:visited {
	color:#079367;
	text-decoration:none;
}

#mainNav li a:hover {
	color:#08c086;
	text-decoration:none;
	}
#pull a:link,#pull a:visited {
	background: url(/assets/pullTag.png) no-repeat;
	color:#E4D4B9;
	font-size:.85em;
	text-decoration:none;
	text-align:center;
	text-transform:none;
	text-shadow: 0 .05em #000;
	width:80px;
	height:52px;
	float:left;
	position:absolute;
	top:118px;
	left:60px;
	padding-top:10px;
}

#pull a:hover {
	color:#E4D4B9;
	text-shadow: 0 -.05em #000;
}

#superContent {
	width:960px;
	margin:400px auto 0 auto;
	padding-bottom:40px;
	background:url(/assets/contentDiv.png) bottom center no-repeat;
}

.superColumn {
	float:left;
	width:270px;
	margin:0 15px;
	text-align:center;
}

.superColumn h2 {
	margin-top:250px;
	font-size:1.35em;
	color:#19302f;
	text-transform:uppercase;
}

.superColumn p {
	line-height:1.5em;
	padding:8px 0;
}

h3.CTA {
	font-size:1em;
	color:#078e60;
	text-transform:uppercase;
}

.churchAdvancement {
	background:url(/assets/icon-church-advancement.png) top center no-repeat;
}

.studentSponsorship {
	background:url(/assets/icon-student-sponsorship.png) top center no-repeat;
}

.missionTrips {
	background:url(/assets/icon-mission-trips.png) top center no-repeat;
}

#content {
	width:960px;
	margin:20px auto;
	padding-bottom:40px;
	background:url(/assets/contentDiv.png) center bottom no-repeat;
}
#contentLeft {
	float:left;
	width:470px;
	margin-right:80px;
}

#contentLeft h3, #contentRight h3 {
	color:#19302F;
	text-transform:uppercase;
	font-size:2.5em;
}

#contentLeft h3 .mediumText, #contentRight h3 .mediumText {
	font-size:.5em;
}

#statsWrapper {
	background:url(/assets/contentDiv.png) center bottom no-repeat;
	padding-bottom:40px;
	padding-top:20px;
}

.statsBox {
	float:left;
	width:195px;
	background:#079367;
	margin-right:20px;
	margin-bottom:20px;
	padding:10px;
	color:#E4D4B9;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 0 -.05em #000;
	
	-moz-box-shadow: 3px 3px #056346;
	-webkit-box-shadow: 3px 3px #056346;
	box-shadow: 3px 3px #056346;
}

.statsBox .last {
	margin-right:0;
}

.statsNumber {
	font-size:2em;
}

#promoWrapper {
	margin-top:40px;
	position:relative;
}

#promoWrapper .buttonSquareOrange {
	position:absolute;
	top:140px;
	right:10px;
	width:195px;
	background:#ea861b;
	padding:10px;
	color:#E4D4B9;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
		
	-moz-box-shadow: 3px 3px #c26603;
	-webkit-box-shadow: 3px 3px #c26603;
	box-shadow: 3px 3px #c26603;
}

.buttonSquareOrange a, .buttonSquareOrange a:visited {
	color:#E4D4B9;
	text-shadow: 0 .05em #777;

}

.buttonSquareOrange a:hover {
	color:#E4D4B9;
	text-shadow: 0 -.05em #777;
	text-decoration:none;
}

#contentRight {
	float:left;
	width:410px;
	position:relative;
}

.speechBubble {
	position:absolute;
	top:0;
	right:0;
	background:url(/assets/speechBubble.png) no-repeat;
	width:98px;
	height:94px;
}

.speechBubble p {
	text-align:right;
	font-size:.85em;
	color:#E4D4B9;
	font-family: 'Montserrat', sans-serif;
	padding:15px 10px;
}

.updatePost {
	border-bottom:1px dotted #19302F;
	padding:15px 0 20px 0;
	margin:20px 0;
	line-height:1.2em;
}
.updateDate {
	float:left;
	width:39px;
	background:url(/assets/dateFlag.png)no-repeat;
	height:100px;
	margin-right:10px;
	padding:8px 5px;
	font-size:.6em;
	color:#E4D4B9;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
	text-align:center;
}

span.month {
	line-height:.2em;
}
span.date {
	font-size:2em;
	line-height:.7em;
}
span.year {
	line-height:.1em;
}

.updatePost h4 {
	color:#19302F;
	text-transform:uppercase;
	margin-top:-8px;
}

p.meta {
	font-size:.75em;
	color:#988f80;
}

#updateNav {
	border-bottom:1px dotted #19302F;
	padding:0px 0 10px 0;
	text-align:center;
}
#superFooter {
	height:550px;
}
#footer {
	width:100%;
	height:310px;
	position: absolute;
	bottom:0;
	left:0;
	z-index: 1;
}
#footerImg {
	width:100%;
	height:100%;
	background: url(/assets/footer.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

