<div class="rightBoxGreen">
			<h2><span class="eyebrow">Learn More About</span><br />Mission of Hope Haiti</h2>
			<ul class="aboutUsNav">
				<li><a href="/about_us">About Us &raquo;</a></li>
				<li><a href="/vision_mission_resolution">Vision, Mission &amp; Resolutions &raquo;</a></li>
				<li><a href="/our_story">Our Story &amp; Beliefs &raquo;</a></li>
				<li><a href="/about_haiti">About Haiti &raquo;</a></li>
				<li><a href="/faq">FAQs &raquo;</a></li>
				<li><a href="/meet_our_staff">Meet Our Staff &raquo;</a></li>
				<li><a href="/press">Press & News &raquo;</a></li>
				<li><a href="/internships">Intern with MOH &raquo;</a></li>
				<li><a href="/contact_us">Contact Us &raquo;</a></li>
				<!-- <li><a href="/financial_info">Financial Information &raquo;</a></li> -->
				<!-- <li><a href="/join_our_team">Join Our Team &raquo;</a></li> -->
			</ul>
	</div>