
<div class="rightBoxGreen" id="rightBoxGreen">
			<h2><span class="eyebrow">Learn More About</span><br />Mission of Hope Haiti</h2>
			<ul class="aboutUsNav">
				<li><a href="/about_us" class="">About Us &raquo;</a></li>
				<li><a href="/vision_mission_resolution">Vision, Mission &amp; Resolutions &raquo;</a></li>
				<li><a href="/our_story">Our Story &amp; Beliefs &raquo;</a></li>
				<li><a href="/Vision_2014.pdf" target="_blank">Vision 2014 &raquo;</a></li>
				<li><a href="/financial_info">Financial Information &raquo;</a></li>
				<li><a href="/about_haiti">About Haiti &raquo;</a></li>
				<li><a href="/faq">FAQs &raquo;</a></li>
				<li><a href="/meet_our_staff">Meet Our Staff &raquo;</a></li>
				<li><a href="/press">Press &raquo;</a></li>
				<li><a href="/contact_us">Contact Us &raquo;</a></li>
				<!-- <li><a href="/join_our_team">Join Our Team &raquo;</a></li> -->
			</ul>
	</div>
	<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<h4 style="float:left;">Share This: </h4>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>

</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79724d720237"></script>
<!-- AddThis Button END -->
<%=render("/layouts/navJS")%>