<div class="rightBox">
				<h2>Success Story</h2>
				<img />
				<h3>DELMONT</h3>
				<p>"My life has completely changed because of School of Hope and my sponsor. More than school, I have received education about God too." <br /><br />- Delmont, 2012 School of Hope Graduate<br /><a href="/child-sponsorship">Pre-sponsor a child today &raquo;</a></p>
			</div>
			<div class="rightBox">
				<h2>Sponsorship FAQs</h2>
				<img src="/assets/iconQuestions.png" class="alignLeft" />
				<p>
					Have questions? Learn all there is to know about sponsoring a child with Mission of Hope.<br /><a href="/sponsor_faq">Get answers &raquo;</a>
				</p>
			</div>
			<div class="rightBox">
				<h2>Gift Shop</h2>
				<img src="/assets/iconShop.png" class="alignRight" style="margin-top:-20px;" />
				<p>
					Buy a gift for the child you are sponsoring!<br /><a href="/gift_store">Shop now &raquo;</a>
				</p>
			</div>
			<div class="rightBox">
				<h2>Write Your Child</h2>
				<img src="/assets/iconWrite.png" class="alignLeft" />
				<p>
					Brighten your sponsored student's day by sending them a letter online or by mail.<br /><a href="/write_my_child">Write your child &raquo;</a>
				</p>
			</div>