<div class="rightBox">
	<h2>My Child Sponsorships</h2>
	<img src="/assets/iconShop.png" class="alignRight" style="margin-top:-20px;" />
	<p>
		The best way to manage your sponsorships, send your sponsored child a special gift, or write them a letter.
		<br />
		<br />
		<a href="/mymoh">Log in or Sign up &raquo;</a>
	</p>
</div>
<% unless request.fullpath == "/child-sponsorship"%>
<div class="rightBox">
	<h2>Success Story</h2>
	<img class="featuredImage" style="margin-bottom:30px;" src="/assets/child-sponsorship-success-story.jpg" />
	<h3 style="margin:-10px 0 10px 0; color:#079367">Meet Rosemarthe, Macdaline and Cindylove</h3>
	<p>
		"My name is Rosemarthe Dumezy (pictured far left). I have gone to Mission of Hope since 7th grade. It is a good school, and I love it so much. We have good principals and competent teachers. I am in the 13th grade, and Mission of Hope teaches me to love people more and respect my professors. It is the best school in the community.  It also permits me to develop my education and teaches me more about God."</p>

<p>"Hello! I’m Macdaline Joseph (pictured in the center). I love my school so much because I have a good teacher. I started school at Mission of Hope in 7th grade, and now I am in Philo, the 13th grade. School as allowed me to advance in my education. It has taught me to respect people and succeed in my life.  At Mission of Hope I learn how to pray to God and how to respect my friends and neighborhood. WOW! I love Mission of Hope School."</p>


<p>"I am Cindylove Jean Louis. Going to school has done many things for me. It has helped me live my life well. I have gone to Mission of Hope from Kindergarten through 13th grade. Without education you will have nothing in life.  It renders me to worship the Lord. Each Monday and Friday, I can hear words to know God is alive. I love my school so much.  Thank you Mission of Hope."</p>

	
	
	<p>
		<a href="http://mohhaiti.force.com/sponsorship">Sponsor a child today &raquo;</a>
	</p>
</div>
<%end%>
<% unless request.fullpath == "/sponsor_faq"%>
<div class="rightBox">
	<h2>Sponsorship FAQs</h2>
	<img src="/assets/iconQuestions.png" class="alignLeft" />
	<p>
		Have questions? Learn all there is to know about sponsoring a child with Mission of Hope.
		<br />
		<a href="/sponsor_faq">Get answers &raquo;</a>
	</p>
</div>
<%end%>
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<h4 style="float:left;">Share This: </h4>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>

</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79724d720237"></script>
<!-- AddThis Button END -->
