<div class="rightBox">
	<h2>My Child Sponsorships</h2>
	<img src="/assets/iconShop.png" class="alignRight" style="margin-top:-20px;" />
	<p>
		A new way to manage your sponsorships, send your sponsored child a special gift, or write them a letter
		<br />
		<br />
		<a href="/mymoh">Log in or Sign up &raquo;</a>
	</p>
</div>
<div class="rightBox">
	<h2>Success Story</h2>
	<img class="featuredImage" style="margin-bottom:30px;" src="/assets/student-delmont.jpg" />
	<h3 style="margin-top:-10px; color:#079367">Meet Wedner Delmonte</h3>
	<p>
		"My life has completely changed because of School of Hope and my sponsor. More than school, I have received education about God too."
	</p>
	<p class="clearfix" style="font-size:.85em;">
		- Wedner Delmonte, 2012 School of Hope Graduate
	</p>
	<p>
		<a href="child-sponsorship#form">Sponsor a child today &raquo;</a>
	</p>
</div>
<% unless request.fullpath == "/sponsor_faq"%>
<div class="rightBox">
	<h2>Sponsorship FAQs</h2>
	<img src="/assets/iconQuestions.png" class="alignLeft" />
	<p>
		Have questions? Learn all there is to know about sponsoring a child with Mission of Hope.
		<br />
		<a href="/sponsor_faq">Get answers &raquo;</a>
	</p>
</div>
<%end%>
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<h4 style="float:left;">Share This: </h4>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>

</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79724d720237"></script>
<!-- AddThis Button END -->