	<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<h4 style="float:left;">Share This: </h4>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79724d720237"></script>
<!-- AddThis Button END -->
<div class="rightBoxGreen" style="margin-top:20px;" id="rightBoxGreen">
			<h2><span class="eyebrow">Learn More About</span><br />Church Advancement</h2>
			<ul class="aboutUsNav">
				<li><a href="/communities">Communities Impacted &raquo;</a></li>
				<li><a href="/church_partner">Become a Church Partner &raquo;</a></li>
				<li><a href="/vision_trip">Take a Vision Trip &raquo;</a></li>
			</ul>
	</div>
<%=render("/layouts/navJS")%>