<div class="rightBoxGreen">
			<h2>Learn More About<br />Church Advancement</h2>
			<ul class="aboutUsNav">
				<li><a href="/communities">Communities Impacted &raquo;</a></li>
				<li><a href="/church_partner">Become a Church Partner &raquo;</a></li>
				<li><a href="/vision_trip">Take a Vision Trip &raquo;</a></li>
			</ul>
	</div>