<div class="rightBoxGreen">
			<h2><span class="eyebrow">Learn More About</span><br />Healthcare in Haiti</h2>
			<ul class="aboutUsNav">
				<li><a href="/clinic">Clinic of Hope &raquo;</a></li>
				<li><a href="/community_health">Community Health Initiative &raquo;</a></li>
				<li><a href="/prosthetics">Prosthetics of Hope &raquo;</a></li>
			</ul>
			</div>