<div class="rightBoxGreen">
			<h2>Learn More About<br />Short-Term Missions</h2>
			<ul class="rightColNav">
				<li><a href="/take_a_trip">Request more information &raquo;</a></li>
				<li><a href="/medical_mission_trips">Take a Medical Mission &raquo;</a></li>
				<li><a href="/trip_dates">Mission Trip Dates &raquo;</a></li>
				<li><a href="/trip_costs">Mission Trip Costs &raquo;</a></li>
				<li><a href="/trip_faqs">Mission Trip FAQs &raquo;</a></li>
				<li><a href="/preparing_for_mission_trips">Preparing for a Trip &raquo;</a></li>
				<li><a href="/experiences">Mission Trip Experiences &raquo;</a></li>
			</ul>
			</div>