<div class="rightBoxGreen" id="rightBoxGreen">
			<h2><span class="eyebrow">Learn More About</span><br />Short-Term Missions</h2>
			<ul class="rightColNav">
				<li><a href="/request_info">Request More Information &raquo;</a></li>
				<li><a href="/request_info_medical">Request More Information for Medical Missions &raquo;</a></li>
				<li><a href="/medical_mission_trips">Take a Medical Mission &raquo;</a></li>
				<li><a href="/trip_dates">Mission Trip Dates &raquo;</a></li>
				<li><a href="/trip_costs">Mission Trip Costs &raquo;</a></li>
				<li><a href="/trip_faqs">Mission Trip FAQs &raquo;</a></li>
				<li><a href="/preparing_for_mission_trips">Preparing for a Trip &raquo;</a></li>
				<li><a href="/experiences">Mission Trip Experiences &raquo;</a></li>
				<li><a href="https://secure3.convio.net/mohh/site/Donation2?df_id=1561&1561.donation=form1">Pay for a Mission Trip &raquo;</a></li>
			</ul>
			</div>
				<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<h4 style="float:left;">Share This: </h4>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>

</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79724d720237"></script>
<!-- AddThis Button END -->
<%=render("/layouts/navJS")%>