<div id="navBar">
	<div id="logo"><a href="/"><img src="/assets/logo.png"></a></div>
	<div id="utilityBar">
		<ul id="utilityNav">
			<li><a href="">About Us</a> // </li>
			<li><a href="">Contact Us</a> // </li>
			<li class="last"><% if current_user %>
    <%= link_to "Logout", log_out_path %>
  <% else %>
    <%= link_to "Login", log_in_path %>
  <% end %>
  </li>
		</ul>
		<div class="buttonRounded donate"><a href="">Donate Today</a></div>
		<div class="myMOH"><a href="">myMOH</a></div>
	</div>
	<div id="mainNav">
		<ul id="nav">
			<li class="active"><a href="/what-we-do">What<br />We Do</a>
				<ul>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/church_advancement">Church Advancement</a></li>
					<li><a href="/orphan_care">Orphan Care</a></li>
					<li><a href="/education">Education</a></li>
					<li><a href="/health_care">Health Care</a></li>
					<li><a href="/haiti_one">HaitiOne</a></li>
					<li><a href="/nutrition">Nutrition</a></li>
					<li><a href="/three_cords">3 Cords</a></li>
				</ul>
			</li>
			<li><a href="/church_advancement">Church<br />Advancement</a>
				<ul>
					<li><a href="/communities_impacted">Communities Impacted</a></li>
					<li><a href="/church_partner">Become a Church Partner</a></li>
					<li><a href="/vision_trip">Take a Vision Trip</a></li>
				</ul>
			</li>
			<li><a href="/child-sponsorship">Child<br />Sponsorship</a>
				<ul>
					<li><a href="/sponsor_child">Sponsor a Child</a></li>
					<li><a href="/learn_sponsor">Learn About Sponsorship</a></li>
					<li><a href="/sponsor_faq">Sponsorship FAQs</a></li>
					<li><a href="/gift_store">Gift Store</a></li>
					<li><a href="/write_to_child">Write Your Child</a></li>
				</ul>
			</li>
			<li><a href="">Mission<br />Trips</a>
				<ul>
					<li><a href="/take_a_trip">Take a Mission Trip</a></li>
					<li><a href="/medical_mission_trips">Medical Mission Trips</a></li>
					<li><a href="/trip_dates">Trip Dates</a></li>
					<li><a href="/trip_costs">Trip Costs</a></li>
					<li><a href="/trip_faqs">Trip FAQs</a></li>
					<li><a href="/preparing_for_trip">Preparing for a Trip</a></li>
					<li><a href="/mission_trip_experinces">Mission Trip Experiences</a></li>
				</ul>
			</li>
			<li><a href="/take-action">Take<br />Action</a>
				<ul>
					<li><a href="/make_donation">Make a Donation</a></li>
					<li><a href="/be_a_partner">Be a Partner of Hope</a></li>
					<li><a href="/volunteer">Volunteer</a></li>
					<li><a href="/share_photos">Share Your Photos</a></li>
					<li><a href="/event">Events</a></li>
					<li><a href="/downloads">Downloads</a></li>
				</ul>
			</li>
			<li class="last"><a href="/stay-connected">Stay<br />Connected</a>
				<ul>
					<li><a href="/posts">Blog</a></li>
					<li><a href="/updates">Updates</a></li>
					<li><a href="/videos">Videos</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div id="pull"><a href="">pull me</a></div>
</div>
