<div class="rightBoxGreen" id="rightBoxGreen">
			<h2>How You Can Take Action</h2>
			<ul class="aboutUsNav">
				<li><a href="https://www.denarionline.com/DonorServices/TemplatePage.Aspx?COMP_REF=_MOHHAITI%20&CONTENT=HOME&master=master:mohr&theme=mohr">Make a Donation &raquo;</a></li>
				<li><a href="/partner_of_hope">Become a Partner of Hope &raquo;</a></li>
				<li><a href="/volunteer">Volunteer &raquo;</a></li>
				<li><a href="/share_photos">Share Your Photos &raquo;</a></li>
				<li><a href="/events">Events &raquo;</a></li>
				<!-- <li><a href="/downloads">Downloads &raquo;</a></li> -->
			</ul>
			</div>
<%=render("/layouts/navJS")%>