<div class="rightBoxGreen" id="rightBoxGreen">
			<h2>How You Can Take Action</h2>
			<ul class="aboutUsNav">
				<li><a href="http://mohh.convio.net/site/Donation2?df_id=1600&1600.donation=form1">Make a Donation &raquo;</a></li>
				<li><a href="/partner_of_hope">Become a Partner of Hope &raquo;</a></li>
				<li><a href="/volunteer">Volunteer &raquo;</a></li>
				<li><a href="/share_photos">Share Your Photos &raquo;</a></li>
				<li><a href="/events">Events &raquo;</a></li>
				<li><a href="/internships">Internships &raquo;</a></li>
				<!-- <li><a href="/downloads">Downloads &raquo;</a></li> -->
			</ul>
			</div>
			<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<h4 style="float:left;">Share This: </h4>
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>

</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506b79724d720237"></script>
<!-- AddThis Button END -->
<%=render("/layouts/navJS")%>