<html>
	<head>
		<title>Mission of Hope Donation Receipt</title>
		<link rel="stylesheet" type="text/css" media="screen" href="/assets/style.css">
		<style>
			body {background-image: none; background-color: #fff; line-height: 1.5em; }
			#content { background-image: none; }
		</style>	
	</head>
	<body>
		<div><%= yield %></div>
	</body>
</html>
