<html>
	<head>
		<title>Sparse</title>
		<%= stylesheet_link_tag "gmaps4rails" %>
		<script type="text/javascript" src="/assets/gmaps4rails/gmaps4rails.base-55610d5198e437f3932e6a58be00d9c2.js" ></script>
		<script type="text/javascript" src="/assets/gmaps4rails/gmaps4rails.googlemaps-e588a343a1b0a4e8d1b0bd72ebc832a8.js" ></script>
	</head>
	<body>
		<div><%= yield %></div>
		<div><!--here--><%= yield :scripts %></div>
	<script>
$(document).ready(function() {
	$("a").click(function() { 
		if($(this).attr("href").indexOf("denari") > -1) { 
			window.location="/denari";
			return false; 
		}
	});
});
</script>
	</body>
</html>
